<h1>Editing board_entry</h1>

<% form_for(@board_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :contents %><br />
    <%= f.text_area :contents %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @board_entry %> |
<%= link_to 'Back', admin_board_entries_path %>
