<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('Listing %{model}') % {:model => _('board entry')} %></h1>

<%= render :partial => '/admin/search_box' %>
<table>
  <tr>
    <% %w[Title Contents Category].each do |column| -%>
    <th><%= _("Admin::BoardEntry|#{column}") %></th>
    <% end -%>
  </tr>

<% for board_entry in @board_entries %>
  <tr>
    <td><%=h board_entry.title %></td>
    <td><%=h board_entry.contents %></td>
    <td><%=h board_entry.category %></td>
    <td><%= link_to _('Show'), board_entry %></td>
    <td><%= link_to _('Destroy'), board_entry, :confirm => _('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% end -%>
