<%= render :partial => '/admin/data_menu_box' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box"><%= _('You can confirm board entries and comments detail.') %></div>
<div class="box tabular">
  <%= render :partial => '/admin/search_box', :locals => { :class_name => 'Admin::BoardEntry' } %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[entry_type symbol user title publication_type contents category],
               :disp_columns_proc => lambda do |object,column|
      case column
      when "entry_type"
        _("BoardEntry|Entry type|#{object.entry_type}")
      when "symbol"
        object.symbol_name
      when "user"
        object.user.name
      when "publication_type"
        object.publication_type_name
      when "contents"
        strip_tags(object.contents[/.{1,100}/])
      else
        object.send(column.to_sym)
      end
    end,
               :objects => @board_entries,
               :class_name => 'Admin::BoardEntry',
               :link_elem_size => 3,
               :link_elem_proc => lambda { |object|
      result = ""
      result << content_tag(:td, link_to(_('Show'), object) )
      result << content_tag(:td, link_to(_('Destroy'), object, :confirm => _('Are you sure?'), :method => :delete))
      result << content_tag(:td, link_to(_('Change private'), close_admin_board_entry_path(object), :confirm => _('Are you sure?'), :method => :put)) if (object.diary? && !object.private?)
      result
    }
             }
  -%>
</div>
<br />

<% end -%>
