<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box">
<p>
  <b><%= label @board_entry.class, :Title %>:</b>
  <%=h @board_entry.title %>
</p>

<p>
  <b><%= label @board_entry.class, :Contents %>:</b>
  <%=h @board_entry.contents %>
</p>

<p>
  <b><%= label @board_entry.class, :Category %>:</b>
  <%=h @board_entry.category %>
</p>
</div>
<%= link_to _('Listing %{model}') % {:model => _('board entry comment')}, admin_board_entry_board_entry_comments_path(@board_entry) %>
<% end -%>
