<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @board_entry.class, :Title %>:</b>
  <%=h @board_entry.title %>
</p>

<p>
  <b><%= label @board_entry.class, :Contents %>:</b>
  <%=h @board_entry.contents %>
</p>

<p>
  <b><%= label @board_entry.class, :Category %>:</b>
  <%=h @board_entry.category %>
</p>


<%= link_to _('Edit'), edit_admin_board_entry_path(@board_entry) %> |
<%= link_to _('Back'), admin_board_entries_path %> |
<%= link_to _('Listing %{model}') % {:model => _('board entry comment')}, admin_board_entry_board_entry_comments_path(@board_entry) %>
<% end -%>
