/** JavaScript パーツ */
function sub_window_open(url, title, width, height) {
  sub_window = window.open(url, title, 'width='+width+',height='+height+',resizable=yes,scrollbars=yes');
  sub_window.focus();
};
function open_hiki() { sub_window_open('<%= "#{root_url}hiki.html" %>', 'Hiki記法', 500,600); };
function open_rule() { sub_window_open('<%= "#{root_url}custom/rules.html" %>', '利用規約', 780,700); };
function open_site() { sub_window_open('<%= "#{root_url}custom/about_this_site.html" %>', 'このサイトについて', 720,660); };

page_data = [
  '<div id="footer">',
    '<div class="info"><div class="first"><%= Admin::Setting.footer_first -%></div><div class="second"><%= Admin::Setting.footer_second -%></div></div>',
    '<div class="powered_by">powered by<%= link_to image_tag("#{root_url}/custom/images/footer_logo.png"), h(Admin::Setting.footer_image_link_url) %></div>',
  '</div>',
].join(' ');
document.write(page_data);
