/**
 * JavaScript パーツ
 */
function openLinkMenu(link_id) {
  var link_menu = document.getElementById(link_id);
  var invisible = link_menu.style.display == 'none';

  closeLinkMenu();

  if ( invisible ) {
    link_menu.style.display = '';
    link_menu.style.backgroundColor = '#dfecf5';
  }
};

function closeLinkMenu() {
<% COMMON_MENUS[:block_menus].each do |block_menu| %>
  document.getElementById('<%= block_menu[:id] -%>').style.display = 'none';
<% end %>
};

page_data = [
  '<style type="text/css">',
  'div#services a { color: blue; text-decoration: none; padding: 0 5px 2px 5px; }',
  'div#services a:hover { color: blue; background-color: yellow;}',
  'div#services img { vertical-align: middle; }',
  '</style>',

  '<div id="services" style="float: right; border: none; background-color: #dfecf5; margin: 0; padding: 0 0 2px 5px; font-size: 12px">',

<% COMMON_MENUS[:main_menus].each do |menu| %>
    '<%= link_to menu[:title], menu[:url], :target => "_blank" -%>',
<% end %>

<% COMMON_MENUS[:block_menus].each do |block_menu| %>
  '<a href="javascript: openLinkMenu(\'<%= block_menu[:id] -%>\');"> <%= icon_tag("server_link") -%> <%= block_menu[:title]-%></a>',
  '<div id=<%= block_menu[:id] -%> style="position: absolute; right: <%= block_menu[:margin_right] -%>; top: 17px; background-color: #dfecf5; z-index: 100; display: none;" onClick="closeLinkMenu();">',
    <%= draw_menu_links block_menu[:blocks] -%>
  '</div>',
<% end %>

<% help_url = h(Admin::Setting.help_url) -%>
<% unless help_url.blank? -%>
  '<a href="<%= help_url %>" target="_blank"><%= icon_tag(:help, :alt=> 'ヘルプ', :title => 'ヘルプ') -%>ヘルプ</a>',
<% end -%>

  '<%= link_to icon_tag("door") + " ログアウト", :controller => "/platform", :action => :logout, :only_path => false -%>',

  '</div>',

  '<br style="clear: right;" />'
].join(' ');

document.write(page_data);

