<div style="text-align: right; margin-bottom: 3px;  background-color: #f0e0d0; border: 1px solid silver; padding: 0 5px;">
<% form_tag({ :controller => :bookmark, :action => :edit, :title => '' }, {:id => 'bookmark_form', :class => 'nyroModal'}) do %>
  <%= _('URL：')%><input id="url" name="url" type="text" size="50" /><input id="add_bookmark_button" type="button" value="<%= _('Bookmark this')%>" />
  <%= link_to _('[Handy usage of bookmarklet]'), :controller => "bookmarks", :action => "setup" -%>
<% end %>
</div>
<%= hidden_field_tag "authenticity_token", form_authenticity_token %>
<script language='javascript' type='text/javascript'>
$j(function() {
    $j('#add_bookmark_button')
    .click(function() {
        if( !$j('#url').val().match(/^https?:\/\/.*/) ){
            alert('<%= _("URL to be bookmarked must start with \"http\".")%>');
            return false;
        }
        $j('#url').val(encodeURI($j('#url').val()));
        $j('#bookmark_form').submit();
        $j('#url').val('');
        return false;
    });
});
</script>
