<% title ||= _('Bookmarks') %>
<% bookmarks ||= [] -%>

<div class="topix_bookmarks_wrapper">
  <h2 class="title"><%= icon_tag('asterisk_orange') %><%= h title %></h2>
  <% unless bookmarks.empty? -%>
    <table class="topix_bookmarks">
      <col />
      <col class="col75" />
      <tbody>
        <% bookmarks.each do |bookmark| -%>
          <tr>
            <td class="title">
              <%= link_to_bookmark_url bookmark %>
              <%= icon_tag('new') if (Date.today - bookmark.created_on.to_date) < 10 %>
              <span class="count"><%= link_to(n_("%{count} user", "%{count} users", bookmark.bookmark_comments_count) % {:count => bookmark.bookmark_comments_count}, url_for_bookmark(bookmark)) %></span>
              <%#= user_link_to(bookmark.user, :with_prefix => true) %>
              <%# TODO bookmarkを取得するタイミングで一緒にタグも取得するようにしたいなぁ %>
              <%= bookmark_comment_tag_search_links_tag(Tag.commented_to(bookmark).all.map(&:name).join(','), :max => 3) %>
            </td>
            <td class="date"><%=h bookmark.created_on.strftime(_("%B %d %Y")) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end %>
</div>
