
<%= render :partial => "new_bookmark" %>

<div class="search_cond_space">
<div class="title"><u><%=h @target_date %>の人気の記事ー</u>
  <span style="color: darkgray; font-size: 10px; font-weight: normal;">最終更新時間：<%=h @last_updated %></span></div>
<div style="margin-left: 15px;"><%=h @target_date-6  %> ～<%=h @target_date %>の1週間にコメントの登録が多かったブックマークです。</div>
<div style="text-align: right;">
<% if Date.today > @target_date %>
<%= link_to((@target_date+1).to_s+"の人気記事ー",{:controller =>'bookmarks', :action => 'index', :target_date => @target_date+1})  %>
 /
<% end %>
<%= link_to((@target_date-1).to_s+"の人気記事ー",{:controller =>'bookmarks', :action => 'index', :target_date => @target_date-1})  %>
</div>
</div>

<div class="search_result_space" style="position: relative; width: 100%; margin-left: auto; margin-right: auto;">
<%= render :partial => "bookmarks", :object => @bookmarks %>
</div>
