<% content_for :stylesheet do -%>
  <style type="text/css">
  p.welcome {
    line-height: 1.3em;
    background-color: #fdfdf5;
    border-right: 1px dashed silver;
    border-bottom: 1px dashed silver;
  }
  ul.welcome {
    margin: 10px 0 5px 15px;
    list-style-type: none;
  }
  ul.welcome li {
    margin-bottom: 3px;
  }
  .strong {
    font-weight: bold;
    color: blue;
  }
  </style>
<% end -%>

<div style="background-color: #fff0ff; padding: 5px; border: 1px dashed pink; margin-bottom: 10px;">
  <h3><%= _('Tips for using bookmarklet')%></h3>
</div>

<div style="border: 1px dashed pink; padding: 5px; margin-bottom: 10px;">
  <h3 style="color: blue; background-color: #f0f0ff; padding: 3px; border-left: 10px solid skyblue; border-bottom: 1px dashed skyblue;"><%= _('What is a bookmarklet?')%></h3>
  <div style="margin-left: 15px; margin-top: 5px;">
    <p class="welcome"><%= _("Bookmarklet is a tool making use of bookmark (or favorites) function of your browser to help you with kinds of browser operations.<br/><br/>\n
While site URLs are registered as usual bookmarks,  JavaScript program codes are registered as bookmarklets.<br/><br/>\n
By clicking the bookmark while viewing a page, the bookmarklet is kicked and takes various actions according to the codes of the bookmarklet.<br/><br/>\n
Here we introduce a bookmarklet to utilize the bookmark functions of this site.<br/>\n
You will find it amazingly convenient once you registered it in your browser so don't miss it!<br/>\n
(It requires under a minute to register it to your browser and you only need to do it once!)")%></p>
  </div>
</div>

<div style="border: 1px dashed pink; padding: 5px; margin-bottom: 10px;">
  <h3 style="color: blue; background-color: #f0f0ff; padding: 3px; border-left: 10px solid skyblue; border-bottom: 1px dashed skyblue;"><%= _('How to use with Internet Explorer 6')%></h3>
  <div style="margin-left: 15px; margin-top: 5px;">
    <div style="margin-top: 5px; margin-left: 20px;">
    <span style="font-size: 15px; font-weight: bold; border: 1px solid silver; padding: 2px; background-color: #f5f5ff">
<<<<<<< HEAD:app/views/bookmarks/setup.html.erb
      <a href="javascript:void(function(){(function(){var _addr='<%= request.protocol + request.host_with_port + request.relative_url_root -%>';location.replace('about:blank');document.write('<html><body><form action=&quot;'+_addr+'/bookmark/new&quot; method=&quot;get&quot;><input type=hidden name=&quot;url&quot; value=&quot;'+location.href+'&quot;><input type=hidden name=&quot;title&quot; value=&quot;'+document.title+'&quot;>'+document.title+'<br/><input type=submit value=&quot;Bookmark This&quot;></div></form><script>document.forms[0].submit();</script></body></html>');document.close();})();})()"><%= h Admin::Setting.abbr_app_title -%>でブクマ</a>
=======
      <a href="javascript:void(function(){(function(){var _addr='<%= request.protocol + request.host_with_port + request.relative_url_root -%>';location.replace('about:blank');document.write('<html><body><form action=&quot;'+_addr+'/bookmark/new&quot; method=&quot;post&quot;><input type=hidden name=&quot;url&quot; value=&quot;'+location.href+'&quot;><input type=hidden name=&quot;title&quot; value=&quot;'+document.title+'&quot;>'+document.title+'<br/><input type=submit value=&quot;Bookmark This&quot;></div></form><script>document.forms[0].submit();</script></body></html>');document.close();})();})()"><%= _("Add as %s bookmark") % h(Admin::Setting.abbr_app_title) -%></a>
>>>>>>> for_i18n:app/views/bookmarks/setup.html.erb
    </span>
    </div>

    <ul class="welcome">
      <li><%= _("1. Right click on the link <b>&quot;Add as %s bookmark&quot;</b> above and select &quot;Add to Favorites&quot; in the menu.") % h(Admin::Setting.abbr_app_title)%></li>
      <li><%= _('2. If a security warning pops up, select &quot;<b>Yes</b>&quot;. (This is a safe operation)')%> </li>
      <li><%= _('3. Click &quot;<b>Folder</b> button in the &quot;Add to Favorites&quot; screen, select &quot;<b>Links</b>&quot; and click &quot;OK&quot;.')%></li>
      <li><%= _('4. &quot;Add as %s Bookmark&quot; will appear on the toolbar.') % h(Admin::Setting.abbr_app_title)%></li>
    </ul>
    <p style="background-color: #f0f0ff; text-align: right; margin-left: 30px;"><%= _('...Enable your browser toolbar by selecting [View]-[Toolbars]-[Navigation Toolbar] from your browser menu if it is not shown.')%></p>
  </div>
</div>

<div style="border: 1px dashed pink; padding: 5px; margin-bottom: 10px;">
  <h3 style="color: blue; background-color: #f0f0ff; padding: 3px; border-left: 10px solid skyblue; border-bottom: 1px dashed skyblue;"><%= _('How to use with Firefox')%></h3>
  <div style="margin-left: 15px; margin-top: 5px;">
    <div style="margin-top: 5px; margin-left: 20px;">
    <span style="font-size: 15px; font-weight: bold; border: 1px solid silver; padding: 2px; background-color: #f5f5ff">
<<<<<<< HEAD:app/views/bookmarks/setup.html.erb
      <a href="javascript:void(function(){(function(){var _addr='<%= request.protocol + request.host_with_port + request.relative_url_root -%>';location.replace('about:blank');document.write('<html><body><form action=&quot;'+_addr+'/bookmark/new&quot; method=&quot;get&quot;><input type=hidden name=&quot;url&quot; value=&quot;'+location.href+'&quot;><input type=hidden name=&quot;title&quot; value=&quot;'+document.title+'&quot;><div style=\'display: none;\'>'+document.title+'<br/><input type=submit value=&quot;Bookmark This&quot;></div></form><script>document.forms[0].submit();</script></body></html>');document.close();})();})()"><%= h Admin::Setting.abbr_app_title -%>でブクマ</a>
=======
      <a href="javascript:void(function(){(function(){var _addr='http://<%= request.host_with_port + request.relative_url_root -%>';location.replace('about:blank');document.write('<html><body><form action=&quot;'+_addr+'/bookmark/new&quot; method=&quot;post&quot;><input type=hidden name=&quot;url&quot; value=&quot;'+location.href+'&quot;><input type=hidden name=&quot;title&quot; value=&quot;'+document.title+'&quot;><div style=\'display: none;\'>'+document.title+'<br/><input type=submit value=&quot;Bookmark This&quot;></div></form><script>document.forms[0].submit();</script></body></html>');document.close();})();})()"><%= _("Add as %s bookmark") % h(Admin::Setting.abbr_app_title) -%></a>
>>>>>>> for_i18n:app/views/bookmarks/setup.html.erb
    </span>
    </div>

    <ul class="welcome">
      <li><%= _("1. Drag the link <b>&quot;Add as %s bookmark&quot;</b> above and drop on the browser toolbar.") % h(Admin::Setting.abbr_app_title)%></li>
      <li><%= _("2. &quot;Add as %s bookmark&quot; button will appear on the toolbar.") % h(Admin::Setting.abbr_app_title)%></li>
    </ul>
    <p style="background-color: #f0f0ff; text-align: right; margin-left: 30px;"><%= _('...Enable your browser toolbar by selecting [View]-[Toolbars]-[Bookmarks Toolbar] from your browser menu if it is not shown.')%></p>
  </div>
</div>

<div style="border: 1px dashed pink; padding: 5px; margin-bottom: 10px;">
  <h3 style="color: blue; background-color: #f0f0ff; padding: 3px; border-left: 10px solid skyblue; border-bottom: 1px dashed skyblue;"><%= _("How to use bookmarklet \"Bookmark in %s\"") % h(Admin::Setting.abbr_app_title)%></h3>
  <div style="margin-left: 15px; margin-top: 5px;">
    <ul class="welcome">
      <li><%= _("1. Proceed to your favorite page and click &quot;Add as %s bookmark&quot; in the toolbar.") % h(Admin::Setting.abbr_app_title)%></li>
      <li><%= _("2. It moves to the %s bookmark registration page.") % h(Admin::Setting.abbr_app_title)%></li>
      <li><%= _("3. Fill in the necessary items and click &quot;OK&quot;.")%></li>
      <li><%= _("4. Click &quot;OK&quot; when the message says the bookmark has been created. It returns to the starting page.")%></li>
    </ul>
    <p class="welcome"><%= _("So you have the page bookmarked in %s.") % h(Admin::Setting.abbr_app_title)%><br/>
    <%= _("You will find your bookmarks when you click on \"My Bookmarks\" located in the right sidebar in %s.") % h(Admin::Setting.abbr_app_title)%></p>
  </div>
</div>
