<div class="ranking_aggregate">
  <h2 class="topix_title"><%= icon_tag('star') %><%= _('Ranking of Popular Blogs') %></h2>
<% %w(entry_access entry_comment entry_he).each do |contents_type| %>
  <div id="<%= contents_type %>" class="ranking_wrapper">
  <span class="indicator"><%= skip_image_tag 'indicator.gif' %></span>
  </div>
<% end %>
<p><%= _('Public entries only') %></p>
</div>

<div class="ranking_aggregate">
  <h2 class="topix_title"><%= icon_tag('star') %><%= _('Ranking of Popular Users') %></h2>
<% %w(user_access user_entry commentator).each do |contents_type| %>
  <div id="<%= contents_type %>" class="ranking_wrapper">
  <span class="indicator"><%= skip_image_tag 'indicator.gif' %></span>
  </div>
<% end %>
</div>
<% content_for :javascript_initializers do -%>
    getRanking = function(contents_type, year, month){
        var url = relative_url_root + '/ranking_data/' + contents_type;
        if ( year != undefined ) {
            url = url + '/' + year;
            if ( month != undefined ) {
                url = url + '/' + month;
            }
        }
        $j.ajax({
            url: url,
            success: function(html) {
                $j('#' + contents_type).html(html);
            },
            error: function(request) {
                $j('#' + contents_type).html(request.responseText)
            }
        });
    };
<% end -%>
