<% content_for :contents_left do -%>
  <%= render :partial => 'month_list' %>
<% end -%>

<% content_for :contents_right do -%>
<div class="box message ui-corner-all">
  <%=h _("Overall ranking of %s (Since the opening of the site up to yesterday. Updated daily)") % Admin::Setting.abbr_app_title %>
</div>
<h2 id="ranking_title" class="subtitle"><%= icon_tag 'chart_bar' %><%= _('Overall Rankings')%></h2>
<%= render :partial => 'list' %>

<% content_for :javascript_initializers do -%>
    var contents_types = ['entry_access', 'entry_comment', 'entry_he', 'user_entry', 'user_access', 'commentator'];
    var loadRanking = function(){
        for( var i = 0; i < contents_types.length; i++)
            getRanking(contents_types[i]);
    };
    loadRanking();
  <% end -%>
<% end -%>
