<% include_title = show_title_col?(params[:content_type].to_sym) %>
<% unless @rankings.empty? -%>
<table class="ranking_square">
  <col class="col25" />
  <col />
  <col class="col50" />
  <thead>
    <tr>
      <th class="title" colspan="3"><%= ranking_title params[:content_type].to_sym %></th>
    </tr>
    <tr>
      <td class="caption" colspan="3"><%= ranking_caption params[:content_type].to_sym -%></td>
    </tr>
  </thead>
  <tbody>
<% @rankings.each_with_index do |ranking, i| -%>
    <tr>
      <td class="rank"><%= i + 1 %>
    <% if include_title -%>
      <td class="column_title"><%= link_to h(ranking.title), h(ranking.url), :class => 'ranking_title' %> - (<%= link_to h(ranking.author), h(ranking.author_url), :class => 'ranking_author' %>)</td>
    <% else -%>
      <td class="column_title"><%= link_to h(ranking.author), h(ranking.author_url), :class => 'ranking_author' %></td>
    <% end -%>
      <td class="point"><%= h ranking.amount %></td>
    </tr>
<% end -%>
  </tbody>
</table>
<% end -%>

