<% include_title = show_title_col?(params[:content_type].to_sym) %>
<% unless @rankings.empty? -%>
<table class="ranking_square">
  <thead>
    <tr><th class="title" colspan="<%= include_title ? 4 : 3 %>"><%= icon_tag('star') %><%= ranking_title params[:content_type].to_sym %></th></tr>
    <tr><td colspan="<%= include_title ? 4 : 3 %>"><%= ranking_caption params[:content_type].to_sym -%></td></tr>
    <tr>
      <th></th>
    <% if include_title -%>
      <th><%= _('Title')%></th>
    <% else -%>
      <th><%= _('User')%></th>
    <% end -%>
      <th class="point"><%= ranking_amount_name params[:content_type].to_sym %></th>
    </tr>
  </thead>
  <tbody>
<% @rankings.each_with_index do |ranking, i| -%>
    <tr>
      <td class="rank"><%= i + 1 %>
    <% if include_title -%>
      <td class="user_name"><%= link_to h(ranking.title), h(ranking.url) %> - (<%= link_to h(ranking.author), h(ranking.author_url) %>)</td>
    <% else -%>
      <td class="user_name"><%= link_to h(ranking.author), h(ranking.author_url) %></td>
    <% end -%>
      <td class="point"><%= h ranking.amount %></td>
    </tr>
<% end -%>
  </tbody>
</table>
<% end -%>

