<%= h Admin::Setting.abbr_app_title %>の月間ランキングです。 ( 対象期間：月初～昨日まで。日次で更新しています）<br/>
<br />
<div class="search_cond_space">
  <table class="search_cond_box">
    <tr>
      <th>期間</th>
      <td>
        <%= select_tag 'date_list', ranking_navi_for_month(@dates, @year, @month), :class => 'select_navi' -%>
      </td>
    </tr>
  </table>
</div>
<br />
<hr />
<br />
<h1 id="ranking_title"><%= icon_tag 'chart_bar' %><%= h @year -%>年<%= h @month -%>月のランキング</h1>
<br />
<%= render :partial => 'list' %>

<% content_for :javascript_initializers do -%>
    var contents_types = ['entry_access', 'entry_comment', 'entry_he', 'user_entry', 'user_access', 'commentator'];
    var loadRanking = function(){
        var year = <%= h @year -%>;
        var month = <%= h @month -%>;
        for( var i = 0; i < contents_types.length; i++)
            getRanking(contents_types[i], year, month);
    };
    loadRanking();
<% end -%>
