<div class="box message ui-corner-all">
  <%=h _("Monthly ranking of %s (Since the first day of current month up to yesterday. Updated daily)") % Admin::Setting.abbr_app_title %>
</div>
<div class="search_cond_space ui-corner-all">
  <table class="search_cond_box">
    <tr>
      <th><%= _('Period')%></th>
      <td>
        <%= select_tag 'date_list', ranking_navi_for_month(@dates, @year, @month), :class => 'select_navi' -%>
      </td>
    </tr>
  </table>
</div>
<h2 id="ranking_title" class="subtitle"><%= icon_tag 'chart_bar' %><%=h _("%{month}/%{year} Ranking") % {:year => @year, :month => @month}%></h2>
<%= render :partial => 'list' %>

<% content_for :javascript_initializers do -%>
    var contents_types = ['entry_access', 'entry_comment', 'entry_he', 'user_entry', 'user_access', 'commentator'];
    var loadRanking = function(){
        var year = <%= h @year -%>;
        var month = <%= h @month -%>;
        for( var i = 0; i < contents_types.length; i++)
            getRanking(contents_types[i], year, month);
    };
    loadRanking();
<% end -%>
