<div class="content">
  <h3><%= _('Resetting OpenID URL') %></h3>
  <div>
    <div class="desc ui-corner-all">
      <%= _('Users of the following services can login using their IDs by clicking the links below.')%><br />
      <%= _('We keep the URLs as the ID for authentication only and will not utilize them for other purposes.')%><br />
      <%= _('Users of other OpenID providers please provide the OpenID URL from the form below:')%>
    </div>
    <ul style="margin: 10px 20px;list-style-type:none;">
      <li><%= link_to image_tag('idmixijp.gif') + "mixiのOpenID URLを設定する", :action => :reset_openid, :openid_url => "mixi.jp" %></li>
      <li><%= link_to image_tag('meyahoocom.gif') + "Yahoo! JAPANのOpenID URLを設定する", :action => :reset_openid, :openid_url => "yahoo.co.jp" %></li>
      <li><%= link_to image_tag('wwwgooglecom.gif') + "GoogleのOpenID URLを設定する", :action => :reset_openid, :openid_url => "http://www.google.com/accounts/o8/id" %></li>
    </ul>
  </div>
  <div>
    <% form_for :user, @identifier, reset_openid_path do |f| -%>
    <%= error_messages_for :identifier %>
    <%= hidden_field_tag :code, params[:code] %>
    <table>
      <tr>
        <th><%= f.label :url %></th>
        <td><%= f.text_field :url, :name => "openid_url" %></td>
      </tr>
    </table>
    <%= f.submit _('Send') %>
    <% end -%>
  </div>
</div>
