<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('アカウントインポート') %></h2>
<div class="box">
  <div class="search_box">
    <% form_tag import_new_admin_account_path, :multipart => true do -%>
    <label for="file"><%= _('CSVファイル') %></label><%= file_field_tag :file %>
    <%= submit_tag _('Upload'), :disable_with => _('Uploading...') %>
    <% end -%>

    <h3>正しいCSVファイルの例</h3>
    <pre>
      111111,山田 太郎,経理,yamada@example.com,password
      222222,山田 花子,人事,h_yamada@example.com,password
      333333,鈴木 次郎,開発,suzuki@example.com,password</pre>
  </div>
  <% unless @accounts.empty? -%>
  <% unless flash[:error].nil? -%>
  <h2>アップロードしたCSVファイルのエラー行</h2>
  <p><%= _('以下の色が変わっている箇所が不正な値です。例にならって修正後再度アップロードして下さい。') %></p>
  <% end -%>
  <table class="normal sortable">
    <thead>
      <tr>
        <th><%= _('Line') %></th>
        <th><%= label Admin::Account.name, :code %></th>
        <th><%= label Admin::Account.name, :name %></th>
        <th><%= label Admin::Account.name, :section %></th>
        <th><%= label Admin::Account.name, :email %></th>
        <th><%= label Admin::Account.name, :password %></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each_with_index do |account, line| -%>
      <% unless account.errors.empty? -%>
      <% @account = account -%>
      <% error_messages_for :account -%>
      <tr class="<%= cycle('line_1', 'line_0') %>">
        <td><%= line+1 %></td>
        <td><%= label :account, :code, account.code %></td>
        <td><%= label :account, :name, account.name %></td>
        <td><%= label :account, :section, account.section %></td>
        <td><%= label :account, :email, account.email %></td>
        <td><%= label :account, :password, '********' %></td>
      </tr>
      <% end -%>
      <% end -%>
    </tbody>
  </table>
  <% end -%>
</div>
<%= link_to _('Back'), admin_accounts_path %>
<% end -%>
