<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @account.class, :code %>:</b>
  <%=h @account.code %>
</p>

<p>
  <b><%= label @account.class, :name %>:</b>
  <%=h @account.name %>
</p>

<p>
  <b><%= label @account.class, :email %>:</b>
  <%=h @account.email %>
</p>

<p>
  <b><%= label @account.class, :section %>:</b>
  <%=h @account.section %>
</p>


<%= link_to _('Edit'), edit_admin_account_path(@account) %> |
<%= link_to _('Back'), admin_accounts_path %> |
<%= link_to _('Listing %{model}') % {:model => _('openid identifier')}, admin_account_openid_identifiers_url(@account) %>
<% end -%>
