<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('Listing %{model}') % {:model => _('group participation')} %></h1>

<table>
  <tr>
    <% %w[User Waiting Owned Favorite].each do |column| -%>
    <th><%= _("Admin::GroupParticipation|#{column}") %></th>
    <% end -%>
  </tr>

<% for group_participation in @group_participations %>
  <tr>
    <td><%=h group_participation.user.name %></td>
    <td><%=h group_participation.waiting %></td>
    <td><%=h group_participation.owned %></td>
    <td><%=h group_participation.favorite %></td>
    <td><%= link_to _('Show'), admin_group_group_participation_path(@group, group_participation) %></td>
    <td><%= link_to _('Destroy'), admin_group_group_participation_path(@group, group_participation), :confirm => _('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('%{model} Show') % {:model => _('group')}, admin_group_path(@group) %>
<% end -%>
