<h1><%= _('Listing group_participations') %></h1>

<table>
  <tr>
    <th><%= _('User') %></th>
    <th><%= _('Waiting') %></th>
    <th><%= _('Owned') %></th>
    <th><%= _('Favorite') %></th>
  </tr>

<% for group_participation in @group_participations %>
  <tr>
    <td><%=h group_participation.user.name %></td>
    <td><%=h group_participation.waiting %></td>
    <td><%=h group_participation.owned %></td>
    <td><%=h group_participation.favorite %></td>
    <td><%= link_to _('Show'), admin_group_group_participation_path(@group, group_participation) %></td>
    <td><%= link_to _('Edit'), edit_admin_group_group_participation_path(@group, group_participation) %></td>
    <td><%= link_to _('Destroy'), admin_group_group_participation_path(@group, group_participation), :confirm => _('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('New group_participation'), new_admin_group_group_participation_path %> |
<%= link_to _('Group Show'), admin_group_path(@group) %>
