<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('New group_participation') %></h1>

<% form_for(@group_participation, :url => admin_group_group_participation_path(@group, @group_participation)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :waiting %><br />
    <%= f.check_box :waiting %>
  </p>
  <p>
    <%= f.label :owned %><br />
    <%= f.check_box :owned %>
  </p>
  <p>
    <%= f.label :favorite %><br />
    <%= f.check_box :favorite %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit _("Create") %>
  </p>
<% end %>

<%= link_to _('Back'), admin_group_group_participations_path %>
<% end -%>
