<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>


<div class="box">
<p>
  <b><%= label @group_participation.class, :user %>:</b>
  <%=h @group_participation.user.name %>
</p>

<p>
  <b><%= label @group_participation.class, :waiting %>:</b>
  <%=h @group_participation.waiting %>
</p>

<p>
  <b><%= label @group_participation.class, :owned %>:</b>
  <%=h @group_participation.owned %>
</p>

<p>
  <b><%= label @group_participation.class, :favorite %>:</b>
  <%=h @group_participation.favorite %>
</p>
</div>
<% end -%>
