<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @group_participation.class, :user %>:</b>
  <%=h @group_participation.user.name %>
</p>

<p>
  <b><%= label @group_participation.class, :waiting %>:</b>
  <%=h @group_participation.waiting %>
</p>

<p>
  <b><%= label @group_participation.class, :owned %>:</b>
  <%=h @group_participation.owned %>
</p>

<p>
  <b><%= label @group_participation.class, :favorite %>:</b>
  <%=h @group_participation.favorite %>
</p>



<%= link_to _('Edit'), edit_admin_group_group_participation_path(@group, @group_participation) %> |
<%= link_to _('Back'), admin_group_group_participations_path(@group) %>
<% end -%>
