<%
 # ブログ・フォーラムの左側のボックス（種別）
-%>

<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'tag_blue' -%><%= s_('BoardEntry|Aim type') %></div>
  <div class="box_space_body">
    <ul>
      <li><%= radio_button_tag('type', "entry", (params[:type] == "entry" or params[:type].blank?)) %><%= label_tag('type_entry', ns_('BoardEntry|Aim type|entry', 'entries', 1)) %></li>
      <li><%= radio_button_tag('type', "question", params[:type] == "question") %><%= label_tag('type_question', ns_('BoardEntry|Aim type|question', 'questions', 1)) %></li>
      <li><%= radio_button_tag('type', "notice", params[:type] == "notice") %><%= label_tag('type_notice', ns_('BoardEntry|Aim type|notice', 'notices', 1)) %></li>
    </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

