<% content_for :stylesheet do -%>
  <style type="text/css">
  div.entry_space {
    border: 1px solid silver;
    width: 98%;
    margin: auto;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    font-size: 10px;
  }
  div.entry_space div.entry_line {
    margin: 0;
    border-bottom: 1px dashed silver;
    padding: 0px;
  }
  </style>
<% end -%>

<% year ||= nil -%>
<% month ||= nil -%>

<% if year and month -%>
<div style=""><%= _("[Archive of %{month}/%{year}]") % {:year => h(year), :month => h(month)} -%></div>
<% end -%>

<% if pages and pages.item_count > 0 %>
  <div class="navi" style="position: relative; _width: 100%">
    <div style="position: absolute; top:1px; left: 2px;">
      <%= _('Method of sort: ') %>
      <%= link_to_unless_current _("[Sort by modified date]"), params.merge({:sort_type => "date"}) do
          content_tag 'b', _('[Sort by modified date]')
        end %>
      <%= link_to_unless_current _("[Sort by access count]"), params.merge({:sort_type => "access"}) do
          content_tag 'b', _('[Sort by access count]')
        end %>
      <%= link_to_unless_current [_("[Sort by %s]") % Admin::Setting.point_button], params.merge({:sort_type => "point"}) do
          content_tag 'b', _("[Sort by %s]") % Admin::Setting.point_button
        end %>
    </div>
    <%= page_link(pages) %>
  </div>

  <div style="text-align: center;">
  <% entries.each do |entry| -%>
  <% visibility, visibility_color = entry.visibility -%>
    <div class="entry_space">
      <div class="entry_line" style="font-size: 90%; background-color: #ffeeff;">
        <%=h entry.diary_date %> - <span style='background-color: <%=visibility_color%>;'><%= visibility %></span> - <%=h entry.category %>
      </div>
      <div class="entry_line" style="font-size: 12px;">
        <%= entry_link_to(entry) %><span style="font-size: 10px;"><%= ' by '+ user_link_to(entry.user) unless entry.diary? -%></span>
      </div>
      <div style="text-align: right; font-size: 90%;">
        <%= get_entry_infos entry %> - <%= _('Last Update: ')%><%=h entry.last_updated.strftime(_('%m/%d/%y %H:%M')) %>
      </div>
    </div>
  <% end -%>
  </div>

  <div class="navi"><%= page_link(pages) %></div>
<% end %>
