<%
 # ブログ・フォーラムの左側のボックス（検索）
 # :locals => {}
-%>

<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'find' %><%= _('Search') %></div>
  <div class="box_space_body">
    <%= text_field_tag('keyword', params[:keyword], :size=>'10') %>
    <%= hidden_field_tag "sort_type", h(params[:sort_type]) %>
    <%= submit_tag _('Search') %>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
