<% title ||= _('Entries') %>
<% entries ||= [] -%>

<div class="navi ui-corner-all" style="position: relative; _width: 100%; height: 20px;">
  <div style="position: absolute; top:2px; left: 4px;">
    <%= _('Sort by: ') %>
    <%= link_to_unless_current _("[Sort by modified date]"), params.merge({:sort_type => "date"}) do
        content_tag 'b', _('[Sort by modified date]')
      end %>
    <%= link_to_unless_current _("[Sort by access count]"), params.merge({:sort_type => "access"}) do
        content_tag 'b', _('[Sort by access count]')
      end %>
    <%= link_to_unless_current [_("[Sort by %s]") % Admin::Setting.point_button], params.merge({:sort_type => "point"}) do
        content_tag 'b', _("[Sort by %s]") % Admin::Setting.point_button
      end %>
  </div>
  <%= i18n_will_paginate entries %>
</div>
<%= render :partial => "entries/topix_entries", :locals => { :title => title, :entries => entries, :last_updated_desc => true } %>
<%= i18n_will_paginate_with_container_wrapper entries %>
