<div class="search_cond_space ui-corner-all">
  <% form_tag({:action => 'entry_search'}, {:method => 'get'}) do -%>
    <table class="search_cond_box">
      <tr>
        <th><%= _('Search Range')%></th>
        <td>
          <%= check_box_tag('user', "1", params[:user]) -%><%= label_tag("user", _("Users' Blogs")) %>
          <%= check_box_tag('group', "1", params[:group]) -%><%= label_tag('group', _('Forum entries of the group')) %>
          <%= _('(Both will be searched if none checked)')%>
        </td>
      </tr>
      <tr>
        <th><%= _('Types') %></th>
        <td>
          <%= radio_button_tag('type', "entry", (params[:type] == "entry" or params[:type].blank?)) %><%= label_tag('type_entry', ns_('BoardEntry|Aim type|entry', 'entries', 2)) %>
          <%= radio_button_tag('type', "question", params[:type] == "question") %><%= label_tag('type_question', ns_('BoardEntry|Aim type|question', 'questions', 2)) %>
          <%= radio_button_tag('type', "notice", params[:type] == "notice") %><%= label_tag('type_notice', ns_('BoardEntry|Aim type|notice', 'notices', 2)) %>
        </td>
      </tr>
      <tr>
        <th><%= _('Keywords')%></th>
        <td><%= text_field_tag('keyword', params[:keyword], :size => 60) %><%= _('(The search targets are tags, titles and bodies)')%></td>
      </tr>
      <%= render :partial => 'tag_search', :locals => {:tags => @tags} %>
    </table>
    <div class="submit"><%= submit_tag _('Search') %></div>
  <% end -%>
</div>

<div class="search_result_space">
<% unless @entries.empty? -%>
  <div class="navi ui-corner-all"><%= will_paginate_link(@entries) %></div>
  <div style="text-align: center;">
  <% @entries.each do |entry| -%>
    <% visibility, visibility_color = entry.visibility -%>
    <table class="normal" style="width: 100%; text-align: left; margin: 10px 0; font-size: 10px; border: 1px solid gray;">
      <tr>
        <td rowspan="3" style="width: 90px; text-align: center;"><%= entry_link_to(entry, :view_text => show_picture(entry.user, :width => 60, :height => 60)) %></td>
        <th><%=h entry.diary_date %> - <%=h entry.category %></th>
        <td style="text-align: right; width: 300px;"><%= _('Datetime Last Updated: ')%><%=h entry.last_updated.strftime(_('%m/%d/%Y %H:%M')) %></td>
      </tr>
      <tr>
        <th colspan="2"><span style="font-size: 12px;"><%= entry_link_to(entry) %></span> - <%= user_link_to entry.user %></th>
      </tr>
      <tr>
        <td><%=h @symbol2name_hash[entry.symbol] %> - <span style='background-color: <%=visibility_color%>;'> <%= visibility %></span></td>
        <td style="text-align: right;"><%= get_entry_infos entry %></td>
      </tr>
    </table>
  <% end -%>
  </div>
  <div class="navi ui-corner-all"><%= will_paginate_link(@entries) %></div>
<% end -%>
</div>
