<div class="search_cond_space ui-corner-all">
  <% form_tag({:action => 'share_file_search'}, {:method => 'get'}) do -%>
    <table class="search_cond_box">
      <tr>
        <th><%= _('Keywords')%></th>
        <td><%= text_field_tag('keyword', params[:keyword], :size => 60) %><%= _('(The search targets are titles and comments)')%></td>
      </tr>
      <tr>
        <th><%= _('Display Order')%></th>
        <td>
      <%= radio_button_tag("sort_type", "date", params[:sort_type] == "date", :id=>"sort_type_date") -%> <%= _('Sort by Upload Dates')%>
      <%= radio_button_tag("sort_type", "name", params[:sort_type] == "name", :id=>"sort_type_name") -%> <%= _('Sort by File Names')%>
        </td>
      </tr>
      <%= render :partial => 'tag_search', :locals => {:tags => @tags} %>
    </table>
    <div class="submit"><%= submit_tag _('Search') %></div>
  <% end -%>
</div>

<%= i18n_will_paginate_with_container_wrapper @share_files %>
<%= render :partial => "share_file/topix_share_files", :locals => { :share_files => @share_files, :title => _('Search result'), :symbol2name_hash => BoardEntry.get_symbol2name_hash(@share_files) } %>
<%= i18n_will_paginate_with_container_wrapper @share_files %>

<% content_for :javascript_initializers do -%>
    setupShareFileDownloadLink();
<% end -%>
