<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <% form_for(@user_uid, :url => admin_user_user_uid_url(@user, @user_uid), :method => :put) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :uid_type %>
    <%= f.text_field :uid_type %>
  </p>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Updating...') %>
  </p>
  <% end %>
</div>
<%= link_to _('Show'), admin_user_user_uid_url(@user, @user_uid) %> |
<% end -%>
