<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('Listing %{model}') % {:model => _('user uid')} %></h2>

<div class="box tabular">
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[uid uid_type],
               :objects => @user_uids,
               :class_name => 'Admin::UserUid',
               :link_elem => [['Show','admin_user_user_uid_path(@user,object)'], ['Edit','edit_admin_user_user_uid_path(@user, object)'], ['Destroy','admin_user_user_uid_path(@user, object)',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />

<%= link_to _('New %{model}') % {:model => _('user uid')}, new_admin_user_user_uid_path %> |
<%= link_to _('%{model} Show') % {:model => _('user')}, admin_user_path(@user) %>
<% end -%>
