<li id="antenna_item_<%= antenna_item.id %>" class="antenna_item" ><%= icon_tag 'report_user' -%> <%=h antenna_item.value -%>
<a id="delete_antenna_item_link_<%= antenna_id %>_<%= antenna_item.id %>" class="delete_antenna_item_link" href="#">[<%= _("Delete")%>]</a>
</li>
