<% messages ||= "" %>
<% @title = _('Adding to antenna') %>

<div id="select_antenna_body">

<<<<<<< HEAD:app/views/antenna/_select_antenna.html.erb
<div class="desc">このブログ/掲示板をアンテナに追加できます。
<br/>追加するアンテナを選択してください</div>
=======
<div class="desc"><%= _('You can add this blog into your antenna.')%>
<br/><%= _('Select the antenna to add.')%></div>
>>>>>>> for_i18n:app/views/antenna/_select_antenna.html.erb

<% unless messages.empty? %>
  <div class="warning" onclick="this.style.display = 'none';">
    <h3><%=h messages %></h3>
  </div>
<% end %>

<% already_include = false -%>
<div style="margin: 3px;">
<p style="font-size: 10px;"><%= _('Your antennas: ')%></p>
<p style="border: 1px solid silver; background-color: #f0f0ff; margin: 0 5px; padding: 0 5px;">
<% antennas.each do |antenna| -%>
  <% if antenna.included -%>
    <% already_include = true -%>
  <% else -%>
    <%= link_to h(antenna.name), {:controller => "antenna", :action => "add_symbol", :antenna_id => antenna.id, :symbol => h(symbol)}, {:id => "add_symbol_link_#{antenna.id}", :class => "add_symbol_link"} %>&nbsp;/
  <% end %>
<% end %></p>
</div>

<% if already_include -%>
<div style="margin: 3px;">
<p style="font-size: 10px;"><%= _('This user has been added into antennas below: ')%></p>
<p style="border: 1px solid silver; background-color: #f0f0ff; margin: 0 5px; padding: 0 5px;">
<% antennas.each do |antenna| -%>
  <%= h(antenna.name) + ' /' if antenna.included -%>
<% end %></p>
</div>
<% end -%>

<div style="border: 1px solid silver; background-color: #f0f0ff; margin: 8px; padding: 5px; padding-top: 0; ">
<<<<<<< HEAD:app/views/antenna/_select_antenna.html.erb
  <% form_tag({ :controller => :antenna, :action => :add_antenna_and_symbol }, { :id => "add_antenna_and_symbol_form" }) do -%>
    <%= label :antenna, :name, '新しいアンテナを作成して追加' %>
    <%= text_field :antenna, :name %>
    <%= hidden_field_tag :symbol, h(symbol) %>
=======
<form id='add_antenna_and_symbol_form'>
  <%= _('Create new anntenna and add: ')%><%= text_field :antenna, :name %><%= hidden_field_tag :symbol, h(symbol) %><%= submit_tag _("Add") %>
>>>>>>> for_i18n:app/views/antenna/_select_antenna.html.erb
    <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
    <%= submit_tag "追加" %>
  <% end -%>
</div>

</div>
<script type="text/javascript">
$j(function() {
    $j('.add_symbol_link')
    .click(function() {
        var antennaId = this.id.split('_')[3];
        var symbol = '<%= h(symbol) -%>';
        $j.ajax({
            type: 'POST',
            url: $j(this).attr('href'),
            data: { antenna_id: antennaId, symbol: symbol, authenticity_token: $j('#authenticity_token').val() },
            success: function(html) {
                $j('#select_antenna_body').html(html);
            }
        });
        return false;
    });

    $j('#add_antenna_and_symbol_form')
    .submit(function() {
        $j.ajax({
            type: 'POST',
            url: $j(this).attr('action'),
            data: $j(this).serialize(),
            success: function(html) {
                $j('#select_antenna_body').html(html);
            }
        });
        return false;
    });
});
</script>
