<%= hidden_field_tag 'owner_name', h(owner_name) %>
<%= hidden_field 'share_file', 'owner_symbol' %>
<%= hidden_field_tag 'reload', !(params[:reload] == 'false') %>

<% content_for :stylesheet do -%>
<style type="text/css">
table {
  table-layout: auto;
}
</style>
<% end -%>

<%= template_error_messages_for 'share_file' %>

<div class="input_line">
  <div class="input_label" style="height: 30px;"><%= _('Publish Date')%></div>
  <div class="input_value">
    <p><%= datetime_select 'share_file', 'date', :use_month_numbers => true -%></p>
    <p><a href="#" onclick="setCurrentDatetime('share_file', 'date');"><%= _('[Set current time]')%></a>
  </div>
  <div style="clear: left"></div>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Where to Save')%></div>
  <div class="input_value"><%= h(owner_name) -%></div>
  <div style="clear: left"></div>
</div>

<div class="input_line">
  <div class="input_label" style="height: 30px;" id="input_label_publication"><%= _('Privacy Settings')%></div>
  <div class="input_value" id="input_value_publication"><table><tr><td>
    <% display_type = (@share_file.owner_is_public? ? "" : "none") %>
    <span style="display:<%= display_type %>">
      <%= radio_button(:share_file, :publication_type, "public", :id => "publication_type_public") %><%= _('Open to All') %>
    </span>
    <%= radio_button(:share_file, :publication_type, "private", :id => "publication_type_private") %><%= show_private_value share_file %>
    <%= radio_button(:share_file, :publication_type, "protected", :id => "publication_type_protected") %><%= _('Specify Directly') %>

    <%= render :partial => "shared/symbol_autocomplete_field", :locals => {:publication_symbols_value => @share_file.publication_symbols_value, :editor_symbols_value => params[:editor_symbols_value], :edit_checkbox => false } %>
    </td></tr></table>
  </div>
  <div style="clear: left"></div>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Tags')%></div>
  <div class="input_value"><%= text_field 'share_file', 'category', :size => '60', :value => @share_file.category %>
    <div id="category_box" style="display:none;">
      <div id="candidates_list"><p><%= _('Multiple values can be given in foo,bar format')%></p></div>
      <div style="font-size:10pt; font-weight:bold;"><%= _('Tags: ')%></div><div id="tags_list" style="margin-bottom:5px;"></div>
      <div style="font-size:10pt; font-weight:bold;"><%= _('Popular Tags: ')%></div><div id="user_tags_list" style="margin-bottom:5px;"></div>
    </div>
  </div>
  <div style="clear: left"></div>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Comment')%></div>
  <div class="input_value"><%= text_field 'share_file', 'description', :size =>60 %></div>
  <div style="clear: left"></div>
</div>

<% content_for :javascript_initializers do -%>
    // TODO 下のメソッド二つはおそらく記事の部分でも使えそう。
    var changePublicationType = function() {
        if ($j('#publication_type_protected:checked').length > 0) {
            $j('#publication_symbols_space').show();
            $j('#publication_symbol').focus();
        } else {
            $j('#publication_symbols_space').hide();
        }
    };

    var checkPublicationType = function() {
        var publicationSymbolsValue = $j('#publication_symbols_value');
        if ($j('#publication_type_public:checked').length > 0) {
            publicationSymbolsValue.val('');
        }
        if ($j('#publication_type_protected:checked').length > 0) {
            if ( publicationSymbolsValue.val() == '' ) {
                if (confirm("<%= _('No user selected. Are you sure to make this open to all users?')%>")) {
                    $j('#publication_type_public').attr('checked', true);
                    changePublicationType();
                } else {
                    return false;
                }
            }
        }
        return true;
    };

    $j('#publication_type_public, #publication_type_protected, #publication_type_private')
    .click(function() {
        changePublicationType();
    });

    $j('#share_file_form')
    .submit(function() {
        if (!checkPublicationType()) {
            return false;
        }
    });

    changePublicationType();

    $j('#share_file_category').focus(function() {
        showCategoryBox();
    });

    $j('#share_file_description').focus(function() {
        hideCategoryBox();
    });

    var setupTagComplete = function() {
        var tags = new Array(<%= categories_hash[:mine].map{|str| ("'#{str}'")}.join(',') %>);
        var userTags = new Array(<%= categories_hash[:user].map{|str| ("'#{str}'")}.join(',') %>);

        $j('#tags_list').append(createTagsLink(tags));
        $j('#user_tags_list').append(createTagsLink(userTags));

        // タグ処理
        $j('#share_file_category').jTagging($j('#tags_list'));
        $j('#share_file_category').jTagging($j('#user_tags_list'));
    };
    setupTagComplete();
<% end -%>
