<% content_for :stylesheet do -%>
  <style type="text/css">
  div.files_body {
    margin-bottom: 5px;
  }
  div.files_body a:visited {
    color: purple;
  }
  div.files_body .file_menu {
    text-align: right;
    font-size: 10px;
  }
  </style>
<% end -%>

<% content_for :contents_left do -%>
  <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>

  <% form_for @search, :url => {:action => 'list'}, :id => :sharefile_search_form do |f| %>
    <div class="box_space">
      <div class="box_space_title"><%= icon_tag 'find' %><%= _('Search')%></div>
      <div class="box_space_body">
        <%= f.text_field :file_name_like_or_description_like, :size => 10 %>
        <%= f.submit _('Search') %><br/>
        <%= f.check_box :publication_type_does_not_equal, {}, 'public' %> <%= f.label :publication_type_does_not_equal, _('Other than "open to public"')%>
      </div>
    </div><!-- box_space -->
  <% end %>

  <%= render :partial => 'tag_cloud_box' %>

<% end -%>

<% content_for :contents_right do -%>
  <% unless @share_files.empty? -%>
    <div class="navi ui-corner-all" style="position: relative; _width: 100%; height: 20px;">
      <div style="position: absolute; top:2px; left: 4px;">
        <%= _('Sort by: ') %>
        <%= link_to_unless_current _("[Sort by Upload Dates]"), params.merge({:sort_type => "date"}) do content_tag 'b', _('[Sort by Upload Dates]') end %>
        <%= link_to_unless_current _("[Sort by File Names]"), params.merge({:sort_type => "file_name"}) do content_tag 'b', _('[Sort by File Names]') end %>
      </div>
    </div>
    <%= i18n_will_paginate_with_container_wrapper @share_files %>
    <div class="files_body">
      <% @share_files.each do |share_file| -%>
        <%= render :partial => 'share_file_box',
                   :locals => {:share_file => share_file,
                               :owner_name => @owner_name,
                               :visible_menu => true,
                               :visible_owner_link => false } %>
      <% end -%>
    </div><!-- files_body -->
    <%= i18n_will_paginate_with_container_wrapper @share_files %>
  <% end %>
<% end -%>

<% content_for :javascript_initializers do -%>
      $j('.clear_download_history_link')
      .click(function(){
          if (confirm('<%= _("Are you sure to delete?")%>')) {
              var shareFileId = this.id.split('_')[4];
              var clearDownloadUrl = "<%= url_for(:controller => 'share_file', :action => 'clear_download_history') %>/";
              $j.ajax({
                  type: "POST",
                  data: { id: shareFileId, authenticity_token: $j('input[name=authenticity_token]').val() },
                  url: clearDownloadUrl,
                  success: function(text){
                      $j("#flash_message").trigger("notice", text);
                  },
                  error: function(request){
                      alert(request.responseText);
                  }

              });
          }
          return false;
      });

      $j('.search_by_tag')
      .click(function(){
          var hidden_tag = $j(document.createElement('input'))
          .attr({'value': $j(this).html().slice(1,-1), 'type': 'hidden', 'name': 'category'});

          $j('#sharefile_search_form')
          .append(hidden_tag)
          .submit();
          return false;
      });

      setupShareFileDownloadLink();
<% end -%>
