<% html_options = {:multipart => true, :id => 'share_file_form'} -%>
<% form_tag(url_for(:action => 'create'), html_options) do -%>
  <%= render :partial => 'form', :locals => {:owner_name => @owner_name,
                                             :share_file => @share_file,
                                             :categories_hash => @categories_hash,
                                             :symbol2name_hash => @symbol2name_hash} %>

<div class="input_line">
  <div class="input_label"><%= _('Files')%></div>
  <div style="float:left;">
    <%= render :partial => "shared/multiple_file" , :locals => {:file_field_name => "file", :submit_button_id => "submit_button"} -%>
    <div class="error_files">
    <% if @error_messages and @error_messages.size > 0 %>
      <%= n_('Failed to upload the following file.', 'Failed to upload the following files.', @error_messages.size)%><br/>
      <div class="error_messages"><ul>
      <% @error_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
      </ul></div>
      <% end %>
      </div>
    </div>
    <div style="clear: left"></div>
    <div id="hidden_file_area" style="display:none;"></div>
  </div>

  <%= submit_tag _("Submit"), :id => "submit_button" %>
  <input type="button" value="<%= _('Cancel')%>" onclick="window.close();"></input>

<% end -%>
