<% html_options = {:multipart => true, :id => 'share_file_form'} -%>
<% form_tag(url_for(:action => 'create'), html_options) do -%>
  <%= render :partial => 'form', :locals => {:owner_name => @owner_name,
                                             :share_file => @share_file,
                                             :categories_hash => @categories_hash,
                                             :symbol2name_hash => @symbol2name_hash} %>

  <div class="input_line">
    <div class="input_label"><%= _('Files')%></div>
    <div style="float:left;">
      <%= _('(Caution!) Never upload files that may cause security issues.') %>
      <%= _("Available upload file size is %s.") % "#{SkipEmbedded::InitialSettings['max_share_file_size'].to_i/1.megabyte}" %>
      <div id="multiple_file"></div>
      <div><a href="#" id="add_file_tag_link"><%= _('[Add more files]')%></a></div>
      <div id="hidden_file_area" style="display:none;"></div>
      <div class="error_files">
        <% if @error_messages and @error_messages.size > 0 %>
          <%= n_('Failed to upload the following file.', 'Failed to upload the following files.', @error_messages.size)%><br/>
        <div class="error_messages"><ul>
          <% @error_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul></div>
        <% end %>
      </div>
    </div>
    <div style="clear: left"></div>
    <div id="hidden_file_area" style="display:none;"></div>
  </div>

  <%= submit_tag _("Submit"), :id => "submit_button" %>
  <input type="button" value="<%= _('Cancel')%>" onclick="window.close();"></input>

<% end -%>

<% content_for :javascript_initializers do -%>
    var index = 1;
    var addInputFileField = function(){
        var elemDiv = $j(document.createElement('div'))
        .attr('class', 'input_value')
        .append(
            $j(document.createElement('input'))
            .attr({
                type: 'file',
                id: "file[" + index + "]",
                name: "file[" + index + "]",
                size: '50'
            })
        )
        .appendTo('#multiple_file');
        index++;
    };

    $j('#add_file_tag_link')
    .click(function() {
        addInputFileField();
        return false;
    });
    addInputFileField();

    $j('#share_file_form')
    .submit(function(){
        var allFileIsBlank = true;
        $j.each($j('div#multiple_file input'), function() {
            if($j(this).val() != '')
                allFileIsBlank = false;
        });

        if(allFileIsBlank) {
            alert('<%= _('%{name} is mandatory.') % {:name => _('File')} %>');
            return false;
        }
    });
<% end -%>
