<% html_options = {:multipart => true, :id => 'share_file_form', :target => IframeUploader::UPLOAD_KEY} -%>
<% url = url_for({:action => 'create'}.merge(params.slice(IframeUploader::UPLOAD_KEY))) -%>
<% form_tag(url, html_options) do -%>
  <style type="text/css">
form#share_file_form {
  border-bottom: 1px solid #99c; }
  form#share_file_form table.upload_form label, form#share_file_form table.upload_form input {
    font-size: 10px;
    color: #555; }
  </style>
  <%= hidden_field_tag 'owner_name', h(params[:owner_name]) %>
  <%= hidden_field 'share_file', 'owner_symbol' %>
  <%= hidden_field_tag 'share_file[date]', Time.now.to_s %>
  <%= hidden_field_tag 'publication_type', params[:publication_type] %>
  <%= hidden_field 'share_file', 'category' %>
  <%= hidden_field 'share_file', 'description' %>
  <table class="upload_form">
    <tr>
      <th class="publication_type"><%= label_tag 'publication_type', '公開範囲' %></th>
      <td class="publication_type">
        <%= radio_button_tag("publication_type", "public", params[:publication_type] == "public", :id=>"publication_type_public") %><label for="publication_type_public">全体に公開</label>
        <%= radio_button_tag("publication_type", "private", params[:publication_type] == "private", :id=>"publication_type_private") %><label for="publication_type_private"><%= show_private_value @share_file %></label>
      </td>
      <th class="indicator">&nbsp;</th>
    </tr>
    <tr>
      <th class="file"><%= label_tag 'file[1]', 'ファイル' %></th>
      <td class="file"><%= file_field_tag 'file[1]', :size => 40 %></td>
      <td class="indicator"><%= image_tag('skip/indicator.gif', {:style => 'display:none'}) %></td>
    </tr>
    <tr>
      <th class="name"><%= label_tag 'share_file[description]', 'コメント' %></th>
      <td class="name"><%= text_field 'share_file', 'description', :size => 40 %></td>
      <th class="indicator">&nbsp;</th>
    </tr>
    <tr>
      <td colspan="2"><%= submit_tag 'アップロード' %></td>
    </tr>
  </table>
<% end -%>
