<% content_for :contents_left do -%>
<div class="box_space">
  <div class="box_space_title"><%= _('Admin Menu')%></div>
  <div class="box_space_body">
    <ul>
    <%= generate_box_menu_link( _('Groups'), admin_groups_path, request.url.include?(admin_groups_url)) %>
    <%= generate_box_menu_link( _('Board Entries'), admin_board_entries_path, request.url.include?(admin_board_entries_url)) %>
    <%= generate_box_menu_link( _('Bookmarks'), admin_bookmarks_path , request.url.include?(admin_bookmarks_url)) %>
    <%= generate_box_menu_link( _('Shared Files'), admin_share_files_path, request.url.include?(admin_share_files_path)) %>
    <%= generate_box_menu_link( _('Pictures'), admin_pictures_path, request.url.include?(admin_pictures_path)) %>
    </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
<% end -%>
