<div class="box_space antenna">
  <div class="box_space_title">
    <%= _('list of service') %>
  </div>

  <div class="box_space_body">
    <ul class="notices system">
      <li><%= link_to(_('Mail')) %></li>
      <li><%= link_to(_('Schedule')) %></li>
      <li><%= link_to(_('Blog'), tenant_board_entries_path(:tenant_id => params[:tenant_id])) %></li>
      <li><%= link_to(_('Group')) %></li>
    </ul>
  </div>
</div>
