<% @calenders =<<EOF
<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom' xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gCal='http://schemas.google.com/gCal/2005' xmlns:gd='http://schemas.google.com/g/2005'><id>http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full</id><updated>2010-03-17T02:11:37.000Z</updated><category scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/g/2005#event'/><title type='text'>interu@sonicgarden.jp</title><subtitle type='text'>interu@sonicgarden.jp</subtitle><link rel='alternate' type='text/html' href='http://www.google.com/calendar/embed?src=interu@sonicgarden.jp'/><link rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full'/><link rel='http://schemas.google.com/g/2005#batch' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/batch'/><link rel='self' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full?max-results=25&amp;start-min=2010-03-17T00%3A00%3A00&amp;start-max=2010-03-23T23%3A59%3A59'/><author><name>Teruo Adachi</name><email>interu@sonicgarden.jp</email></author><generator version='1.0' uri='http://www.google.com/calendar'>Google Calendar</generator><openSearch:totalResults>4</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><openSearch:itemsPerPage>25</openSearch:itemsPerPage><gCal:timezone value='Asia/Tokyo'/><gCal:timesCleaned value='0'/><entry><id>http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/obatjhvv7q88h5coh9d11s693c</id><published>2010-03-17T02:11:36.000Z</published><updated>2010-03-17T02:11:37.000Z</updated><category scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/g/2005#event'/><title type='text'>テスト用スケジュール</title><content type='text'/><link rel='alternate' type='text/html' href='http://www.google.com/calendar/event?eid=b2JhdGpodnY3cTg4aDVjb2g5ZDExczY5M2MgaW50ZXJ1QHNvbmljZ2FyZGVuLmpw' title='alternate'/><link rel='self' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/obatjhvv7q88h5coh9d11s693c'/><author><name>interu@sonicgarden.jp</name><email>interu@sonicgarden.jp</email></author><gd:comments><gd:feedLink href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/obatjhvv7q88h5coh9d11s693c/comments'/></gd:comments><gd:eventStatus value='http://schemas.google.com/g/2005#event.confirmed'/><gd:where valueString=''/><gd:who email='interu@sonicgarden.jp' rel='http://schemas.google.com/g/2005#event.organizer' valueString='interu@sonicgarden.jp'/><gd:when endTime='2010-03-20' startTime='2010-03-18'/><gd:transparency value='http://schemas.google.com/g/2005#event.transparent'/><gd:visibility value='http://schemas.google.com/g/2005#event.default'/><gCal:anyoneCanAddSelf value='false'/><gCal:guestsCanInviteOthers value='true'/><gCal:guestsCanModify value='false'/><gCal:guestsCanSeeGuests value='true'/><gCal:sequence value='0'/><gCal:uid value='obatjhvv7q88h5coh9d11s693c@google.com'/></entry><entry><id>http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/pr9m2ubd7js6j14l0s0l9rvdhc</id><published>2010-03-15T00:52:22.000Z</published><updated>2010-03-15T00:52:22.000Z</updated><category scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/g/2005#event'/><title type='text'>NGC：テスト環境の案内</title><content type='text'/><link rel='alternate' type='text/html' href='http://www.google.com/calendar/event?eid=cHI5bTJ1YmQ3anM2ajE0bDBzMGw5cnZkaGMgaW50ZXJ1QHNvbmljZ2FyZGVuLmpw' title='alternate'/><link rel='self' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/pr9m2ubd7js6j14l0s0l9rvdhc'/><author><name>interu@sonicgarden.jp</name><email>interu@sonicgarden.jp</email></author><gd:comments><gd:feedLink href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/pr9m2ubd7js6j14l0s0l9rvdhc/comments'/></gd:comments><gd:eventStatus value='http://schemas.google.com/g/2005#event.confirmed'/><gd:where valueString=''/><gd:who email='interu@sonicgarden.jp' rel='http://schemas.google.com/g/2005#event.organizer' valueString='interu@sonicgarden.jp'/><gd:when endTime='2010-03-17T11:00:00.000+09:00' startTime='2010-03-17T10:00:00.000+09:00'/><gd:transparency value='http://schemas.google.com/g/2005#event.opaque'/><gd:visibility value='http://schemas.google.com/g/2005#event.default'/><gCal:anyoneCanAddSelf value='false'/><gCal:guestsCanInviteOthers value='true'/><gCal:guestsCanModify value='false'/><gCal:guestsCanSeeGuests value='true'/><gCal:sequence value='0'/><gCal:uid value='pr9m2ubd7js6j14l0s0l9rvdhc@google.com'/></entry><entry><id>http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/_8csjeca56cq38ghl6p1j8ghg6os46ci16srj4chi60o4ad1g88qj0c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c0</id><published>2010-03-06T09:58:08.000Z</published><updated>2010-03-08T08:24:20.000Z</updated><category scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/g/2005#event'/><title type='text'>テニス</title><content type='text'/><link rel='alternate' type='text/html' href='http://www.google.com/calendar/event?eid=Xzhjc2plY2E1NmNxMzhnaGw2cDFqOGdoZzZvczQ2Y2kxNnNyajRjaGk2MG80YWQxZzg4cWowYzFnNjBvMzBjMWc2MG8zMGMxZzYwbzMwYzFnNjBvMzBjMWc2MG8zMGMxZzYwbzMwYzAgaW50ZXJ1QHNvbmljZ2FyZGVuLmpw' title='alternate'/><link rel='self' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/_8csjeca56cq38ghl6p1j8ghg6os46ci16srj4chi60o4ad1g88qj0c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c0'/><author><name>beautybeast07@gmail.com</name><email>beautybeast07@gmail.com</email></author><gd:comments><gd:feedLink href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/_8csjeca56cq38ghl6p1j8ghg6os46ci16srj4chi60o4ad1g88qj0c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c0/comments'/></gd:comments><gd:eventStatus value='http://schemas.google.com/g/2005#event.confirmed'/><gd:where/><gd:who email='interu@sonicgarden.jp' rel='http://schemas.google.com/g/2005#event.organizer' valueString='interu@sonicgarden.jp'/><gd:when endTime='2010-03-21' startTime='2010-03-20'/><gd:transparency value='http://schemas.google.com/g/2005#event.opaque'/><gd:visibility value='http://schemas.google.com/g/2005#event.default'/><gCal:anyoneCanAddSelf value='false'/><gCal:guestsCanInviteOthers value='true'/><gCal:guestsCanModify value='false'/><gCal:guestsCanSeeGuests value='true'/><gCal:sequence value='2'/><gCal:uid value='C971E344B56C4B068C2A7722200E40B500000000000000000000000000000000'/></entry><entry><id>http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/_6t0kcd226krk4dpi6gp38e1k8osjae268grkadpl6513eghl84s30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c0</id><published>2010-02-08T14:49:18.000Z</published><updated>2010-02-09T08:36:39.000Z</updated><category scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/g/2005#event'/><title type='text'>テニス</title><content type='text'/><link rel='alternate' type='text/html' href='http://www.google.com/calendar/event?eid=XzZ0MGtjZDIyNmtyazRkcGk2Z3AzOGUxazhvc2phZTI2OGdya2FkcGw2NTEzZWdobDg0czMwYzFnNjBvMzBjMWc2MG8zMGMxZzYwbzMwYzFnNjBvMzBjMWc2MG8zMGMxZzYwbzMwYzBfMjAxMDAyMDlUMTIwMDAwWiBpbnRlcnVAc29uaWNnYXJkZW4uanA' title='alternate'/><link rel='self' type='application/atom+xml' href='http://www.google.com/calendar/feeds/interu%40sonicgarden.jp/private/full/_6t0kcd226krk4dpi6gp38e1k8osjae268grkadpl6513eghl84s30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c1g60o30c0'/><author><name>beautybeast07@gmail.com</name><email>beautybeast07@gmail.com</email></author><gd:eventStatus value='http://schemas.google.com/g/2005#event.confirmed'/><gd:where/><gd:who email='interu@sonicgarden.jp' rel='http://schemas.google.com/g/2005#event.organizer' valueString='interu@sonicgarden.jp'/><gd:recurrence>DTSTART;TZID=Etc/GMT-9:20100209T210000
DTEND;TZID=Etc/GMT-9:20100209T223000
RRULE:FREQ=WEEKLY;BYDAY=TU
BEGIN:VTIMEZONE
TZID:Etc/GMT-9
X-LIC-LOCATION:Etc/GMT-9
BEGIN:STANDARD
TZOFFSETFROM:+0900
TZOFFSETTO:+0900
TZNAME:TLT
DTSTART:19700101T000000
END:STANDARD
END:VTIMEZONE

</gd:recurrence><gd:when endTime='2010-03-23T22:30:00.000+09:00' startTime='2010-03-23T21:00:00.000+09:00'/><gd:transparency value='http://schemas.google.com/g/2005#event.opaque'/><gd:visibility value='http://schemas.google.com/g/2005#event.default'/><gCal:anyoneCanAddSelf value='false'/><gCal:guestsCanInviteOthers value='true'/><gCal:guestsCanModify value='false'/><gCal:guestsCanSeeGuests value='true'/><gCal:sequence value='0'/><gCal:uid value='7AF4B57B7242484F958FD7E751B7B5A800000000000000000000000000000000'/></entry></feed>
EOF
-%>

<% xml_doc = REXML::Document.new @calenders -%>
<% record_date = Date.today -%>

<table class="calender_header">
  <col width="40%" />
  <col />
  <col width="40%" />
  <tbody>
    <tr>
      <td></td>
      <td><%= record_date.strftime('%Y/%m/%d') %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table id="gapps_cal">
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <col width="10%" />
  <tbody>
    <tr class="date">
      <% for i in 0..6 -%>
        <td class="<%= date2wday(record_date + i) %>">
          <%= (record_date + i).day %>
        </td>
      <% end -%>
    </tr>

    <tr class="detail">
      <%# TODO:曜日毎に全feedを確認しないように -%>
      <% for i in 0..6 -%>
        <td>
          <ul>
            <%# TODO:helperメソッドとしてロジックはviewから排除する -%>
            <% xml_doc.elements.each("feed/entry") do |calender| -%>
              <% st = ParseDate::parsedate(calender.elements['gd:when'].attribute('startTime').to_s) -%>
              <% et = ParseDate::parsedate(calender.elements['gd:when'].attribute('endTime').to_s) -%>
              <% start_time = Time::local(*st[0..-3]).strftime("%H:%M") %>
              <% end_time = Time::local(*et[0..-3]).strftime("%H:%M") %>

              <% if (Time::local(*st[0..-3]).day == (record_date + i).day || (Time::local(*st[0..-3]).day <= (record_date + i).day && (record_date + i).day < Time::local(*et[0..-3]).day)) -%>
                <li>
                  <%# TODO:linkのhrefが複数あることを考慮すること -%>
                  <%= link_to(h(truncate(calender.elements['title'].text, 20)), calender.elements['link'].attribute('href').to_s) -%>
                  <% if (start_time == "00:00" && end_time == "00:00") -%>
                    <%= "終日" %>
                  <% else -%>
                    <%= start_time %> - <%= end_time %>
                  <% end -%>
                </li>
              <% end -%>
            <% end -%>
          </ul>
          <span><%= icon_tag("page_edit") %></span>
        </td>
      <% end -%>
    </tr>
  </tbody>
</table>
