<table class="calender_header">
  <col width="300px" />
  <col />
  <col width="300px" />
  <tbody>
    <tr>
      <td></td>
      <td>2010年3月16(火)</td>
      <td></td>
    </tr>
  </tbody>
</table>

<table id="gapps_cal">
  <col width="115px" />
  <col width="115px" />
  <col width="115px" />
  <col width="115px" />
  <col width="115px" />
  <col width="115px" />
  <col width="115px" />
  <tbody>
    <tr class="date">
      <td class="weekday">16(火)</td>
      <td class="weekday">17(水)</td>
      <td class="weekday">18(木)</td>
      <td class="weekday">19(金)</td>
      <td class="saturday">20(土)</td>
      <td class="sunday">21(日)</td>
      <td class="weekday">22(月)</td>
    </tr>

    <tr class="detail">
      <td>
        <ul>
          <li>テストスケジュール 10:00-11:00</li>
          <li>ほげほげほげ 12:00-15:00</li>
          <li>ふがふが 15:00-17:15</li>
          <li>ふがふが 18:00-19:15</li>
        </ul>
        <span><%= icon_tag("page_edit") %></span>
      </td>
      <td>
        <ul>
          <li>aaaaaaa</li>
        </ul>
        <span><%= icon_tag("page_edit") %></span>
      </td>
      <td>
        <ul>
          <li>aaaaaaa</li>
        </ul>
        <span><%= icon_tag("page_edit") %></span>
      </td>
      <td>
        <span><%= icon_tag("page_edit") %></span>
      </td>
      <td>
        <span><%= icon_tag("page_edit") %></span>
      </td>
      <td>
        <ul>
          <li>aaaaaaa</li>
        </ul>
        <span><%= icon_tag("page_edit") %></span>
      </td>
      <td>
        <span><%= icon_tag("page_edit") %></span>
      </td>
    </tr>
  </tbody>
</table>


