<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('Listing %{model}') % {:model => _('bookmark comment')} %></h1>

<table>
  <tr>
    <% %w[Comment Public Tags Stared].each do |column| -%>
    <th><%= _("Admin::BookmarkComment|#{column}") %></th>
    <% end -%>
  </tr>

<% for bookmark_comment in @bookmark_comments %>
  <tr>
    <td><%=h bookmark_comment.comment %></td>
    <td><%=h bookmark_comment.public %></td>
    <td><%=h bookmark_comment.tags %></td>
    <td><%=h bookmark_comment.stared %></td>
    <td><%= link_to _('Show'), admin_bookmark_bookmark_comment_path(@bookmark, bookmark_comment) %></td>
    <td><%= link_to _('Destroy'), admin_bookmark_bookmark_comment_path(@bookmark, bookmark_comment), :confirm => _('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% end -%>
