<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @bookmark_comment.class, :comment%>:</b>
  <%=h @bookmark_comment.comment %>
</p>

<p>
  <b><%= label @bookmark_comment.class, :public%>:</b>
  <%=h @bookmark_comment.public %>
</p>

<p>
  <b><%= label @bookmark_comment.class, :tags%>:</b>
  <%=h @bookmark_comment.tags %>
</p>

<p>
  <b><%= label @bookmark_comment.class, :stared%>:</b>
  <%=h @bookmark_comment.stared %>
</p>

<%= link_to _('Back'), admin_bookmark_bookmark_comments_path(@bookmark) %>
<% end -%>
