<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>


<div class="box">
<p>
  <b><%= label @bookmark_comment.class, :comment%>:</b>
  <%=h @bookmark_comment.comment %>
</p>

<p>
  <b><%= label @bookmark_comment.class, :public%>:</b>
  <%=h @bookmark_comment.public %>
</p>

<p>
  <b><%= label @bookmark_comment.class, :tags%>:</b>
  <%=h @bookmark_comment.tags %>
</p>

<p>
  <b><%= label @bookmark_comment.class, :stared%>:</b>
  <%=h @bookmark_comment.stared %>
</p>
</div>
<% end -%>
