<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<h4><%= _('List of applications works with SKIP') %></h4>
<div class="box tabular">
  <table class="sortable normal">
    <tr>
      <th><%= _('Admin::OauthProvider|App name') %></th>
      <th><%= _('description') %></th>
      <th></th>
    </tr>
    <% @oauth_providers.each do |provider| -%>
    <tr>
      <td><%= h provider.app_name %></td>
      <td><%= h provider.setting.description %></td>
      <td>
        <% form_for :provider, :url => toggle_status_admin_oauth_provider_path(provider) do |f| -%>
          <%= provider.enable? ? _('Using') + '&nbsp;' + f.submit(_('Stop'), :disable_with => _('Saving...')) : f.submit(_('Start'), :disable_with => _('Saving...')) -%>
      <% end -%>
      </td>
    </tr>
    <% end -%>
  </table>
</div>
