<h2 class="topix_title"><%= icon_tag('asterisk_orange') -%><%=h _("Index values as of [%s]") % site_count.created_on.strftime(_('%m/%d/%Y %H:%M'))%></h2>
<% SiteCount::STATISTICS_KEYS.each do |key| -%>
  <% item = SiteCount::STATISTICS_ITEMS[key.to_sym] -%>
<div class="statistics_line">
  <div class="statistics_desc"><%= icon_tag item[:icon] %>&nbsp;&nbsp;<%=h _(item[:desc]) %></div>
  <div class="statistics_value"><%=h site_count[key] %><%=h _(item[:unit]) %></div>
  <div class="statistics_menu">
    <%= link_to _("%{icon} Show history of %{time}") % {:icon => icon_tag('calendar_view_month'), :time => site_count.created_on.strftime(_('%m/%Y'))}, '#', :class => 'statistics_history_link', :id => key, :title => h(_(item[:desc])) %>
  </div>
</div>
<div style="clear: left"></div>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('.statistics_history_link')
    .live('click', function() {
        loadStatistics(this.id, <%= site_count.created_on.year %>, <%= site_count.created_on.month %>);
        return false;
    });

    $j('.change_month_link')
    .live('click', function() {
        data = $j(this).data('data')
        loadStatistics(data.category, data.year, data.month);
        return false;
    });

    var loadStatistics = function(category, year, month){
        var url = relative_url_root + '/statistics/ado_statistics_history';
        $j.ajax({
            url: url,
            data: { category: category,
                    year: year,
                    month: month
            },
            error: function(event){
                alert("<%= _('Communication failure.')%>");
            },
            success: function(request) {
                $j('#statistics_history').html(request).highlight();
            }
        });
    };
<% end -%>
