<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <%= favicon_include_tag %>
  <title><%= h Admin::Setting.abbr_app_title %> - <%= _('設定・管理') %></title>
  <%= skip_stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag("application") %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "skins-base" %>
  <%= stylesheet_link_tag("skins/#{session[:user_custom_theme]}/skin.css") %>
  <%= stylesheet_link_tag("sprites/sprite.css") -%>
  <%= skip_stylesheet_link_tag 'nyroModal.full.css' %>
  <%= skip_stylesheet_link_tag "jquery.cluetip.css" %>
  <%= yield :stylesheet %>
</head>

<body>
<%= render :partial => "shared/header" %>

<div id="main">

<%= render :partial => "layouts/menu" %>

<div id="panel">
  <div style="_width: 98%;">
    <h1 id="title"><%=h @title %></h1>
    <%# if @tab_menu_source -%>
    <div id="tab_menu"><%= generate_admin_tab_menu %></div>
    <br style="clear: left;" />
    <%# end -%>
  </div>

  <div id="tab_body">
    <%= render :partial => 'layouts/flash_messages' %>
    <div id="contents_container">

      <% if @content_for_contents_left -%>
      <div id="contents_left">
        <%= yield :contents_left %>
      </div><!-- contents_left -->
      <% end -%>

      <% if @content_for_topic_path -%>
      <div id="topic_path">
        <%= yield :topic_path %>
      </div><!-- topic_path -->
      <% end %>

      <%= yield %>

      <% if @content_for_contents_right -%>
      <div id="contents_right">
        <%= yield :contents_right %>
      </div><!-- contents_right -->
      <% end -%>

      <% if @content_for_contents_bottom -%>
      <div id="contents_bottom">
        <%= yield :contents_bottom %>
      </div><!-- contents_bottom -->
      <% end -%>

    </div><!-- contents_container -->
  </div><!-- tab_body -->
</div><!-- panel -->

<div style="clear: both;"><br/></div>

</div><!-- main -->

<div id="statusbar">
  <span><%= icon_tag 'table'              -%> 登録ユーザ数：<%= h @site_count.total_user_count %>人</span>
  <span><%= icon_tag 'table_lightning'    -%> 本日のアクセス数：<%= h @site_count.today_user_count %>人</span>
  <span><%= icon_tag 'database'           -%> 総記事件数：<%= h @site_count.total_blog_count %>件</span>
  <span><%= icon_tag 'database_lightning' -%> 本日の記事数：<%= h @site_count.today_blog_count %>件</span>
  <span><%= icon_tag 'chart_curve'        -%> <%= link_to("統計を見る", :controller => "/rankings", :action => :statistics) -%></span>
</div>

<%= skip_footer_link -%>

</body>
  <%= all_javascript_include_tag 'jquery' %>
  <script language="JavaScript" type="text/javascript">$j = jQuery.noConflict();</script>
  <%= skip_jquery_include_tag 'jquery.tablesorter' %>
  <%= javascript_include_tag 'application' %>
  <%= skip_javascript_include_tag 'skip_util' %>
<script type="text/javascript">
var relative_url_root = '<%= controller.request.relative_url_root -%>';
$j(function(){
    $j('table.sortable').tablesorter();
});
</script>
<%= yield :javascript %>
</html>
