<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <%= render :partial => 'shared/common_header', :locals => {:title => _('System Administration') } %>
</head>

<body>
<%= render :partial => "shared/header" %>
<%= render :partial => "shared/flash_message" %>

<div id="main">
  <div id="panel" class="ui-corner-all">
    <h1 id="title"><%=h @title %></h1>
    <div id="tab_menu"><%= generate_admin_tab_menu %></div>
    <div class="clear_left"></div>

    <div id="tab_body" class="ui-corner-right">
      <div id="contents_container">
        <% if @content_for_contents_left -%>
        <div id="contents_left">
          <%= yield :contents_left %>
        </div><!-- contents_left -->
        <% end -%>

        <% if @content_for_contents_right -%>
        <div id="contents_right">
          <% if @content_for_topic_path -%>
          <div id="topic_path">
            <%= yield :topic_path %>
          </div><!-- topic_path -->
          <% end %>
          <%= yield :contents_right %>
        </div><!-- contents_right -->
        <% else -%>
          <% if @content_for_topic_path -%>
          <div id="topic_path">
            <%= yield :topic_path %>
          </div><!-- topic_path -->
          <% end %>
        <% end -%>

        <%= yield %>

        <% if @content_for_contents_bottom -%>
        <div id="contents_bottom">
          <%= yield :contents_bottom %>
        </div><!-- contents_bottom -->
        <% end -%>
      </div><!-- contents_container -->
    </div><!-- tab_body -->
  </div><!-- panel -->
  <div class="clear_left"></div>
</div><!-- main -->

<div id="statusbar">
  <span><%= icon_tag 'table'              -%> <%= _("Registered Users: %s users") % h(@site_count.total_user_count)%></span>
  <span><%= icon_tag 'table_lightning'    -%> <%= _("Today's Access: %s access") % h(@site_count.today_user_count)%></span>
  <span><%= icon_tag 'database'           -%> <%= _("Total Entries: %s entries") % h(@site_count.total_blog_count) %></span>
  <span><%= icon_tag 'database_lightning' -%> <%= _("Today's Posts: %s posts") % h(@site_count.today_blog_count) %></span>
  <span><%= icon_tag 'chart_curve'        -%> <%= link_to(_("Site Information"), :controller => "/rankings") -%></span>
</div>

<%= render :partial => "shared/footer" -%>

</body>
<%= all_javascript_include_tag 'jquery' %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= relative_url_root %>';
<% end -%>
<%= javascript_include_tag 'application' %>
<%= skip_javascript_include_tag 'skip_util' %>
<%= skip_reflect_customized_javascript_include_tag %>
<%= javascript_include_tag :skip_embedded, :cache => "skip_embedded" %>
<%= skip_jquery_include_tag 'jquery.tablesorter' %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    $j('table.sortable').tablesorter();
    <%= yield :javascript_initializers %>
});
<% end -%>
<%= google_analytics_tag %>
</html>
