<%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
<% icon_name, icon_title = 'award_star_gold_2', "スターをはずす" -%>
<% icon_name, icon_title = 'award_star_silver_2', "スターを付ける" unless participation.favorite -%>
<a href="#" class='favorite_star' id="favorite_star_link_<%= participation.id -%>" ><%= icon_tag(icon_name, :title => icon_title) -%></a>
<script type="text/javascript">
$j(function(){
    <%# TODO idでクリックを設定するDOM要素を設定しているがクラスで設定して、application.jsなどに一箇所に書きたい %>
    // グループのスターをクリックしたときのAjaxアクションを設定する
    $j('#favorite_star_link_<%= participation.id -%>')
    .click(function() {
        $j.ajax({
            type: 'POST',
            url: '<%= url_for(:controller => 'group', :gid => gid , :action => 'ado_set_favorite') %>',
            data: { group_participation_id : '<%= participation.id %>',
                    favorite_flag : <%= (!participation.favorite).to_s %>,
                    update_elem_id : '<%= update_elem_id -%>',
                    authenticity_token: $j("#authenticity_token").val() },
            success: function(html) {
                $j('#<%= update_elem_id -%>').html(html).parent().highlight();
            }
        });
        return false;
    });
});
</script>
