<% user_id ||= session[:user_id] %>

<table class="group_box">
  <tr>
    <th><%= group_link_to group %></th>
    <td rowspan="3" class="desc"><div style="overflow: auto; height: 130px; width: 100%;"><%= render_richtext(group.description, group.symbol) %></div></td>
    <% if show_favorite %>
    <td rowspan="3" width="16px">
      <% participation = group.group_participations.first -%><% elem_id = "group_participation_#{participation.id}" -%>
      <span id="<%= elem_id %>"><%= render :partial => "groups/favorite", :locals => { :gid => group.gid, :participation => participation, :update_elem_id => elem_id } %></span>
    </td>
    <% end %>
  </tr>
  <tr>
    <td class="auth">
      <p><%= icon_tag(group.category_icon_name.first, :title => group.category_icon_name.last) + h(group.category_icon_name.last) %><br/></p>
      <p><%= participation_state(group, user_id) -%><br/></p>
      <p><%= icon_tag('key') + '参加には承認が必要' if group.protected? -%><br/></p>
    </td>
  </tr>
  <tr>
    <td class="since">since <%= group.created_on.strftime("%Y/%m/%d") -%></td>
  </tr>
</table>
