<% unless groups.empty? -%>
  <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
  <%= i18n_will_paginate_with_container_wrapper @groups %>
  <table class="group_list_box normal">
    <col class="col75" />
    <col class="col75" />
    <col class="col75" />
    <col />
    <col class="col75" />
    <tbody>
      <tr>
        <th><%= _("BoardEntry|Last updated") %></th>
        <th><%= _('Entries count') %></th>
        <th><%= _('Members count') %></th>
        <th><%= _('Group Name') %></th>
        <th><%= _('Status') %></th>
      </tr>
      <% groups.each do |group| -%>
        <tr class="<%= cycle('line_0', 'line_1') %>">
          <% category_name = h(group.group_category.name) -%>
          <% entries = BoardEntry.owned(group) %>
          <td class="date"><span class="nowrap"><%= entries.last.last_updated.strftime(_('%B %d %Y')) unless entries.empty? %><br /><%= content_tag("b", _('Active'), :class => "remarkable") if upsurge_frequency(entries) %></span></td>
          <td class="count"><%= entries.empty? ? "0" : entries.count %></td>
          <td class="count"><span class="nowrap"><%= group.group_participations.active.count %></span></td>
          <td class="name"><span class="nowrap"><%= icon_tag(group.group_category.icon, :alt => category_name, :title => category_name) %><%= group_link_to group %><%= icon_tag('key', :alt => _('Need approval of the Administrator.'), :title => _('Need approval of the Administrator.')) if group.protected? %></span></td>
          <td class="state"><span class="nowrap"><%= participation_state(group, user_id, :blank_unjoined => true) -%></span></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= i18n_will_paginate_with_container_wrapper @groups %>
<% end -%>
