<% unless groups.empty? -%>
  <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
  <%= i18n_will_paginate_with_container_wrapper @groups %>
  <table class="group_list_box normal">
    <tr>
      <th width="50%"><%= _('Group Name')%></th>
      <th><%= _('Category') %></th>
      <th><%= _('Status') %></th>
      <th><%= _('Approval') %></th>
    </tr>
  <% groups.each do |group| -%>
    <tr class="<%= cycle('line_0', 'line_1') %>">
      <td><%= group_link_to group %></td>
      <td><%= icon_tag(group.group_category.icon) + h(group.group_category.name) %></td>
      <td><%= participation_state(group, user_id) -%></td>
      <td><%= _("%s Required") % icon_tag('key') if group.protected? %></td>
    </tr>
  <% end -%>
  </table>
  <%= i18n_will_paginate_with_container_wrapper @groups %>
<% end -%>
