<% show_favorite ||= false -%>
<% unless groups.empty? -%>
  <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
  <% if show_favorite -%>
    <div class="desc ui-corner-all" style="margin-bottom:5px"><%= _("Only groups with %s icons will be shown in \"My Groups\" of the right-top shortcut menu.") % icon_tag('award_star_gold_2') %></div>
  <% end -%>
  <div class="navi ui-corner-all"><%= will_paginate_link @groups %></div>
  <table class="group_list_box normal">
    <tr>
      <th width="50%"><%= _('Group Name')%></th>
      <th><%= _('Category') %></th>
      <th><%= _('Status') %></th>
      <th><%= _('Approval') %></th>
    </tr>
  <% groups.each do |group| -%>
    <tr class="<%= cycle('line_0', 'line_1') %>">
      <td><%= show_group_action(group, show_favorite) %><%= group_link_to group %></td>
      <td><%= icon_tag(group.group_category.icon) + h(group.group_category.name) %></td>
      <td><%= participation_state(group, user_id) -%></td>
      <td><%= _("%s Required") % icon_tag('key') if group.protected? %></td>
    </tr>
  <% end -%>
  </table>
  <div class="navi ui-corner-all"><%= will_paginate_link @groups %></div>
<% end -%>

<% content_for :javascript_initializers do -%>
    <%# TODO application.jsに移動する %>
    var setupFavoliteStar = function(){
      $j('.favorite_star')
      .click(function() {
          var participation_id = this.id.split('_')[3];
          var favorited = $j(this).children().hasClass('ss_award_star_silver_2');
          var update_elem_id = 'group_participation_' + participation_id;
          var gid = $j('#gid_' + participation_id).val();
          var ado_set_favorite_url = relative_url_root + '/group/' + gid + '/ado_set_favorite';
          $j.ajax({
              type: 'POST',
              url: ado_set_favorite_url,
              data: { group_participation_id : participation_id,
                      favorite_flag : favorited,
                      update_elem_id : update_elem_id,
                      authenticity_token: $j("input[name=authenticity_token]").val() },
              success: function(html) {
                  $j('#' + update_elem_id).html(html).parent().highlight();
                  $j('.favorite_star').unbind('click');
                  setupFavoliteStar();
              }
          });
          return false;
      });
    };
    setupFavoliteStar();
<% end -%>
