<% show_favorite ||= false -%>

<% if pages and pages.item_count > 0 -%>
  <% if show_favorite %>
  <div class="desc" style="margin-bottom:5px"><%= _("Only groups with %s icons will be shown in \"My Groups\" of the right-top shortcut menu.") % icon_tag('award_star_gold_2') %></div>
  <% end %>

  <div class="navi"><%= page_link pages -%></div>
  <% if format_type == "detail" %>
    <%= render :partial => "groups/group", :collection => groups, :locals => { :user_id => user_id, :show_favorite => show_favorite } -%>
  <% else %>
    <table class="group_list_box normal">
    <tr>
      <th width="60%"><%= _('Group Name')%></th>
      <th><%= _('Category')%></th>
      <th><%= _('Status')%></th>
      <th><%= _('Approval')%></th>
    </tr>
    <% groups.each do |group| %>
    <tr class="<%= cycle('line_0', 'line_1') %>">
      <td>
        <% if show_favorite %>
          <% participation = group.group_participations.first %>
          <% elem_id = "group_participation_#{participation.id}" %>
          <span id="<%= elem_id %>"><%= render :partial => "groups/favorite", :locals => { :gid => group.gid, :participation => participation, :update_elem_id => elem_id } %></span>
        <% end %>
        <%= group_link_to group %>
      </td>
      <td>
        <%= icon_tag(group.category_icon_name.first, :title => group.category_icon_name.last, :margin => true) + group.category_icon_name.last %>
      </td>
      <td><%= participation_state(group, user_id, {:simple => true}) -%></td>
      <td><%= _("%s Required") % icon_tag('key') if group.protected? %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
  <div class="navi"><%= page_link pages -%></div>
<% end %>
