<ul>
  <li><%= link_to_unless_current_tab content_tag(:span, _('Top')), [current_tenant, current_target_group] %></li>
  <% if current_target_group.group_participations.active.except_owned.first -%>
    <li><%= link_to_unless_current_tab content_tag(:span, _('Members')), polymorphic_path([current_tenant, current_target_group], :action => :members) %></li>
  <% end -%>
  <% if current_target_group.owner_entries.first -%>
    <li><%= link_to_unless_current_tab content_tag(:span, _('Forums')), [current_tenant, current_target_group, :board_entries] %></li>
  <% end -%>
  <% if current_target_group.owner_share_files.first -%>
    <li><%= link_to_unless_current_tab content_tag(:span, _('Shared Files')), [current_tenant, current_target_group, :share_files] %></li>
  <% end -%>
  <% if current_target_group.owned?(current_user) -%>
    <li><%= link_to_unless_current_tab content_tag(:span, _('Admin')), edit_polymorphic_path([current_tenant, current_target_group]) %></li>
  <% end -%>
</ul>
