<% group ||= nil %>
<ul class="user_box ui-corner-all">
  <li class="image"><%= user_link_to_with_portrait(user)%></li>
  <% if group -%>
    <li class="data_row">
      <%= group.administrator?(user) ? (icon_tag('star') + _("Administrator")) : (icon_tag('user') + _("Member")) %>
    </li>
  <% end -%>
  <li class="data_row"><%= user_link_to user %></li>
  <li class="data_row"><%= h user.section %></li>
  <li class="data_row"><%= user.retired? ? content_tag(:b, _('This user has already left.'), :class => 'retired') : h(user.before_access) %></li>
</ul>

