<div class="search_cond_space ui-corner-all">
  <% form_tag({:action => 'index'}, :method => 'get') do -%>
    <table class="search_cond_box">
      <tr>
        <th><%= label_tag :condition_name, s_("User|Name") %></th>
        <td><%= text_field :condition, :name , :size => 40 %></td>
      </tr>
      <tr>
        <th><%= label_tag :condition_section, s_('User|Section') %></th>
        <td><%= select(:condition, :section, User.grouped_sections.insert(0, "")) %></td>
      </tr>
      <tr>
        <th><%= label_tag :condition_code, h(user_name_mode_label) %></th>
        <td><%= text_field :condition, :code, :size => 40 %></td>
      </tr>
      <tr>
        <th><%= label_tag :condition_sort_type, _('Display Order') %></th>
        <td><%= select :condition, :sort_type, UserSearchCondition.sort_types %></td>
      </tr>
      <tr>
        <th><%= _('Retired Users')%></th>
        <td><%= check_box_tag 'condition[not_include_retired]',1,@condition.not_include_retired, :id => 'condition_not_include_retired' %><%= label_tag :condition_not_include_retired, _('Excluding retired users')%></td>
      </tr>
      <%= render :partial => 'search/tag_search', :locals => {:tags => @tags} %>
    </table>
    <div class="submit"><%= submit_tag _('Search') %></div>
  <% end -%>
</div>

<div class="search_result_space">
<% unless @users.empty? -%>
  <div class="navi ui-corner-all"><%= will_paginate_link @users %></div>
  <% @users.each do |user| -%>
    <%= render :partial => 'users/user', :locals => {:user => user} %>
  <% end -%>
  <div class="clear_left"></div>
  <div class="navi ui-corner-all"><%= will_paginate_link @users %></div>
<% end -%>
</div>
