
<div class="search_cond_space ui-corner-all">
  <% form_for @search do |f| %>
    <table class="search_cond_box">
      <tr>
        <th><%= f.label :name_or_code_like, s_("User|Name") + "/" + h(user_name_mode_label)%></th>
        <td><%= f.text_field :name_or_code_like %></td>
      </tr>
      <tr>
        <th><%= f.label :section_like, s_('User|Section') %></th>
        <td><%= f.select :section_like, User.grouped_sections, :include_blank => true %></td>
      </tr>
      <tr>
        <th><%= s_('User|Profile') %></th>
        <td>
          <%= select_tag 'profile_master_id', options_for_select((UserProfileMaster.all.collect {|m| [m.name, m.id]}.unshift [_('Any'), 0]), :selected => params[:profile_master_id].to_i) %>
          <%= _('include following characters') %>
          <%= text_field_tag 'profile_value', params[:profile_value], :size => '30' %>
        </td>
      </tr>
      <%= render :partial => 'search/tag_search', :locals => {:tags => @tags} %>
    </table>
    <div class="submit">
      <%= f.submit _('Search') %>
      <span class="margin05em">
        <%= f.check_box :exclude_retired %>
        <%= f.label :exclude_retired, _('Excluding retired users')%>
      </span>
    </div>
  <% end -%>
</div>

<div class="search_result_space">
<% unless @users.empty? -%>
  <%= i18n_will_paginate_with_container_wrapper @users %>
  <% @users.each do |user| -%>
    <%= render :partial => 'users/user', :locals => {:user => user} %>
  <% end -%>
  <div class="clear_left"></div>
  <%= i18n_will_paginate_with_container_wrapper @users %>
<% end -%>
</div>
