<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<%= favicon_include_tag %>

<title><%= h(title.blank? ? Admin::Setting.abbr_app_title : "#{title} - #{Admin::Setting.abbr_app_title}") %></title>

<%= stylesheet_link_tag("skins/#{current_user.custom.theme}/skin.css") if logged_in? %>
<%= skip_stylesheet_link_tag 'jquery.autocomplete.css' %>
<%= skip_stylesheet_link_tag "jquery.cluetip.css" %>
<%= skip_stylesheet_link_tag "themes/cupertino/ui.core.css" %>
<%= skip_stylesheet_link_tag "themes/cupertino/ui.theme.css" %>
<%= skip_stylesheet_link_tag "jquery.iphone-style-checkboxes.css" %>
<%= stylesheet_link_tag :skip_embedded_sprites %>
<%= stylesheet_link_tag 'not_logged_in' unless logged_in? %>
<%= all_stylesheet_link_tag "style" %>
<%= yield :stylesheet %>
