<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<%= favicon_include_tag %>
<title><%= h Admin::Setting.abbr_app_title %> - <%= h title %></title>

<%= all_stylesheet_link_tag "style" %>
<%= stylesheet_link_tag("skins/#{session[:user_custom_theme]}/skin.css") %>
<%= skip_stylesheet_link_tag 'nyroModal.full.css' %>
<%= skip_stylesheet_link_tag 'jquery.autocomplete.css' %>
<%= skip_stylesheet_link_tag "jquery.cluetip.css" %>
<%= yield :stylesheet %>
