<ul id="nav">
  <li class="home_link"><%= link_to_unless_current(icon_tag('house', :title => _('My Page')) + _('My Page'), root_url) %></li>
  <li><%= link_to_unless_current(icon_tag('report', :title => _('Entries')) + _('Entries'), :controller => '/search', :action => 'entry_search') %></li>
  <li><%= link_to_unless_current(icon_tag('disk_multiple', :title => _('Files')) + _('Files'), :controller => '/search', :action => 'share_file_search') %></li>
  <li><%= link_to_unless_current(icon_tag('user_suit', :title => _('Users')) + _('Users'), :controller => '/users', :action => 'index') %></li>
  <li><%= link_to_unless_current(icon_tag('group', :title => _('Groups')) + _('Groups'), :controller => '/groups', :action => 'index') %></li>
  <li><%= link_to(icon_tag('plugin_add', :title => _('Others')) + _('Others') + icon_tag('bullet_arrow_down'), '#') %>
    <ul>
      <% if bookmark_enabled? -%>
        <li><%= link_to(icon_tag('tag_blue', :title => _('Bookmarks')) + _('Bookmarks'), :controller => '/bookmarks', :action => 'index') %></li>
      <% end -%>
      <% if SkipEmbedded::InitialSettings['wiki'] and SkipEmbedded::InitialSettings['wiki']['use'] -%>
      <li><%= link_to(icon_tag('page_white_paint', :title => _('Wiki')) + _('Wiki'), wiki_path((Page.root || Page.first({:conditions=>["parent_id = ?",0]})).title)) %></li>
      <% end -%>
      <li><%= link_to(icon_tag('flag_blue', :title => _('Events')) + _('Events'), apps_events_path) %></li>
    </ul>
  </li>
</ul>
