<% search_label = _('input search query') %>
<div id="header">
  <div id="global_top">
    <%= application_link %>
    <div id="menu">
      <b><%= user_name_mode?(:code) ? "#{h(Admin::Setting.login_account)} : #{h(@current_user.code)}" : "#{_('Admin::UserUid|Uid')} : #{h(@current_user.uid)}" %></b>
      |
      <%= link_to "自分の管理", :controller => "/mypage", :action => :manage, :only_path => false %>
      |
      <% help_url = h(Admin::Setting.help_url) -%>
      <% unless help_url.blank? -%>
      <a href="<%= help_url %>" target="_blank">ヘルプ</a>
      |
      <% end -%>
      <%= link_to "ログアウト", :controller => "/platform", :action => :logout, :only_path => false -%>
      <br style="clear: left" />
    </div>
  </div>
  <%= header_logo_link %>
  <div class="banner"></div>

  <% if SkipEmbedded::InitialSettings['full_text_search_setting'] %>
  <div id="search">
    <% form_tag({:controller => '/search', :action => 'full_text_search'},{:method => 'get'}) do -%>
      <%= text_field_tag "full_text_query", search_label %>
      <%= submit_tag _('Search') -%>
    <% end -%>
  </div>
  <% content_for :javascript_initializers do -%>
    $j('input#full_text_query').labeledTextField(<%= {:message => search_label}.to_json %>);
  <% end -%>
  <% end %>
</div><!-- header -->
