<div id="header">
  <%= header_logo_link %>
  <%= skip_menu_link %>

  <% if INITIAL_SETTINGS['full_text_search_setting'] %>
  <div id="search">
    <% form_tag({:controller => '/search', :action => 'full_text_search'},{:method => 'get'}) do -%>
    <input type="text" size="35" onfocus="if(this.value=='検索したいキーワードをいれてください'){this.style.color='#000000'; this.value = ''}" onblur="if(this.value==''){this.style.color='#999999'; this.form.reset()}" style="color: rgb(153, 153, 153); font-size: 13px; border: 1px solid silver;" id="full_text_query" name="full_text_query" value="検索したいキーワードをいれてください" />
    <%= submit_tag '検索' -%>
    <% end -%>
  </div>
  <% end %>

</div><!-- header -->

<div id="top">
  <%= link_to icon_tag(:report_edit, :title => 'ブログを書く') + 'ブログを書く', :controller => '/edit', :action => :index %>

  <%= icon_tag(:group_go, :title => 'マイグループ') -%>
  <select style="font-size: 13px; border:1px solid silver; vertical-align:middle; padding:1px;" onchange="if (this.value != '') { window.location = this.value; }">
    <option selected="selected" value="<%= url_for({:controller => '/mypage', :action => 'group'}) -%>">参加グループへ移動 ... </option>
    <option disabled="disabled">---</option>
    <% @favorite_groups.each do |category| %>
    <option disabled="disabled">[<%= category[:name] -%>]</option>
      <% category[:groups].each do |group| %>
      <option value="<%= url_for({:controller => '/group', :gid => group.gid, :action => 'show'}) -%>">&nbsp;<%= group.name -%></option>
      <% end %>
    <% end %>
    <option disabled="disabled">---</option>
    <option value="<%= url_for({:controller => '/mypage', :action => 'group'}) -%>">参加グループの一覧へ</option>
  </select>
</div>
