<% search_label = _('Please input search query.') %>
<div id="header">
  <div id="global_top">
    <div id="application_link">
      <%= application_link %>
    </div>
    <% if current_user && current_user.active? -%>
      <%
        links = []
        help_url = h(SkipEmbedded::InitialSettings['help_url'])
        what_new_url = h(SkipEmbedded::InitialSettings['what_new_url'])
        links << content_tag('b', user_name_mode?(:code) ? h(current_user.code) : h(current_user.uid))
        links << link_to(_('What New'), what_new_url, :target => "_blank", :class => "attention_underline_link") unless what_new_url.blank?
        links << link_to(_("My Account"), {:controller => "/mypage", :action => :manage, :only_path => false}, :class => "underline_link")
        links << link_to(_("System Administration"), {:controller => "/admin", :action => "index"}, :title => _("Administration of the site."), :class => "underline_link") if current_user.admin?
        links << link_to(_('Help'), help_url, :target => "_blank", :class => "underline_link") unless help_url.blank?

    other_links_tag = ""
    unless COMMON_MENUS.empty?
      other_links = []
      links << link_to( content_tag('u',_('more')) + content_tag('small', "▼"), '#', :id => 'other_link')
      COMMON_MENUS[:menus].each do |menu|
        if menu[:url]
          other_links << link_to(h(menu[:title]), menu[:url], :target => '_blank')
        else
          other_links << content_tag(:p, h(menu[:title]))
          menu[:links].each do |link|
            other_links << link_to(h(link[:title]), link[:url], :target => '_blank')
          end
        end
      end
      other_links_tag = content_tag :div, other_links.join(''), :id => 'other_links', :class => 'invisible'
    end

        links << link_to(_("Sign out"), logout_url, :class => "underline_link")
      -%>

    <div id="menu">
      <%= links.join ' | ' %>
      <%= other_links_tag unless other_links_tag.blank? %>
    </div>
  <% end -%>
  </div>
  <%= header_logo_link %>
  <div class="banner"></div>

  <% if SkipEmbedded::InitialSettings['full_text_search_setting'] && current_user && current_user.active? %>
  <div id="search">
    <% form_tag({:controller => '/search', :action => 'full_text_search'},{:method => 'get'}) do -%>
      <%= text_field_tag "full_text_query", search_label, :class => "labeled-field" %>
      <%= submit_tag _('Search') -%>
    <% end -%>
    <% if current_user && current_user.custom.always_show_shortcut -%>
      <%= shortcut_menus %>
    <% end -%>
  </div>
  <% content_for :javascript_initializers do -%>
    $j('input#full_text_query').labeledTextField(<%= {:message => search_label}.to_json %>);
  <% end -%>
  <% end %>
</div><!-- header -->
<div id="global_links_wrapper">
  <div id="global_links">
    <%= global_links if current_user && current_user.active? %>
  </div>
</div>
