<% search_label = _('Please input search query.') %>
<div id="header">
  <div id="global_top">
    <div id="application_link">
      <%= application_link %>
    </div>
    <div id="menu">
      <b><%= user_name_mode?(:code) ? h(current_user.code) : h(current_user.uid) %></b>
      |
      <%= link_to _("My Account"), {:controller => "/mypage", :action => :manage, :only_path => false}, :class => "underline_link" %>
      |
      <% help_url = h(Admin::Setting.help_url) -%>
      <% unless help_url.blank? -%>
      <%= link_to _('Help'), help_url, :target => "_blank", :class => "underline_link" %>
      |
      <% end -%>
      <%= link_to _("Sign out"), logout_url, :class => "underline_link" -%>
      <br style="clear: left" />
    </div>
  </div>
  <%= header_logo_link %>
  <div class="banner"></div>

  <% if SkipEmbedded::InitialSettings['full_text_search_setting'] %>
  <div id="search">
    <% form_tag({:controller => '/search', :action => 'full_text_search'},{:method => 'get'}) do -%>
      <%= text_field_tag "full_text_query", search_label, :class => "labeled-field" %>
      <%= submit_tag _('Search') -%>
    <% end -%>
  </div>
  <% content_for :javascript_initializers do -%>
    $j('input#full_text_query').labeledTextField(<%= {:message => search_label}.to_json %>);
  <% end -%>
  <% end %>

</div><!-- header -->

<% if session[:user_custom_always_show_shortcut] -%>
<div id="global_shortcut">
  <%= shortcut_menus @favorite_groups %>
</div>
<% end -%>
