<% search_label = _('Please input search query.') %>
<div id="header">
  <div id="global_top">
    <div id="application_link">
      <%= application_link %>
    </div>
    <% if current_user && current_user.active? -%>
      <%
        links = []
        help_url = h(SkipEmbedded::InitialSettings['help_url'])
        what_new_message = h(SkipEmbedded::InitialSettings['what_new']['message'] || _("What's New"))
        what_new_url = h(SkipEmbedded::InitialSettings['what_new']['url'])
        iskip_url = "http://portal.skipaas.jp/infoscoop/openid_consumer_redirect.jsp?org=#{SkipEmbedded::InitialSettings['host_and_port']}&amp;user=#{current_user.code}"

        links << content_tag('b', user_name_mode?(:code) ? h(current_user.code) : h(current_user.uid))
        links << link_to("iSKIP", iskip_url) if SkipEmbedded::InitialSettings['iskip']
        links << link_to(what_new_message, what_new_url, :target => "_blank", :class => "attention_underline_link") unless what_new_url.blank?
        links << link_to(_('Invite a user'), new_user_invitation_url(current_user), :title => _('Invite a user')) if SkipEmbedded::InitialSettings['invitation'] && SkipEmbedded::InitialSettings['invitation']['enable']
        links << link_to(_("My Account"), {:controller => "/mypage", :action => :manage, :only_path => false}, :class => "underline_link")
        links << link_to(_("System Administration"), {:controller => "/admin", :action => "index"}, :title => _("Administration of the site."), :class => "underline_link") if current_user.admin?
        links << link_to(_('Help'), help_url, :target => "_blank", :class => "underline_link") unless help_url.blank?

        other_links_tag = ""
        unless COMMON_MENUS.empty?
          other_links = []
          links << link_to( content_tag('u',_('Links')) + content_tag('small', "▼"), '#', :id => 'other_link')
          COMMON_MENUS[:menus].each do |menu|
            if menu[:url]
              other_links << link_to(h(menu[:title]), menu[:url], :target => '_blank')
            else
              other_links << content_tag(:p, h(menu[:title]))
              menu[:links].each do |link|
                other_links << link_to(h(link[:title]), link[:url], :target => '_blank')
              end
            end
          end
          other_links_tag = content_tag :div, other_links.join(''), :id => 'other_links', :class => 'invisible'
        end

        links << link_to(_("Sign out"), logout_url, :class => "underline_link") unless SkipEmbedded::InitialSettings['hide_header_logout_link']

      -%>

      <div id="menu">
        <%= links.join ' | ' %>
        <%= other_links_tag unless other_links_tag.blank? %>
      </div>
    <% end -%>
  </div>
  <%= header_logo_link %>
  <div class="banner"></div>

  <% if current_user -%>
    <% if SkipEmbedded::InitialSettings['full_text_search_setting'] && current_user.active? -%>
      <div id="search" class="ui-corner-all">
        <% form_tag({:controller => '/search', :action => 'full_text_search'},{:method => 'get'}) do -%>
          <%= text_field_tag "full_text_query", search_label, :class => "labeled-field" %>
          <%= submit_tag _('Search') -%>
        <% end -%>
        <span class="other_links"><%= link_to( _('Rankings'), :controller => '/rankings', :action => 'index') %></span>
        <span class="other_links"><%= link_to( _('Site Information'), :controller => '/statistics') %></span>
        <%= shortcut_menus %>
      </div>
      <% content_for :javascript_initializers do -%>
        $j('input#full_text_query').labeledTextField(<%= {:message => search_label}.to_json %>);
      <% end -%>
    <% end -%>
  <% end -%>
  <% if @content_for_header_form -%>
    <%= yield :header_form %>
  <% end -%>
</div><!-- header -->
<div id="global_links_wrapper">
  <% if current_user && current_user.active? -%>
    <div id="global_links">
      <%= render :partial => 'shared/global_navigation' %>
    </div>
    <div id="customize_design">
      <% skin_themes.each do |skin| -%>
        <%= link_to(image_tag("../stylesheets/skins/#{skin}/color.png", :size => "15x15", :title => "#{skin}"), {:controller => '/mypage', :action => 'update_customize', :user_custom => {"theme" => skin}}, :method => :post) %>
      <% end -%>
    </div>
    <div class="clear_both"></div>
  <% end -%>

  <% unless SkipEmbedded::InitialSettings['enable_ad_for_oss'] == "lovelyskip" -%>
    <div style="margin-top: 0.5em; padding-top: 0.5em; border-top: 1px solid silver;">
      <div style="margin-left: 30px; text-valign:middle;">
        <%= _('Sponsored link:') %>
        <script type="text/javascript"><!--
                                           google_ad_client = "pub-5332257656838193";
                                           /* 728x15, 作成済み 09/10/28 */
                                           google_ad_slot = "6484737204";
                                           google_ad_width = 728;
                                           google_ad_height = 15;
                                           //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
    </div>
  <% end -%>
</div>

<% content_for :javascript_initializers do -%>
  $j(" #nav ul ").css({display: "none"}); // Opera Fix
  $j(" #nav li").hover(
    function(){
      $j(this).find('ul:first').css({visibility:"visible",display:"none"}).show(100);
    },function(){
      $j(this).find('ul:first').css({visibility:"hidden"});
    }
  );
<% end -%>
