<div id="header">
  <div id="global_top">
    <div id="application_link">
      <b>SKIP</b>
      |
      <%= link_to 'SKIP-WIKI', '#' %>
      |
      <%= link_to 'その他 ▼', '#' %>
    </div>
    <div id="menu">
      <b><%= user_name_mode?(:code) ? "#{h(Admin::Setting.login_account)} : #{h(@current_user.code)}" : "#{_('Admin::UserUid|Uid')} : #{h(@current_user.uid)}" %></b>
      |
      <%= link_to "自分の管理", :controller => "/mypage", :action => :manage, :only_path => false %>
      |
      <% help_url = h(Admin::Setting.help_url) -%>
      <% unless help_url.blank? -%>
      <a href="<%= help_url %>" target="_blank">ヘルプ</a>
      |
      <% end -%>
      <%= link_to "ログアウト", :controller => "/platform", :action => :logout, :only_path => false -%>
      <% unless COMMON_MENUS.empty? -%>
      <select style="vertical-align:middle;" onchange="if (this.value != '') { window.open(this.value); }">
        <option selected="selected" value="">リンク ... </option>
          <% COMMON_MENUS[:menus].each do |menu| %>
            <% if menu[:url] %>
        <option value="<%= menu[:url] -%>">&nbsp;<%=h menu[:title] -%></option>
            <% else %>
        <option disabled="disabled" style="color: gray;">[<%=h menu[:title] -%>]</option>
              <% menu[:links].each do |link| %>
        <option value="<%= link[:url] -%>">&nbsp;<%=h link[:title] -%></option>
              <% end %>
            <% end %>
          <% end %>
      </select>
      <% end -%>
      <br style="clear: left" />
    </div>
  </div>

  <%= header_logo_link %>

  <% if INITIAL_SETTINGS['full_text_search_setting'] %>
  <div id="search">
    <% form_tag({:controller => '/search', :action => 'full_text_search'},{:method => 'get'}) do -%>
    <input type="text" size="40" onfocus="if(this.value=='検索したいキーワードをいれてください'){this.style.color='#000000'; this.value = ''}" onblur="if(this.value==''){this.style.color='#999999'; this.form.reset()}" style="color: rgb(153, 153, 153); font-size: 13px; border: 1px solid silver;" id="full_text_query" name="full_text_query" value="検索したいキーワードをいれてください" />
    <%= submit_tag '検索' -%>
    <% end -%>
  </div>
  <% end %>

</div><!-- header -->
