<style type="text/css">
#openid_url {
  background: #FFFFFF url(/images/openid_login_bg.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px;
  width: 92%;
}
</style>

<% form_tag({:controller => :platform, :action => :login, :only_path => false}, :id => 'login_form') do %>
  <%= hidden_field_tag "return_to", h(params[:return_to]) -%>
  <table class="box" style="font-size: 12px; width: 300px;">
    <% if login_mode?(:password) -%>
    <tr valign="top">
      <td><label for="login_key"><span style="font-weight: bold;"><%= h Admin::Setting.login_account %> or <%= _('User|Email') %></span></label></td>
    </tr>
    <tr valign="top">
      <td><%= text_field 'login', 'key', :size => 35, :autocomplete => :on, :style => "font-family:Tahoma", :tabindex => "1" -%></td>
    </tr>
    <tr valign="top">
      <td><label for="login_password"><span style="font-weight: bold;">パスワード</span></label>
        <% password_forgot_link_text = _('パスワードを忘れた方はこちら') -%>
        <%= "(#{link_to(password_forgot_link_text, forgot_password_path, {:style => 'font-size:11px', :tabindex => '102'})})" if enable_forgot_password? %></td>
    </tr>
    <tr valign="top">
      <td><%= password_field 'login', 'password', { 'size' => 35, :onfocus=>'select();', 'AUTOCOMPLETE' => "on", :style => "font-family:Tahoma", :tabindex => "2" } %></td>
    </tr>
    <tr valign="top">
      <td><input id="login_save" name="login_save" type="checkbox" value="true" checked="checked", tabindex="3" /> 次回から自動的にログイン</td>
    </tr>
    <% elsif login_mode?(:fixed_rp) -%>
    <tr valign="top">
      <td>下のボタンを押して、ログインしてください。
        <%= hidden_field_tag "openid_url", h(INITIAL_SETTINGS['fixed_op_url']) -%>
      </td>
    </tr>
    <% else -%>
    <tr valign="top">
      <td>
        <ul style="list-style-type:none; margin-bottom: 5px;">
          <li><%= link_to image_tag('idmixijp.gif') + "mixi IDでログイン", :action => :login, :openid_url => "mixi.jp" %></li>
          <li><%= link_to image_tag('meyahoocom.gif') + "Yahoo! JAPAN ID でログイン", :action => :login, :openid_url => "yahoo.co.jp" %></li>
          <li><%= link_to image_tag('wwwgooglecom.gif') + "Googleでログイン", :action => :login, :openid_url => "http://www.google.com/accounts/o8/id" %></li>
        </ul>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <label for="openid_url"><span style="font-weight: bold;">その他のOpenID URLでログイン</span></label>
      </td>
    </tr>
    <tr valign="top">
      <td><%= text_field_tag 'openid_url', nil, 'AUTOCOMPLETE' => "on" %></td>
    </tr>
    <% end -%>

    <% if INITIAL_SETTINGS['ssl_setting'] %>
    <tr valign="top" align="left">
      <td>
        <div style="margin-top: 15px; _margin-top: 0px;">
          <span style="border-right:1px solid gray;padding-right: 5px;"><%= radio_button_tag "ssl_enable", false, false, :id => "ssl_disable_radio" %>http</span>
          <%= radio_button_tag "ssl_enable", true, false, :id => "ssl_enable_radio" %>https
        </div>
      </td>
    </tr>
    <% end %>

    <tr>
      <td align="right"><%= submit_tag "ログイン", :onclick=>"saveLoginData();", :tabindex => "4" %></td>
    </tr>
  </table>
<% end %>
    <% unless login_mode?(:password) -%>
        <%= link_to _('OpenIDを忘れた/再設定したい方はこちら'), forgot_openid_path, {:style => 'font-size:14px'} %>
    <% end -%>

<script type="text/javascript">
$j(function(){
    var loadLoginData = function(){
        login_save = false;
        if (loadCookie('login_save') == 'true')
            login_save = true;
        $j('#login_save').attr('checked', login_save);

        ssl_enable = false;
        if (loadCookie('ssl_enable') == 'true')
            ssl_enable = true;
        $j('#ssl_enable_radio').attr('checked', ssl_enable);
        $j('#ssl_disable_radio').attr('checked', !ssl_enable);
        $j('#login_key').focus();
    };
    loadLoginData();
    $j('#login_form')
    .submit(function(){
        if($j('#ssl_enable_radio:checked').size() > 0) {
            $j(this).attr('action', $j(this).attr('action').replace('http://', 'https://'));
        }
    });
});
</script>
