<div class="current-title" style="margin-top: 50px;">
  <% form_for(:chapter, defined?(chapter) ? chapter : @chapter, :url=>url, :html=>option) do |f| %>
    <div class="content">
      <div class="preview">
        <% if page.format_type == "hiki" %>
          <ul class="float">
            <li class="hide" style="font-size:12px"><%= link_to(_("Hide preview"), '#', :class=>'operation')%></li>
            <li class="show" style="font-size:12px"><%= link_to(_("Show preview"), '#', :class=>'operation')%></li>
            <span class="operation trigger" style="font-size:12px"><%= _("Link Palette")%></span>
            <span class="page-menu"><%= link_to(_("History"), wiki_histories_path(page.title)) %></span>
          </ul>
        <% end -%>
      </div>

      <%= text_area_tag("chapter[content]", sanitize_and_unescape_for_richtext(defined?(chapter) ? chapter.data : ""), :id=>"chapter_content", :cols => 90, :rows => 20) %>
      <%= hidden_field_tag :position_id, insert_num if defined?(insert_num) %>
      <% ckeditor "chapter[content]", 'toolbar' => "Entry" %>
    </div>

    <div class="submit">
      <span class="notice" style="display:none"><%= _("Modified, not need to save.")%></span>
      <%= submit_tag(_("ページを更新する"))%>
      <%= link_to(h(_("ページを表示する")), wiki_path(page.title), :class => "back") %>
    </div>
    <div class="clear"></div>
  <% end -%>
</div>
