<table cellspacing="0" cellpadding="0">
  <col width="180px" />
  <col width="180px" />
  <% if Admin::Setting.enable_login_keyphrase -%>
    <col width="180px" />
  <% end -%>
  <col width="80px" />
  <tbody>
    <tr>
      <td class="label_field">
        <label for="login_key"><b><%= h Admin::Setting.login_account %> or <%= s_('User|Email') %></b></label>
      </td>
      <td class="label_field">
        <label for="login_password"><b><%= _('Password') %></b></label>
      </td>
      <% if Admin::Setting.enable_login_keyphrase -%>
        <td class="label_field">
          <label for="login_keyphrase"><b><%= _('Login keyphrase') %></b></label>
        </td>
      <% end -%>
      <td class="input_field">
      </td>
    </tr>
    <tr>
      <td class="input_field">
      <% if checkid_request && !checkid_request.id_select %>
        <%= _('Your OpenID:') %><%= checkid_request.identity %>
        <%= hidden_field_tag 'login[key]', extract_login_from_identifier(checkid_request.identity) %>
      <% else %>
        <%= text_field 'login', 'key', :autocomplete => :on, :tabindex => "1" %>
      <% end -%>
      </td>
      <td class="input_field">
        <%= password_field 'login', 'password', :autocomplete => :on, :tabindex => "2" %>
      </td>
      <% if Admin::Setting.enable_login_keyphrase -%>
        <td class="input_field"><%= password_field 'login', 'keyphrase', :autocomplete => :on, :tabindex => "3" %></td>
      <% end -%>
      <td class="submit"><%= submit_tag _("Login"), :onclick=>"saveLoginData();", :tabindex => "4" %></td>
    </tr>
    <tr>
      <td class="label_field">
        <%= check_box_tag "login_save", true, true %>
        <%= label_tag "login_save", _('Login automatically from next time') %>
      </td>
      <td class="label_field">
        <%= link_to(_('Forgot your password? Click here.'), forgot_password_tenant_platform_path(current_tenant), {:class => 'small_text'}) if enable_forgot_password? %></td>
      <td class="input_field">
      </td>
    </tr>
    <% if checkid_request %>
      <tr>
        <td class="label_field"> <%= link_to _('cancel this request'), cancel_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :javascript_initializers do -%>
    $j('#login_save').attr('checked', ($j.cookie('login_save') == 'true'));
    $j('#login_key').focus();

    saveLoginData = function(){
        $j.cookie('login_save', $j('#login_save').attr('checked').toString(), {expires: 14});
        return true;
    };

<% end -%>
