<div class="box_space">
  <div class="box_space_title"><%= _('Add page')%></span></div>
    <div class="box_space_body">
      <div class="input_line">
        <% form_tag({:controller => 'wiki',:action=>'create'}) do %>
          <div class="input_label"><%= label :page, :title, _('Title') %></div>
          <div class="input_value"><%= text_field 'page', 'title', :size=>15, :id=>"pagename" %></div>
          <%= hidden_field_tag :parent_id, @current_page.id %>
          <%= submit_tag _('Create'), :disable_with => _('Now creating...') %>
        <% end -%>
      </div>
    </div>
    <% if !@current_page.root? %>
      <div class="box_space_title"><%= _('Parent page')%></span></div>
      <div class="box_space_body">
        <%= link_to(@current_page.parent.title, wiki_path(@current_page.parent.title), :class=> @current_page.parent.initialize_or_deleted? ? "recover" : "normal") %>
      </div>
    <% end -%>
    <% if @current_page.children.size > 0 %>
      <div class="box_space_title"><%= _('Relation page')%></span></div>
      <div class="box_space_body">
        <% @current_page.children.each do |page| %>
          <%= link_to(page.title, wiki_path(page.title), :class=> page.initialize_or_deleted? ? "recover" : "normal") %><br/>
        <% end %>
      </div>
    <% end -%>
    <% if @current_page.attachments.size > 0 %>
      <div class="box_space_title"><%= _('Attachment file list')%></span></div>
      <div class="box_space_body">
        <% @current_page.attachments.each do |attachment| %>
          <%= link_to(attachment.filename, attachment_path(attachment), :class=> "normal") %><br/>
        <% end %>
      </div>
    <% end -%>
  <div class="box_space_bottom"></div>
</div>




