<% content_for :contents_right do -%>
  <%= render :partial => 'wiki/navigation' %>
<% end -%>

<% content_for :contents_left do -%>
  <% if !@current_page.deleted? and !@current_page.content.blank? %>
    <% @current_page.chapters.each do |chapter| %>
      <%= render_richtext(chapter.data) %>
      <%= render :partial => "shared/chapter_menu", :locals => {:page => @current_page, :chapter => chapter} %>
    <% end %>
  <% else %>
    <% message = @current_page.deleted? ? _("This page is deleted. You click '[Restore]' if you want to restore.") : _("This page has not edited yet. Please edit this page!") %>
    <div align="center" style="font: bold; color: red; font-size: 14px; "><%= message %></div>
    <span><%= link_to(_('[Edit]'), new_wiki_chapter_path(@current_page.title)) unless @current_page.deleted? %></span>
  <% end %>
  <br/>
  <span><%= link_to(_('[Delete]'), wiki_path(@current_page.title), :method=>:delete,:confirm=>_('Are you sure?')) if !@current_page.root? and !@current_page.deleted? %></span>
  <span><%= link_to(_('[Restore]'), recovery_wiki_path(@current_page.title), :method=>:post) if @current_page.deleted? %></span>
<% end -%>

