<div class="content">
  <h3><%= _('Password Reminder')%></h3>
  <p><%= _('An email containing the URL for resetting the password will be sent to the following email address.')%></p>
  <% form_tag :action => :forgot_password do -%>
    <table>
      <tr>
        <th><label for="email"><%= _('Email Address')%></label></th>
        <td><%= text_field_tag(:email, params[:email]) %></td>
      </tr>
    </table>
    <%= submit_tag _("Send") %>
  <% end -%>
</div>
