<div class="content">
  <h3><%= h Admin::Setting.login_account %><%= _('Reminder')%></h3>
  <p><%= _('The login ID will be sent to the email address entered below.')%></p>
  <% form_tag :action => :forgot_login_id do -%>
    <table>
      <tr>
        <th><label for="email"><%= _('Email Address')%></label></th>
        <td><%= text_field_tag(:email, params[:email]) %></td>
      </tr>
    </table>
    <%= submit_tag _("Send") %>
  <% end -%>
</div>
