<div class="content">
<<<<<<< HEAD:app/views/platform/forgot_password.html.erb
  <h3>パスワードリマインダー</h3>
  <p><%= _('以下で指定されたメールアドレスにパスワードリセットのためのURLを送信します。') %></p>
  <% form_tag :action => :forgot_password do -%>
  <%= render :partial => 'mail_form' %>
=======
  <h3><%= _('Password Reminder')%></h3>
  <p><%= _('An email containing the URL for resetting the password will be sent to the following email address.')%></p>
  <% form_tag :action => :forgot_password do -%>
    <table>
      <tr>
        <th><label for="email"><%= _('Email Address')%></label></th>
        <td><%= text_field_tag(:email, params[:email]) %></td>
      </tr>
    </table>
    <%= submit_tag _("Send") %>
>>>>>>> for_i18n:app/views/platform/forgot_password.html.erb
  <% end -%>
</div>
