<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="shortcut icon" href="<%= controller.request.relative_url_root -%>/favicon.ico" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="86400" />
  <title><%= h Admin::Setting.abbr_app_title -%></title>
<script language="JavaScript" type="text/javascript">
<!--
var relative_url_root = '<%= controller.request.relative_url_root -%>';
//-->
</script>
  <%= skip_stylesheet_link_tag 'style' %>

  <%= skip_javascript_include_tag "skip_util" %>
  <%= skip_jquery_include_tag 'jquery' %>
  <%= skip_jquery_include_tag 'jquery.cluetip' %>
  <script language="JavaScript" type="text/javascript">$j = jQuery.noConflict();</script>
  <%= javascript_include_tag "application" %>

  <style type="text/css">
#login {
  border:1px solid red;
  margin: 10px;
  width: 300px;
  padding: 2px;
  border: 1px solid silver;
  background-color: #f0f0ff;
  font-size: 12px;
}
  </style>
</head>
<body style="background-color: #ffffff;">

<center style="background-color: #fafafa; border-bottom: 1px solid silver;">
<div style="width: 50%; margin-top: 30px; border: 1px solid silver; padding: 1px; background-color: white;">

<div style="margin: 0 0 0 0; padding: 4px; text-align: left; font-size: 18px; font-weight: bold; background-color:#DDFFDD;">ログインが必要です</div>

<div style="margin: 5px 0px 10px 0px; padding: 3px 10px 3px 10px; background-color: #EEFFEE; border: #FFC000 1px dashed;"><p>以降の操作のためには<%= h Admin::Setting.abbr_app_title -%>へのログインが必要です。以下よりログインしてください。</p></div>

<%= render :partial => '/layouts/flash_messages' %>

<div id="login"><%= render :partial => 'shared/login_form' %></div>

</div>
</center>

<%= skip_footer_link -%>

</body>
</html>
