<table border='0' align='<%= @text_align %>' width='100%' height='100%' style="position: absolute; top: 0px; text-align:<%= @text_align %>;">
  <tr><td id="output_td"><%= @content %></td></tr>
</table>

<div style="visibility: hidden;">
  <div id="output"><%= @hidden_content -%></div>
  <div id="url_next"><%= @next_url -%></div>
  <div id="url_prev"><%= @prev_url -%></div>
  <div id="counter_value"><%= @counter_value -%></div>
</div>

<script type="text/javascript">
  var textsize = 0.8;

  <% if @img_id_arr and @img_id_arr.size > 0 %>
    <% @img_id_arr.each do |img_id_r| %>
    fitImageSize('<%= img_id_r %>', <%= @img_id_arr.size %>);
    <% end %>
    textsize = 0.3;
  <% end %>

  fitTextSize($('output'), textsize);
</script>
