<html>
<head>
  <title>TakahashiMonta: <%= @board_entry.title %></title>
  <%= skip_javascript_include_tag 'prototype' %>
  <%= skip_javascript_include_tag 'scriptaculous' %>
  <%= skip_javascript_include_tag 'jquery.js' %>
  <%= skip_javascript_include_tag 'jquery.hotkeys.js' %>
  <script language="JavaScript" type="text/javascript">$j = jQuery.noConflict();</script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'monta' %>
</head>
<body id='monta_body' style="height:100%">
  <div class="my_header">
    <%= h @board_entry.title %>
  </div>
  <div id="view_contents"></div>
</body>
<script type="text/javascript">
$j(function() {
    var changePage = function(url) {
        $j.ajax({
            url: url,
            success: function(html) {
                $j('#view_contents').html(html);
            }
        });
    };
    var nextPage = function() {
        changePage($j('#url_next').html());
    };
    var prevPage = function() {
        changePage($j('#url_prev').html());
    };

    $j.ajax({
        url: '<%= url_for(:controller => :monta, :action => :ado_view_contents, :id => @board_entry.id, :index => 0) -%>',
        success: function(html) {
            $j('#view_contents').append(html);
        }
    });

    $j('#monta_body')
    .click(function() {
        nextPage();
    });

    $j.hotkeys.add('right', nextPage);
    $j.hotkeys.add('down', nextPage);
    $j.hotkeys.add('return', nextPage);
    
    $j.hotkeys.add('up', prevPage);
    $j.hotkeys.add('left', prevPage);
})
</script>
