<html>
<head>
  <title><%= _("Slide Show: %s") % h(@board_entry.title)%></title>
  <%= skip_javascript_include_tag 'prototype' %>
  <%= skip_jquery_include_tag 'jquery' %>
  <%= skip_jquery_include_tag 'jquery.hotkeys' %>
  <%= skip_jquery_include_tag 'jquery.cluetip' %>
  <script language="JavaScript" type="text/javascript">$j = jQuery.noConflict();</script>
  <%= javascript_include_tag 'application' %>
</head>

<style type="text/css">
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  position: relative;
  left: 0;
  text-align: left;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  background-color: #FFFFFF;
  color: #555555;
  width: 100%;
}
a {
  text-decoration: none;
  color: silver;
}
.my_header {
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  background-color:#DDFFDD;
}
.my_counter {
  padding: 4px;
  font-size: 20px;
  font-weight: bold;
  background-color:#bfffbf;
  position:absolute;
  top: 0px;
  right: 0px;
}
</style>

<body id='monta_body' style="height:100%">
  <div class="my_header"><%=h @board_entry.title %></div>
  <div id="counter" class="my_counter"></div>
  <div id="view_contents"></div>
</body>

<script type="text/javascript">
$j(function() {
    var changePage = function(url) {
        $j.ajax({
            url: url,
            success: function(html) {
                $j('#view_contents').html(html);
                $j('#counter').html($j('#counter_value').html());
            }
        });
    };
    var nextPage = function() {
        changePage($j('#url_next').html());
    };
    var prevPage = function() {
        changePage($j('#url_prev').html());
    };

    $j('#monta_body').click(function() { nextPage(); });

    $j.hotkeys.add('right', nextPage);
    $j.hotkeys.add('down', nextPage);
    $j.hotkeys.add('return', nextPage);

    $j.hotkeys.add('up', prevPage);
    $j.hotkeys.add('left', prevPage);

    changePage('<%= @first_url -%>');
})
//-------------------------------------------------
  function fitTextSize(output, reducation_ratio_h) {
    with(output.style){
      fontSize = "10px";
      display  = "inline";
    }
    var new_fs = Math.ceil((document.body.offsetWidth/output.offsetWidth) * 9);
    if(new_fs <= 5000){
      with(output.style){
        fontSize = new_fs + "px";
        display  = "block";
      }
      var body_h = document.body.offsetHeight;
      var output_h = output.offsetHeight;
      if(output_h > body_h){
        var new_fs = Math.ceil((body_h/output_h) * new_fs * reducation_ratio_h);
        if(new_fs <= 10000){
          output.style.fontSize = new_fs + "px";
          $('output_td').style.fontSize = new_fs + "px";
        }
      } else {
        $('output_td').style.fontSize = new_fs + "px";
      }
    }
  }
//-------------------------------------------------
  function fitImageSize(img_id, img_count) {
    img = new Image();
    img.src = $(img_id).src;

    if (img.width > img.height) {
      max_width = document.body.offsetWidth / img_count * 0.65;
      img_width = max_width;
      img_height = img.height / (img.width/max_width);
    } else {
      max_height = document.body.offsetHeight / img_count * 0.65;
      img_width = img.width / (img.height/max_height);
      img_height = max_height;
    }

    if (img_width < 1)  {img_width = 1;}
    if (img_height < 1) {img_height = 1;}

    $(img_id).width = img_width;
    $(img_id).height = img_height;
    $('hidden_' + img_id).width = 0.1;
    $('hidden_' + img_id).height = img_height;
  }
</script>
