<% profile_hash = @profiles.index_by(&:user_profile_master_id) %>
<% UserProfileMasterCategory.all.each do |category| -%>
  <% unless category.user_profile_masters.empty? -%>
<div>
  <div class="subtitle"><%= h category.name %><span class="description"><%= h category.description %></span></div>
  <table id="user_info_box" class="normal" border="1" style="width: 600px;">
    <% category.user_profile_masters.each do |master| -%>
    <tr>
      <th width="100px"><%= label_tag "profile_value[#{master.id}]", h(master.name) %><%= master.description.blank? ? '' : help_icon_tag(:content => master.description) %></th>
      <% profile = profile_hash[master.id] %>
      <td>
        <%= master.input_type_processer.to_edit_html(profile) %>
      </td>
    </tr>
    <% end -%>
  </table>
</div>
  <% end -%>
<% end -%>
<% content_for :javascript do -%>
<%= skip_javascript_include_tag "fckeditor/fckeditor" %>
<%= skip_stylesheet_link_tag "jquery.ui.datepicker.css" %>
<%= skip_jquery_include_tag 'ui.datepicker' %>
<%= skip_javascript_include_tag "jquery/ui/i18n/ui.datepicker-ja.js" %>
<script type="text/javascript">
$j(function(){
    FCKeditor.BasePath = platform_url_root + "/javascripts/skip/fckeditor/";
    $j('.min_fckeditor').each(function(){
        new FCKeditor(this.id, '100%', '430', 'Light').ReplaceTextarea();
    });

    $j('.cancel_radio')
    .click(function(){
        $j("input[name='"+this.target+"']")
        .removeAttr('checked');
        return false;
    });

    $j('.datepicker').datepicker(
        $j.extend({},
            $j.datepicker.regional['<%= GetText.locale.to_s %>'],
            { duration: '',
              yearRange: '-80:10',
              showOn: 'both',
              buttonImage: platform_url_root + '/images/skip/jquery/ui.datepicker/calendar.png',
              buttonImageOnly: true
            }
        )
    );

    var toggleAppendableSelect =  function(elem) {
        if ($j(elem).val() != "") {
            $j("select[name='"+elem.name+"']").attr("disabled", true);
        } else {
            $j("select[name='"+elem.name+"']").attr("disabled", false);
        };
    };

    $j('.appendable_text')
    .blur(function(){
        toggleAppendableSelect(this);
    })
    .keyup(function(e){
        toggleAppendableSelect(this);
    })
    .each(function(){
        toggleAppendableSelect(this);
    });

});
</script>
<% end -%>
