<% tabindex = 0 %>
<% action_value = is_new ? :apply : :update_profile %>
<% form_tag({:action => action_value}, {:id => "registration_form", :class => 'margin10'}) do %>

<%= render(:partial => "system/error_messages_for", :locals => { :messages => @error_msg }) if @error_msg %>

<h2 class="subtitle">アカウント情報</h2>

<<<<<<< HEAD:app/views/portal/_registration_form.html.erb
<table class="normal user_info">
=======
<div class="subtitle"><%= _('Account Information')%></div>

<table id="user_info_box" class="normal" border="1">
>>>>>>> for_i18n:app/views/portal/_registration_form.html.erb
  <% if user_name_mode?(:code) -%>
  <tr>
    <th><label for="user_code"><%= h Admin::Setting.login_account -%></label></th>
    <td><%=h @user.code %></td>
  </tr>
  <% end -%>
  <tr>
    <th><label for="user_name"><%=h _('Admin::User|Name') %></label></th>
    <td><%=h @user.name %></td>
  </tr>
  <tr>
<<<<<<< HEAD:app/views/portal/_registration_form.html.erb
    <th><label for="user_email"><%=h _('User|Email') %></label></th>
    <td><%=h @user.email %><span style="margin-left: 20px;"><%= link_to "[変更する]", :action=> 'manage', :menu => 'manage_email' if !is_new && Admin::Setting.mail_function_setting %></span></td>
  </tr>
  <tr>
    <th><label for="user_section"><%=h _('User|Section') %></label></th>
    <td>
      <% if sections = User.grouped_sections -%>
      <p>
      <%= select("user", "section", sections, {}, {:tabindex => (tabindex += 1)}) + _('既に登録されている値から選択項目を表示しています') %>
      </p>
      <% end -%>
      <p>
      <%= text_field_tag("user[section]", (sections.include?(@user.section) ? '' : @user.section), :tabindex => (tabindex += 1), :class=> 'appendable_text') + _('選択項目に無いものを設定する場合はこちらに入力して下さい') %>
      </p>
=======
    <th width="100px"><label for="user_email"><%=h _('UserProfile|Email') %></label></th>
    <td><%=h @profile.email %><span style="margin-left: 20px;"><%= link_to _("[Change]"), :action=> 'manage', :menu => 'manage_email' if !is_new && Admin::Setting.mail_function_setting %></span></td>
>>>>>>> for_i18n:app/views/portal/_registration_form.html.erb
  </tr>
  <% if user_name_mode?(:name) -%>
  <tr>
    <th><label for="user_uid_uid"><%= _('user name') %></label></th>
  <% if is_new -%>
    <td><%= text_field 'user_uid', 'uid', {:tabindex => (tabindex += 1)} %>
      <span id="uid_result" style="margin-left:3px;color:gray;font-size:10px"></span>
      <span id="indicator" style="display:none;"><%= skip_image_tag 'indicator.gif' %></span>
      <div class="desc">
<<<<<<< HEAD:app/views/portal/_registration_form.html.erb
        <p>「ユーザ名」には、あなたをわかりやすく表す4桁以上の半角英数字を入力して下さい。(例えばメールアドレスのアカウント名のような値)</p>
        <p>半角英数字の他に半角のハイフン'-'、アンダーバー'_'も利用することが出来ます。</p>
        <p>また、<%= h Admin::Setting.login_account %>と同じ値にすることは出来ません。</p>
        <p>この「ユーザ名」はシステムの中で、あなたのことをブログの記事中などで簡易的に指定する際に使います。</p>
        <p>その特性上、この「ユーザ名」は他のユーザに知られることになりますので、不用意な値は指定しないようご注意ください。</p>
=======
        <p><%= _("4 or more letters required. You can use alphabets, numbers, \"-\" and \"_\".")%></p>
        <p><%= _("\"User name\" is used to identify yourself in short in blog entries etc. by the system.")%></p>
        <p><%= _("It is the nature of the \"user name\" to be known by other users in the site, be careful to avoid using inproper values for it.")%></p>
        <p><%= _("Make it the same as the account name of your email address (left of \"@\") if you are not sure what to use for it.")%></p>
>>>>>>> for_i18n:app/views/portal/_registration_form.html.erb
      </div>
  <% else -%>
    <td><%= h @user.uid %></td>
  <% end -%>
  </tr>
  <% end -%>
<<<<<<< HEAD:app/views/portal/_registration_form.html.erb
<% if @user.within_time_limit_of_activation_token? -%>
  <%= hidden_field_tag :code, @user.activation_token %>
  <tr>
    <th><label for="user_password"><%= _('Admin::User|Password') %></label></th>
    <td><%= password_field 'user', 'password', {:tabindex => (tabindex +=1)} %></td>
  </tr>
  <tr>
    <th><label for="user_password_confirmation"><%= _('Admin::User|Password confirmation') %></label></th>
    <td><%= password_field 'user', 'password_confirmation', {:tabindex => (tabindex +=1)} %></td>
=======
</table>

<div class="subtitle"><%= _('Basic Information')%></div>

<table id="user_info_box" class="normal" border="1" style="width: 600px;">
  <tr>
    <th width="100px"><label for="profile_section"><%=h _('UserProfile|Section') %></label></th>
    <td>
    <% if sections = UserProfile.grouped_sections %>
      <%= select("profile", "section", sections, {}, {:tabindex => (tabindex += 1)}) -%><br/>
    <% end %>
      <%= _('[Not in the list] : ')%><%= text_field_tag "new_section", params[:new_section], :size => 10, :tabindex => (tabindex += 1) %><%= _(' (Will be added for selection upon next access)')%></td>
  </tr>
  <tr>
    <th width="100px"><label for="profile_extension"><%=h _('UserProfile|Extension') %></label></div></th>
    <td><%= text_field 'profile', 'extension', :size => 10, :tabindex => (tabindex += 1) %></td>
  </tr>
  <tr>
    <th width="100px"><label for="profile_self_introduction"><%=h _('UserProfile|Self introduction') %></label><div class="example" style="margin-top: 10px;"><%= _('Write about your current and past jobs, your interests and concerns.')%></div></th>
    <td><%= text_area 'profile', 'self_introduction', :cols => 55, :rows => 15, :tabindex => (tabindex += 1) %></td>
>>>>>>> for_i18n:app/views/portal/_registration_form.html.erb
  </tr>
<% end -%>
</table>

<<<<<<< HEAD:app/views/portal/_registration_form.html.erb
<%= render :partial => 'portal/profile_form', :locals => {:user => @user} %>

<% submit_button_value = is_new ? "ユーザ登録" : "保存" %>
<%= submit_tag submit_button_value, {:tabindex => (tabindex += 1), :id => 'submit_button', :disable_with => (submit_button_value + "中...")} %>
=======
<div class="subtitle"><%= _('Profile Information')%><span style="margin-left: 30px;font-weight: normal;"><%= _('Input profile information (Saving with the checkbox unchecked results in existing profile to get unpublicized): ')%><%= check_box_tag("write_profile", "true", ( @profile.disclosure || params[:write_profile] )) -%>)</span></div>
<div id="profile_box" style="display: block;">
<table id="user_info_box" class="normal" border="1" style="width: 600px;">
  <tr>
    <th width="100px"><label for="profile_gender_type_1"><%= _('Sex')%></label></th>
    <td><%= radio_buttons("profile", "gender_type", UserProfile.select_gender_type, :tabindex => (tabindex += 1)) -%></td>
  </tr>
  <tr>
    <th><label for="profile_join_year"><%= _('Year Joined')%></label></th>
    <td><%= _("Year %{year}") % {:year => select("profile", "join_year", UserProfile.select_join_year, {}, {:tabindex => (tabindex += 1)})} %></td>
  </tr>

  <tr>
    <th><label for="profile_birth_month"><%= _('Birthday')%></label></th>
    <td><%= _("Month: %{month} \n      Day: %{day}") % {:month => select("profile", "birth_month", 1..12, {}, {:tabindex => (tabindex += 1)}), :day =>select("profile", "birth_day", 1..31, {}, {:tabindex => (tabindex += 1)})} %></td>
  </tr>
  <tr>
    <th><label for="profile_blood_type_1"><%= _('Blood Type')%></label></th>
    <td><%= radio_buttons("profile", "blood_type", UserProfile.select_blood_type, :tabindex => (tabindex += 1)) -%></td>
  </tr>

  <tr>
    <th><label for="profile_hometown"><%= _('Hometown')%></label></th>
    <td><%= select("profile", "hometown", UserProfile.select_todouhuken, {}, {:tabindex => (tabindex += 1)}) -%></td>
  </tr>
  <tr>
    <th><label for="profile_alma_mater"><%= _('Alma Mater')%></label><div class="example"><%= _('e.g. xx University')%></div></th>
    <td><%= select("profile", "alma_mater", UserProfile.select_alma_mater, {}, {:tabindex => (tabindex += 1)}) -%><span style="color:gray;font-size:10px"><%= _('(Extracted from existing user data)')%></span><br/>
      <%= _('[Not in the list] : ')%><%= text_field_tag "new_alma_mater", "", :size => 30, :tabindex => (tabindex += 1) %>
    <div class="desc"><%= _('Approximate information (xx University) is just fine (for finding alumni).')%></div></td>
  </tr>

  <tr>
    <th><label for="profile_address_1"><%= _('Address 1')%></label></th>
    <td><%= select("profile", "address_1", UserProfile.select_todouhuken, {}, {:tabindex => (tabindex += 1)}) -%></td>
  </tr>
  <tr>
    <th><label for="profile_address_2"><%= _('Address 2')%></label><div class="example"><%= _('e.g. xx District<br/>xx City')%></div></th>
    <td><%= select("profile", "address_2", UserProfile.select_address_2, {}, {:tabindex => (tabindex += 1)}) -%><span style="color:gray;font-size:10px"><%= _('(Extracted from existing user data)')%></span><br/>
      <%= _('[Not in the list] : ')%><%= text_field_tag "new_address_2", "", :size => 30, :tabindex => (tabindex += 1) %>
    <div class="desc"><%= _('Approximate location (xx District) is just fine (for finding your neighbors).')%></div></td>
  </tr>
</table>

<div class="subtitle"><%= _('Introduction (optional)')%></div>

<table id="user_info_box" class="normal" border="1" style="width: 600px;">
  <tr>
    <th width="100px"><label for="hobbies[]"><%= _('Hobbies')%></label></th>
    <td>
      <% index = 0; UserProfile.hobbies.each do |hobby_name| -%>
        <%= check_box_tag("hobbies[]", hobby_name, @profile.check_hobby(hobby_name), :tabindex => (tabindex += 1)) + _(hobby_name) -%>
        <% index += 1 %>
        <%= '<br/>' if (index % 5) == 0 -%>
      <% end -%></td>
  </tr>
  <tr>
    <th width="100px"><label for="profile_introduction"><%= _('Introduction')%></label><div class="example" style="margin-top: 10px;"><%= _('Tell us a little about you in the day off, e.g. the details of your hobbies or how you spend your holidays.')%></div></th>
    <td><%= text_area "profile", "introduction", :cols => 55, :rows => 15, :tabindex => (tabindex += 1) %></td>
  </tr>
</table>
</div>
<% submit_button_value = is_new ? _("Register User") : _("Save") %>
<%= submit_tag submit_button_value, {:tabindex => (tabindex += 1), :id => 'submit_button'} %>
>>>>>>> for_i18n:app/views/portal/_registration_form.html.erb
<% end %>
</div>

<% content_for :javascript_initializers do -%>
    $j('#user_uid_uid')
    .keyup(function() {
        $j.ajax({
            url: '<%= url_for(:controller => 'portal', :action => 'ado_check_uid') %>',
            data: { uid : $j(this).val() },
            success: function(text) {
                $j('#uid_result').html(text).css({ color: '#555555' });
            },
            error: function(request) {
                $j('#uid_result').html(request.responseText).css({ color: 'red' });
            },
            complete: function(request) {
                $j('#indicator').css({ display:'none' });
            }
        });
    })
    .ajaxStart(function() {
        $j('#indicator').css({ display:'inline' });
    });
<% end -%>
