<% tabindex = 0 %>
<% action_value = is_new ? :apply : :update_profile %>
<% form_tag({:action => action_value}, {:id => "registration_form"}) do %>

<%= render(:partial => "system/error_messages_for", :locals => { :messages => @error_msg }) if @error_msg %>

<div class="subtitle">アカウント情報</div>

<table id="user_info_box" class="normal" border="1">
  <% if user_name_mode?(:code) -%>
  <tr>
    <th width="100px"><label for="user_code"><%= h Admin::Setting.login_account -%></label></th>
    <td><%=h @user.code %></td>
  </tr>
  <% end -%>
  <tr>
    <th width="100px"><label for="user_name"><%=h _('Admin::User|Name') %></label></th>
    <td><%=h @user.name %></td>
  </tr>
  <tr>
    <th width="100px"><label for="user_email"><%=h _('User|Email') %></label></th>
    <td><%=h @user.email %><span style="margin-left: 20px;"><%= link_to "[変更する]", :action=> 'manage', :menu => 'manage_email' if !is_new && Admin::Setting.mail_function_setting %></span></td>
  </tr>
  <tr>
    <th width="100px"><label for="user_section"><%=h _('User|Section') %></label></th>
    <td>
      <% if sections = User.grouped_sections -%>
      <p>
      <%= select("user", "section", sections, {}, {:tabindex => (tabindex += 1)}) + _('既に登録されている値から選択項目を表示しています') %>
      </p>
      <% end -%>
      <p>
      <%= text_field_tag("user[section]", (sections.include?(@user.section) ? '' : @user.section), :tabindex => (tabindex += 1), :class=> 'appendable_text') + _('選択項目に無いものを設定する場合はこちらに入力して下さい') %>
      </p>
  </tr>
  <% if user_name_mode?(:name) -%>
  <tr>
    <th width="100px"><label for="user_uid_uid"><%= _('user name') %></label></th>
  <% if is_new -%>
    <td><%= text_field 'user_uid', 'uid', {:tabindex => (tabindex += 1)} %>
      <span id="uid_result" style="margin-left:3px;color:gray;font-size:10px"></span>
      <span id="indicator" style="display:none;"><%= skip_image_tag 'indicator.gif' %></span>
      <div class="desc">
        <p>「ユーザ名」には、あなたをわかりやすく表す4桁以上の半角英数字を入力して下さい。(例えばメールアドレスのアカウント名のような値)</p>
        <p>半角英数字の他に半角のハイフン'-'、アンダーバー'_'も利用することが出来ます。</p>
        <p>また、<%= h Admin::Setting.login_account %>と同じ値にすることは出来ません。</p>
        <p>この「ユーザ名」はシステムの中で、あなたのことをブログの記事中などで簡易的に指定する際に使います。</p>
        <p>その特性上、この「ユーザ名」は他のユーザに知られることになりますので、不用意な値は指定しないようご注意ください。</p>
      </div>
  <% else -%>
    <td><%= h @user.uid %></td>
  <% end -%>
  </tr>
  <% end -%>
<% if @user.within_time_limit_of_activation_token? -%>
  <%= hidden_field_tag :code, @user.activation_token %>
  <tr>
    <th width="100px"><label for="user_password"><%= _('Admin::User|Password') %></label></th>
    <td><%= password_field 'user', 'password', {:tabindex => (tabindex +=1)} %></td>
  </tr>
  <tr>
    <th width="100px"><label for="user_password_confirmation"><%= _('Admin::User|Password confirmation') %></label></th>
    <td><%= password_field 'user', 'password_confirmation', {:tabindex => (tabindex +=1)} %></td>
  </tr>
<% end -%>
</table>

<%= render :partial => 'portal/profile_form', :locals => {:user => @user} %>

<% submit_button_value = is_new ? "ユーザ登録" : "保存" %>
<%= submit_tag submit_button_value, {:tabindex => (tabindex += 1), :id => 'submit_button'} %>
<% end %>
</div>

<script type="text/javascript">
$j(function(){
    $j('#user_uid_uid')
    .keyup(function() {
        $j.ajax({
            url: '<%= url_for(:controller => 'portal', :action => 'ado_check_uid') %>',
            data: { uid : $j(this).val() },
            success: function(text) {
                $j('#uid_result').html(text).css({ color: '#555555' });
            },
            error: function(request) {
                $j('#uid_result').html(request.responseText).css({ color: 'red' });
            },
            complete: function(request) {
                $j('#indicator').css({ display:'none' });
            }
        });
    })
    .ajaxStart(function() {
        $j('#indicator').css({ display:'inline' });
    });
});
</script>
