<% tabindex = 0 %>
<% action_value = is_new ? :apply : :update_profile %>
<% form_tag({:action => action_value}, {:id => "registration_form"}) do %>

<%= render(:partial => "system/error_messages_for", :locals => { :messages => @error_msg }) if @error_msg %>

<style type="text/css">
div.subtitle {
  border-left: 10px solid #aaaaff;
  border-bottom: 1px solid #aaaaff;
  padding-left: 5px;
  padding-top: 3px;
  margin-bottom: 5px;
  font-weight: bold;
}
table.normal {
  margin-bottom: 10px;
}
.example {
  text-align: right;
  font-weight: normal;
  margin-left: 13px;
  color: gray;
}
</style>

<div class="subtitle"><%= _('Account Information')%></div>

<table id="user_info_box" class="normal" border="1">
  <% if user_name_mode?(:code) -%>
  <tr>
    <th width="100px"><label for="user_code"><%= h Admin::Setting.login_account -%></label></th>
    <td><%=h session[:user_code] %></td>
  </tr>
  <% end -%>
  <tr>
    <th width="100px"><label for="user_name"><%=h _('Admin::User|Name') %></label></th>
    <td><%=h @user.name %></td>
  </tr>
  <tr>
    <th width="100px"><label for="user_email"><%=h _('UserProfile|Email') %></label></th>
    <td><%=h @profile.email %><span style="margin-left: 20px;"><%= link_to _("[Change]"), :action=> 'manage', :menu => 'manage_email' if !is_new && Admin::Setting.mail_function_setting %></span></td>
  </tr>
  <% if user_name_mode?(:name) -%>
  <tr>
    <th width="100px"><label for="user_uid_uid"><%= _('user name') %></label></th>
  <% if is_new -%>
    <td><%= text_field 'user_uid', 'uid', {:tabindex => (tabindex += 1), :disabled => !INITIAL_SETTINGS['username_use_setting']} %>
      <span id="uid_result" style="margin-left:3px;color:gray;font-size:10px"></span>
      <span id="indicator" style="display:none;"><%= skip_image_tag 'indicator.gif' %></span>
      <div class="desc">
        <p><%= _("4 or more letters required. You can use alphabets, numbers, \"-\" and \"_\".")%></p>
        <p><%= _("\"User name\" is used to identify yourself in short in blog entries etc. by the system.")%></p>
        <p><%= _("It is the nature of the \"user name\" to be known by other users in the site, be careful to avoid using inproper values for it.")%></p>
        <p><%= _("Make it the same as the account name of your email address (left of \"@\") if you are not sure what to use for it.")%></p>
      </div>
  <% else -%>
    <td><%= h @user.uid %></td>
  <% end -%>
  </tr>
  <% end -%>
</table>

<div class="subtitle"><%= _('Basic Information')%></div>

<table id="user_info_box" class="normal" border="1" style="width: 600px;">
  <tr>
    <th width="100px"><label for="profile_section"><%=h _('UserProfile|Section') %></label></th>
    <td>
    <% if sections = UserProfile.grouped_sections %>
      <%= select("profile", "section", sections, {}, {:tabindex => (tabindex += 1)}) -%><br/>
    <% end %>
      <%= _('[Not in the list] : ')%><%= text_field_tag "new_section", params[:new_section], :size => 10, :tabindex => (tabindex += 1) %><%= _(' (Will be added for selection upon next access)')%></td>
  </tr>
  <tr>
    <th width="100px"><label for="profile_extension"><%=h _('UserProfile|Extension') %></label></div></th>
    <td><%= text_field 'profile', 'extension', :size => 10, :tabindex => (tabindex += 1) %></td>
  </tr>
  <tr>
    <th width="100px"><label for="profile_self_introduction"><%=h _('UserProfile|Self introduction') %></label><div class="example" style="margin-top: 10px;"><%= _('Write about your current and past jobs, your interests and concerns.')%></div></th>
    <td><%= text_area 'profile', 'self_introduction', :cols => 55, :rows => 15, :tabindex => (tabindex += 1) %></td>
  </tr>
</table>

<div class="subtitle"><%= _('Profile Information')%><span style="margin-left: 30px;font-weight: normal;"><%= _('Input profile information (Saving with the checkbox unchecked results in existing profile to get unpublicized): ')%><%= check_box_tag("write_profile", "true", ( @profile.disclosure || params[:write_profile] )) -%>)</span></div>
<div id="profile_box" style="display: block;">
<table id="user_info_box" class="normal" border="1" style="width: 600px;">
  <tr>
    <th width="100px"><label for="profile_gender_type_1"><%= _('Sex')%></label></th>
    <td><%= radio_buttons("profile", "gender_type", UserProfile.select_gender_type, :tabindex => (tabindex += 1)) -%></td>
  </tr>
  <tr>
    <th><label for="profile_join_year"><%= _('Year Joined')%></label></th>
    <td><%= _("Year %{year}") % {:year => select("profile", "join_year", UserProfile.select_join_year, {}, {:tabindex => (tabindex += 1)})} %></td>
  </tr>

  <tr>
    <th><label for="profile_birth_month"><%= _('Birthday')%></label></th>
    <td><%= _("Month: %{month} \n      Day: %{day}") % {:month => select("profile", "birth_month", 1..12, {}, {:tabindex => (tabindex += 1)}), :day =>select("profile", "birth_day", 1..31, {}, {:tabindex => (tabindex += 1)})} %></td>
  </tr>
  <tr>
    <th><label for="profile_blood_type_1"><%= _('Blood Type')%></label></th>
    <td><%= radio_buttons("profile", "blood_type", UserProfile.select_blood_type, :tabindex => (tabindex += 1)) -%></td>
  </tr>

  <tr>
    <th><label for="profile_hometown"><%= _('Hometown')%></label></th>
    <td><%= select("profile", "hometown", UserProfile.select_todouhuken, {}, {:tabindex => (tabindex += 1)}) -%></td>
  </tr>
  <tr>
    <th><label for="profile_alma_mater"><%= _('Alma Mater')%></label><div class="example"><%= _('e.g. xx University')%></div></th>
    <td><%= select("profile", "alma_mater", UserProfile.select_alma_mater, {}, {:tabindex => (tabindex += 1)}) -%><span style="color:gray;font-size:10px"><%= _('(Extracted from existing user data)')%></span><br/>
      <%= _('[Not in the list] : ')%><%= text_field_tag "new_alma_mater", "", :size => 30, :tabindex => (tabindex += 1) %>
    <div class="desc"><%= _('Approximate information (xx University) is just fine (for finding alumni).')%></div></td>
  </tr>

  <tr>
    <th><label for="profile_address_1"><%= _('Address 1')%></label></th>
    <td><%= select("profile", "address_1", UserProfile.select_todouhuken, {}, {:tabindex => (tabindex += 1)}) -%></td>
  </tr>
  <tr>
    <th><label for="profile_address_2"><%= _('Address 2')%></label><div class="example"><%= _('e.g. xx District<br/>xx City')%></div></th>
    <td><%= select("profile", "address_2", UserProfile.select_address_2, {}, {:tabindex => (tabindex += 1)}) -%><span style="color:gray;font-size:10px"><%= _('(Extracted from existing user data)')%></span><br/>
      <%= _('[Not in the list] : ')%><%= text_field_tag "new_address_2", "", :size => 30, :tabindex => (tabindex += 1) %>
    <div class="desc"><%= _('Approximate location (xx District) is just fine (for finding your neighbors).')%></div></td>
  </tr>
</table>

<div class="subtitle"><%= _('Introduction (optional)')%></div>

<table id="user_info_box" class="normal" border="1" style="width: 600px;">
  <tr>
    <th width="100px"><label for="hobbies[]"><%= _('Hobbies')%></label></th>
    <td>
      <% index = 0; UserProfile.hobbies.each do |hobby_name| -%>
        <%= check_box_tag("hobbies[]", hobby_name, @profile.check_hobby(hobby_name), :tabindex => (tabindex += 1)) + _(hobby_name) -%>
        <% index += 1 %>
        <%= '<br/>' if (index % 5) == 0 -%>
      <% end -%></td>
  </tr>
  <tr>
    <th width="100px"><label for="profile_introduction"><%= _('Introduction')%></label><div class="example" style="margin-top: 10px;"><%= _('Tell us a little about you in the day off, e.g. the details of your hobbies or how you spend your holidays.')%></div></th>
    <td><%= text_area "profile", "introduction", :cols => 55, :rows => 15, :tabindex => (tabindex += 1) %></td>
  </tr>
</table>
</div>
<% submit_button_value = is_new ? _("Register User") : _("Save") %>
<%= submit_tag submit_button_value, {:tabindex => (tabindex += 1), :id => 'submit_button'} %>
<% end %>
</div>

<%= skip_javascript_include_tag "fckeditor/fckeditor" %>
<script type="text/javascript">
$j(function(){
    FCKeditor.BasePath = platform_url_root + "/javascripts/skip/fckeditor/";
    var setFckPropertyAndReplace = function(fckObj) {
	fckObj.ToolbarSet = "Custom";
	fckObj.Height = "430";
	fckObj.Config["CustomConfigurationsPath"] = "/javascripts/skip/skip_fckeditor_config.js" ;
	fckObj.ReplaceTextarea();
    };
    setFckPropertyAndReplace(new FCKeditor('profile_self_introduction'));
    setFckPropertyAndReplace(new FCKeditor('profile_introduction'));

    // プロフィール入力の表示、非表示を切り替える
    var toggleProfileBox = function() {
        if($j('#write_profile').attr('checked')) {
            $j('#profile_box').show();
        } else {
            $j('#profile_box').hide();
        }
    };

    var checkIdFormat = function(form, result, indicator) {
        form
        .keyup(function() {
            $j.ajax({
                url: '<%= url_for(:controller => 'portal', :action => 'ado_check_uid') -%>',
                data: { uid : $j(this).val() },
                complete: function(request) {
                    result.html(request.responseText);
                    indicator.css({ display:'none' });
                }
            });
        })
        .ajaxStart(function() {
            indicator.css({ display:'inline' });
        });
    };

    checkIdFormat($j('#user_uid_uid'), $j('#uid_result'), $j('#indicator'));

    $j('#write_profile')
    .click(function() {
        toggleProfileBox();
    });

    // 以下はロード時の処理
    toggleProfileBox();
});
</script>
