<div>
<% form_for(@user, :url => { :controller => :portal, :action => :registration }) do |f| -%>
<% @profile = @user.user_profile; @uid = @user.user_uids.first %>
<%= error_messages_for 'user', 'profile', 'uid' %>
<p>
<%= f.label :code %>
<%= text_field_tag 'user[code]', @profile ? @uid.uid : "", :id => 'user_code' %>
</p>

<p>
<%= f.label :name %>
<%= f.text_field :name %>
</p>

<p>
<%= label_tag 'user_email', 'Email' %>
<%= text_field_tag 'user[email]', @profile ? @profile.email : "", :id => 'user_email' %>
</p>

<p>
<%= f.submit _('Create') %>
</p>
<% end -%>
</div>
