<%= error_messages_for :user_profile %>
<p>
  <%= form.label :extension %>
  <%= form.text_field :extension %>
</p>
<p>
  <%= form.label :section %>
  <%= form.text_field :section %>
</p>
<p>
  <%= form.label :email %>
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :self_introduction %>
  <%= form.text_area :self_introduction %>
</p>
<p>
  <%= form.label :gender_type %>
  <%= form.select :gender_type, UserProfile.select_gender_type %>
</p>
<p>
  <%= form.label :join_year %>
  <%= form.text_field :join_year %>
</p>
<p>
  <%= form.label :birth_month %>
  <%= form.text_field :birth_month %>
</p>
<p>
  <%= form.label :birth_day %>
  <%= form.text_field :birth_day %>
</p>
<p>
  <%= form.label :blood_type %>
  <%= form.select :blood_type, UserProfile.select_blood_type %>
</p>
<p>
  <%= form.label :hometown %>
  <%= form.select :hometown, UserProfile.select_todouhuken %>
</p>
<p>
  <%= form.label :alma_mater %>
  <%= form.text_field :alma_mater %>
</p>
<p>
  <%= form.label :address_1 %>
  <%= form.select :address_1, UserProfile.select_todouhuken %>
</p>
<p>
  <%= form.label :address_2 %>
  <%= form.text_field :address_2 %>
</p>
<p>
  <%= form.label :hobby %>
  <%= form.text_area :hobby %>
</p>
<p>
  <%= form.label :introduction %>
  <%= form.text_area :introduction %>
</p>
<p>
  <%= form.label :disclosure %>
  <%= form.check_box :disclosure %>
</p>
