<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b>Gender type:</b>
  <%=h @user_profile.gender_type %>
</p>

<p>
  <b>Join year:</b>
  <%=h @user_profile.join_year %>
</p>

<p>
  <b>Birth month:</b>
  <%=h @user_profile.birth_month %>
</p>

<p>
  <b>Birth day:</b>
  <%=h @user_profile.birth_day %>
</p>

<p>
  <b>Blood type:</b>
  <%=h @user_profile.blood_type %>
</p>

<p>
  <b>Hometown:</b>
  <%=h @user_profile.hometown %>
</p>

<p>
  <b>Alma mater:</b>
  <%=h @user_profile.alma_mater %>
</p>

<p>
  <b>Address 1:</b>
  <%=h @user_profile.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%=h @user_profile.address_2 %>
</p>

<p>
  <b>Hobby:</b>
  <%=h @user_profile.hobby %>
</p>

<p>
  <b>Introduction:</b>
  <%=h @user_profile.introduction %>
</p>

<p>
  <b>Disclosure:</b>
  <%=h @user_profile.disclosure %>
</p>

<%= link_to 'Edit', edit_admin_user_user_profile_path(@user) %>
<% end -%>
