<%= error_messages_for :user_profile_master %>
<p>
  <%= form.label :user_profile_master_category_id %>
  <%= form.select :user_profile_master_category_id, category_options %>
  <%= form.help_icon :user_profile_master_category_id %>
</p>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.help_icon :name %>
</p>
<p>
  <%= form.label :input_type %>
  <% if @user_profile_master.new_record? -%>
    <%= form.select :input_type, UserProfileMaster.input_type_option %>
    <%= form.help_icon :input_type %>
  <% else -%>
    <%= _("UserProfileMaster|Input type|#{@user_profile_master.input_type}") %>
    <%= form.hidden_field :input_type %>
  <% end -%>
</p>
<p>
  <%= form.label :required %>
  <%= form.check_box :required %>
  <%= form.help_icon :required %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_area :description, :rows => 5 %>
  <%= form.help_icon :description %>
</p>
<p>
  <%= form.label :option_values %>
  <%= form.text_area :option_values, :rows => 5 %>
  <%= help_icon_tag :content => _("Admin::UserProfileMaster|Option values description|#{@user_profile_master.input_type}") %>
</p>
<p>
  <%= form.label :sort_order %>
  <%= form.text_field :sort_order %>
  <%= form.help_icon :sort_order %>
</p>

<% content_for :javascript_initializers do -%>
    var changeOptionValuesDescription = function(){
        h = <%= option_values_help_icon_hash_as_json %>;
        var helpIconTag = h[$j('#admin_user_profile_master_input_type').val()];
        $j('#admin_user_profile_master_option_values+span.ss_help').replaceWith(helpIconTag);
        $j('#admin_user_profile_master_option_values+span.ss_help').cluetip({
            splitTitle: '|',
            dropShadow: false,
            cluetipClass: 'jtip',
            arrows: true
        });
    };

    var toggleOptionValues = function(){
        h = <%= option_values_need_hash_as_json %>;
        if( h[$j('#admin_user_profile_master_input_type').val()] ) {
            $j('#admin_user_profile_master_option_values').removeAttr('disabled');
        } else {
            $j('#admin_user_profile_master_option_values').attr('disabled', 'disabled');
        }
    };

    $j('#admin_user_profile_master_input_type')
    .change(function(){
        changeOptionValuesDescription();
        toggleOptionValues();
    });
    changeOptionValuesDescription();
    toggleOptionValues();
<% end -%>
