<% level ||= 1 -%>
<% checked_on ||= nil -%>
<% nest_limit = 5 -%>
<% comment_class = "board_entry_comment level#{level}" -%>

<div class="<%= comment_class %>" id="comment_<%= comment.id %>_<%= level %>">
  <div class="header">
    <span class="<%= comment_title_class @current_user, comment, checked_on %>">
      <%= user_link_to(comment.user) %><span class="date"><%= date_with_icon(comment.created_on) %></span>
    </span>
    <span class="buttons">
      <%= dummy_link_to(icon_tag('comment_edit', { :title => "編集" }), :id => "comment_edit_link_#{comment.id}", :class => "comment_edit_link") if writer?(comment, session[:user_id]) %>
      <%= link_to(icon_tag('comment_delete', { :title => "削除" }), {:controller => "board_entries", :action => "destroy_comment", :id => comment.id}, :confirm => '本当に削除しますか？', :method => :post) if (comment_writer?(comment, session[:user_id]) && comment.children.size == 0) %>
      <% if level < nest_limit -%>
      <span class="link_nest_comment" id='link_nest_comment_<%= comment.id %>'><%= dummy_link_to(icon_tag("comment_add", {:title => "このコメントに返信"}), :id => "comment_nest_link_#{comment.id}_#{level}", :class => "comment_nest_link") %></span>
      <% end -%>
    </span>
  </div><!-- header -->

  <div id='comment_contents_<%= comment.id %>' >
    <%= render(:partial => 'board_entries/comment_contents', :locals => { :comment => comment }) %>
  </div>

  <div class='comment_input_space invisible' id='comment_area_<%= comment.id %>'>
    <form id="comment_input_form_<%= comment.id %>" class="comment_input_form">
    <% @comment = BoardEntryComment.new(:contents => comment.contents) -%>
      <label for="comment_contents">コメントの編集</label>
      <%= text_area 'comment', 'contents', :cols => 90, :rows =>5 %>
      <%= submit_tag '保存' %>
      <input id="comment_cancel_button_<%= comment.id %>" class="comment_cancel_button" type="button" value="キャンセル"/>
    </form>
  </div><!-- comment_input_space -->

  <div class="edit_nest_comment" id='edit_nest_comment_<%= comment.id %>'></div>
  <div id='view_nest_comment_<%= comment.id %>'><%= render_nest_comment comment, level+1, checked_on %></div>

</div><!-- comment_# -->
