<% content_for :stylesheet do -%>
  <style type="text/css">
  table.input_table textarea {
    width: 100%;
  }
  </style>
<% end -%>

  <div class="input_value" style="height: 2em;">
    <%= radio_button_tag("editor_mode", "richtext", params[:editor_mode] == "richtext", :id=>"editor_mode_richtext") + label_tag("editor_mode_richtext", _('Rich Text')) %>
    <%= radio_button_tag("editor_mode", "hiki", params[:editor_mode] == "hiki", :id=>"editor_mode_hiki") + label_tag("editor_mode_hiki", _('Wiki text')) -%>
    <span class="share_file_uploader trigger pointer link"><span class="ss_sprite ss_attach">&nbsp;</span><%= _('Insert file in text body') %></span>
  </div>

  <div id="share_file_uploader"></div>
  <div id="contents_richtext_space" class="richtext" style="display: none;">
    <%= text_area_tag 'contents_richtext', sanitize_and_unescape_for_richtext(params[:contents_richtext]), :cols => 90, :rows => 20 %>
  </div>
  <div id="contents_hiki_space" style="display: none;">
    <%= link_to_hiki_help %> <a href="#" id="hiki_preview_link"><%= _('[See preview]')%></a>
    <%= text_area_tag 'contents_hiki', params[:contents_hiki], :cols => 90, :rows => 20 %>
  </div>

<% ckeditor 'contents_richtext', 'toolbar' => "Entry" %>
<% content_for :javascript_initializers do -%>
    changeEditorMode = function(){
        $j('#contents_hiki_space, #contents_richtext_space, .hiki_support').hide();

        if($j('#editor_mode_richtext:checked').length > 0){
            $j('#contents_richtext_space').show();
            $j('#contents_richtext').focus();
        } else if($j('#editor_mode_hiki:checked').length > 0) {
            $j('#contents_hiki_space, .hiki_support').show();
            $j('#contents_hiki').focus();
        }
    }

    $j('#editor_mode_hiki, #editor_mode_richtext')
    .click(function(){
        changeEditorMode();
    });

    // プレビュー表示用ボタン
    var url = '<%= url_for({ :action => "ado_preview", :id => @board_entry}) -%>';
    $j("#hiki_preview_link")
    .click(function(){
        $j.ajax({
            type: 'POST',
            url: url,
            data: $j('#board_entry_form').serialize(),
            success: function(msg) {
                $j('#preview').html(msg);
                $j('#preview-win')
                .css('width',600)
                .fadeIn();
            }
        });
        return false;
    });

    $j('div#share_file_uploader').shareFileUploader(<%= share_file_uploader_opt(@board_entry).to_json %>);
<% end -%>
