<% content_for :stylesheet do -%>
  <style type='text/css'>
  #preview-win {
    position: absolute;
    width: 0px;
    overflow: auto;
    left: 200px;
    top: 200px;
    padding: 2px;
    background-color: #ffc;
    display: none;
    z-index: 1000;
    border: none;
  }
  #preview-inbox {
    border: 1px solid #C6C7C6;
    background-color: #ffc;
  }
  #preview-bar {
    background-color: #eec;
    text-align:right;
    width:100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #AAAAAF;
  }
  </style>
<% end -%>

<div id="preview-win"><div id="preview-inbox">
  <p style="position: absolute; text-align: left;"><%= _('[Preview]')%></p>
  <div id="preview-bar"><input type="button" id="close" value="close" /></div>
  <div id="preview"><%= _('loading...')%></div>
  <p class="s10" style="text-align:right;"><%= _('It is a behavior by design of IE that this area gets overlapped by select boxes.')%></p>
</div></div>

<% content_for :javascript_includes do -%>
<%= skip_jquery_include_tag 'ui.core' %>
<%= skip_jquery_include_tag 'ui.draggable' %>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j("#preview-win").draggable();

    $j("#close")
    .click(function(){
        $j("#preview-win")
        .fadeOut(1000,function(){
            $j(this).css('width',0);
        });
    });
<% end -%>
