<html>
<head>
  <title><%= h @entry.title %></title>
  <%= skip_stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'style' %>
<style type="text/css">
body {
  margin-top: 10px;
  width: 100%;
}
.contents {
  background-color: #FFFFFF;
  overflow-y: visible;
  margin-left: 10px;
}
@media print {
  input{display:none;}
}
</style>
</head>

<body>
<input type="button" onClick="javascript:window.print();" value="<%= _('Print')%>">

<p><%=h @entry.diary_date %> <%=h @entry.diary_author -%></p>
<h1 style="border-bottom: 1px solid black"><%=h @entry.category %> <%=h @entry.title %></h1>

<div class="contents"><div class="contents_body"><%= show_contents @entry %></div></div>

</body>
</html>
