<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc ui-corner-all margin05emver"><p><%= _('Input current password and new password (twice for confirmation) to change your password.')%></p></div>

  <%= template_error_messages_for 'user' %>

  <div class="edit_form_space ui-corner-all">
  <% form_for :user, @user, {:url => {:action => :apply_password}} do |f| -%>
    <table class="normal user_info">
      <tr>
        <th width="100px"><%= f.label :old_password, _('Current Password') %></th>
        <td style="padding:5px;"><%= f.password_field :old_password %></td>
      </tr>
      <tr>
        <th><%= f.label :password, _('Password') %></th>
        <td style="padding:5px;"><%= f.password_field :password %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, _('Confirm Password') %></th>
        <td style="padding:5px;"><%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
    <%= submit_tag _('Save') %>
  <% end -%>
  </div>
<% end -%>
