<% # TODO #924で画面からリンクをなくした。1.4時点で復活しない場合は削除する %>
<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
  <div class="box_space">
    <div class="box_space_title"><%= icon_tag 'find' %><%= _('Search')%></div>
    <div class="box_space_body">
    <% form_tag({:controller => 'mypage', :action => 'manage'}, {:method => 'get'}) do -%>
      <%= text_field_tag('keyword', params[:keyword], :size=>'13') %><br/>
      <input type=hidden name="select" value="blog">
      <input type=hidden name="menu" value="record_post">
    <%= submit_tag _('Search') %>
    <% end -%>
      <div class="desc"><%= _('The search targets are tags, titles and bodies')%></div>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag 'tag_blue' %><%= _('Tags')%></div>
    <div class="box_space_body" style="font-size: 10px;">
    <% for category in @categories -%>
      <%= %(<b>) if params[:category] == category %>
      <%= link_to(h('[' + category + ']'), :action=>'manage', :menu=>'record_post', :category=>category, :select=>'blog') %>
      <%= %(</b>) if params[:category] == category %>
    <% end -%>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc" style="margin-bottom:5px;">
    <p><%= _('Entries you posted to your blog and group BBSs.')%></p>
  </div>

  <%= i18n_will_paginate_with_container_wrapper @entries %>

  <div style="margin: 5px;">
    <table border="1" class="normal" style="width: 100%; _width: 98%;">
      <tr>
        <th width="5%"><%= _('No.')%></th>
        <th width="15%"><%= _('Datetime')%></th>
        <th width="25%"><%= _('Location')%></th>
        <th width="20%"><%= _('Tags')%></th>
        <th width="35%"><%= _('Title')%></th>
      </tr>
      <% even_or_odd = 0 -%>
      <% @entries.each do |entry| -%>
        <% even_or_odd = 1 - even_or_odd -%>
      <tr>
        <td class="line_<%= even_or_odd %>"> <%=h entry.user_entry_no %>  </td>
        <td class="line_<%= even_or_odd %>"> <span style="font-size:10px"><%=h entry.diary_date %></span> </td>
        <% visibility, visibility_color = entry.visibility -%>
        <td class="line_<%= even_or_odd %>"> <%=h @symbol2name_hash[entry.symbol] %><br>
          <span  style='background-color: <%=visibility_color%>;font-size:10px'><%=h visibility %></span>
        </td>
        <td class="line_<%= even_or_odd %>"> <%=h entry.category %>  </td>
        <td class="line_<%= even_or_odd %>"> <%= entry_link_to entry %>
          <div style='font-size:10px;'><%= get_entry_infos entry %></div>
        </td>
      </tr>
      <% end -%>
    </table>
  </div>

  <%= i18n_will_paginate_with_container_wrapper @entries %>
<% end -%>
