<% messages ||= "" %>
<% if @bookmark.is_type_user? -%>
<%   @title = _('Bookmark this') -%>
<%   desc = _('You can bookmark target users with tags and comments (They are viewable from the bookmark list)') %>
<% else -%>
<%   @title = _('Bookmark Comment') -%>
<%   desc = _("You can put tags and comment on the bookmark.<br/>(It is recommended to bookmark users and entries in %s from the links within the respective pages.)") %  h(Admin::Setting.abbr_app_title)%>
<% end -%>

<div class="edit_form_space bookmark edit">
  <div class="desc"><%= desc -%></div>
  <div class="update_form_wrapper">
    <div id="update_body"></div>
    <% form_tag({ :controller => :bookmark, :action => :update }, {:id => "update_form"}) do -%>
      <%= hidden_field_tag 'layout', h(layout) -%>
      <%= hidden_field 'bookmark', 'url', :value => @bookmark.escaped_url %>
      <table>
        <tr>
          <th><%= _('URL')%></th>
          <td>
<<<<<<< HEAD:app/views/bookmark/_new.html.erb
            <%= link_to truncate(@bookmark.escaped_url, 60), @bookmark.escaped_url, :title => h(@bookmark.title), :target => '_blank' %><br/>
            <span style="font-size: 10px; color: #555555;">（別ウィンドウで開きます）</span>
          </td>
        </tr>
        <tr>
          <th><%= label :bookmark, :title, _("タイトル") %></th>
=======
            <a href="<%= escape_bookmark_url(@bookmark.url) -%>" title="<%= escape_bookmark_url(@bookmark.url) -%>" target="_blank"><%= escape_bookmark_url(truncate(@bookmark.url, 60)) -%></a><br/>
            <span style="font-size: 10px; color: #555555;"><%= _('(Will open as a new window)')%></span>
          </td>
        </tr>
        <tr>
          <th><%= _('Title')%></th>
>>>>>>> for_i18n:app/views/bookmark/_new.html.erb
          <td>
            <span style="font-size: 15px; font-weight: bold;">
            <% if @bookmark.is_type_internet? -%>
              <%= text_field 'bookmark', 'title' -%>
<<<<<<< HEAD:app/views/bookmark/_new.html.erb
              <span id="refresher"><%= icon_tag 'arrow_rotate_clockwise', :title => "タイトルを再取得する" %></span>
              <span id="indicator" style="display:none;font-size:10px;"><%= skip_image_tag 'indicator.gif' %>更新中...</span>
              <br/><span style="font-size: 10px; color: green;">タイトルは全ユーザ共通です。修正の際はご注意ください。</span>
=======
              <span id="refresher"><a href="javascript: reloadTitle('<%= escape_bookmark_url(@bookmark.url) -%>', 'bookmark_title');"><%= icon_tag 'arrow_rotate_clockwise', :title => _("Reacquire the title") -%></a></span>
              <span id="indicator" style="display:none;font-size:10px;"><%= skip_image_tag 'indicator.gif' %><%= _('Updating...')%></span>
              <br/><span style="font-size: 10px; color: green;"><%= _('The titles are shared among all users so be careful upon updating.')%></span>
>>>>>>> for_i18n:app/views/bookmark/_new.html.erb
            <% else -%>
              <%= h(@bookmark.title) -%>
              <%= hidden_field 'bookmark', 'title' -%>
            <% end -%>
            </span>
          </td>
        </tr>
        <% unless @bookmark.is_type_user? -%>
        <tr>
          <th><%= _('Public')%></th>
          <td><%= radio_buttons('bookmark_comment', 'public', BookmarkComment.public_types ) -%></td>
        </tr>
        <% end -%>
        <tr>
<<<<<<< HEAD:app/views/bookmark/_new.html.erb
          <th><%= label(:bookmark_comment, :tags, _('タグ')) %></th>
=======
          <th><%= _('Tags')%></th>
>>>>>>> for_i18n:app/views/bookmark/_new.html.erb
          <td>
            <%= text_field 'bookmark_comment', 'tags', :size => '50', :value => @bookmark_comment.comma_tags %>
            <div id="category_box">
              <div id="candidates_list"><p><%= _('Multiple values can be given in foo,bar format')%></p></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Tags marked by others: ')%></div><div id="user_tags_list" style="margin-bottom:5px;"></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Top 10 tags: ')%></div><div id="other_tags_list" style="margin-bottom:5px;"></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Tags you used before (top 20): ')%></div><div id="your_tags_list" style="margin-bottom:5px;"></div>
            </div>
          </td>
        </tr>
        <tr>
<<<<<<< HEAD:app/views/bookmark/_new.html.erb
          <th><%= label(:bookmark_comment, :comment, _('コメント')) %></th>
=======
          <th><%= _('Comment')%></th>
>>>>>>> for_i18n:app/views/bookmark/_new.html.erb
          <td><%= text_field 'bookmark_comment', 'comment', :size => 50 %></td>
        </tr>
        <tr>
          <td colspan="2" class="operation">
          <%= submit_tag _('Save'), :id => "submit_button" %>
          <% if @bookmark.is_type_internet? && @bookmarklet -%>
          <input type="button" value=<%= _('戻る') %> onclick="location.href='<%= @bookmark.escaped_url %>'"></input>
          <% end -%>
          </td>
        </tr>
      </table>
    <% end -%>
  </div>
</div>

<% content_for :javascript_initializers do -%>
    var setupTagComplete = function() {
        var userTags = new Array(<%= user_tags_array.map{|str| ("'#{str}'")}.join(',') %>);
        var otherTags = new Array(<%= other_tags_array.map{|str| ("'#{str}'")}.join(',') %>);
        var yourTags = new Array(<%= your_tags_array.map{|str| ("'#{str}'")}.join(',') %>);

        $j('#user_tags_list').append(createTagsLink(userTags));
        $j('#other_tags_list').append(createTagsLink(otherTags));
        $j('#your_tags_list').append(createTagsLink(yourTags));

        $j('#bookmark_comment_tags').jTagging($j('#user_tags_list'));
        $j('#bookmark_comment_tags').jTagging($j('#other_tags_list'));
        $j('#bookmark_comment_tags').jTagging($j('#your_tags_list'));
    };
    setupTagComplete();

    // サブウィンドウ(ブックマークレット)でのブックマーク後の処理
    var complete = function() {
        alert('<%= _("Bookmark created.")%>');
        location.href = $j('#bookmark_url').val();
    };

    $j.nyroModalSettings({
        endShowContent: function(elts, settings) {
            // ダイアログ(nyroModal)でのブックマーク後の処理
            complete = function() {
                location.reload();
            };
        }
    });

    $j('#update_form')
    .submit(function(){
        if($j('#bookmark_comment_public_true:checked').size() && <%= !@bookmark.url_is_public? -%>){
            if(!confirm('<%= _("Bookmarking a closed entry with open permission. Are you sure to proceed? (The title will be open to all users regardless of the permission of entry)")%>')){
                return false;
            }
        }
        $j.ajax({
            type: 'POST',
            url: $j(this).attr('action'),
            data: $j(this).serialize(),
            success: function(html) {
                if(html == 'success'){
                    complete();
                } else {
                    $j('#update_body').html(html);
                }
            }
        });
        return false;
    });

    $j('#refresher')
    .click(function() {
        reloadTitle('<%= @bookmark.escaped_url %>', 'bookmark_title');
        return false;
    });

    if ($j('#bookmark_title').val() == '') {
        reloadTitle('<%= @bookmark.escaped_url %>', 'bookmark_title');
    }
<% end -%>
