<% messages ||= "" %>
<% if @bookmark.is_type_user? -%>
<%   @title = _('Bookmark this') -%>
<%   desc = _('You can bookmark target users with tags and comments (They are viewable from the bookmark list)') %>
<% else -%>
<%   @title = _('Bookmark Comment') -%>
<%   desc = _("You can put tags and comment on the bookmark.<br/>(It is recommended to bookmark users and entries in %s from the links within the respective pages.)") %  h(Admin::Setting.abbr_app_title)%>
<% end -%>

<style type="text/css">
div.formarea {
  margin: 5px;
  border: 1px solid silver;
  margin-right: auto;
}
table {
  table-layout: auto;
}
th {
  background-color: #f0f0ff;
  font-weight: bold;
  font-size: 12px;
  width: 60px;
  padding: 1px 5px;
}
td {
  border-bottom: 1px dotted silver;
  width: 350px;
}
</style>

<div style="height: 500px">
<div class="desc"><%= desc -%></div>
<div>
  <div id="update_body"></div>
  <form id="update_form">
    <%= hidden_field_tag 'layout', h(layout) -%>
    <%= hidden_field 'bookmark', 'url' -%>
    <div class="formarea">
      <table>
        <tr>
          <th><%= _('URL')%></th>
          <td>
            <a href="<%= escape_bookmark_url(@bookmark.url) -%>" title="<%= escape_bookmark_url(@bookmark.url) -%>" target="_blank"><%= escape_bookmark_url(truncate(@bookmark.url, 60)) -%></a><br/>
            <span style="font-size: 10px; color: #555555;"><%= _('(Will open as a new window)')%></span>
          </td>
        </tr>
        <tr>
          <th><%= _('Title')%></th>
          <td>
            <span style="font-size: 15px; font-weight: bold;">
            <% if @bookmark.is_type_internet? -%>
              <%= text_field 'bookmark', 'title' -%>
              <span id="refresher"><a href="javascript: reloadTitle('<%= escape_bookmark_url(@bookmark.url) -%>', 'bookmark_title');"><%= icon_tag 'arrow_rotate_clockwise', :title => _("Reacquire the title") -%></a></span>
              <span id="indicator" style="display:none;font-size:10px;"><%= skip_image_tag 'indicator.gif' %><%= _('Updating...')%></span>
              <br/><span style="font-size: 10px; color: green;"><%= _('The titles are shared among all users so be careful upon updating.')%></span>
            <% else -%>
              <%= h(@bookmark.title) -%>
              <%= hidden_field 'bookmark', 'title' -%>
            <% end -%>
            </span>
          </td>
        </tr>
        <% unless @bookmark.is_type_user? -%>
        <tr>
          <th><%= _('Public')%></th>
          <td><%= radio_buttons('bookmark_comment', 'public', BookmarkComment.public_types ) -%></td>
        </tr>
        <% end -%>
        <tr>
          <th><%= _('Tags')%></th>
          <td>
            <%= text_field 'bookmark_comment', 'tags', :size => '50', :value => @bookmark_comment.comma_tags %>
            <div id="category_box">
              <div id="candidates_list"><p><%= _('Multiple values can be given in foo,bar format')%></p></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Tags marked by others: ')%></div><div id="user_tags_list" style="margin-bottom:5px;"></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Top 10 tags: ')%></div><div id="other_tags_list" style="margin-bottom:5px;"></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Tags you used before (top 20): ')%></div><div id="your_tags_list" style="margin-bottom:5px;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= _('Comment')%></th>
          <td><%= text_field 'bookmark_comment', 'comment', :size => 50 %></td>
        </tr>
      </table>
    <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
      <div style="text-align: center;"><%= submit_tag "OK", :id => "submit_button" %>
        <% if @bookmark.is_type_internet? && @bookmarklet -%>
        <input type="button" value="Cancel" onclick="location.href='<%= escape_bookmark_url @bookmark.url -%>'"></input>
        <% end -%>
      </div>
    </div>
  </form>
</div>
</div>
<script language='javascript' type='text/javascript'>
//<![CDATA[
$j(function(){

    var setupTagComplete = function() {
        var userTags = new Array(<%= user_tags_array.map{|str| ("'#{str}'")}.join(',') %>);
        var otherTags = new Array(<%= other_tags_array.map{|str| ("'#{str}'")}.join(',') %>);
        var yourTags = new Array(<%= your_tags_array.map{|str| ("'#{str}'")}.join(',') %>);

        $j('#user_tags_list').append(createTagsLink(userTags));
        $j('#other_tags_list').append(createTagsLink(otherTags));
        $j('#your_tags_list').append(createTagsLink(yourTags));

        $j('#bookmark_comment_tags').jTagging($j('#user_tags_list'));
        $j('#bookmark_comment_tags').jTagging($j('#other_tags_list'));
        $j('#bookmark_comment_tags').jTagging($j('#your_tags_list'));
    };
    setupTagComplete();

    // サブウィンドウ(ブックマークレット)でのブックマーク後の処理
    var complete = function() {
        alert('<%= _("Bookmark created.")%>');
        location.href = $j('#bookmark_url').val();
    };

    $j.nyroModalSettings({
        endShowContent: function(elts, settings) {
            // ダイアログ(nyroModal)でのブックマーク後の処理
            complete = function() {
                location.reload();
            };
        }
    });

    $j('#update_form')
    .submit(function(){
        if($j('#bookmark_comment_public_true:checked').size() && <%= !@bookmark.url_is_public? -%>){
            if(!confirm('<%= _("Bookmarking a closed entry with open permission. Are you sure to proceed? (The title will be open to all users regardless of the permission of entry)")%>')){
                return false;
            }
        }
        var url = '<%= url_for({ :controller => :bookmark, :action => :update }); -%>'
        $j.ajax({
            type: 'POST',
            url: url,
            data: $j(this).serialize(),
            success: function(html) {
                if(html == 'success'){
                    complete();
                } else {
                    $j('#update_body').html(html);
                }
            }
        });
        return false;
    });

    if ($j('#bookmark_title').val() == '') {
        reloadTitle('<%= escape_bookmark_url(@bookmark.url) -%>', 'bookmark_title');
    }
});
//]]>
</script>
