<% @title = _('Bookmark Comment') -%>

<div class="edit_form_space bookmark edit">
  <div class="desc ui-corner-all"><%= _("You can put tags and comment on the bookmark.<br/>(It is recommended to bookmark users and entries in %s from the links within the respective pages.)") % h(Admin::Setting.abbr_app_title) %></div>
  <div class="update_form_wrapper">
    <div id="update_body"></div>
    <% form_tag({ :controller => :bookmark, :action => :update }, {:id => "update_form"}) do -%>
      <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
      <%= hidden_field_tag("with_boomarklet", @bookmarklet) %>
      <table>
        <tr>
          <th><%= _('URL')%></th>
          <td>
            <%= hidden_field 'bookmark', 'url', :value => @bookmark.escaped_url %>
            <%= link_to truncate(@bookmark.escaped_url, :length => 60), @bookmark.escaped_url, :title => h(@bookmark.title), :target => '_blank' %>
            <br/>
            <span style="font-size: 10px; color: #555555;"><%= _('(Will open as a new window)')%></span>
          </td>
        </tr>
        <tr>
          <th><%= label :bookmark, :title, _('Title') %></th>
          <td>
            <span style="font-size: 15px; font-weight: bold;">
            <% if @bookmark.new_record? || @bookmark.is_type_internet? -%>
              <%= text_field 'bookmark', 'title' -%>
              <span id="refresher"><%= icon_tag 'arrow_rotate_clockwise', :title => _("Reacquire the title") %></span>
              <span id="indicator" style="display:none;font-size:10px;"><%= skip_image_tag 'indicator.gif' %><%= _('Updating...')%></span>
              <br/><span style="font-size: 10px; color: green;"><%= _('The titles are shared among all users so be careful upon updating.')%></span>
            <% else -%>
              <%= h(@bookmark.title) -%>
              <%= hidden_field 'bookmark', 'title' -%>
            <% end -%>
            </span>
          </td>
        </tr>
        <tr>
          <th><%= _('Public')%></th>
          <td><%= radio_buttons('bookmark_comment', 'public', BookmarkComment.public_types ) -%></td>
        </tr>
        <tr>
          <th><%= label(:bookmark_comment, :tags, _('Tags')) %></th>
          <td>
            <%= text_field 'bookmark_comment', 'tags', :size => '50', :value => @bookmark_comment.comma_tags %>
            <div id="category_box">
              <div id="candidates_list"><p><%= _('Multiple values can be given in foo,bar format')%></p></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Tags marked by others: ')%></div><div id="user_tags_list" style="margin-bottom:5px;"></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Top 10 tags: ')%></div><div id="other_tags_list" style="margin-bottom:5px;"></div>
              <div style="font-size:8pt; font-weight:bold;"><%= _('Tags you used before (top 20): ')%></div><div id="your_tags_list" style="margin-bottom:5px;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= label(:bookmark_comment, :comment, _('Comment')) %></th>
          <td><%= text_field 'bookmark_comment', 'comment', :size => 50 %></td>
        </tr>
        <tr>
          <td colspan="2" class="operation">
          <%= submit_tag _('Save'), :id => "submit_button" %>
          <% if @bookmark.is_type_internet? && @bookmarklet -%>
          <input type="button" value=<%= _('Back') %> onclick="location.href='<%= @bookmark.escaped_url %>'"></input>
          <% end -%>
          </td>
        </tr>
      </table>
    <% end -%>
  </div>
</div>

<% content_for :javascript_initializers do -%>
    var setupTagComplete = function() {
        var userTags = new Array(<%= @bookmark.user_tags.map{|str| ("'#{str}'")}.join(',') %>);
        var otherTags = new Array(<%= @bookmark.other_tags.map{|str| ("'#{str}'")}.join(',') %>);
        var yourTags = new Array(<%= @bookmark.your_tags(current_user).map{|str| ("'#{str}'")}.join(',') %>);

        $j('#user_tags_list').append(createTagsLink(userTags));
        $j('#other_tags_list').append(createTagsLink(otherTags));
        $j('#your_tags_list').append(createTagsLink(yourTags));

        $j('#bookmark_comment_tags').jTagging($j('#user_tags_list'));
        $j('#bookmark_comment_tags').jTagging($j('#other_tags_list'));
        $j('#bookmark_comment_tags').jTagging($j('#your_tags_list'));
    };
    setupTagComplete();

    <% if @bookmarklet -%>
    // サブウィンドウ(ブックマークレット)でのブックマーク後の処理
    var complete = function() {
        location.href = $j('#bookmark_url').val();
    };
    <% else -%>
    var complete = function() {
        window.opener.location.reload();window.close();
    };
    <% end %>

    $j('#update_form')
    .submit(function(){
        if($j('#bookmark_comment_public_true:checked').size() && <%= !@bookmark.url_is_public? -%>){
            if(!confirm('<%= _("Bookmarking a closed entry with open permission. Are you sure to proceed? (The title will be open to all users regardless of the permission of entry)")%>')){
                return false;
            }
        }
        $j.ajax({
            type: 'POST',
            url: $j(this).attr('action'),
            data: $j(this).serialize(),
            success: function(html) {
                if(html == 'success'){
                    complete();
                } else {
                    $j('#update_body').html(html);
                }
            }
        });
        return false;
    });

    $j('#refresher')
    .click(function() {
        reloadTitle($j('#bookmark_url').val(), 'bookmark_title');
        return false;
    });

    if ($j('#bookmark_title').val() == '') {
        reloadTitle($j('#bookmark_url').val(), 'bookmark_title');
    }
<% end -%>
