<div class="edit_form_space bookmark edit">
  <div class="desc ui-corner-all">
    <p><%=h _('You can save an URL you are interested in with a comment to a bookmark. You can also share it with other users by publishing it. Enter a URL below and click the "Next" button to start with.') %></p>
  </div>
  <div class="update_form_wrapper">
    <% form_tag({ :controller => :bookmark, :action => :new_without_bookmarklet }) do -%>
      <table>
        <tr>
          <th><%= _('URL')%></th>
          <td><%= text_field_tag 'url', '', :size => 50 %><%= submit_tag _('Next') %></td>
        </tr>
      </table>
    <% end -%>
  </div>
</div>

<p>
<%= _('Bookmarklet') %>:
<% if request.headers["HTTP_USER_AGENT"] =~ /MSIE [56]/ -%>
<a href="javascript:void(function(){(function(){var _addr='<%= request.protocol + request.host_with_port + relative_url_root -%>';location.replace('about:blank');document.write('<html><body><form action=&quot;'+_addr+'/bookmark/new&quot; method=&quot;get&quot;><input type=hidden name=&quot;url&quot; value=&quot;'+location.href+'&quot;><input type=hidden name=&quot;title&quot; value=&quot;'+document.title+'&quot;>'+document.title+'<br/><input type=submit value=&quot;Bookmark This&quot;></div></form><script>document.forms[0].submit();</script></body></html>');document.close();})();})()"><%= _("Add as %s bookmark") % h(Admin::Setting.abbr_app_title) -%></a>
<% else -%>
<a href="javascript:void(function(){(function(){var _addr='<%= request.protocol + request.host_with_port + relative_url_root -%>';location.replace('about:blank');document.write('<html><body><form action=&quot;'+_addr+'/bookmark/new&quot; method=&quot;get&quot;><input type=hidden name=&quot;url&quot; value=&quot;'+location.href+'&quot;><input type=hidden name=&quot;title&quot; value=&quot;'+document.title+'&quot;><div style=\'display: none;\'>'+document.title+'<br/><input type=submit value=&quot;Bookmark This&quot;></div></form><script>document.forms[0].submit();</script></body></html>');document.close();})();})()"><%= _("Add as %s bookmark") % h(Admin::Setting.abbr_app_title) -%></a>
<% end -%>
</p>

<% content_for :javascript_initializers do -%>
  $j('form').submit(function(){
      if( !$j('input#url').val().match(/^https?:\/\/.*/) ){
          alert('<%= _('URL to be bookmarked must start with "http".')%>');
          return false;
      }
  });
<% end -%>
