<% unless @chains.empty? -%>
  <div class="navi ui-corner-all"><%= will_paginate_link @chains %></div>
  <% @result.each do |result| -%>
  <table class="chain_table">
    <tr>
      <th class="user_box ui-corner-all" rowspan="2" valign="top"><%= user_link_to_with_portrait(result[:from_user]) %><br/>
        <%= user_link_to result[:from_user] %>
      </th>
      <td class="arrow"><%= icon_tag('resultset_next')  %></td>
      <td class="message"><%= render_richtext(result[:from_message]) %></td>
      <td class="arrow"></td>
      <th rowspan="2" valign="bottom"><%= user_link_to_with_portrait(result[:to_user]) %><br/>
        <%= user_link_to result[:to_user] %>
      </th>
    </tr>
    <% unless result[:counter_message].blank? -%>
    <tr>
      <td class="arrow"></td>
      <td class="message"><%= render_richtext(result[:counter_message]) %></td>
      <td class="arrow"><%= icon_tag('resultset_previous') unless result[:counter_message].empty? %></td>
    </tr>
    <% end -%>
  </table>
  <% end %>
  <div class="navi ui-corner-all"><%= will_paginate_link @chains %></div>
<% end -%>
