<% unless @chains.empty? -%>
  <%= i18n_will_paginate_with_container_wrapper @chains %>
  <% @result.each do |result| -%>
  <table class="chain_table">
    <tr>
      <th class="user_box ui-corner-all" rowspan="2" valign="top"><%= user_link_to_with_portrait(result[:from_user]) %><br/>
        <%= user_link_to result[:from_user] %>
      </th>
      <td class="arrow"><%= icon_tag('resultset_next')  %></td>
      <td class="message"><div class="introduction ui-corner-all"><%= chain_tag_search_links_tag result[:from_tags_as_s] %><%= render_richtext(result[:from_message]) %></div></td>
      <td class="arrow"></td>
      <th rowspan="2" valign="bottom"><%= user_link_to_with_portrait(result[:to_user]) %><br/>
        <%= user_link_to result[:to_user] %>
      </th>
    </tr>
    <% unless result[:counter_message].blank? -%>
    <tr>
      <td class="arrow"></td>
      <td class="message"><div class="introduction ui-corner-all"><%= chain_tag_search_links_tag result[:to_tags_as_s] %><%= render_richtext(result[:counter_message]) %></div></td>
      <td class="arrow"><%= icon_tag('resultset_previous') unless result[:counter_message].empty? %></td>
    </tr>
    <% end -%>
  </table>
  <% end %>
  <%= i18n_will_paginate_with_container_wrapper @chains %>
<% end -%>
