<%
 # ユーザの左側のボックス（プロフィール画像）
 # :locals => { :user }
user ||= @current_user
-%>

<div class="box_space">
  <div class="box_space_title"><%= _("<span class=\"small\">Mr./Ms. </span>%s") % h(user.name)%></div>
  <div class="box_space_img_body"><%= showPicture(user, 120, 80, true) %></div>
  <div class="box_space_bottom">
  <% if session[:user_id] == user.id -%>
    <%= link_to _('[Change image]'), :controller => 'mypage', :action => 'manage', :menu => 'manage_portrait' if Admin::Setting.enable_change_picture %>
  <% else -%>
    <%= _('Last Access: ')%><%= user.before_access %>
  <% end -%>
  </div>

  <div class="box_space_bottom" style="text-align: center; font-size: 12px;">
  <% if @current_user.id == user.id -%>
    <% current_user_info = @current_user.info -%>
    <span title="<%= _('Visitors (Total number of user access to your page)') %>"><%= icon_tag 'eye' -%><%=h current_user_info[:access_count] -%>人</span>
    <span title="<%= _('Subscribers (Users checking your blog with antennas)') %>"><%= icon_tag 'newspaper' -%><%=h current_user_info[:subscriber_count] -%>人</span><br/>
    <span title="<%= _('Posts (Entries you have posted)') %>"><%= icon_tag 'report_user' -%><%=h current_user_info[:blog_count] -%>件</span>
    <span title="<%= _('Days since you registered with the site') %>"><%= icon_tag 'user_go' -%><%=h current_user_info[:using_day] -%>日</span>
  <% else -%>
    <%= link_to(icon_tag('transmit_go', :title => _('Add an antenna')) + _('Add an antenna'), {:controller => "antenna", :action => "select_antenna", :symbol => user.symbol, :dummy => '.html'}, {:class => "nyroModal"}) %><br/>
    <%= link_to(icon_tag('tag_blue_add', :title => _('Add a bookmark')) + _('Add a bookmark'), {:controller => "bookmark", :action => "edit", :url => user.get_postit_url, :title => user.name, :dummy => '.html'}, {:class => "nyroModal"}) %>
  <% end -%>
  </div>

</div><!-- box_space -->
