<%
 # ユーザの左側のボックス（プロフィール画像）
 # :locals => { :user }
-%>

<div class="box_space">
  <div class="box_space_title"><%= _("<span class=\"small\">Mr./Ms. </span>%s") % h(user.name)%></div>
  <div class="box_space_img_body"><%= showPicture(user, 120, 80, true) %></div>
  <div class="box_space_bottom">
  <% if session[:user_id] == user.id -%>
    <%= link_to _('[Change image]'), :controller => 'mypage', :action => 'manage', :menu => 'manage_portrait' -%>
  <% else -%>
    <%= _('Last Access: ')%><%= user.before_access %>
  <% end -%>
  </div>

</div><!-- box_space -->
