<%
 # ユーザの左側のボックス（プロフィール画像）
 # :locals => { :user }
-%>

<div class="box_space">
  <div class="box_space_title"><%= h user.name %><span class="small">さん</span></div>
  <div class="box_space_img_body"><%= showPicture(user, 120, 80, true) %></div>
  <div class="box_space_bottom">
  <% if session[:user_id] == user.id -%>
    <%= link_to '[画像を変更する]', :controller => 'mypage', :action => 'manage', :menu => 'manage_portrait' -%>
  <% else -%>
    最終アクセス：<%= user.before_access %>
  <% end -%>
  </div>

  <% if session[:user_id] == user.id and @my_info -%>
  <div class="box_space_bottom" style="text-align: center;">
    <span title="訪問者数（あなたのページを訪問したユーザののべ人数）"><%= icon_tag 'eye' -%><%=h @my_info[:access_count] -%>人</span>
    <span title="購読者数（あなたのブログをアンテナでチェックしているユーザ数）"><%= icon_tag 'newspaper' -%><%=h @my_info[:subscriber_count] -%>人</span><br/>
    <span title="投稿件数（あなたが今までに投稿した記事の数）"><%= icon_tag 'report_user' -%><%=h @my_info[:blog_count] -%>件</span>
    <span title="あなたがユーザ登録してからの日数"><%= icon_tag 'user_go' -%><%=h @my_info[:using_day] -%>日</span>
  </div>
  <% end -%>

</div><!-- box_space -->
