<%
 # ユーザの左側のボックス（プロフィール画像）
 # :locals => { :user }
user ||= @current_user
-%>

<div class="box_space">
  <div class="box_space_title"><%= _("<span class=\"small\">Mr./Ms. </span>%s") % h(user.name)%></div>
  <div class="box_space_img_body"><%= show_picture(user, :width => 120, :height => 80, :popup => true) %></div>
  <div class="box_space_bottom">
  <% if session[:user_id] == user.id -%>
    <%= link_to _('[Change image]'), :controller => 'mypage', :action => 'manage', :menu => 'manage_portrait' if Admin::Setting.enable_change_picture %>
  <% else -%>
    <%= _('Last Access: ')%><%= user.before_access %>
  <% end -%>
  </div>

  <% if @current_user.id == user.id -%>
    <div class="box_space_bottom" style="text-align: center; font-size: 12px;">
      <% current_user_info = @current_user.info -%>
      <span title="<%= _('Visits (Total number of user access to your page)') %>"><%= icon_tag 'eye' -%><%= link_to(h(n_("%{count} visit", "%{count} visits", current_user_info[:access_count]) % {:count => current_user_info[:access_count]}), {:action => 'trace'}) -%></span>
      <span title="<%= _('Subscribers (Users checking your blog with antennas)') %>"><%= icon_tag 'newspaper' -%><%=h(n_("%{count} user", "%{count} users", current_user_info[:subscriber_count]) % {:count =>current_user_info[:subscriber_count]}) -%></span><br/>
      <span title="<%= _('Posts (Entries you have posted)') %>"><%= icon_tag 'report_user' -%><%=h(n_("%{count} entry", "%{count} entries", current_user_info[:blog_count]) % {:count => current_user_info[:blog_count]}) -%></span>
      <span title="<%= _('Days since you registered with the site') %>"><%= icon_tag 'user_go' -%><%=h(n_("%{count} day", "%{count} days", current_user_info[:using_day]) % {:count => current_user_info[:using_day]}) -%></span>
    </div>
  <% end -%>
</div><!-- box_space -->
