<% content_for :contents_left do -%>
  <% form_tag( { :action => 'group'}, { :method => 'get' } ) do -%>
  <div class="box_space">
    <div class="box_space_title"><%= icon_tag 'text_list_bullets'%><%= _('Category') %></div>
    <div class="box_space_body" style="font-size:10px">
      <% #TODO group/index.rhtmlにほぼ同じ記述がある。helper化すべきか? %>
      <%= radio_button_tag "group_category_id", "all",  (params[:group_category_id] == "all" or params[:group_category_id].blank?), :class => "category_radio"  %>
      <%= label_tag "group_category_id_all", icon_tag("asterisk_orange", :margin => true) + _("All (%{num})") % {:num => Group.active.participating(current_target_user).count} %>
      <br />
      <% GroupCategory.with_groups_count(current_target_user).ascend_by_sort_order.each do |category| -%>
        <%= radio_button_tag "group_category_id", category.id, params[:group_category_id] == category.id.to_s, :class => "category_radio" %>
        <%= label_tag "group_category_id_#{category.id}", "#{get_group_icon(category, :margin => true)}#{h(category.name)}(#{category.count})" %>
        <br/>
      <% end -%>
    </div>
  </div><!-- box_space -->

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag 'find' -%><%= _('Search') %></div>
    <div class="box_space_body">
    <%= text_field_tag('keyword', params[:keyword], :size=>'10') %>
    <%= submit_tag _('Search') %><br/>
    </div>
  </div><!-- box_space -->
  <% end -%>
<% end -%>

<% content_for :contents_right do -%>
  <div class="search_result_space">
    <%= render :partial => 'groups/group_list', :locals => { :groups => @groups, :user_id => @user.id } %>
  </div>
<% end -%>
