<div class="desc"><%= _("Introduce %s to others!") % h(@user.name)%></div>
<%= render(:partial => "users/user", :object => @user) %>
<div class="edit_form_space richtext">
<% form_tag :action => @submit_action, :uid => @user.uid do -%>
  <%= template_error_messages_for 'chain' %>
  <p><label for="chain_comment"><%= _('Introduction: ')%><label></p>
  <p><%= text_area 'chain', 'comment', :class => 'invisible' %></p>
  <%= submit_tag @submit_name %>
<% end %>
</div>

<%= ckeditor 'chain_comment' %>
