
<div class="desc"><%= _("Introduce %s to others!") % h(@user.name)%></div>

<%= render(:partial => "users/user", :object => @user) %>


<div class="edit_form_space">
<% form_tag :action => @submit_action, :uid => @user.uid do -%>

    <%= template_error_messages_for 'chain' %>

    <p><label for="chain_comment"><%= _('Introduction: ')%><label> <%= link_to_hiki_help %><br/>
    <%= text_area 'chain', 'comment', :cols => 80, :rows => 6 %></p>

    <%= submit_tag @submit_name %>
<% end %>
</div>
