<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) %>
  <div class="box_space" id="groups">
    <div class="box_space_title"><%= icon_tag('group') %>参加グループ</div>
    <div class="box_space_body">
    <div class="helpbar">[<%= icon_tag('bullet_red') %>：管理者 <%= icon_tag('bullet_blue') %>：参加者]</div>
    <ul>
    <% @groups.each do |group| -%>
      <% icon_name = group.group_participations.first.owned? ? 'bullet_red' : 'bullet_blue' -%>
      <li><%= icon_tag(icon_name) + group_link_to(group, :view_text => truncate(h(group.name), 12), :title => group.name) %></li>
    <% end -%>
    </ul>
    </div>
    <div class="box_space_bottom"><%= link_to "[全 #{@groups_count} 件][すべて見る]", :action => 'group', :uid => @user.uid %></div>
  </div><!-- box_space -->

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag('user_suit') %>紹介したユーザ</div>
    <div class="box_space_body">
    <ul>
    <% for chain in @follow_chains %>
      <li><%= icon_tag('bullet_blue') + user_link_to(chain.to_user) %></li>
    <% end %>
    </ul>
    </div>
    <div class="box_space_bottom"><%= link_to '[すべて見る]', :action => 'social', :menu => 'social_chain_against', :uid => @user.uid %></div>
  </div><!-- box_space -->
<% end -%>

<% content_for :contents_right do -%>
  <% if @user.retired? -%>
  <div class="box message">この方は既に退職されています</div>
  <% end -%>

  <div class="box relative100">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %>プロフィール</h2>
    <% if @user.id == @current_user.id -%>
    <div class="operation">
      <%= link_to icon_tag('vcard_edit', :title=>'編集する') + '[編集する]', :controller => 'mypage', :action => 'manage', :menu => 'manage_profile' %>
    </div>
    <% end -%>

    <h2 class="subtitle">アカウント情報</h2>
    <table class="normal user_info show">
    <% if user_name_mode?(:code) -%>
      <tr>
        <th><%=h Admin::Setting.login_account -%></th>
        <td><%=h @user.code -%></td>
      </tr>
    <% end %>
    <% if user_name_mode?(:name) -%>
      <tr>
        <th><%=h _('user name') -%></th>
        <td><%=h @user.uid -%></td>
      </tr>
    <% end %>
      <tr>
        <th><%=h _("Admin::User|Name") %></th>
        <td><%=h @user.name -%></td>
      </tr>
    <% unless Admin::Setting.hide_email -%>
      <tr>
        <th><%=h _('User|Email') %></th>
        <td><a href="mailto:<%=h @user.email -%>"><%=h @user.email -%></a></td>
      </tr>
    <% end -%>
      <tr>
        <th><%=h _('User|Section') %></th>
        <td><%=h @user.section -%></td>
      </tr>
    <% if @current_user.id == @user.id -%>
      <tr>
        <th><%=h _('User|Issued at') %></th>
        <td><%=h @user.issued_at.blank? ? '' : @user.issued_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <th><%=h _('User|Last authenticated at') %></th>
        <td><%=h @user.last_authenticated_at.blank? ? '' : @user.last_authenticated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <th><%=h _('User|Password expires at') %></th>
        <td><%=h @user.password_expires_at.blank? ? '' : @user.password_expires_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
    <% end -%>
    </table>

    <% profiles = @user.user_profile_values
       profile_hash = profiles.index_by(&:user_profile_master_id)
       UserProfileMasterCategory.all.each do |category| -%>
      <% unless category.user_profile_masters.empty? -%>
      <h2 class="subtitle"><%=h category.name %></h2>
      <table class="normal user_info show">
        <% category.user_profile_masters.each do |master| -%>
        <tr>
          <th><%=h master.name %></th>
          <td><%= master.input_type_processer.to_show_html(profile_hash[master.id]) %></td>
        </tr>
        <% end -%>
      </table>
      <% end -%>
    <% end -%>
  </div>

  <%= render :partial => "postit_cloud",
             :locals => {
               :user => @user,
               :tags => @tags
             } %>
  <% if @against_chains.size > 0 -%>
  <div class="box relative100">
    <div class="operation"><%= link_to '[すべて見る]', :action => 'social', :menu => 'social_chain', :uid => @user.uid %></div>
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %>紹介文</h2>
    <div class="topix_body">
    <table class="normal user_chain">
    <% for chain in @against_chains -%>
      <tr>
        <th>
          <%= user_link_to_with_portrait(chain.from_user, :width => 60, :height => 40) %><br/>
          <%= user_link_to(chain.from_user) %>
        </th>
        <td><%= render_richtext(chain.comment) %></td>
      </tr>
    <% end -%>
    </table>
    </div>
  </div>
  <% end -%>
<% end -%>
