<style type="text/css">
div.input_line {
  border-bottom: 1px dotted silver;
  margin-bottom: 3px;
  padding-bottom: 2px;
}
div.input_line div.input_label {
  background-color: #f0f0ff;
  width: 115px;
  overflow: hidden;
  float: left;
  font-weight: bold;
  padding: 3px 5px;
  margin-right: 5px;
}
div.input_line div.input_value {
  float: left;
  padding: 3px 0;
}
div.input_line div.input_bottom {
  height: 1em;
  padding: 3px 0px;
}

</style>

<div id="contents_container">
<div id="contents_left">

<%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) %>

<div class="box_space" id="groups">
  <div class="box_space_title"><%= icon_tag('group') %>参加グループ</div>
  <div class="box_space_body">
  <div class="helpbar">[<%= icon_tag('bullet_red') %>：管理者 <%= icon_tag('bullet_blue') %>：参加者]</div>
  <ul>
  <% @groups.each do |group| -%>
    <% icon_name = group.group_participations.first.owned? ? 'bullet_red' : 'bullet_blue' -%>
    <li><%= icon_tag(icon_name) + group_link_to(group, :view_text => truncate(h(group.name), 12), :title => group.name) %></li>
  <% end -%>
  </ul>
  </div>
  <div class="box_space_bottom"><%= link_to "[全 #{@groups_count} 件][すべて見る]", :action => 'group', :uid => @user.uid %></div>
</div><!-- box_space -->

<div class="box_space">
  <div class="box_space_title"><%= icon_tag('user_suit') %>紹介したユーザ</div>
  <div class="box_space_body">
  <ul>
  <% for chain in @follow_chains %>
    <li><%= icon_tag('bullet_blue') + user_link_to(chain.to_user) %></li>
  <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"><%= link_to '[すべて見る]', :action => 'social', :menu => 'social_chain_against', :uid => @user.uid %></div>
</div><!-- box_space -->

</div><!-- contents_left -->

<div id="contents_right">

  <% if @user.retired? %>
  <div class="desc" style="font-weight: bold; margin-bottom: 5px;">この方は既に退職されています</div>
  <% end %>

  <div class="profile_information_space" style="margin-bottom: 10px; position: relative; width: 100%;">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') -%>プロフィール</h2>
    <% if @user.id == session[:user_id] %>
    <div style="position: absolute; top: 5px; right: 10px;">
      <%= link_to icon_tag('vcard_edit', :title=>'編集する') + '[編集する]', :controller => 'mypage', :action => 'manage', :menu => 'manage_profile' -%></div>
    <% end -%>

    <div class="topix_body" style="margin-top: 5px; width: 95%; overflow: hidden">

      <% if user_name_mode?(:code) -%>
      <div class="input_line">
        <div class="input_label"><%=h Admin::Setting.login_account -%></div>
        <div class="input_value"><%=h @user.code -%></div>
        <div class="input_bottom"></div>
      </div>
      <% end %>
      <% if user_name_mode?(:name) -%>
      <div class="input_line">
        <div class="input_label"><%=h _('user name') -%></div>
        <div class="input_value"><%=h @user.uid -%></div>
        <div class="input_bottom"></div>
      </div>
      <% end %>
      <div class="input_line">
        <div class="input_label"><%=h _("Admin::User|Name") %></div>
        <div class="input_value"><%=h @user.name -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h _('UserProfile|Email') %></div>
        <div class="input_value"><a href="mailto:<%=h @user.user_profile.email -%>"><%=h @user.user_profile.email -%></a></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h _('UserProfile|Section') %></div>
        <div class="input_value"><%=h @user.user_profile.section -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h _('UserProfile|Extension') %></div>
        <div class="input_value"><%=h @user.user_profile.extension -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h _('UserProfile|Self introduction') %></div>
        <div class="input_value"></div>
        <div class="input_bottom"></div>
      </div>
      <div style="border: 1px solid silver; padding: 5px;"><%= parse_permalink(@user.user_profile.self_introduction, @user.symbol) %></div>

      <br/>

      <% if @user.has_profile? && @user.profile.disclosure -%>
      <% @profile = @user.profile -%>
      <div class="input_line">
        <div class="input_label">性別 - 入社年度</div>
        <div class="input_value"><%=h @profile.gender -%> - <%=h @profile.join_year -%>年度入社</div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label">誕生日 - 血液型</div>
        <div class="input_value"><%=h @profile.birth_month_day -%> - <%=h @profile.blood -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label">出身地 - 出身校</div>
        <div class="input_value"><%=h @profile.hometown_name -%> - <%=h @profile.alma_mater -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label">現住所</div>
        <div class="input_value"><%=h @profile.address -%></div>
        <div class="input_bottom"></div>
      </div>

      <div class="input_line">
        <div class="input_label">趣味</div>
        <div class="input_value"><%=h @profile.hobby.chop.gsub(/\,/, ' , ') if @profile.hobby %></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label">オフの私</div>
        <div class="input_value"></div>
        <div class="input_bottom"></div>
      </div>
      <div style="border: 1px solid silver; padding: 5px;"><%= parse_permalink(@profile.introduction, @user.symbol) %></div>
      <% elsif @user.has_profile? && !@user.profile.disclosure -%>
      <div style="text-align: center; color: blue; font-weight: bold;">属性情報・オフ情報は非公開です</div>
      <% else -%>
      <div style="text-align: center; color: blue; font-weight: bold;">まだ属性情報・オフ情報は登録されていません</div>
      <% end -%>

    </div>
  </div>

  <%= render :partial => "postit_cloud",
             :locals => {
               :user => @user,
               :tags => @tags
             } %>

<% if @against_chains.size > 0 -%>
  <div class="profile_information_space" style="margin-bottom: 10px; position: relative; width: 100%;">
    <div style="position: absolute; top: 5px; right: 10px;"><%= link_to '[すべて見る]', :action => 'social', :menu => 'social_chain', :uid => @user.uid %></div>
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %>紹介文</h2>
    <div class="topix_body" style="margin-top: 5px; width: 100%">
    <% for chain in @against_chains -%>

    <table border="1" class="normal" style="width: 95%; margin-bottom: 5px;">
      <tr>
        <th style="width: 80px; text-align: center;">
          <%= user_link_to_with_portrait(chain.from_user, :width => 60, :height => 40) %><br/>
          <%= user_link_to(chain.from_user) %>
        </th>
        <td style="padding: 2px;"><div class="rich_style"><%= parse_permalink(chain.comment) %></div></td>
      </tr>
    </table>

    <% end -%>
    </div>
  </div>
<% end -%>

</div><!-- contents_right -->

<div id="contents_bottom"></div><!-- contents_bottom -->

</div><!-- contents_container -->
