<% content_for :contents_left do -%>
  <% unless current_user == current_target_user -%>
    <%= render(:partial => 'user/action_box', :locals => { :user => current_target_user }) %>
  <% end -%>
  <%= render(:partial => 'entries/recent_box', :locals => { :owner => current_target_user }) -%>
  <%= render :partial => 'user/join_groups_box', :locals => { :user => current_target_user } %>
  <%= render :partial => 'user/follow_chains_box', :locals => { :user => current_target_user } %>
  <%= render :partial => "chains/tag_cloud_box" %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="relative100">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Profile') %></h2>
    <% if current_target_user.id == current_user.id -%>
    <div class="operation">
      <%= link_to icon_tag('vcard_edit', :title=>_('Edit')) + _('[Edit]'), :controller => 'mypage', :action => 'manage', :menu => 'manage_profile' %>
    </div>
    <% end -%>

    <div class="topix_body">
    <h2 class="subtitle"><%= _('Account information') %></h2>
    <table class="normal user_info show">
    <% if user_name_mode?(:code) -%>
      <tr>
        <th><%=h Admin::Setting.login_account -%></th>
        <td><%=h current_target_user.code -%></td>
      </tr>
    <% end %>
    <% if user_name_mode?(:name) -%>
      <tr>
        <th><%=h _('user name') -%></th>
        <td><%=h current_target_user.uid -%></td>
      </tr>
    <% end %>
      <tr>
        <th><%=h s_("Admin::User|Name") %></th>
        <td><%=h current_target_user.name -%></td>
      </tr>
    <% unless Admin::Setting.hide_email -%>
      <tr>
        <th><%=h s_('User|Email') %></th>
        <td><a href="mailto:<%=h current_target_user.email -%>"><%=h current_target_user.email -%></a></td>
      </tr>
    <% end -%>
      <tr>
        <th><%=h s_('User|Section') %></th>
        <td><%=h current_target_user.section -%></td>
      </tr>
    <% if current_user.id == current_target_user.id -%>
      <tr>
        <th><%=h s_('User|Issued at') %></th>
        <td><%=h current_target_user.issued_at.blank? ? '' : current_target_user.issued_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <th><%=h s_('User|Last authenticated at') %></th>
        <td><%=h current_target_user.last_authenticated_at.blank? ? '' : current_target_user.last_authenticated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <% if Admin::Setting.enable_password_periodic_change && !current_user.password_expires_at.blank? -%>
      <tr>
        <th><%=h s_('User|Password expires at') %></th>
        <td><%=h current_target_user.password_expires_at.blank? ? '' : current_target_user.password_expires_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <% end -%>
    <% end -%>
    </table>

    <% profiles = current_target_user.user_profile_values
       profile_hash = profiles.index_by(&:user_profile_master_id)
       UserProfileMasterCategory.all.each do |category| -%>
      <% unless category.user_profile_masters.empty? -%>
      <h2 class="subtitle"><%=h category.name %></h2>
      <table class="normal user_info show">
        <% category.user_profile_masters.each do |master| -%>
        <tr>
          <th><%=h master.name %></th>
          <td><%= profile_show_tag(master.input_type_processer, profile_hash[master.id]) %></td>
        </tr>
        <% end -%>
      </table>
      <% end -%>
    <% end -%>
    </div>

    <%= render :partial => 'pictures/pictures', :locals => {:user => current_target_user, :clickable => true} %>

  </div>

  <% unless @against_chains.empty? -%>
  <div class="relative100">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= link_to _('Introductions'), :action => 'social', :menu => 'social_chain', :uid => current_target_user.uid %></h2>
    <div class="topix_body">
      <table class="normal user_chain ui-corner-all">
      <% @against_chains.each do |chain| -%>
        <tr>
          <th rowspan="2">
            <%= user_link_to_with_portrait(chain.from_user, :width => 60, :height => 40) %><br/>
            <%= user_link_to(chain.from_user) %>
          </th>
          <td>
            <%= chain_tag_search_links_tag chain.tags_as_s %>
          </td>
        </tr>
        <tr>
          <td><%= render_richtext(chain.comment) %></td>
        </tr>
      <% end -%>
      </table>
    </div>
  </div>
  <% end -%>
<% end -%>
