<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) %>
  <div class="box_space" id="groups">
    <div class="box_space_title"><%= icon_tag('group') %>参加グループ</div>
    <div class="box_space_body">
    <div class="helpbar">[<%= icon_tag('bullet_red') %>：管理者 <%= icon_tag('bullet_blue') %>：参加者]</div>
    <ul>
    <% @groups.each do |group| -%>
      <% icon_name = group.group_participations.first.owned? ? 'bullet_red' : 'bullet_blue' -%>
      <li><%= icon_tag(icon_name) + group_link_to(group, :view_text => truncate(h(group.name), 12), :title => group.name) %></li>
    <% end -%>
    </ul>
    </div>
    <div class="box_space_bottom"><%= link_to "[全 #{@groups_count} 件][すべて見る]", :action => 'group', :uid => @user.uid %></div>
  </div><!-- box_space -->

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag('user_suit') %>紹介したユーザ</div>
    <div class="box_space_body">
    <ul>
    <% for chain in @follow_chains %>
      <li><%= icon_tag('bullet_blue') + user_link_to(chain.to_user) %></li>
    <% end %>
    </ul>
    </div>
    <div class="box_space_bottom"><%= link_to '[すべて見る]', :action => 'social', :menu => 'social_chain_against', :uid => @user.uid %></div>
  </div><!-- box_space -->
<% end -%>

<<<<<<< HEAD:app/views/user/show.html.erb
<% content_for :contents_right do -%>
  <% if @user.retired? -%>
  <div class="box message">この方は既に退職されています</div>
  <% end -%>

  <div class="box relative100">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %>プロフィール</h2>
    <% if @user.id == @current_user.id -%>
    <div class="operation">
      <%= link_to icon_tag('vcard_edit', :title=>'編集する') + '[編集する]', :controller => 'mypage', :action => 'manage', :menu => 'manage_profile' %>
    </div>
    <% end -%>

    <h2 class="subtitle">アカウント情報</h2>
    <table class="normal user_info show">
    <% if user_name_mode?(:code) -%>
      <tr>
        <th><%=h Admin::Setting.login_account -%></th>
        <td><%=h @user.code -%></td>
      </tr>
    <% end %>
    <% if user_name_mode?(:name) -%>
      <tr>
        <th><%=h _('user name') -%></th>
        <td><%=h @user.uid -%></td>
      </tr>
    <% end %>
      <tr>
        <th><%=h _("Admin::User|Name") %></th>
        <td><%=h @user.name -%></td>
      </tr>
    <% unless Admin::Setting.hide_email -%>
      <tr>
        <th><%=h _('User|Email') %></th>
        <td><a href="mailto:<%=h @user.email -%>"><%=h @user.email -%></a></td>
      </tr>
    <% end -%>
      <tr>
        <th><%=h _('User|Section') %></th>
        <td><%=h @user.section -%></td>
      </tr>
    <% if @current_user.id == @user.id -%>
      <tr>
        <th><%=h _('User|Issued at') %></th>
        <td><%=h @user.issued_at.blank? ? '' : @user.issued_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <th><%=h _('User|Last authenticated at') %></th>
        <td><%=h @user.last_authenticated_at.blank? ? '' : @user.last_authenticated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <th><%=h _('User|Password expires at') %></th>
        <td><%=h @user.password_expires_at.blank? ? '' : @user.password_expires_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
    <% end -%>
    </table>

    <% profiles = @user.user_profile_values
       profile_hash = profiles.index_by(&:user_profile_master_id)
       UserProfileMasterCategory.all.each do |category| -%>
      <% unless category.user_profile_masters.empty? -%>
      <h2 class="subtitle"><%=h category.name %></h2>
      <table class="normal user_info show">
        <% category.user_profile_masters.each do |master| -%>
        <tr>
          <th><%=h master.name %></th>
          <td><%= profile_show_tag(master.input_type_processer, profile_hash[master.id]) %></td>
        </tr>
        <% end -%>
      </table>
=======
<div class="box_space" id="groups">
  <div class="box_space_title"><%= icon_tag('group') %><%= _('Groups Joined')%></div>
  <div class="box_space_body">
  <div id="group_participation_help" class="helpbar" style="display: none;">[<%= _("%s: Administrators") % icon_tag('bullet_red') -%> <%= _("%s: Members") % icon_tag('bullet_blue') -%>]</div>
  <ul>
  <% @groups.each do |group| -%>
    <% icon_name = group.group_participations.first.owned? ? 'bullet_red' : 'bullet_blue' -%>
    <li><%= icon_tag(icon_name) + group_link_to(group, :view_text => truncate(h(group.name), 12), :title => group.name) -%></li>
  <% end -%>
  </ul>
  </div>
  <div class="box_space_bottom"><%= link_to n_("[Total %{count} hit...see all]", "[Total %{count} hits...see all]",@groups_count) % {:count => @groups_count}, :action => 'group', :uid => @user.uid %></div>
</div><!-- box_space -->

<div class="box_space">
  <div class="box_space_title"><%= icon_tag('user_suit') %><%= _('About Users')%></div>
  <div class="box_space_body">
  <ul>
  <% for chain in @follow_chains %>
    <li><%= icon_tag('bullet_blue') + user_link_to(chain.to_user) %></li>
  <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"><%= link_to _('[See all]'), :action => 'social', :menu => 'social_chain_against', :uid => @user.uid %></div>
</div><!-- box_space -->

</div><!-- contents_left -->

<div id="contents_right">

  <% if @user.retired? %>
  <div class="desc" style="font-weight: bold; margin-bottom: 5px;"><%= _('This user has already left.')%></div>
  <% end %>

  <div class="profile_information_space" style="margin-bottom: 10px; position: relative; width: 100%;">
    <div class="topix_title"><%= icon_tag('asterisk_orange') -%><span><%= _('Profile')%></span></div>
    <% if @user.id == session[:user_id] %>
    <div style="position: absolute; top: 5px; right: 10px;">
      <%= link_to icon_tag('vcard_edit', :alt=>_('Edit')) + _('[Edit]'), :controller => 'mypage', :action => 'manage', :menu => 'manage_profile' -%></div>
    <% end -%>

    <div class="topix_body" style="margin-top: 5px; width: 95%; overflow: hidden">

      <% if user_name_mode?(:code) -%>
      <div class="input_line">
        <div class="input_label"><%=h Admin::Setting.login_account -%></div>
        <div class="input_value"><%=h @user.code -%></div>
        <div class="input_bottom"></div>
      </div>
      <% end %>
      <% if user_name_mode?(:name) -%>
      <div class="input_line">
        <div class="input_label"><%=h _('user name') -%></div>
        <div class="input_value"><%=h @user.uid -%></div>
        <div class="input_bottom"></div>
      </div>
      <% end %>
      <div class="input_line">
        <div class="input_label"><%=h s_("Admin::User|Name") %></div>
        <div class="input_value"><%=h @user.name -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h s_('UserProfile|Email') %></div>
        <div class="input_value"><a href="mailto:<%=h @user.user_profile.email -%>"><%=h @user.user_profile.email -%></a></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h s_('UserProfile|Section') %></div>
        <div class="input_value"><%=h @user.user_profile.section -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h s_('UserProfile|Extension') %></div>
        <div class="input_value"><%=h @user.user_profile.extension -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%=h s_('UserProfile|Self introduction') %></div>
        <div class="input_value"></div>
        <div class="input_bottom"></div>
      </div>
      <div style="border: 1px solid silver; padding: 5px;"><%= parse_permalink(@user.user_profile.self_introduction, @user.symbol) %></div>

      <br/>

      <% if @user.has_profile? && @user.profile.disclosure -%>
      <% @profile = @user.profile -%>
      <div class="input_line">
        <div class="input_label"><%= _('Sex - Year Joined')%></div>
        <div class="input_value"><%=h @profile.gender -%> - <%=h _("Year %s" % @profile.join_year)%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%= _('Birthday - Blood Type')%></div>
        <div class="input_value"><%=h @profile.birth_month_day -%> - <%=h @profile.blood -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%= _('Hometown - Alma Mater')%></div>
        <div class="input_value"><%=h @profile.hometown_name -%> - <%=h @profile.alma_mater -%></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%= _('Address')%></div>
        <div class="input_value"><%=h @profile.address -%></div>
        <div class="input_bottom"></div>
      </div>

      <div class="input_line">
        <div class="input_label"><%= _('Hobbies')%></div>
        <div class="input_value"><%=h @profile.hobby.chop.gsub(/\,/, ' , ') if @profile.hobby %></div>
        <div class="input_bottom"></div>
      </div>
      <div class="input_line">
        <div class="input_label"><%= _('Introduction')%></div>
        <div class="input_value"></div>
        <div class="input_bottom"></div>
      </div>
      <div style="border: 1px solid silver; padding: 5px;"><%= parse_permalink(@profile.introduction, @user.symbol) %></div>
      <% elsif @user.has_profile? && !@user.profile.disclosure -%>
      <div style="text-align: center; color: blue; font-weight: bold;"><%= _('Profile information and introduction information are closed.')%></div>
      <% else -%>
      <div style="text-align: center; color: blue; font-weight: bold;"><%= _('No user profile or introduction registered.')%></div>
>>>>>>> for_i18n:app/views/user/show.html.erb
      <% end -%>
    <% end -%>
  </div>

  <%= render :partial => "postit_cloud",
             :locals => {
               :user => @user,
               :tags => @tags
             } %>
<<<<<<< HEAD:app/views/user/show.html.erb
  <% if @against_chains.size > 0 -%>
  <div class="box relative100">
    <div class="operation"><%= link_to '[すべて見る]', :action => 'social', :menu => 'social_chain', :uid => @user.uid %></div>
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %>紹介文</h2>
    <div class="topix_body">
    <table class="normal user_chain">
    <% for chain in @against_chains -%>
=======

<% if @against_chains.size > 0 %>
  <div class="profile_information_space" style="margin-bottom: 10px; position: relative; width: 100%;">
    <div class="topix_title"><%= icon_tag('asterisk_orange') -%><span><%= _('Introductions')%></span></div>
    <div class="topix_body" style="margin-top: 5px; width: 100%">
    <% for chain in @against_chains %>

    <table border="1" class="normal" style="width: 95%; margin-bottom: 5px;">
>>>>>>> for_i18n:app/views/user/show.html.erb
      <tr>
        <th>
          <%= user_link_to_with_portrait(chain.from_user, :width => 60, :height => 40) %><br/>
          <%= user_link_to(chain.from_user) %>
        </th>
        <td><%= render_richtext(chain.comment) %></td>
      </tr>
    <% end -%>
    </table>
    </div>
<<<<<<< HEAD:app/views/user/show.html.erb
=======
    <div style="position: absolute; top: 5px; right: 10px;"><%= link_to _('[See all]'), :action => 'social', :menu => 'social_chain', :uid => @user.uid %></div>
>>>>>>> for_i18n:app/views/user/show.html.erb
  </div>
  <% end -%>
<% end -%>
