<% action_value ||= "" %>
<% submit_value ||= "" %>

<div class="edit_form_space">

<% form_tag({:action => action_value}, :id=>'group_form') do -%>
  <%= template_error_messages_for 'group' %>

<% if action_value != 'update' %>
<div class="input_line">
  <div class="input_label"><%= _('Group ID')%></div>
  <div class="input_value"><%= text_field 'group', 'gid', :size => 40 %></div>
  <div class="param_desc" style="font-size:10px; color:gray;">
  <%= _("*A group ID consists of 4 or more letters of alphabets, numbers, \"-\" and \"_\".<br>\n  *Group ID is used in many situations e.g. URLs to identify the group so choose a understandable one.")%>
  </div>
</div>
<% end %>

<div class="input_line">
  <div class="input_label"><%= _('Name of Group')%></div>
  <div class="input_value"><%= text_field 'group', 'name', :size => 40 %></div>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Category')%></div>
  <div class="input_value">
    <table style="margin-left:3px;border:0;">
    <tr><th width="100px"></th><th></th></tr>
<% @group_categories.each do |category| %>
    <tr>
      <td><%= radio_button "group", "group_category_id", category.id, :class => "category_radio_button" %>
            <%= get_group_icon category, :margin => true %><b><%= h category.name %></b></td>
      <td><%= h category.description %></td>
    </tr>
<% end %>
    </table>
  </div>
</div>

<div class="input_line">
 <p><label for="group_desc"><div class="input_label"><%= _('Explanation')%></div>&nbsp;&nbsp;<%= link_to_hiki_help %></label><br/>
   <%= text_area 'group', 'description', :cols => 90, :rows => 20 %></p>
</div>

<div class="input_line">
  <div class="input_label"><%= _('Joining the group')%></div>
<p><label for="group_protected"><%= _('Approval from owner required?')%></label>
  <select id="group_protected" name="group[protected]">
    <%= options_for_select({ _("No") => false, _("Yes") => true }, @group.protected) %>
</select></p>
</div>

  <p><%= submit_tag submit_value %></p>

<% end %>
</div>

<% if action_value == 'update' %>
<div class="desc" style="margin-top: 10px; padding: 5px;">
  <%= link_to(_"[[Delete]]"), {:action => 'destroy'}, :confirm => _('Are you sure to delete?'), :method => :post ) %>
</div>
<% end %>

<script type="text/javascript">
$j(function(){
    $j('.category_radio_button')
    .click(function(){
        $j('.category_radio_button').parent().parent().css('backgroundColor','#fff');
        $j(this).parent().parent().css('backgroundColor','#ffb');
    });
    $j('.category_radio_button:checked').click();
});
</script>
