<% action_value ||= "" -%>
<% submit_value ||= "" -%>

<div class="edit_form_space">

<% form_tag({:action => action_value}, :id=>'group_form') do -%>
  <%= template_error_messages_for 'group' %>

<% if action_value != 'update' -%>
<div class="input_line">
  <div class="input_label"><%= label :group, :gid, _('Group|Gid') %></div>
  <div class="input_value"><%= text_field 'group', 'gid', :size => 40 %></div>
  <div class="param_desc" style="font-size:10px; color:gray;">
  ※グループIDは4文字以上で、数字orアルファベットor記号(ハイフン「-」 アンダーバー「_」)で入力してください。<br/>
  ※グループIDはグループを識別する文字列として、URLなどの様々な場面で使いますので、分かりやすい文字列を選んでください。
  </div>
</div>
<% end -%>

<div class="input_line">
  <div class="input_label"><%= label :group, :name, _('Group|Name') %></div>
  <div class="input_value"><%= text_field 'group', 'name', :size => 40 %></div>
</div>

<div class="input_line">
  <div class="input_label">カテゴリ</div>
  <div class="input_value">
    <table style="margin-left:3px;border:0;">
    <tr><th width="100px"></th><th></th></tr>
<% @group_categories.each do |category| -%>
    <tr>
      <td>
        <%= radio_button "group", "group_category_id", category.id, :class => "category_radio_button" %>
        <%= label :group, "group_category_id_#{category.id}", "#{get_group_icon(category, :margin => true)}#{content_tag(:b, h(category.name))}" %>
      </td>
      <td><%= h category.description %></td>
    </tr>
<% end -%>
    </table>
  </div>
</div>

<div class="input_line">
  <div class="input_label"><%= label :group, :description, _('Group|Description') %></div>
  <div class="input_value richtext" style="clear: left;"><%= text_area :group, :description, :class => 'invisible' %></div>
</div>

<div class="input_line">
  <div class="input_label">グループに参加</div>
  <div class="input_value">
    <%= label :group, :protected, _("参加するのにオーナーの承認が必要ですか？") %>
    <%= select :group, :protected, { "いいえ" => false, "はい" => true } %>
  </div>
</div>
<%= submit_tag submit_value %>
<% end -%>
</div>

<% if action_value == 'update' -%>
<div class="desc" style="margin-top: 10px; padding: 5px;">
  <%= link_to("[[削除する]]", {:action => 'destroy'}, :confirm => '本当に削除しますか？', :method => :post ) %>
</div>
<% end -%>

<% content_for :javascript do -%>
  <%= skip_javascript_include_tag "fckeditor/fckeditor" %>
  <script type="text/javascript">
  $j(function(){
      FCKeditor.BasePath = platform_url_root + "/javascripts/skip/fckeditor/";
      new FCKeditor('group_description', '98%', '350', 'Normal').ReplaceTextarea();

      $j('.category_radio_button')
      .click(function(){
          $j('.category_radio_button').parent().parent().css('backgroundColor','#fff');
          $j(this).parent().parent().css('backgroundColor','#ffb');
      });
      $j('.category_radio_button:checked').click();
  });
  </script>
<% end -%>
