<% content_for :contents_left do -%>
  <div class="box_space">
    <div class="box_space_title"><%= _('Admin Menu')%></span></div>
    <div class="box_space_body">
    <ul>
      <% get_group_manage_menu_items(@menu).each do |menu_item| %>
      <li><%= menu_item -%></li>
      <% end %>
    </ul>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->
<% end -%>

<% content_for :contents_right do -%>
  <% form_tag :action => :change_participation do -%>
  <div style="border-bottom: 1px dotted silver; margin-bottom: 10px;">
  <%= _('Action: ')%>
  <%= radio_button_tag 'submit_type', 'permit', true %><%= label_tag 'submit_type_permit', _('Approve') %>
  <%= radio_button_tag 'submit_type', 'reject', false %><%= label_tag 'submit_type_reject', _('Reject') %>
  <%= submit_tag _("Perform the Action"), { :name => 'action=do_reject', :onclick => _("return confirm('Are you sure to execute?');") } %>
  </div>

  <a href="#" onclick="check_all(/^participation_state/, true);"><%= _('[Check all]')%></a>
  <a href="#" onclick="check_all(/^participation_state/, false);"><%= _('[Uncheck all]')%></a>

  <%= i18n_will_paginate_with_container_wrapper @participations %>
  <div style="margin: 10px auto 10px auto; width: 100%; text-align: center;">
    <table border="1" class="normal" style="width: 80%; margin: auto;">
      <tr><th><%= _('Approve Joining')%></th><th><%= _('Name')%></th><th><%= h Admin::Setting.login_account %></th></tr>
      <% @participations.each do |@participation| %>
      <tr>
        <td align="center"><%= check_box("participation_state", @participation.id, {}, true, false) %></td>
        <td><%= h @participation.user.name %></td>
        <td><%= h @participation.user.code %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <%= i18n_will_paginate_with_container_wrapper @participations %>
  <% end -%>
<% end -%>

<% content_for :javascript_includes do -%>
  <% javascript_tag do -%>
  /*
   * 正規表現にマッチした名前のチェックボックスをオン・オフ
   * match_name : 正規表現（RegExp）
   * check_val  : オンにするかオフにするか（Boolean）
   */
  function check_all(match_name, check_val) {
    var allElements = document.getElementsByTagName("input");
    for (i = 0; i < allElements.length; i++) {
      if (allElements[i].type == "checkbox") {
        if (allElements[i].name.match(match_name)) {
          allElements[i].checked = check_val;
        }
      }
    }
  }
  <% end -%>
<% end -%>
