
<div id="contents_container">
<div id="contents_left">

<div class="box_space">
  <div class="box_space_title">管理メニュー</span></div>
  <div class="box_space_body">
  <ul>
    <% get_manage_menu_items(@menu).each do |menu_item| %>
    <li><%= menu_item -%></li>
    <% end %>
  </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

</div><!-- contents_left -->

<div id="contents_right">

<div class="desc" style="margin-bottom: 10px;">この画面では、管理者の権限設定、強制退会が可能です。</div>
<%= hidden_field_tag "authenticity_token", form_authenticity_token %>
<div class="navi"><%= page_link @pages -%></div>

<div style="margin: 10px auto 10px auto; width: 100%; text-align: center;">
<table border="1" class="normal" style="width: 80%; margin: auto;">
  <tr>
    <th style="width:10%;">管理者</th>
    <th>名前</th>
    <th><%= h Admin::Setting.login_account -%></th>
    <th>アクション</th>
  </tr>

  <% even_or_odd = 0 %>
  <% @participations.each_with_index do |@participation, index| %>
  <% even_or_odd = 1 - even_or_odd %>
  <tr>
    <td class="line_<%= even_or_odd -%>">
      <% if session[:user_id] == @participation.user_id -%>
        管理者
      <% else -%>
        <%= check_box(:participation, :owned, :class => 'toggle_owned', :id => "toggle_owned_checkbox_#{@participation.id}") %>
      <% end -%>
    </td>
    <td class="line_<%= even_or_odd -%>"><%= h @participation.user.name -%></td>
    <td class="line_<%= even_or_odd -%>"><%= h @participation.user.code -%></td>
    <td align="center" class="line_<%= even_or_odd -%>">
      <% unless session[:user_id] == @participation.user_id -%>
      <%= link_to "[強制退会させる]",
           {:action => "forced_leave_user", :participation_id => @participation.id},
           :confirm => "このユーザを強制退会させます。本当によろしいですか？",
           :method => :post -%>
      <% end -%>
    </td>
  </tr>
  <% end %>
</table>
</div>

<div class="navi"><%= page_link @pages -%></div>

<%= render :partial => 'append_users',
           :locals => {:call_action => 'append_user',
                       :header => "招待したいユーザ／グループ",
                       :btn_title => "参加者に追加"} -%>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->

<script type="text/javascript" >
$j(function() {
  $j('.toggle_owned')
  .click(function() {
      var url = '<%= url_for(:action => "toggle_owned") -%>';
      var participation_id = this.id.split('_')[3]
      $j.ajax({
          type: 'POST',
          url: url,
          data: { participation_id: participation_id, 
                  authenticity_token: $j('#authenticity_token').val() },
          success: function(html) {
            alert('管理者を変更しました。')
          }
      });
  });
});
</script>
