<% content_for :stylesheet do -%>
  <style type="text/css">
  div.input_line {
    border: 1px dotted silver;
    margin-bottom: 5px;
    margin-top:10px;
    padding-bottom: 2px;
  }
  div.input_line div.input_value {
    padding: 5px;
  }
  div.input_line div.input_label {
    background-color: #f0f0ff;
    width: 250px;
    float: left;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  </style>
<% end -%>

<% content_for :contents_left do -%>
  <div class="box_space">
    <div class="box_space_title"><%= _('Admin Menu')%></span></div>
    <div class="box_space_body">
    <ul>
      <% get_group_manage_menu_items(@menu).each do |menu_item| %>
      <li><%= menu_item -%></li>
      <% end %>
    </ul>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc ui-corner-all margin05emver"><%= _('Here you can manage admin privilages and force users to leave the group.')%></div>
  <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
  <div class="navi ui-corner-all"><%= will_paginate_link @participations %></div>

  <div style="margin: 10px auto 10px auto; width: 100%; text-align: center;">
    <table border="1" class="normal" style="width: 80%; margin: auto;">
      <tr>
        <th style="width:10%;"><%= _('Administrator') %></th>
        <th><%= _('Name') %></th>
        <th><%=h Admin::Setting.login_account %></th>
        <th><%= _('Action') %></th>
      </tr>
    <% even_or_odd = 0 -%>
    <% @participations.each_with_index do |@participation, index| -%>
      <% even_or_odd = 1 - even_or_odd %>
      <tr>
        <td class="line_<%= even_or_odd -%>">
          <% if session[:user_id] == @participation.user_id -%>
            <%= _('Administrator')%>
          <% else -%>
            <%= check_box(:participation, :owned, :class => 'toggle_owned', :id => "toggle_owned_checkbox_#{@participation.id}") %>
          <% end -%>
        </td>
        <td class="line_<%= even_or_odd -%>"><%= h @participation.user.name -%></td>
        <td class="line_<%= even_or_odd -%>"><%= h @participation.user.code -%></td>
        <td align="center" class="line_<%= even_or_odd -%>">
          <% unless session[:user_id] == @participation.user_id -%>
          <%= link_to _("[Force to leave the group]"),
               {:action => "forced_leave_user", :participation_id => @participation.id},
               :confirm => _("Are you sure to force this user to leave the group?"),
               :method => :post -%>
          <% end -%>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="navi ui-corner-all"><%= will_paginate_link @participations %></div>
  <% form_tag({:action => 'append_user'}, :id=>'group_form') do -%>
    <div class="input_line ui-corner-all">
      <div class="input_value">
        <%= hidden_field_tag 'users_symbol_value' %>
        <div class="input_label"><%= _("Users / groups to invite") %></div>
        <div style="clear: left"></div>
        <input id="users_symbol" name="symbol" size="40" type="text" />
        <div class="auto_complete" id="users_symbol_auto_complete"></div>
        <input type="text" id="users_name" style="background-color: #f0f0ff;border: none;color: blue" disabled>
        <input type="button" value="<%= _("Add as Member") %>" id="users_submit">
      </div>
    </div>
  <% end -%>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('.toggle_owned')
    .click(function() {
        var url = '<%= url_for(:action => "toggle_owned") -%>';
        var participation_id = this.id.split('_')[3]
        $j.ajax({
            type: 'POST',
            url: url,
            data: { participation_id: participation_id,
                    authenticity_token: $j('input[name=authenticity_token]').val() },
            success: function(html) {
                $j("#flash_message").trigger("notice", "<%= _("Successfully update administrator.") %>");
            }
        });
    });

    $j('#users_submit')
    .click(function() {
        var symbol = $j("#users_symbol").val();
        var name = $j("#users_name").val();
        if (name.length == 0) {
            alert('<%= _('Please input valid user or group') %>');
            return;
        }
        var validReg = /(u|g)id:[a-zA-Z0-9\-_\.]*$/
        if (!validReg.test(symbol)) {
            alert("<%= _('Invalid format. Please input like uid:xxxxx') %>");
            return;
        }
        $j('#users_symbol_value').val(symbol);
        $j('#group_form').submit();
        return false;
    });

    var users_symbol_auto_complete_url = '<%= url_for(:controller => 'symbol', :action => 'auto_complete_for_item_search', :type => 'users') -%>';
    $j('#users_symbol')
    .autocomplete(users_symbol_auto_complete_url, {
        formatItem: function(data) {
            return data[0] + ' - ' + data[1];
        }
    })
    .result(function(group, data, formatted) {
        if (data) {
            $j('#users_name:input').val(data[1]);
        }
    });
<% end -%>
