<% content_for :contents_left do -%>
  <div class="box_space">
    <div class="box_space_title"><%= _('Admin Menu')%></span></div>
    <div class="box_space_body">
    <ul>
      <% get_group_manage_menu_items(@menu).each do |menu_item| %>
      <li><%= menu_item -%></li>
      <% end %>
    </ul>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->
<% end -%>

<% content_for :contents_right do -%>
<div class="edit_form_space ui-corner-all">
  <% form_tag({:action => 'update'}, :id => 'group_form') do -%>
    <%= render :partial => "group/form" %>
    <%= submit_tag _('Update'), :disable_with => _('Updating...') %>
  <% end -%>
  <div class="desc ui-corner-all margin05em" style="padding: 5px;">
    <%= link_to(_("[[Delete]]"), {:action => 'destroy'}, :confirm => _('Are you sure to delete?'), :method => :post ) %>
  </div>
</div>
<% end -%>
