
<style type="text/css">
div.group_info_space {
  margin-bottom: 10px;
  width: 100%;
  _text-align: right;
}
div.group_info_space_desc {
  margin-top: 5px;
  margin-left: auto;
  width: 97%;
  text-align: left;
  border: 1px solid silver;
  overflow: hidden;
}
div.group_info_space_desc_body {
  margin: 5px;
}
div.group_info_space_lines {
  margin-left: auto;
  width: 97%;
  text-align: left;
  overflow: hidden;
  font-weight: bold;
}
div.group_info_space_lines_line {
  margin-top: 5px;
  border-bottom: 1px dashed silver;
}
div.box_space_body p.button {
  text-align: center;
  margin-top: 5px;
}
</style>

<div id="contents_container">

<div id="contents_left">

<div class="box_space">
  <div class="box_space_title"><%= icon_tag('text_list_bullets') -%>カテゴリ</div>
  <div class="box_space_body">
    <%= icon_tag(h(@group.category_icon_name.first), :title => h(@group.category_icon_name.last), :margin => true) + h(@group.category_icon_name.last) %>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

<div class="box_space">
  <div class="box_space_title"><%= icon_tag('information') -%>状態</div>
  <div class="box_space_body">
    <% state, button = generate_visitor_state(@participation) -%>
    <p><%= state -%></p>
    <%= %(<p class="button">#{button}</p>) unless button.empty? -%>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

<div class="box_space">
  <div class="box_space_title"><%= icon_tag('user_suit') -%>管理者</div>
  <div class="box_space_body">
    <ul>
    <% @admin_users.each do |user| %>
      <li><%= user_link_to user %></li>
      <% end %>
    </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->

<div class="box_space">
  <div class="box_space_title"><%= icon_tag('group') -%>参加者</div>
  <div class="box_space_body">
    <ul>
    <% @users.each do |user| %>
      <li><%= user_link_to user %></li>
    <% end %>
    </ul>
  </div>
  <div class="box_space_bottom"><%= link_to "[...全てを見る]", :action => 'users' %></div>
</div><!-- box_space -->

</div><!-- contents_left -->

<div id="contents_right">

  <div class="group_info_space">
    <div class="topix_title" style="text-align: left;"><%= icon_tag('asterisk_orange') -%><span>お知らせ</span></div>
    <div class="group_info_space_lines">
      <% generate_informations(@group, @participation).each do |information| -%>
      <div class="group_info_space_lines_line"><%= information -%></div>
      <% end %>
    </div>
  </div><!-- group_info_space -->

  <div class="group_info_space">
    <div class="topix_title" style="text-align: left;"><%= icon_tag('asterisk_orange') -%><span>説明</span></div>
    <div class="group_info_space_desc">
      <div class="group_info_space_desc_body"><div class="hiki_style"><%= hiki_parse(@group.description, @group.symbol) -%></div></div>
    </div>
  </div><!-- group_info_space -->

<%= render :partial => "mypage/page_space",
           :locals => { :id_name => 'recent_messages',
                        :title_name => '参加グループの最新の書き込み',
                        :pages => @recent_messages } %>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->
