<% content_for :stylesheet do -%>
  <style type="text/css">
  div.group_info_space {
    margin-bottom: 10px;
    width: 100%;
  }
  div.group_info_space_desc {
    margin-top: 5px;
    margin-left: 10px;
    width: 97%;
    text-align: left;
    border: 1px solid silver;
    overflow: hidden;
  }
  div.group_info_space_desc_body {
    margin: 5px;
  }
  div.group_info_space_lines {
    margin-left: 10px;
    width: 97%;
    text-align: left;
    overflow: hidden;
    font-weight: bold;
  }
  div.group_info_space_lines_line {
    margin-top: 5px;
    border-bottom: 1px dashed silver;
  }
  div.box_space_body p.button {
    text-align: center;
    margin-top: 5px;
  }
  </style>
<% end -%>

<% content_for :contents_left do -%>
  <div class="box_space">
    <div class="box_space_title"><%= h @group.name %></div>
    <div class="box_space_body"><%= show_group_status(@group, session[:user_id]) %></div>
  </div><!-- box_space -->

  <div>
    <ul class="no_style">
      <% if @participation -%>
        <li><%= link_to(content_tag('span', _('New Posts')), {:controller => 'group', :action => 'new'}, :class => 'rounded') %></li>
        <% url_hash = {:controller => '/share_file', :action => :new, :owner_symbol => h(@group.symbol), :owner_name => h(@group.name)} -%>
        <li><%= link_to(content_tag('span', _('Upload a file')), url_hash, :title => _('Upload a file'), :class => 'rounded', :onclick => "sub_window_open('#{url_for(url_hash)}', 'subwindow', 550, 400); return false;") %></li>
        <% unless @participation.owned? -%>
          <li><%= link_to(content_tag('span', _('Leave the group')), {:action => 'leave'}, {:confirm => _('Are you sure leave the group?'), :method => :post, :class => "rounded"}) %></li>
        <% end %>
      <% else -%>
        <li><%= link_to(content_tag('span', _('Join this group')), {:action=>"new_participation"}, {:class => "nyroModal rounded"}) -%></li>
      <% end -%>
      <li><%= link_to(content_tag('span', _('Add to antenna')), {:controller => "antenna", :action => "select_antenna", :symbol => @group.symbol, :dummy => '.html'}, {:class => "nyroModal rounded"}) %></li>
    </ul>
  </div>

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag('user_suit') -%><%= _('Administrator')%></div>
    <div class="box_space_body">
      <ul>
      <% @admin_users.each do |user| %>
        <li><%= user_link_to user %></li>
        <% end %>
      </ul>
    </div>
    <div class="box_space_bottom"></div>
  </div><!-- box_space -->

  <div class="box_space">
    <div class="box_space_title"><%= icon_tag('group') -%><%= _('Members')%></div>
    <div class="box_space_body">
      <ul>
      <% @users.each do |user| %>
        <li><%= user_link_to user %></li>
      <% end %>
      </ul>
    </div>
    <div class="box_space_bottom"><%= link_to _("[...See all]"), :action => 'users' %></div>
  </div><!-- box_space -->

  <%= render :partial => 'collaboration_app/operation_boxes' %>

<% end -%>

<% content_for :contents_right do -%>
  <div class="group_info_space">
    <h2 class="topix_title"><%= icon_tag('asterisk_orange') %><%= _('Explanation')%></h2>
    <div class="group_info_space_desc">
      <div class="group_info_space_desc_body"><%= render_richtext(@group.description, @group.symbol) -%></div>
    </div>
  </div><!-- group_info_space -->

  <%= render :partial => "mypage/page_space",
             :locals => {
               :id_name => 'recent_messages',
               :title_name => _('Recent posts in the groups joined'),
               :pages => @recent_messages } %>

  <%= render(:partial => 'collaboration_app/feeds') %>
<% end -%>
