<div class="search_cond_space">
<% form_tag({:action => 'users'}, :method => 'get') do -%>
  <table class="search_cond_box">
    <tr>
      <th><%= _('Sort by')%></th>
      <td><%= select :condition, :sort_type, UserSearchCondition.sort_types %></td>
    </tr>
  </table>
  <div class="submit" style="text-align: right;"><%= submit_tag _('Search') %></div>
<% end -%>
</div>

<div class="search_result_space">
<% unless @users.empty? -%>
  <div class="navi"><%= will_paginate_link @users %></div>
  <% @users.each do |user| -%>
    <%= render :partial => 'users/user', :locals => {:user => user, :group => @group} %>
  <% end -%>
  <div class="clear_left"></div>
  <div class="navi"><%= will_paginate_link @users %></div>
<% end -%>
</div>
