<% @revert_columns = %w(stop_new_user hide_email activation_lifetime enable_change_picture access_record_limit) -%>
<div class="box tabular">
  <p><%= settings_label_with_check_box_tag :stop_new_user %></p>
  <p><%= settings_label_with_check_box_tag :hide_email %></p>
  <p><%= settings_label_with_select_tag :activation_lifetime, (1..10).to_a.map{ |i| i.to_s } %></p>
  <p><%= settings_label_with_check_box_tag :enable_change_picture %></p>
  <p><%= settings_label_with_select_tag :access_record_limit , %w(10 30 50 100).to_a.map{ |i| i.to_s } %></p>
</div>
