<h3><%= _('メール関連設定') %></h3>
<div class="box tabular">
  <p><%= settings_label_with_check_box_tag :mail_function_setting %></p>
  <p><%= settings_label_with_text_field_tag :delivery_method %></p>
  <p><%= settings_label_with_check_box_tag :raise_delivery_errors %></p>
</div>
<h3><%= label Admin::Setting.name, :smtp_settings %></h3>
<div class="box tabular">
  <% Admin::Setting.smtp_settings.each do |key, val| -%>
    <% smtp_setting_prefix = "settings[smtp_settings]" -%>
    <p>
    <%= label Admin::Setting.name, "smtp_settings_#{key}".to_sym %>
    <%= text_field_tag "#{smtp_setting_prefix}[#{key}]", val %>
    </p>
  <% end -%>
</div>
