<div class="box"><%= _('Here you can set wordings and basic behaivior of SKIP.<br />Contact email address is where you accept user reports<br />so enter a email address that reaches system administrators (e.g. mailing list).<br />Modify other settings as necessary.<br />') %></div>
<% @revert_columns = [] -%>
<% @revert_columns.concat(name_columns = %w(abbr_app_title login_account point_button)) -%>
<h4><%= _('Names') %></h4>
<div class="box tabular">
<% name_columns.each do |key| -%>
  <p><%= settings_label_with_text_field_tag key.to_sym %></p>
<% end -%>
</div>

<% @revert_columns.concat(inform_columns = %w(contact_addr)) -%>
<h4><%=h _('Support') %></h4>
<div class="box tabular">
<% inform_columns.each do |key| -%>
  <p><%= settings_label_with_text_field_tag key.to_sym %></p>
<% end -%>
</div>

<% @revert_columns.concat(footer_columns = %w(footer_first footer_second)) -%>
<h4><%= _('Footer') %></h4>
<div class="box tabular">
<% footer_columns.each do |key| -%>
  <p><%= settings_label_with_text_field_tag key.to_sym, :size => 70 %></p>
<% end -%>
</div>

<% @revert_columns = %w(contact_mail_contain_contents host_and_port protocol) -%>
<h4><%= _('Email') %></h4>
<div class="box tabular">
  <p><%= settings_label_with_check_box_tag :contact_mail_contain_contents %></p>
  <p><%= settings_label_with_text_field_tag :host_and_port unless SkipEmbedded::InitialSettings['host_and_port']  %></p>
  <p><%= settings_label_with_text_field_tag :protocol unless SkipEmbedded::InitialSettings['protocol'] %></p>
</div>

<% @revert_columns.concat(%w(stop_new_user hide_email activation_lifetime enable_change_picture enable_change_section access_record_limit entry_showed_tab_limit_per_page)) -%>
<h4><%= _('Others') %></h4>
<div class="box tabular">
  <p><%= settings_label_with_check_box_tag :stop_new_user %></p>
  <p><%= settings_label_with_check_box_tag :hide_email %></p>
  <p><%= settings_label_with_select_tag :activation_lifetime, (1..10).to_a.map{ |i| i.to_s } %></p>
  <p><%= settings_label_with_check_box_tag :enable_change_picture %></p>
  <p><%= settings_label_with_check_box_tag :enable_change_section %></p>
  <p><%= settings_label_with_select_tag :access_record_limit , %w(10 30 50 100).to_a.map{ |i| i.to_s } %></p>
  <p><%= settings_label_with_select_tag :entry_showed_tab_limit_per_page, %w(10 20 30 50 100).to_a.map{ |i| i.to_s } %></p>
</div>
