<% @revert_columns = %w(recent_date) -%>
<div class="box tabular">
<% @revert_columns.each do |key| -%>
  <p><%= settings_label_with_text_field_tag key.to_sym %></p>
<% end -%>
</div>
<h3><%= label Admin::Setting.name, :antenna_settings %></h3>
<div class="box tabular">
  <p><%= settings_label_with_text_field_tag :initial_anntena %></p>
  <div id="antenna_default_groups">
    <p><%= label Admin::Setting.name, :antenna_default_group %>
    <a id="add_antenna_default_group" href="#">[<%= _('ID欄を追加') %>]</a>
    <a id="remove_antenna_default_group" href="#">[<%= _('ID欄を削除') %>]</a>
    <%= help_icon_tag :content => _(Admin::Setting.name + '|' + 'antenna_default_group_description'.humanize) %>
    </p>
    <% Admin::Setting.antenna_default_group.each_with_index do |antenna, index| -%>
      <% @antenna = antenna -%>
      <% @index = index -%>
      <%= render :partial => 'antenna_default_group' %>
    <% end -%>
  </div>
</div>

<% content_for :javascript do -%>
<script type="text/javascript">
$j(function(){
    var index = <%= @index || 0 %>;
    $j('#add_antenna_default_group')
    .click(function(){
        index++;
        $j.ajax({
            url: '<%= admin_settings_ado_antenna_default_group_url %>',
            data: 'index=' + index,
            success: function(html) {
                $j('#antenna_default_groups').append(html);
            }
        });
    });
    $j('#remove_antenna_default_group')
    .click(function(){
        $j('.antenna_default_group:last').remove();
    });
    $j('form')
    .submit(function(){
        if($j('.antenna_default_group').size() == 0){
            $j('#antenna_default_groups').append('<%= hidden_field_tag 'settings[antenna_default_group]', '' %>')
        }
    });
});
</script>
<% end -%>
