<div class="box tabular">
  <p><%= settings_label_with_text_field_tag :develop_team_gid %></p>
  <p><%= settings_label_with_text_field_tag :initial_anntena %></p>
  <div id="antenna_default_groups">
    <p><%= label Admin::Setting.name, :antenna_default_group %>
    <a id="add_antenna_default_group" href="#">[<%= _('グループIDを追加') %>]</a>
    <a id="remove_antenna_default_group" href="#">[<%= _('グループIDを除去') %>]</a>
    <%= help_icon_tag :content => _(Admin::Setting.name + '|' + 'antenna_default_group_description'.humanize) %>
    </p>
    <% Admin::Setting.antenna_default_group.each_with_index do |antenna, index| -%>
      <% @antenna = antenna -%>
      <% @index = index -%>
      <%= render :partial => 'antenna_default_group' %>
    <% end -%>
  </div>
  <p><%= settings_label_with_check_box_tag :stop_new_user %></p>
</div>

<% content_for :javascript do -%>
<script type="text/javascript">
$j(function(){
    var index = <%= @index %>;
    $j('#add_antenna_default_group')
    .click(function(){
        index++;
        $j.ajax({
            url: '<%= admin_settings_ado_antenna_default_group_url %>',
            data: 'index=' + index,
            success: function(html) {
                $j('#antenna_default_groups').append(html);
            }
        });
    });
    $j('#remove_antenna_default_group')
    .click(function(){
        $j('.antenna_default_group:last').remove();
    });
});
</script>
<% end -%>
