<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% help_msg = _('全ての入力値を、初期設定値に置き換えます。保存ボタンを押さない限り、保存されません。') -%>
<% form_tag(admin_settings_update_all_path(:tab => params[:tab])) do -%>
<%= render :partial => params[:tab] %>
<%= submit_tag _('Save'), :disable_with => _('Saving...') %>
<%= link_to _('初期値に戻す'), '#', :id => 'revert_to_default_link' %><%= help_icon_tag :content => help_msg %>
<% end -%>

<% if params[:tab] == 'main' -%>
<div style="margin-top: 20px;">

  <h3 class="topics"><%= _('初期設定内容') %></h3>
  <%= _('以下は運用開始後は原則として変更できない設定項目です。') %>
<div class="box tabular">
  <% keys = %w(proxy_url max_share_file_size not_blank_link_re user_code_format_regex delivery_method login_mode administrator_addr) -%>
  <% keys << 'fixed_op_url' if login_mode?(:fixed_rp) -%>
  <% keys.each do |key| -%>
    <p class="initial_setting">
    <label><%= _("#{Admin::InitialSetting.name}|#{key.humanize}") %></label>
    <%= help_icon_tag(:content => _("#{Admin::InitialSetting.name}|#{key.humanize} description")) %>
     : <%=h INITIAL_SETTINGS[key] %>
    </p>
  <% end -%>

  <% %w(ssl_setting full_text_search_setting password_edit_setting username_use_setting usercode_dips_setting).each do |key| -%>
    <p class="initial_setting">
    <label><%= _("#{Admin::InitialSetting.name}|#{key.humanize}") %></label>
    <%= help_icon_tag(:content => _("#{Admin::InitialSetting.name}|#{key.humanize} description")) %>
     : <%=h _("#{Admin::InitialSetting.name}|#{key.humanize}|#{INITIAL_SETTINGS[key]}") %>
    </p>
  <% end -%>
</div>

</div>
<% end -%>


<% content_for :javascript do -%>
<script type="text/javascript">
$j(function(){
    var revertToDefault = function(target_id, value) {
        var targetObj = $j('#' + target_id);
        if(targetObj.attr('type') == 'checkbox') {
            if(value == 'true') {
                targetObj.attr('checked', 'checked');
            } else {
                targetObj.removeAttr('checked');
            }
        } else {
            // select text textarea等
            targetObj.val(value);
        }
    }

    $j('#revert_to_default_link').click(function(){
        if(!confirm('<%= help_msg %>')){
            return;
        }
<% @revert_columns ||= [] -%>
<% @revert_columns.each do |key| -%>
        revertToDefault('setting_' + '<%= key %>', '<%= Admin::Setting.send("default_" + key) %>');
<% end -%>
    });
});
</script>
<% end -%>
