<div class="content">
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% help_msg = _('Reverting all values with initial settings. Settings are not saved unless "Save" button being clicked.') -%>
<% form_tag(admin_settings_update_all_path(:tab => params[:tab])) do -%>
  <%= render :partial => 'system/error_messages_for', :locals => {:messages => @error_messages} if @error_messages %>
<%= render :partial => params[:tab] %>
<%= submit_tag _('Save'), :disable_with => _('Saving...') %>
<%= link_to _('Revert to default values'), '#', :id => 'revert_to_default_link' %><%#= help_icon_tag :content => help_msg %>
<% end -%>
</div>

<% content_for :javascript_initializers do -%>
    var revertToDefault = function(target_id, value) {
        var targetObj = $j('#' + target_id);
        if(targetObj.attr('type') == 'checkbox') {
            if(value == 'true') {
                targetObj.attr('checked', 'checked');
            } else {
                targetObj.removeAttr('checked');
            }
        } else {
            // select text textarea等
            targetObj.val(value);
        }
    }

    $j('#revert_to_default_link').click(function(){
        if(!confirm('<%= help_msg %>')){
            return false;
        }
<% @revert_columns ||= [] -%>
<% @revert_columns.each do |key| -%>
        revertToDefault('setting_' + '<%= key %>', '<%= Admin::Setting.send("default_" + key) %>');
<% end -%>
        return false;
    });
<% end -%>
