
<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>
<div class="box tabular">
  <%= render :partial => '/admin/search_box' %>
  <p><%= _('グループカテゴリを削除したい場合、対象のグループカテゴリに属するグループが全て削除されている必要があります。') %></p>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[code name icon description initial_selected],
               :disp_columns_proc => lambda do |object, column|
      case column
      when 'initial_selected'
        _("GroupCategory|Initial selected|#{object.initial_selected}")
      else
        object.send(column.to_sym)
      end
    end,
               :objects => @group_categories,
               :class_name => 'Admin::GroupCategory',
               :link_elem_size => 3,
               :link_elem_proc => lambda { |object|
      result = ""
      result << content_tag(:td, link_to(_("Show"), object) )
      result << content_tag(:td, link_to(_("Edit"), edit_admin_group_category_path(object)) )
      result << content_tag(:td, link_to(_("Destroy"), object, {:confirm => _('Are you sure?'), :method => :delete}) ) if object.deletable?
      result
    }
             }
  -%>
</div>
<br />
<%= link_to _('New %{model}') % {:model => _('group category')}, new_admin_group_category_path %> |
<% end -%>
