<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>
  <% unless params[:target].blank? -%>
    <% form_tag(admin_documents_update_path(:target => params[:target])) do -%>
    <div class="box tabular">
      <p>
      <%= text_area_tag("documents[#{params[:target]}]", @document, :id => "documents_#{params[:target]}", :size => '80x40') %>
      <%= help_icon_tag :content => _("Admin::DocumentsController|#{params[:target]}_description") %>
      </p>
    <%= submit_tag _('Save'), :disable_with => _('Saving...') %>
    </div>
    <% end -%>
  <% end -%>
<% end -%>

<%= render :partial => '/admin/contents_left' %>
