<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>
  <% unless params[:target].blank? -%>
    <% form_tag(admin_documents_update_path(:target => params[:target])) do -%>
    <div class="box tabular">
      <p><%= _("Admin::DocumentsController|#{params[:target]}_description") %></p>
      <p><%= text_area_tag("documents[#{params[:target]}]", @document, :id => "documents_#{params[:target]}", :class => "invisible") %></p>
    <%= submit_tag _('Save'), :disable_with => _('Saving...') %>
    <%= link_to '[' + _('Revert to default page') + ']', admin_documents_revert_path(:target => params[:target]), :method => :post, :confirm => _('Current page will be overwritten.  Are you sure to continue?') %>
    </div>
    <% end -%>
    <% ckeditor "documents_#{h(params[:target])}", 'fullPage' => true %>
  <% else -%>
    <div class="box">
      <p>
        <%= _("The system provides online document for inexperienced users.<br />")%>
        <%= _("Customize the document template to fit your usage.<br />")%>
      </p>
      <p>
        <%= _("Select a page to edit from the menu on left.")%>
      </p>
      <p style="color:red;">
        <b><%= _("*Input explanation in HTML format. Do not use codes that can cause security issues (e.g. javascripts).")%></b>
      </p>
    </div>
  <% end -%>
<% end -%>

<% content_for :contents_left do -%>
<div class="box_space">
  <div class="box_space_title"><%= _('Admin Menu')%></div>
  <div class="box_space_body">
    <ul>
    <% Admin::DocumentsController::CONTENT_NAMES.each do |name| -%>
      <%= generate_box_menu_link( s_("Admin::DocumentsController|#{name}"), admin_documents_path(name), request.url == admin_documents_url(name) ) %>
    <% end -%>
    </ul>
  </div>
  <div class="box_space_bottom"></div>
</div><!-- box_space -->
<% end -%>
