<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>
  <% unless params[:target].blank? -%>
    <% form_tag(admin_documents_update_path(:target => params[:target])) do -%>
    <div class="box tabular">
      <p>
      <%= text_area_tag("documents[#{params[:target]}]", @document, :id => "documents_#{params[:target]}", :size => '80x40') %>
      <%= help_icon_tag :content => _("Admin::DocumentsController|#{params[:target]}_description") %>
      </p>
    <%= submit_tag _('Save'), :disable_with => _('Saving...') %>
    <%= link_to '[' + _('実際のページを表示') + ']', "#{controller.request.relative_url_root}/custom/#{params[:target]}.html", :popup => true %>
    </div>
    <% end -%>
  <% else -%>
    <div class="box">
      <p>
        SNS内の各所の説明文の編集を行います。<br />
        HTML形式のドキュメントを書き換えてください。
      </p>
      <p>
        左のメニューから編集したいページを選択してください。
      </p>
    </div>
  <% end -%>
<% end -%>

<%= render :partial => '/admin/contents_left' %>
