<p><%= _("Hello, my name is %s.") % h(user.name) %></p>
<p><%= _('I have joined the site!!') %></p>
<p><%= _('Self introduction follows:') %></p>
<hr />
<% user.user_profile_values.each do |profile| -%>
<p><%= h(profile.user_profile_master.name) %> :</p>
<p><%= h(profile.value) %></p>
<% end -%>
