<%-# show.html.erb からコピペ -%>
<% content_for :stylesheet do -%>
  <%= all_stylesheet_link_tag "style" %>
  <style type="text/css">
  div.input_line {
    border-bottom: 1px dotted silver;
    margin-bottom: 3px;
    padding-bottom: 2px;
  }
  div.input_line div.input_label {
    background-color: #f0f0ff;
    width: 115px;
    overflow: hidden;
    float: left;
    font-weight: bold;
    padding: 3px 5px;
    margin-right: 5px;
  }
  div.input_line div.input_value {
    float: left;
    padding: 3px 0;
  }
  div.input_line div.rich_value {
    clear: both;
    float: none;
    border: 1px solid silver;
    padding: 5px;
  }
  div.input_line div.input_bottom {
    height: 0;
    line-height: 0;
    clear: both;
  }
  </style>
<% end -%>
<div style="width: 200px;">
  <div class="box_space">
    <div class="box_space_title"><%= h @user.name %><span class="small">さん</span></div>
    <div class="box_space_img_body"><%= showPicture(@user, 120, 80, true) %></div>
    <div class="box_space_bottom">
      最終アクセス：<%= @user.before_access %>
    </div>

    <div class="box_space_bottom" style="text-align: center; font-size: 12px;">
      <div id="alternative" />
    </div>
  </div><!-- box_space -->
</div>
<% content_for :javascript do -%>
<%= all_javascript_include_tag 'jquery' %>
<%= skip_javascript_include_tag "swfobject.js" %>
<script type="text/javascript">
$(function() {
    <% if @ribbit and current_user.ribbit %>
    swfobject.embedSWF("<%= url_for('/RibbitOnSKIPCall.swf') %>", "alternative", "179", "69", "9.0.0", "<%= url_for('/expressInstall.swf') %>", <%= get_flash_vars(current_user.ribbit, @ribbit) %>);
    <% end %>
});
</script>
<% end -%>
