<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
  <%= render(:partial => "shared/menu", :locals => { :menu_items => ribbit_menu_items("call_history") }) %>
<% end -%>

<% content_for :contents_right do -%>
<ul class="ribbit">
  <!--
<% @histories.each do |history| -%>
<li>
  <div class="title"><%= "#{history[:id]}: #{history[:name]}" %></div>
  <div class="body"><%= history[:number] %></div>
</li>
<% end -%>
-->
</ul>
<% end -%>
<% call_log_swf_url = url_for("/RibbitOnSKIPCallLogs.swf") %>
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        id="RibbitOnSKIPCallLogs" width="100%" height="100%"
                        codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
                        <param name="movie" value="<%= call_log_swf_url %>" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#869ca7" />
                        <param name="allowScriptAccess" value="sameDomain" />
                        <embed src="<%= call_log_swf_url %>" quality="high" bgcolor="#869ca7"
                                width="100%" height="100%" name="RibbitOnSKIPCallLogs" align="middle"
                                play="true"
                                loop="false"
                                quality="high"
                                allowScriptAccess="sameDomain"
                                type="application/x-shockwave-flash"
                                pluginspage="http://www.adobe.com/go/getflashplayer">
                        </embed>
        </object>
<% content_for :javascript do -%>
<script type="text/javascript">
var renderTable = function(list,str){
    var ulObj = $j('ul.ribbit');
    $j.each(list, function() {
        var liObj = $j('<li><div calss="title">' + this.id + ":" + this.number +'</div><div class="body">' + this.name + '</div></li>');
        ulObj.append(liObj);
    });
};
</script>
<% end -%>
