<% content_for :contents_left do -%>
<%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
<%= render(:partial => "shared/menu", :locals => { :menu_items => ribbit_menu_items("edit") }) %>
<% end -%>

<% content_for :contents_right do -%>
<% form_for(@ribbit, :url => {:controller => :ribbits, :action => :update}) do |f| -%>
<p>
  <%= f.label :purpose_number %>
  <%= f.text_field :purpose_number %>
</p>
<p>
  <%= f.label :username %>
  <%= f.text_field :username %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.submit %>
</p>
<% end -%>
<% end -%>
