<style type="text/css">
  div#tab_body div#contents_container div#contents_left { width: 220px; }
  div#tab_body div#contents_container div#contents_right { margin-left: 225px; }
</style>
<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
  <%= render(:partial => "shared/menu", :locals => { :menu_items => ribbit_menu_items("message") }) %>
  <%= render(:partial => "receive", :locals => {:ribbit => current_user.ribbit}) if current_user.ribbit %>
<% end -%>
<% content_for :contents_right do -%>
<div class="desc">
  <%= _('Ribbitのメッセージを表示します。') %>
</div>
<div id="load_message"><%= _('Now Loading from Ribbit ...') %></div>
<table class="ribbit normal sortable">
  <thead>
    <tr>
      <th><%= _('Call ID') %></th>
      <th><%= _('From Number') %></th>
      <th><%= _('Title') %></th>
      <th><%= _('Notes') %></th>
      <th><%= _('Name') %></th>
      <th><%= _('Start Time') %></th>
      <th><%= _('Call Type') %></th>
      <th><%= _('transcription') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% end -%>
<% content_for :javascript do -%>
<%= skip_javascript_include_tag "swfobject.js" %>
<%= skip_jquery_include_tag 'jquery.tablesorter' %>
<script type="text/javascript">
    var getMessages = function(list){
        var createObj = function(obj){
            var idStr =       "<td>" + obj.id + "</td>";
            var numberStr =   "<td>" + obj.number + "</td>";
            var callTypeStr = "<td>" + obj.callType.TYPE + "</td>";
            var notesStr = "<td>" + obj.notes + "</td>";
            var startTimeStr = "<td>" + obj.startTime + "</td>";
            var nameStr =     "<td>" + obj.name + "</td>";
            var titleStr =     "<td>" + obj.title + "</td>";
            var transcriptionStr =     "<td>" + obj.transcription + "</td>";
            var concatStr = '<tr>' + idStr + numberStr + titleStr + notesStr + nameStr + startTimeStr + callTypeStr + transcriptionStr + '</tr>';
            return concatStr;
        };
        var tableObj = $j('table.ribbit');
        $j.each(list, function() {
            var liObj = $j(createObj(this));
            tableObj.find('tbody').append(liObj);
            tableObj.tablesorter();
        });
        tableObj.show();
        $j('div#load_message').hide();
    };
$j(function(){
    var tableObj = $j('table.ribbit').hide();
});
</script>
<% end -%>

