<% content_for :contents_left do -%>
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
  <%= render(:partial => "shared/menu", :locals => { :menu_items => ribbit_menu_items("message") }) %>
<% end -%>

<% content_for :contents_right do -%>
<ul class="ribbit">
  <div id="alternative"></div>
</ul>
<% end -%>
<% content_for :javascript do -%>
<%= skip_javascript_include_tag "swfobject.js" %>
<script type="text/javascript">
$j(function() {
    <% if @ribbit %>
    swfobject.embedSWF("<%= url_for('/RibbitOnSKIPMessages.swf') %>", "alternative", "244", "132", "9.0.0", "<%= url_for('/expressInstall.swf') %>", <%= get_flash_vars(@ribbit) %>);
    <% end %>
});
    var renderTable = function(list){
        alert(list);
        var ulObj = $j('ul.ribbit');
        $j.each(list, function() {
            var liObj = $j('<li><div class="title">' + this.id + ":" + this.number +'</div><div class="body">' + this.name + '</div></li>');
            ulObj.append(liObj);
        });
        $j('object#alternative').hide();
    };
</script>
<% end -%>
