<%= render :partial => '/admin/data_menu_box' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
<% form_for(@openid_identifier, :url => admin_user_openid_identifier_url(@user, @openid_identifier), :method => :put) do |f| %>
  <%= error_messages_for :openid_identifier %>

  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Now Updating...') %>
  </p>
<% end %>
</div>
<% end -%>
