<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1>Editing openid_identifier</h1>

<% form_for(@openid_identifier, :url => admin_account_openid_identifier_url(@account, @openid_identifier), :method => :put) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_account_openid_identifier_url(@account, @openid_identifier) %> |
<%= link_to 'Back', admin_account_openid_identifiers_path(@account) %>
<% end -%>
