<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('New %{model}') % {:model => _('openid identifier')} %></h2>

<div class="box tabular">
<% form_for(@openid_identifier, :url => admin_account_openid_identifiers_url(@account)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit _('Create'), :disable_with => _('Creating...') %>
  </p>
<% end %>
</div>

<%= link_to _('Back'), admin_account_openid_identifiers_path %>
<% end -%>
