<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @openid_identifier.class, :url %>:</b>
  <%=h @openid_identifier.url %>
</p>


<%= link_to _('Edit'), edit_admin_account_openid_identifier_path(@account, @openid_identifier) %> |
<%= link_to _('Back'), admin_account_openid_identifiers_path %>
<% end -%>
