<h1>Editing group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gid %><br />
    <%= f.text_field :gid %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :protected %><br />
    <%= f.check_box :protected %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to _('Show'), @group %> |
<%= link_to _('Back'), admin_groups_path %>
