<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1>Listing groups</h1>

<%= render :partial => '/admin/search_box' %>
<table>
  <tr>
    <th><%= _('Name') %></th>
    <th><%= _('Gid') %></th>
    <th><%= _('Description') %></th>
    <th><%= _('Protected') %></th>
    <th><%= _('Category') %></th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h group.gid %></td>
    <td><%=h group.description %></td>
    <td><%=h group.protected %></td>
    <td><%=h group.category %></td>
    <td><%= link_to _('Show'), group %></td>
    <td><%= link_to _('Edit'), edit_admin_group_path(group) %></td>
    <td><%= link_to _('Destroy'), group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('New group'), new_admin_group_path %>
<% end -%>
