<div class="box"><%= _('Here you can set the favicon and background image of the login screen.<br />Modify as necessary.') %></div>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <h4><%= _('Logo image') %></h4>
  <p><%= _('%{extension} formats are accepted. Maximum file size is %{size}Kbytes.') % {:extension => Admin::ImagesController::LogoImage.extension, :size => Admin::ImagesController::LogoImage.max_size / 1.kilobyte} %></p>
  <table>
  <% Admin::ImagesController::LogoImage::IMAGE_NAMES.each do |target_name| -%>
    <tr><td>
    <%= render :partial => 'form',
               :locals => { :target_name => target_name,
                            :target_path => "/custom/images/#{target_name}.png",
                            :title => s_("Admin::ImagesController|#{target_name}"),
                            :description => s_("Admin::ImagesController|#{target_name}_description") } %>
    </td></tr>
  <% end -%>
  </table>
  <h4><%= _('Background image of log in screen.') %></h4>
  <p><%= _('%{extension} formats are accepted. Maximum file size is %{size}Kbytes.') % {:extension => Admin::ImagesController::BackGroundImage.extension, :size => Admin::ImagesController::BackGroundImage.max_size / 1.kilobyte} %></p>
  <table>
    <% Admin::ImagesController::BackGroundImage::IMAGE_NAMES.each_with_index do |target_name, index| -%>
    <tr><td>
    <%= render :partial => 'form',
               :locals => { :target_name => target_name,
                            :target_path => "/custom/images/titles/#{target_name}.jpg",
                            :title => s_("Admin::ImagesController|background") + (index + 1).to_s,
                            :description => s_("Admin::ImagesController|background_description") } %>
    </td></tr>
    <% end -%>
  </table>
  <h4><%= _('favicon image') %></h4>
  <p><%= _('%{extension} formats are accepted. Maximum file size is %{size}Kbytes.') % {:extension => Admin::ImagesController::FaviconImage.extension, :size => Admin::ImagesController::FaviconImage.max_size / 1.kilobyte} %></p>
  <% target_name = Admin::ImagesController::FaviconImage::IMAGE_NAMES[0] -%>
  <%= render :partial => 'form',
             :locals => { :target_name => target_name,
                          :target_path => "/custom/#{target_name}.ico",
                          :title => s_("Admin::ImagesController|favicon"),
                          :description => s_("Admin::ImagesController|favicon_description") } %>
</div>
