<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <h4><%= _('Logo image') %></h4>
  <p><%= _('%{extentions} formats are accepted. Maximum file size is %{size}Kbytes.') % {:extentions => Admin::ImagesController::LogoImage.extentions, :size => Admin::ImagesController::LogoImage.max_size / 1.kilobyte} %></p>
  <% Admin::ImagesController::LogoImage::IMAGE_NAMES.each do |target_name| -%>
    <%= render :partial => 'form',
               :locals => { :target_name => target_name,
                            :target_path => "/custom/images/#{target_name}.png",
                            :title => s_("Admin::ImagesController|#{target_name}"),
                            :description => s_("Admin::ImagesController|#{target_name}_description") } %>
  <% end -%>
  <h4><%= _('Background image of log in screen.') %></h4>
  <p><%= _('%{extentions} formats are accepted. Maximum file size is %{size}Kbytes.') % {:extentions => Admin::ImagesController::BackGroundImage.extentions, :size => Admin::ImagesController::BackGroundImage.max_size / 1.kilobyte} %></p>
  <% Admin::ImagesController::BackGroundImage::IMAGE_NAMES.each_with_index do |target_name, index| -%>
    <%= render :partial => 'form',
               :locals => { :target_name => target_name,
                            :target_path => "/custom/images/titles/#{target_name}.jpg",
                            :title => s_("Admin::ImagesController|background") + (index + 1).to_s,
                            :description => s_("Admin::ImagesController|background_description") } %>
  <% end -%>
  <h4><%= _('favicon image') %></h4>
  <p><%= _('%{extentions} formats are accepted. Maximum file size is %{size}Kbytes.') % {:extentions => Admin::ImagesController::FaviconImage.extentions, :size => Admin::ImagesController::FaviconImage.max_size / 1.kilobyte} %></p>
  <% target_name = Admin::ImagesController::FaviconImage::IMAGE_NAMES[0] -%>
  <%= render :partial => 'form',
             :locals => { :target_name => target_name,
                          :target_path => "/#{target_name}.ico",
                          :title => s_("Admin::ImagesController|favicon"),
                          :description => s_("Admin::ImagesController|favicon_description") } %>
</div>
