<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <% Admin::ImagesController::PNG_IMAGE_NAMES.each do |target| -%>
    <% form_tag admin_images_update_path(:target => target), :multipart => true, :style => 'display: inline' do -%>
      <label for="<%= target %>"><%= _('Admin::ImagesController|' + target) %></label>
      <%= file_field_tag target, :size => 40 %>
      <%= submit_tag _('Upload'), :disable_with => _('Uploading...') %>
    <% end -%>
    <%= help_icon_tag :content => _("Admin::ImagesController|#{target}_description") %> |
    <%= link_to _('現在の画像を表示'), image_path("/custom/images/#{target}.png"), :popup => true %> |
    <%= link_to _('既定の画像に戻す'), admin_images_revert_path(:target => target), :method => :post, :confirm => _('現在設定中の画像が消えてしまいますがよろしいですか?') %>
  <% end -%>
  <% Admin::ImagesController::BACKGROUND_IMAGE_NAMES.each_with_index do |target, index| -%>
    <% form_tag admin_images_update_path(:target => target), :multipart => true, :style => 'display: inline' do -%>
      <label for="<%= target %>"><%= _('Admin::ImagesController|background') + (index + 1).to_s %></label>
      <%= file_field_tag target, :size => 40 %>
      <%= submit_tag _('Upload'), :disable_with => _('Uploading...') %>
    <% end -%>
    <%= help_icon_tag :content => _("Admin::ImagesController|background_description") %> |
    <%= link_to _('現在の画像を表示'), image_path("/custom/images/titles/#{target}.jpg"), :popup => true %> |
    <%= link_to _('既定の画像に戻す'), admin_images_revert_path(:target => target), :method => :post, :confirm => _('現在設定中の画像が消えてしまいますがよろしいですか?') %>
  <% end -%>
</div>
