<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>

<div class="box tabular">
  <h4><%= _('ロゴ画像') %></h4>
  <p><%= _('ファイル形式は%{extension}形式を利用可能できます。ファイルサイズは%{size}Kbyteまでアップロード可能です。' % {:extension => Admin::ImagesController::LogoImage.extension, :size => Admin::ImagesController::LogoImage.max_size / 1.kilobyte}) %></p>
  <% Admin::ImagesController::LogoImage::IMAGE_NAMES.each do |target_name| -%>
    <%= render :partial => 'form',
               :locals => { :target_name => target_name,
                            :target_path => "/custom/images/#{target_name}.png",
                            :title => _("Admin::ImagesController|#{target_name}"),
                            :description => _("Admin::ImagesController|#{target_name}_description") } %>
  <% end -%>
  <h4><%= _('ログイン画面の背景画像') %></h4>
  <p><%= _('ファイル形式は%{extension}形式を利用可能できます。ファイルサイズは%{size}Kbyteまでアップロード可能です。' % {:extension => Admin::ImagesController::BackGroundImage.extension, :size => Admin::ImagesController::BackGroundImage.max_size / 1.kilobyte}) %></p>
  <% Admin::ImagesController::BackGroundImage::IMAGE_NAMES.each_with_index do |target_name, index| -%>
    <%= render :partial => 'form',
               :locals => { :target_name => target_name,
                            :target_path => "/custom/images/titles/#{target_name}.jpg",
                            :title => _("Admin::ImagesController|background") + (index + 1).to_s,
                            :description => _("Admin::ImagesController|background_description") } %>
  <% end -%>
  <h4><%= _('favicon画像') %></h4>
  <p><%= _('ファイル形式は%{extension}形式を利用可能できます。ファイルサイズは%{size}Kbyteまでアップロード可能です。' % {:extension => Admin::ImagesController::FaviconImage.extension, :size => Admin::ImagesController::FaviconImage.max_size / 1.kilobyte}) %></p>
  <% target_name = Admin::ImagesController::FaviconImage::IMAGE_NAMES[0] -%>
  <%= render :partial => 'form',
             :locals => { :target_name => target_name,
                          :target_path => "/custom/#{target_name}.ico",
                          :title => _("Admin::ImagesController|favicon"),
                          :description => _("Admin::ImagesController|favicon_description") } %>
</div>
