
<%= render :partial => 'board_entries/preview_window' %>

<% form_tag({:action => 'update', :id=>@board_entry}, :multipart => true, :id=>'board_entry_form') do -%>
  <%= render :partial => 'board_entries/form' %>
  <% if @conflicted %>
  <div class="desc">＊編集をやり直す場合は、"やり直し"ボタンを、他の人の編集内容を上書きする場合は"更新"ボタンを押してください</div>
　<% edit_url = url_for(:action => 'edit', :id => @board_entry.id) %>
  <%= button_to_function("やり直し", "if(confirm('編集内容が破棄されますが、よろしいですか？')){window.location.href='#{edit_url}' }") %>
  <% end %>
  <%= submit_tag "更新", :id => 'submit_button' %>
  <%= check_box_tag("non_update", "true") %>ちょっとした更新<br/>
<% end %>

<div class="desc" style="margin-top: 10px;">
  <%= link_to("[削除する]", {:action => "destroy", :id => @board_entry}, :confirm => "本当に削除しますか？", :method => :post)%>
</div>
