<%= error_messages_for :user %>
<p>
  <%= label Admin::UserUid.name, :uid %>
  <%= text_field :user_uid, :uid %>
</p>
<p>
  <%= label Admin::UserProfile.name, :email %>
  <%= text_field :user_profile, :email %>
</p>
<p>
  <%= label Admin::User.name, :name %>
  <%= text_field :user, :name %>
</p>
<p>
  <%= label Admin::UserProfile.name, :section %>
  <%= text_field :user_profile, :section %>
</p>
<p>
  <%= label Admin::User.name, :password %>
  <%= password_field :user, :password %>
</p>
<p>
  <%= label Admin::User.name, :password_confirmation %>
  <%= password_field :user, :password_confirmation %>
</p>
