<%= error_messages_for :user %>

<p>
  <%= label Admin::UserUid.name, :uid, Admin::Setting.login_account %>
  <% if @user.new_record? -%>
  <%= text_field :user_uid, :uid %>
  <% else -%>
  :<%= h @user.code %>
  <% end -%>
</p>
<% if SkipEmbedded::InitialSettings['username_use_setting'] and !@user.new_record? -%>
<p>
  <%= label Admin::User.name, :uid %>
  :<%= h @user.uid %>
</p>
<% end -%>
<p>
  <%= label Admin::User.name, :name %>
  :<%= text_field :user, :name %>
</p>
<p>
  <%= label Admin::User.name, :status %>
  <% if @user.new_record? -%>
  :<%= s_('User|Status|UNUSED') %>
  <% else -%>
  <% unless @user.unused? -%>
  :<%= select :user, :status, Admin::User.status_select.delete_if{|select| select.last == 'UNUSED'} %>
  <%= help_icon Admin::User.name, :status %>
  <% else -%>
  :<%= s_('User|Status|UNUSED') %>
  <% end -%>
  <% end %>
</p>
<% unless @user.new_record? -%>
<p>
  <%= label Admin::User.name, :admin %>
  :<%= check_box :user, :admin %>
  <%= help_icon Admin::User.name, :admin %>
</p>
<p>
  <%= label Admin::User.name, :locked %>
  :<%= check_box :user, :locked %>
  <%= help_icon Admin::User.name, :locked %>
</p>
<% end -%>
<p>
  <%= label Admin::User.name, :email %>
  <%= text_field :user, :email %>
</p>
<p>
  <%= label Admin::User.name, :section %>
  <%= text_field :user, :section %>
</p>
<% if !SkipEmbedded::InitialSettings['mail']['show_mail_function'] && @user.active? && login_mode?(:password) -%>
<p>
  <%= label Admin::User.name, :password %>
  : [<%= link_to _('"Show URL for resetting'), issue_password_reset_code_admin_user_path(@user), :id => 'issue_password_reset_code_link' %>]
  <%= help_icon_tag :content => _('This will show the URL for resetting the password. Send the URL shown by clicking the link to the user by email.') %>
</p>
<div id="show_password_reset_code">
</div>
<% end -%>
<% unless login_mode?(:password) -%>
<p>
  <%= label Admin::OpenidIdentifier.name, :url %>
  <% if @user.openid_identifiers and @user.openid_identifiers.first and !@user.openid_identifiers.first.url.blank? and !@user.openid_identifiers.first.new_record? %>
  :<%= h @user.openid_identifiers.first.url %>
  [<%= link_to(_('Edit'), edit_admin_user_openid_identifier_path(@user, @user.openid_identifiers.first)) %>]
  <% else %>
    <%= text_field :openid_identifier, :url %>
  <% end -%>
</p>
<% end -%>

<% content_for :javascript_initializers do -%>
  $j('#issue_password_reset_code_link').click(function(){
    $j.ajax({
      url: $j(this).attr('href'),
      success: function(text){
        $j('#show_password_reset_code').html(text);
      }
    });
    return false;
  });
<% end -%>
