<%= error_messages_for :user, :user_profile %>

<p>
  <%= label Admin::UserUid.name, :uid, _("Admin::User|User uids") %>
  <% if @user.new_record? -%>
  <%= text_field :user_uid, :uid %>
  <%= help_icon Admin::UserUid.name, :uid %>
  <% else -%>
  :<%= h @user.code %>
  <% end -%>
</p>
<% unless @user.new_record? -%>
<p>
  <%= label Admin::User.name, :uid %>
  :<%= h @user.uid %>
</p>
<% end -%>
<p>
  <%= label Admin::User.name, :name %>
  :<%= text_field :user, :name %>
  <%= help_icon Admin::User.name, :name %>
</p>
<p>
  <%= label Admin::User.name, :status %>
  <% if @user.new_record? -%>
  :<%= _('User|Status|UNUSED') %>
  <% else -%>
  <% unless @user.unused? -%>
  :<%= select :user, :status, Admin::User.status_select.delete_if{|select| select.last == 'UNUSED'} %>
  <%= help_icon Admin::User.name, :status %>
  <% else -%>
  :<%= _('User|Status|UNUSED') %>
  <% end -%>
  <% end %>
</p>
<% unless @user.new_record? -%><p>
  <%= label Admin::User.name, :admin %>
  :<%= check_box :user, :admin %>
  <%= help_icon Admin::User.name, :admin %>
</p>
<% end -%>
<p>
  <%= label Admin::UserProfile.name, :email %>
  <% if @user.new_record? -%>
  :<%= text_field :user_profile, :email %>
  <%= help_icon Admin::UserProfile.name, :email %>
  <% else -%>
  :<%=h @user.user_profile.email %>
  <% end -%>
</p>
<% if !Admin::Setting.mail_function_setting && @user.active? -%>
<p>
  <%= label Admin::User.name, :password %>
  : [<%= link_to(_('再設定URLを表示する'), issue_password_reset_code_admin_user_path(@user), :class => 'nyroModal') %>]
  <%= help_icon Admin::User.name, :password_reset_token %>
</p>
<% end -%>
