  <%= form.error_messages %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </p>
  <p>
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </p>
