<%= render :partial => '/admin/data_menu_box' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>
  <h3><%= _('Admin|Create Change Uid|Caution') %></h3>
  <p style="color: red;"><b><%= _('Admin|Create Change Uid|Caution Description') %></b></p>
<div class="box tabular">
  <% form_for(:user_uid, :url => {:action => :create_uid, :id => @user}) do |f| -%>
  <%= error_messages_for :user_uid %>
  <p>
    <%= f.label :uid, _('user name') %>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.submit _("Create") %>
  </p>
  <% end -%>
</div>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('form')
    .submit(function() {
        if(confirm('<%= _('You have chosen to create %{name}.') % {:name => _('user name')} + _('Are you sure?') %>')) {
            $j('#user_uid_submit').attr('disabled', 'disabled').val('<%= _('Creating...') %>');
        } else {
            return false;
        }
    });
<% end -%>
