<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <% form_for(@user) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Updating...') %>
  </p>
  <% end %>
  <% if @user.unused? -%>
  <div class="desc">
  <%= link_to "[[#{_('Destroy')}する]]", admin_user_path(@user), {:confirm => _('Are you sure?'), :method => :delete} %>
  </div>
  <% end -%>

</div>

<%= link_to _('Show'), @user %>
<% end -%>
