<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <% form_for(@user) do |f| %>
  <%= render :partial => f %>
  <p><%= f.submit _('Update'), :disable_with => _('Now Updating...') %></p>
  <% end %>
</div>

<% if user_name_mode?(:name) -%>
<%= link_to(_('Change uid'), {:action => :change_uid, :id => @user}) if @user.user_uids.size > 1 %>
<%= link_to(_('Create %{name}') % {:name => _('user name')}, {:action => :create_uid, :id => @user}) if @user.user_uids.size == 1 and @user.active? %>
<% end -%>

<% end -%>
