<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('Editing %{model}') % {:model => _('user')} %></h2>
<div class="box tabular">
  <% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :section %>
    <%= f.text_field :section %>
  </p>
  <p>
    <%= f.label :extension %>
    <%= f.text_field :extension %>
  </p>
  <p>
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </p>
  <p>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </p>
  <p>
    <%= f.submit _('Update'), :disable_with => _('Updating...') %>
  </p>
  <% end %>
</div>

<%= link_to _('Show'), @user %> |
<%= link_to _('Back'), admin_users_path %>
<% end -%>
