<div class="content">
  <h3><%= _('Create administrative user') %></h3>
  <% form_tag(first_new_admin_user_url(:code => params[:code])) do -%>
    <%= error_messages_for :user %>
    <table>
      <tr>
        <th><%= label Admin::UserUid.name, :uid, h(Admin::Setting.login_account) %></th>
        <td><%= text_field :user_uid, :uid %></td>
      </tr>
      <tr>
        <th><%= label Admin::User.name, :email %></th>
        <td><%= text_field :user, :email %></td>
      </tr>
      <tr>
        <th><%= label Admin::User.name, :name %></th>
        <td><%= text_field :user, :name %></td>
      </tr>
      <tr>
        <th><%= label Admin::User.name, :section %></th>
        <td><%= text_field :user, :section %></td>
      </tr>
      <tr>
        <th><%= label Admin::User.name, :password %></th>
        <td><%= password_field :user, :password %></td>
      </tr>
      <tr>
        <th><%= label Admin::User.name, :password_confirmation %></th>
        <td><%= password_field :user, :password_confirmation %></td>
      </tr>
    </table>
    <%= submit_tag _('Create'), :disable_with => _('Creating...') %>
  <% end -%>
</div>
