<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>
<div class="box">
  <div class="search_box">
    <% form_tag import_new_admin_user_path, :multipart => true do -%>
    <label for="file"><%= _('CSVファイル') %></label><%= file_field_tag :file %>
    <%= submit_tag _('Upload'), :disable_with => _('Uploading...') %>
    <% end -%>

    <h3><%= _('正しいCSVファイルの例') %></h3>
    <pre>
      111111,山田 太郎,経理,yamada@example.com,password
      222222,山田 花子,人事,h_yamada@example.com,password
      333333,鈴木 次郎,開発,suzuki@example.com,password</pre>
  </div>
  <% unless @users.empty? -%>
  <% unless flash[:error].nil? -%>
  <h2>アップロードしたCSVファイルのエラー行</h2>
  <p><%= _('エラーの詳細は各行の右端のアイコンをクリックすると表示されます。例にならって修正後再度アップロードして下さい。') %></p>
  <% end -%>
  <table class="normal sortable">
    <thead>
      <tr>
        <th><%= _('Line') %></th>
        <th><%= label Admin::UserUid.name, :uid %></th>
        <th><%= label Admin::User.name, :name %></th>
        <th><%= label Admin::UserProfile.name, :section %></th>
        <th><%= label Admin::UserProfile.name, :email %></th>
        <th><%= label Admin::User.name, :password %></th>
        <td style="width:16px;"></td>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |array, line| -%>
        <% @user, @user_profile, @user_uid = array -%>
        <% unless @user.errors.empty? -%>
        <tr class="<%= cycle('line_1', 'line_0') %>">
          <td><%= line+1 %></td>
          <td><%= @user_uid.uid %></td>
          <td><%= @user.name %></td>
          <td><%= @user_profile.section %></td>
          <td><%= @user_profile.email %></td>
          <td><%= '********' %></td>
          <%
            error_msg = []
            error_msg.concat @user.errors.full_messages.reject{|msg| msg.include?("User uid") || msg.include?("User profile") } unless @user.errors.empty?
            error_msg.concat @user_profile.errors.full_messages unless @user_profile.errors.empty?
            error_msg.concat @user_uid.errors.full_messages unless @user_uid.errors.empty?
          %>
          <td><%= help_icon_tag :content => "|#{error_msg.join('|')}" %></td>
        </tr>
        <% end -%>
      <% end -%>
    </tbody>
  </table>
  <% end -%>
</div>
  <%= link_to _('Listing %{model}') % {:model => _('user')}, admin_users_path %>
<% end -%>
