<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('Listing %{model}') % {:model => _('user')} %></h1>

<%= render :partial => '/admin/search_box' %>
<table>
  <tr>
    <% %w[Email Name Section Extension Introduction Retired Admin].each do |column| -%>
    <th><%= _("Admin::User|#{column}") %></th>
    <% end -%>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.email %></td>
    <td><%=h user.name %></td>
    <td><%=h user.section %></td>
    <td><%=h user.extension %></td>
    <td><%=h user.introduction  %></td>
    <td><%=h user.retired %></td>
    <td><%=h user.admin %></td>
    <td><%= link_to _('Show'), admin_user_path(user) %></td>
    <td><%= link_to _('Edit'), edit_admin_user_path(user) %></td>
    <td><%= link_to _('Destroy'), admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('New %{model}') % {:model => _('user')}, new_admin_user_path %>
<% end -%>
