<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <%= render :partial => '/admin/search_box', :locals => { :class_name => 'Admin::User' } %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[code uid name email section status admin lock issued_at last_authenticated_at last_password_updated_at],
               :disp_columns_proc => lambda do |object,column|
      case column
      when "status"
        if object.unused?
          if !object.activation_token.nil? and object.within_time_limit_of_activation_token?
            confirm_link = link_to( _('確認'), show_signup_url_admin_user_path(object), :class => 'nyroModal')
            _('利用開始待ち') + "(#{confirm_link})"
          else
            issue_link_str = Admin::Setting.mail_function_setting ? _('利用開始通知') : _('利用開始待ちにする')
            issue_link = link_to(issue_link_str, issue_activation_code_admin_user_path(object), :class => 'issue_activation_code_link')
            if login_mode?(:password)
              _("User|Status|#{object.status}") + "(#{issue_link})"
            else
              _("User|Status|#{object.status}")
            end
          end
        else
          _("User|Status|#{object.status}")
        end
      when "admin"
        _("User|Admin|#{object.admin}")
      when "lock"
        _("User|Lock|#{object.lock}")
      when "issued_at", "last_authenticated_at", "last_password_updated_at"
        time = object.send(column.to_sym)
        time.blank? ? '' : time.strftime("%Y/%m/%d %H:%M:%S")
      else
        object.send(column.to_sym)
      end
    end,
               :objects => @users,
               :class_name => 'Admin::User',
               :link_elem_size => 2,
               :link_elem_proc => lambda { |object|
      result = ""
      result << content_tag(:td, link_to(_("Edit"), edit_admin_user_path(object)) )
      result << content_tag(:td, link_to(_("Destroy"), object, {:confirm => _('Are you sure?'), :method => :delete}) ) if object.unused?
      result
    }
              }
  -%>
</div>
<% if login_mode?(:password) -%>
<%= link_to _('New %{model}') % {:model => _('user')}, new_admin_user_path %> |
<%= link_to _('New user from csv'), import_new_admin_user_path %>
<% end -%>
<% end -%>

<% content_for :javascript do -%>
<script type="text/javascript">
$j(function(){
    $j.fn.nyroModal.settings.processHandler = function(settings) {
        $j.nyroModalSettings({
            minWidth: 10, minHeight: 10
        });
    };
    $j('.issue_activation_code_link')
    .click(function() {
        return confirm('<%= Admin::Setting.mail_function_setting ? _('対象ユーザに利用開始通知メールを送信しますが宜しいですか?') : _('利用開始URLを発行します。次の画面で確認リンクを押して表示されるURLをユーザに送信してください。') %>');
    });
});
</script>
<% end -%>
