<%= render :partial => '/admin/contents_left' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box tabular">
  <%= render :partial => '/admin/search_box' %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[name status admin],
               :objects => @users,
               :class_name => 'Admin::User',
               :link_elem => [['Show','admin_user_path(object)'], ['Edit','edit_admin_user_path(object)'], ['Destroy','admin_user_path(object)',{:confirm => _('Are you sure?'), :method => :delete}]]
             }
  -%>
</div>
<br />
<%= link_to _('New user from csv'), import_new_admin_user_path %>

<% end -%>
