<div class="onetime_url">
<p><%= _('The URL for resetting your password as follows:') %></p>
<p><%=h @reset_password_url %></p>
<% unless SkipEmbedded::InitialSettings['mail']['show_mail_function'] -%>
<p><%= _('Send the URL to the email address below.') %></p>
<p><%=h @user.email %></p>
<p><%= mail_to(@user.email, _('Send an email with your email software (Receipent and message body will be set automatically)）'), :body => strip_tags(@mail_body).tosjis, :subject => _('Email for resetting your password').tosjis, :encode => 'hex') %></p>
<% end -%>
</div>
