<div class="onetime_url">
<p><%= _('パスワードを再設定するためのURLは以下の通りです。') %></p>
<p><%=h @reset_password_url %></p>
<% unless Admin::Setting.mail_function_setting -%>
<p><%= _('以下のメールアドレスにURLを送信してください。') %></p>
<p><%=h @user.email %></p>
<p><%= mail_to(@user.email, _('メーラを起動して送信する（宛先と本文が設定されます）'), :body => strip_tags(@mail_body).tosjis, :subject => _('パスワード再設定のメールです').tosjis, :encode => 'hex') %></p>
<% end -%>
</div>
