<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h2><%= _('%{model} Show') % {:model => _('account')} %></h2>

<div class="box">
  <p>
    <b><%= label @user.class, :email %>:</b>
    <%=h @user.user_profile.email %>
  </p>

  <p>
    <b><%= label @user.class, :name %>:</b>
    <%=h @user.name %>
  </p>

  <p>
    <b><%= label @user.class, :section %>:</b>
    <%=h @user.user_profile.section %>
  </p>

  <p>
    <b><%= label @user.class, :extension %>:</b>
    <%=h @user.user_profile.extension %>
  </p>

  <p>
    <b><%= label @user.class, :introduction %>:</b>
    <%=h @user.user_profile.self_introduction %>
  </p>

  <p>
    <b><%= label @user.class, :status %>:</b>
    <%=h @user.status %>
  </p>

  <p>
    <b><%= label @user.class, :admin %>:</b>
    <%=h @user.admin %>
  </p>
</div>

<%= link_to _('Edit'), edit_admin_user_path(@user) %> |
<%= link_to _('Back'), admin_users_path %> |
<%= link_to _('user profile'), admin_user_user_profile_path(@user) %> |
<%= link_to _('user uid'), admin_user_user_uids_path(@user) %>
<% end -%>

