<ul id="antennas_list">
<% antennas.each do |@antenna| -%>
  <li id="antenna_<%= @antenna.id -%>" class="antenna" style="border: 1px solid silver; margin-bottom: 5px; padding-bottom: 5px;">

    <div style="border-bottom: 1px dashed silver; background-color: #f0f0ff;">
      <%= icon_tag 'transmit' -%>
      <span class="editable_antenna_name" id="editable_antenna_name_<%= @antenna.id -%>"><%=h @antenna.name -%></span>
      <a id="add_antenna_item_link_<%= @antenna.id %>" class="add_antenna_item_link" href="#"><%= _('[Add item]') %></a>
      <a id="delete_antenna_link_<%= @antenna.id %>" class="delete_antenna_link" href="#"><%= _('[Delete]')%></a>
    </div>
    <ul id="antenna_items_list_<%= @antenna.id %>" class="antenna_items_list" style="cursor: move; margin-left: 25px;">
      <%= render :partial => 'antenna/antenna_item', :collection => @antenna.antenna_items, :locals => {:antenna_id => @antenna.id} %>
    </ul>
  </li>
<% end -%>
</ul>

<% content_for :javascript_includes do -%>
<%= skip_jquery_include_tag "jquery.inplace" %>
<% end -%>

<% content_for :javascript_initializers do -%>
    var ado_inplace_edit_url = '<%= url_for(:action => :set_antenna_name) %>';
    $j('.editable_antenna_name').editInPlace({
        url: ado_inplace_edit_url,
        params: 'authenticity_token='+$j('input[name=authenticity_token]').val(),
        update_value: 'value',
        save_button: '<a href="#" class="inplace_save"><%= _("[Save]")%></a>',
        cancel_button: '<a href="#" class="inplace_cancel"><%= _("[Cancel]")%></a>'
    });
<% end -%>
