<% for_manage ||= false -%>
<% #TODO 管理用と通常表示用のビューを分けた方が分かりやすいのではないか？ %>
<% if for_manage -%>
<ul id="antennas_list">
<% antennas.each do |@antenna| -%>
  <li id="antenna_<%= @antenna.id -%>" class="antenna" style="border: 1px solid silver; margin-bottom: 5px; padding-bottom: 5px;">
    <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>

    <div style="border-bottom: 1px dashed silver; background-color: #f0f0ff;">
      <%= icon_tag 'transmit' -%>
      <span class="editable_antenna_name" id="editable_antenna_name_<%= @antenna.id -%>"><%=h @antenna.name -%></span>
      <a id="add_antenna_item_link_<%= @antenna.id %>" class="add_antenna_item_link" href="#">[アイテム追加]</a>
      <a id="delete_antenna_link_<%= @antenna.id %>" class="delete_antenna_link" href="#">[削除]</a>
    </div>
    <ul id="antenna_items_list_<%= @antenna.id %>" class="antenna_items_list" style="cursor: move; margin-left: 25px;">
      <%= render :partial => 'antenna/antenna_item', :collection => @antenna.antenna_items, :locals => {:antenna_id => @antenna.id} %>
    </ul>

  </li>
<% end -%>
</ul>
<%= skip_jquery_include_tag "jquery.inplace" %>
<script type="text/javascript">
$j(function() {
    var ado_inplace_edit_url = '<%= url_for(:action => :set_antenna_name) %>';
    $j('.editable_antenna_name').editInPlace({
        url: ado_inplace_edit_url,
        params: 'authenticity_token='+$j('#authenticity_token').val(),
        update_value: 'value',
        save_button: '<a href="#" class="inplace_save">[保存]</a>',
        cancel_button: '<a href="#" class="inplace_cancel">[キャンセル]</a>'
    });
});
</script>
<% else -%>
<div class="box_space">
  <div class="box_space_title">アンテナ</div>
  <div class="box_space_body" id="antennas_body"><ul id="antennas_list">
    <% system_antennas.each do |antenna| -%>
    <li id="antenna_<%= antenna.antenna_type -%>"><%= icon_tag 'transmit_blue' -%>
      <%= link_to h(antenna.name), :action => "index", :antenna_type => antenna.antenna_type -%>
      （<%=h antenna.count -%>）
    </li>
    <% end -%>

    <% antennas.each do |antenna| -%>
    <li id="antenna_<%= antenna.id -%>"><%= icon_tag 'transmit' -%>
      <%= link_to h(antenna.name), :action => "index", :antenna_id => antenna.id -%>
      （<%=h antenna.count -%>）
    </li>
    <% end -%>
  </ul></div>
  <div class="box_space_bottom"><%= link_to '【アンテナを整備する】', :action => 'manage', :menu => 'manage_antenna' -%></div>
</div><!-- box_space -->
<% end -%>
