<%= %(<div id="#{id_name}">) %>

<div class="topix_title"><%= icon_tag('asterisk_orange') -%><span><%= title_name %></span></div>
<div class="topix_body">
<% items.each do |item| -%>
  <div class="item_line">
    <div class="item_name"><%= item[:name] %></div>
    <div class="item_desc"><%= item[:desc] %></div>
    <div class="item_date"><%= item[:date].strftime(_('%m/%d/%Y %H:%M')) %></div>
  </div>
<% end -%>
</div>

</div>
