<% pages_obj ||= nil -%>
<% symbol2name_hash ||= nil -%>
<% title_icon ||= "user_comment" -%>
<% delete_categories ||= [] -%>
<% recent_day ||= nil -%>

<%= %(<div id="#{id_name}">) %>

<div class="topix_body" id="<%= id_name -%>_body">
  <%= hidden_field_tag 'per_page', per_page if defined? per_page %>
  <%= hidden_field_tag 'recent_day', recent_day %>

<% pages.each do |message| -%>
  <% entry_infos = get_entry_infos(message) -%>
  <% categories = message.category.scan(/\[[^\]]*\]/) -%>
  <% delete_categories.each {|categ| categories.delete(categ) } -%>
  <div style="border-bottom: 1px dotted silver; margin: 3px 0 1px 0; height: 16px; position: relative;">
    <div style="width: 80%;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin: 0;">
      <%= get_light_icon(message) + hide_long_tags(categories, 3) + entry_link_to(message, {}, {:title => message.title + entry_infos}) -%>
      <span style="font-size:8px; vertical-align: bottom; color: #808080;"><%= entry_infos -%></span>
    </div>
    <div style="position: absolute; bottom:0px; right: 0; width: 15%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align: right; padding-left: 5px;font-size:10px;">
      <%= symbol2name_hash ? symbol_link_to(message.symbol, symbol2name_hash[message.symbol]) : user_link_to(message.user) -%>
    </div>
  </div>
<% end -%>

<% if pages_obj and pages_obj.item_count > 0 -%>
<div style="text-align: right;"><span style="background-color: #fcffc5; padding: 0 2px 0 5px; font-size: 10px;">
  <% if pages_obj.current.previous -%>
    <%= hidden_field_tag 'page_back', pages_obj.current.previous.to_i %>
  <a class="first_link" id="<%= id_name -%>-first_link" href="#" >[最初へ]</a>
  <a class="back_link" id="<%= id_name -%>-back_link" href="#" >[前へ]</a>
  <% end -%>
  <%= %(全#{h pages_obj.item_count}件（#{h pages_obj.current.number}/#{h pages_obj.length}ページ）) %>
  <% if pages_obj.current.next -%>
    <%= hidden_field_tag 'page_last', pages_obj.last.to_i %>
    <%= hidden_field_tag 'page_next', pages_obj.current.next.to_i %>
  <a class="next_link" id="<%= id_name -%>-next_link" href="#" >[次へ]</a>
  <a class="last_link" id="<%= id_name -%>-last_link" href="#" >[最後へ]</a>
  <% end -%>
</span></div>
<% end -%>

</div><!-- topix_body -->

</div>
