<% symbol2name_hash ||= nil -%>
<% title_icon ||= "user_comment" -%>
<% delete_categories ||= [] -%>
<% recent_day ||= nil -%>

<%= %(<div id="#{id_name}">) %>

<div class="topix_body" id="<%= id_name -%>_body">
  <%= hidden_field_tag 'per_page', per_page if defined? per_page %>
  <%= hidden_field_tag 'recent_day', recent_day %>

<% pages.each do |message| -%>
  <% entry_infos = get_entry_infos(message) -%>
  <% categories = message.category.scan(/\[[^\]]*\]/) -%>
  <% delete_categories.each {|categ| categories.delete(categ) } -%>
  <% entry_search_links_by_category = categories.map{ |category| link_to h(category), {:controller => 'search', :action => :entry_search, :tag_words => Tag.comma_tags(h(category))}, :class => 'tag'} -%>
  <div class="topix_line">
    <div class="title">
      <%= hide_long_tags(entry_search_links_by_category, 3) + entry_link_to(message, {}, {:title => h(message.title + entry_infos)}) %>
      <span class="supplement"><%=h entry_infos %></span>
    </div>
    <div class="owner">
      <%= symbol2name_hash ? symbol_link_to(message.symbol, symbol2name_hash[message.symbol]) : user_link_to(message.user) %>
    </div>
  </div>
<% end -%>

<% if !pages.empty? and pages.respond_to?(:previous_page) -%>
<div style="text-align: right;"><span style="background-color: #fcffc5; padding: 0 2px 0 5px; font-size: 10px;">
  <% if pages.previous_page -%>
    <%= hidden_field_tag 'page_back', pages.previous_page %>
  <a class="first_link" id="<%= id_name -%>-first_link" href="#" ><%= _('[Top]')%></a>
  <a class="back_link" id="<%= id_name -%>-back_link" href="#" ><%= _('[Prev]')%></a>
  <% end -%>
  <%= _("Total %{items} hits (Page %{page} / %{pages})") % {:items => h(pages.total_pages), :page => h(pages.current_page), :pages => h(pages.total_pages)} %>
  <% if pages.next_page -%>
    <%= hidden_field_tag 'page_last', pages.total_pages %>
    <%= hidden_field_tag 'page_next', pages.next_page %>
  <a class="next_link" id="<%= id_name -%>-next_link" href="#" ><%= _('[Next]')%></a>
  <a class="last_link" id="<%= id_name -%>-last_link" href="#" ><%= _('[Bottom]')%></a>
  <% end -%>
</span></div>
<% end -%>

</div><!-- topix_body -->

</div>
