<% pages_obj ||= nil -%>
<% symbol2name_hash ||= nil -%>
<% title_icon ||= "user_comment" -%>
<% delete_categories ||= [] -%>

<%= %(<div id="#{id_name}">) %>

<div style="position: relative; _width: 100%;">
  <h2 class="topix_title"><%= icon_tag(title_icon) -%><%=h title_name %></h2>
  <div style="position: absolute; top: 5px; right: 10px; font-size: 14px;"><%= link_to('[すべて見る]', :controller => 'mypage', :action => "index", :list_type => id_name) -%></div>
</div>

<div class="topix_body" id="<%= id_name -%>_body">

<% pages.each do |message| -%>
  <% entry_infos = get_entry_infos(message) -%>
  <% categories = message.category.scan(/\[[^\]]*\]/) -%>
  <% delete_categories.each {|categ| categories.delete(categ) } -%>
  <div style="border-bottom: 1px dotted silver; margin: 3px 0 1px 0; height: 16px; position: relative;">
    <div style="width: 80%;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin: 0;">
      <%= get_light_icon(message) + hide_long_tags(categories, 3) + entry_link_to(message, {}, {:title => message.title + entry_infos}) -%>
      <span style="font-size:8px; vertical-align: bottom; color: #808080;"><%= entry_infos -%></span>
    </div>
    <div style="position: absolute; bottom:0px; right: 0; width: 15%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align: right; padding-left: 5px;font-size:10px;">
      <%= symbol2name_hash ? symbol_link_to(message.symbol, symbol2name_hash[message.symbol]) : user_link_to(message.user) -%>
    </div>
  </div>
<% end -%>

<% if pages_obj and pages_obj.item_count > 0 -%>
<div style="text-align: right;"><span style="background-color: #fcffc5; padding: 0 2px 0 5px; font-size: 10px;">
  <% if pages_obj.current.previous -%>
  <a class="first_link" id="<%= id_name -%>_first_link" href="#" >[最初へ]</a>
  <a class="back_link" id="<%= id_name -%>_back_link" href="#" >[前へ]</a>
  <% end -%>
  <%= %(全#{h pages_obj.item_count}件（#{h pages_obj.current.number}/#{h pages_obj.length}ページ）) %>
  <% if pages_obj.current.next -%>
  <a class="next_link" id="<%= id_name -%>_next_link" href="#" >[次へ]</a>
  <a class="last_link" id="<%= id_name -%>_last_link" href="#" >[最後へ]</a>
  <% end -%>
</span></div>

<script type="text/javascript">
<%# TODO この部分テンプレートが読み込まれる度に以下のjavascriptも読み込まれるがうまく分離できるのではないか？ %>
$j(function(){
    var id_name = '<%= id_name -%>';
    var loadEntries = function(page){
        $j.ajax({
            url: '<%= url_for(:controller => 'mypage', :action => 'load_entries') -%>',
            data: { page : page, page_name : 'list_block', target : id_name, per_page : '<%= per_page -%>'<%= ", recent_day : '#{recent_day}'" if recent_day -%> },
            success: function(html) {
                $j('#' + id_name).html(html).appendClickForToggleTag();
                $j('#' + id_name + '_body').highlight();
            },
            complete: function(request) {}
        });
    };
    // 最初へ,前へ,次へ,最後へリンククリック時のajaxアクション
    $j('#' + id_name + '_first_link')
    .click(function() {
        loadEntries('1');
        return false;
    });
    $j('#' + id_name + '_back_link')
    .click(function() {
        loadEntries('<%= pages_obj.current.previous.to_i -%>');
        return false;
    });

    $j('#' + id_name + '_next_link')
    .click(function() {
        loadEntries('<%= pages_obj.current.next.to_i -%>');
        return false;
    });

    $j('#' + id_name + '_last_link')
    .click(function() {
        loadEntries('<%= pages_obj.last.to_i -%>');
        return false;
    });
});
</script>
<% end -%>

</div><!-- topix_body -->

</div>
