<% symbol2name_hash ||= nil -%>
<% title_icon ||= "user_comment" -%>
<% recent_day ||= nil -%>
<% hide_entry_info ||= false -%>

<%= %(<div id="#{id_name}">) %>

<div class="topix_body" id="<%= id_name -%>_body">
  <%= hidden_field_tag 'per_page', per_page if defined? per_page %>
  <%= hidden_field_tag 'recent_day', recent_day %>

  <%= render :partial => "entries/topix_entries", :locals => { :entries => pages, :symbol2name_hash => symbol2name_hash } %>

  <% if pages.respond_to?(:total_pages) and pages.total_pages > 1 -%>
    <div style="text-align: left;">
      <span class="pagination ajax" style="background-color: #fcffc5; padding: 0 2px 0 5px; font-size: 12px;">
        <%= i18n_will_paginate pages, :params => {:action => 'load_entries', :page_name => 'list_block', :per_page => per_page, :target => id_name }, :container => false %>
      </span>
    </div>
  <% end -%>

</div><!-- topix_body -->

</div>
