<div id="contents_container">

<div id="contents_left">

<%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>

</div><!-- contents_left -->

<div id="contents_right">

<div class="desc"><p><%= _("You can only upload 1 picture. The file size is limited to 64kb.<br/>\nYou can find something by <a href=\"http://www.google.com/search?q=%s\">searching \"Portrait Making\" in Google</a>\nif you don't have a suitable picture") % URI.encode(_('portrait making'))%>
</p></div>

<%= template_error_messages_for 'picture' %>

<div class="portrait" style="border: 1px solid silver; margin: 10px; text-align: center;">
<%= showPicture(@user, 0, 150) -%>
</div>

<% if @picture.id %>
<%= link_to(_("[[Delete]]"), {:action => "destroy_portrait"}, :confirm => _('Are you sure to delete?'), :method => :post) %>
<% end %>

<% form_tag({:action => 'save_portrait'}, :multipart => true, :id => 'picture_upload_form') do -%>
  <%= file_field("picture", "picture") %><br/>
  <%= submit_tag(_("Upload")) %>
<% end %>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->
<script type="text/javascript">
$j(function(){
    $j("#picture_upload_form")
    .submit(function(){
        if($j("#picture_picture").val() == ""){
            alert('<%= _("File name is mandatory.")%>');
            return false;
        }
    });
});
</script>
