<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc"><p>以下のフォームにOpenIDのURLを入力してください。</p></div>

  <%= error_messages_for 'openid_identifier' %>

  <div class="edit_form_space">
    <% form_for :openid_identifier, @openid_identifier, {:url => {:action => :apply_ident_url}} do |f| -%>
    <table class="normal user_info">
      <tr>
        <th width="100px"><%= f.label :url, "OpenID URL" %></th>
        <td style="padding:5px;"><%= f.text_field :url, :name => "openid_url" %></td>
      </tr>
    </table>
    <%= submit_tag '保存' %>
    <% end -%>
  </div>
<% end -%>
