<% content_for :stylesheet do -%>
  <style type="text/css">
  div.theme_select {
    float: left;
    text-align: center;
    border: 1px solid silver;
    padding: 3px;
    margin-right: 3px;
  }
  </style>
<% end -%>

<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc ui-corner-all margin05emver"><p><%= _('You can customize the site environment.')%></p></div>

  <div class="edit_form_space ui-corner-all">
  <% form_for @user_custom, :url => {:action => 'update_customize'} do |f| -%>
    <%= error_messages_for :user_custom %>

    <h2 class="subtitle"><%= _('Themes')%></h2>
    <% skins_path = File.join(RAILS_ROOT, "public", "stylesheets", "skins")
     Dir.glob(File.join(skins_path, "*")).each do |skins_dir|
       skin = File.basename(skins_dir)
       sample_img_path = ""
       Dir.glob(File.join(skins_path, skin, "back.*")).each do |backs_file|
         sample_img_path = "../stylesheets/skins/#{skin}/" + File.basename(backs_file)
       end
    -%>
    <div class="theme_select">
      <div style="width: 100px; height: 100px; background-image:url(<%= sample_img_path %>);">&nbsp;</div>
      <%= f.radio_button(:theme, skin) %><%= label_tag "user_custom_theme_#{h skin}", h(skin) %>
    </div>
    <% end -%>
    <br style="clear: left;" />

    <h2 class="subtitle"><%= _('Entries display format of Mypage') %></h2>
    <div style="margin: 10px;">
      <%= f.radio_button(:display_entries_format, "tabs") %><%= f.label :display_entries_format_tabs, _('Show tabs') %><br/>
      <%= f.radio_button(:display_entries_format, "flat") %><%= f.label :display_entries_format_flat, _('Show flat') %><br/>
    </div>

    <h2 class="subtitle"><%= _('Default entry edit mode') %></h2>
    <div style="margin: 10px;">
      <%= f.radio_button(:editor_mode, "richtext") %><%= f.label :editor_mode_richtext, _('Rich Text') %><br/>
      <%= f.radio_button(:editor_mode, "hiki") %><%= f.label :editor_mode_hiki, _('Wiki text') %><br/>
    </div>

    <%= submit_tag _("Change") %>
  <% end -%>
  </div>

<% end -%>
