<<<<<<< HEAD:app/views/mypage/_manage_message.html.erb
<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc">お知らせメールの受信について設定します。<br/>各項目にチェックを入れると、あなたのプロフィールやブログに新しくコメントなどが追加された時に、登録されているメールアドレスにお知らせメールを送信します。</div>
  <div class="edit_form_space">
  <% form_tag :action => 'update_message_unsubscribes' do -%>
    <table class="normal margin10" border="1">
      <tbody>
    <% Message::MESSAGE_TYPES.each do |message_type, message_hash| -%>
        <tr>
          <th width="200px"><%=h message_hash[:name] %></th>
          <td><%= label_tag("message_type[#{message_type}]", _('通知する')) %><%= check_box_tag("message_type[#{message_type}]", "ON", !@unsubscribes.include?(message_type)) %></td>
        </tr>
    <% end -%>
      </tbody>
    </table>
    <%= submit_tag '保存', :class => "margin10" %>
  <% end -%>
  </div>
<% end -%>
=======

<div id="contents_container">

<div id="contents_left">

<%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>

</div><!-- contents_left -->

<div id="contents_right">

<div class="edit_form_space">
<% form_tag :action => 'update_message_unsubscribes' do -%>
<div class="desc">
<%= _('Manage notification email settings.')%></div>
<br/>
<table class="normal" border="1">
<% Message::MESSAGE_TYPES.each do |message_type, message_hash| %>
  <tr><th width="200px"><%=h message_hash[:name] %></th><td><%= _('Notify')%><%= check_box_tag("message_type[#{message_type}]", "ON", !@unsubscribes.include?(message_type)) -%></td></tr>
<% end %>
</table>
<br/>
  <%= submit_tag _('Save') %>
<% end %>
</div>

</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->

>>>>>>> for_i18n:app/views/mypage/_manage_message.html.erb
