<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc ui-corner-all margin05emver">
    <p><%= _("An email will be sent to the address you have entered in order to confirm the existence.<br/>\nThe request will be completed by visiting the URL given in the email within 24 hours.")%></p>
  </div>
  <%= template_error_messages_for 'applied_email' %>

  <div class="edit_form_space ui-corner-all">
  <%= content_tag(:p, _('Another request for changing email found. The former request will be discarded and we will proceed on the new email address.')) if @applied_email.id %>
  <% form_tag :action => 'apply_email' do -%>
    <table class="normal user_info">
      <tr>
        <th width="100px"><label for="page_title"><%= _('Current Email Address')%></label></th>
        <td style="padding:5px;"><%=h @user.email %></td>
      </tr>
      <tr>
        <th><label for="page_title"><%= _('New Email Address')%></label></th>
        <td style="padding:5px;"><%= text_field 'applied_email', 'email' %></td>
      </tr>
    </table>
    <%= submit_tag _("Apply") %>
  <% end -%>
  </div>
<% end -%>
