<div id="contents_container">
  <div id="contents_left">
    <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
  </div><!-- contents_left -->

  <div id="contents_right">
    <div class="desc"><p><%= _('Enter your OpenID URL in the form below.')%></p></div>

    <%= template_error_messages_for 'openid_identifier' %>

    <div class="edit_form_space">
      <% form_for :openid_identifier, @openid_identifier, {:url => {:action => :apply_ident_url}} do |f| -%>
      <table id="user_info_box" class="normal" border="1">
        <tr>
          <th width="100px"><%= f.label :url, _("OpenID URL") %></th>
          <td style="padding:5px;"><%= f.text_field :url -%></td>
        </tr>
      </table>
      <%= submit_tag _('Save') %>
      <% end %>
    </div>
  </div><!-- contents_right -->
  <div id="contents_bottom"></div><!-- contents_bottom -->
</div><!-- contents_container -->
