<% content_for :stylesheet do -%>
<style type="text/css">
ul {
  list-style-type: none;
}
ul#antennas_list li.dragenter {
  background-color: yellow;
  *z-index: -1; /* スタックコンテキストの問題を回避する（for IE）*/
}
</style>
<% end -%>

<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>

<div class="desc"><p><%= _("You can manage antennas for the blogs you follow etc.<br/>\nYou can edit the name of the antenna by clicking on it.<br/>\nThe list of antennas%{transmi} can be reordered by drag &amp; drop.<br/>\nYou can also move the items between antennas it by dragging the %{report_user} in the condition area.") % {:transmit => icon_tag('transmit'), :report_user => icon_tag('report_user')}%></p></div>

<div class="edit_form_space"><!-- 編集領域  -->

  <div id="antennas_list_container">
    <%= render :partial => 'antennas', :object => @antennas -%>
  </div>

  <div id="add_antenna_area">
    <% form_tag url_for(:controller => 'mypage', :action => 'add_antenna'), :id => 'add_antenna_form' do -%>
    <%= icon_tag 'transmit_add' %><label for="antenna_name"><%= _('Add Antenna')%></label>
    <%= text_field_tag 'antenna_name', '', :size => '20' %>
    <%= submit_tag _('Add'), :id => 'add_antenna_btn' %>
    <% end -%>
  </div>

</div><!-- end of 編集領域 -->

<% end -%>

<%= hidden_field_tag("authenticity_token", form_authenticity_token) %>

<% content_for :javascript_includes do -%>
<%= skip_jquery_include_tag 'ui.core' %>
<%= skip_jquery_include_tag 'ui.draggable' %>
<%= skip_jquery_include_tag 'ui.droppable' %>
<%= skip_jquery_include_tag 'ui.sortable' %>
<% end -%>

<% content_for :javascript_initializers do -%>
    // アンテナの追加
    var setupAddAntennaBtn = function() {
      $j('form#add_antenna_form')
      .submit(function() {
          var antenna_name = $j('#antenna_name').val();
          if (antenna_name == '') {
              alert('<%= _("Antenna name is mandatory.")%>');
              return false;
          }
          if (antenna_name.length > 10) {
              alert('<%= _("Antenna name accepts 10 or less characters only.")%>');
              return false;
          }
          $j.ajax({
              type: 'POST',
              url: $j(this).attr('action'),
              data: $j(this).serialize(),
              success: function(request) {
                  $j('#antenna_name').val('');
                  $j('#antennas_list_container').html(request).highlight();
              },
              complete: function(request) {
                  setupDeleteAntennaLink();
                  setupDeleteAntennaItemLink();
                  setupSortableAntenna();
                  setupDoraggableAntennaItem();
                  setupAddAntennaItemLink();
              }
          });
          return false;
      });
    };
    setupAddAntennaBtn();

    // アンテナの削除
    var setupDeleteAntennaLink = function() {
        $j('.delete_antenna_link')
        .click(function() {
              if (!confirm('<%= _("Are you sure to delete?")%>')) {
                  return;
              }
              var antenna_id = this.id.split('_')[3];
              var delete_antenna_url = relative_url_root + "/mypage/delete_antenna";
              $j.ajax({
                  type: 'POST',
                  url: delete_antenna_url,
                  data: { antenna_id: antenna_id, authenticity_token: $j('#authenticity_token').val() },
                  success: function(request) {
                      $j('#antennas_list_container').html(request).highlight();
                  },
                  error: function(event){
                      alert("<%= _('Communication failure.')%>");
                  },
                  complete: function(request) {
                      setupDeleteAntennaLink();
                      setupDeleteAntennaItemLink();
                      setupSortableAntenna();
                      setupDoraggableAntennaItem();
                      setupAddAntennaItemLink();
                  }
              });
              return false;
        });
    };
    setupDeleteAntennaLink();

    var createAddAntennaItemForm = function(antenna_id) {
        var symbolAutoCompleteUrl = '<%= url_for(:controller => 'symbol', :action => 'auto_complete_for_item_search') %>';
        var symbolTextField = $j('<%= text_field_tag 'symbol' %>')
                                .autocomplete(symbolAutoCompleteUrl, {
                                    formatItem: function(data) {
                                        return data[0] + ' - ' + data[1];
                                    }
                                })
                                .result(function(group, data, formatted) {
                                    if (data) {
                                        $j(this).val(data[0]);
                                    }
                                });

        return $j(document.createElement('form')).attr({id: 'add_antenna_item_link_form'})
               .append($j('<%= hidden_field_tag 'authenticity_token', form_authenticity_token %>'))
               .append($j('<%= hidden_field_tag 'antenna_id' %>').attr('value', antenna_id))
               .append(symbolTextField)
               .append($j('<%= submit_tag '追加' %>'))
               .submit(function() {
                   var url = '<%= url_for(:controller => 'antenna', :action => 'ado_add_antenna_item') %>'
                   $j.ajax({
                       type: 'POST',
                       url: url,
                       data: $j(this).serialize(),
                       success: function(request){
                           $j('#antenna_items_list_' + antenna_id).append(request).highlight();
                           $j('#add_antenna_item_link_form > #symbol').val('')
                           $j('#add_antenna_item_link_form').fadeOut().remove();
                       },
                       error: function(event){
                           alert(event.responseText);
                       },
                       complete: function(request) {
                           setupDeleteAntennaItemLink();
                           setupDoraggableAntennaItem();
                       }
                   });
                   return false;
               });
    };

    // アンテナアイテムの追加
    var setupAddAntennaItemLink = function() {
        $j('.add_antenna_item_link')
        .click(function() {
            $j('#add_antenna_item_link_form').remove();
            var antenna_id = this.id.split('_')[4];
            $j('#antenna_items_list_' + antenna_id).before(createAddAntennaItemForm(antenna_id));
            return false;
        });
    };
    setupAddAntennaItemLink();

    // アンテナアイテムの削除
    var setupDeleteAntennaItemLink = function() {
        $j('.delete_antenna_item_link')
        .click(function() {
            if (!confirm('<%= _("Are you sure to delete?")%>')) {
                return;
            }
            var antenna_id = this.id.split('_')[4];
            var antenna_item_id = this.id.split('_')[5];
            var delete_antenna_item_url = relative_url_root + "/mypage/delete_antenna_item";
            $j.ajax({
                type: 'POST',
                url: delete_antenna_item_url,
                data: { antenna_id: antenna_id,
                        antenna_item_id: antenna_item_id,
                        authenticity_token: $j('#authenticity_token').val() },
                success: function(request) {
                    $j('#antennas_list_container').html(request).highlight();
                },
                error: function(event){
                    alert("<%= _('Communication failure.')%>");
                },
                complete: function(request) {
                    setupDeleteAntennaLink();
                    setupDeleteAntennaItemLink();
                    setupSortableAntenna();
                    setupDoraggableAntennaItem();
                    setupAddAntennaItemLink();
                }
            });
            return false;
        });
    };
    setupDeleteAntennaItemLink();

    // アンテナのソート
    var setupSortableAntenna = function() {
        $j('#antennas_list')
        .sortable({
            axis: 'y',
            update: function(ev, ui) {
                // ソートされた先の位置
                var target_pos = 0;
                var source_antenna_id = ui.item.attr('id').split('_')[1];
                var array = $j('#antennas_list > li')
                // length - 1 する理由はui末尾に一時的に追加されるli要素を対象外としたいので。
                for(i = 0; i < array.length - 1; i++) {
                    if( array[i].id == ui.item.attr('id')) {
                        target_pos = i + 1;
                    }
                }
                var url = relative_url_root + '/mypage/sort_antenna'
                $j.ajax({
                    type: 'POST',
                    url: url,
                    data: { source_antenna_id: source_antenna_id, target_pos: target_pos, authenticity_token: $j('#authenticity_token').val() },
                    error: function(event){
                        alert("<%= _('Communication failure.')%>");
                    },
                    success: function(request) {
                        $j('#antennas_list_container').highlight();
                    }
                });
            }
        });
    };
    setupSortableAntenna();

    // アンテナアイテムの張替え
    var setupDoraggableAntennaItem = function() {
        $j('.antenna')
        .droppable({
            hoverclass: "dragenter",
            accept: '.antenna_item',
            drop: function(ev, ui) {
                      var antenna_id = this.id.split('_')[1];
                      var antenna_item_id = ui.draggable.attr('id').split('_')[2];
                      var dropObj = $j(this).children('.antenna_items_list');
                      var url = relative_url_root + '/mypage/move_antenna_item'
                      $j.ajax({
                          type: 'POST',
                          url: url,
                          data: { antenna_id: antenna_id, antenna_item_id: antenna_item_id, authenticity_token: $j('#authenticity_token').val() },
                          error: function(event){
                              alert(event.responseText);
                          },
                          success: function(request) {
                              dropObj.append(ui.draggable);
                              $j('#antennas_list_container').highlight();
                          }
                      });
                  }
        });
        $j('.antenna_item').draggable({
            axis: 'y',
            revert: true
        });
    };
    setupDoraggableAntennaItem();
<% end -%>
