<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc">
    <p>メールアドレス存在確認のため、入力されたメールアドレスにメールを送信します。</p>
    <p>24時間以内にそのメールに記載されたURLを開くことで申請が完了します。</p>
  </div>
  <%= template_error_messages_for 'applied_email' %>

  <div class="edit_form_space">
  <%= content_tag(:p, '既にメールアドレスの変更を申請済みです。記入したメールアドレスで再申請します。') if @applied_email.id %>
  <% form_tag :action => 'apply_email' do -%>
    <table class="normal user_info">
      <tr>
        <th width="100px"><label for="page_title">変更前メールアドレス</label></th>
        <td style="padding:5px;"><%=h @user.email %></td>
      </tr>
      <tr>
        <th><label for="page_title">変更後メールアドレス</label></th>
        <td style="padding:5px;"><%= text_field 'applied_email', 'email' %></td>
      </tr>
    </table>
    <%= submit_tag(@applied_email.id ? '再申請' : '申請') %>
  <% end -%>
  </div>
<% end -%>
