<% content_for :contents_left do -%>
  <%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>
<% end -%>

<% content_for :contents_right do -%>
  <div class="desc">お知らせメールの受信について設定します。<br/>各項目にチェックを入れると、あなたのプロフィールやブログに新しくコメントなどが追加された時に、登録されているメールアドレスにお知らせメールを送信します。</div>
  <div class="edit_form_space">
  <% form_tag :action => 'update_message_unsubscribes' do -%>
    <table class="normal margin10" border="1">
      <tbody>
    <% Message::MESSAGE_TYPES.each do |message_type, message_hash| -%>
        <tr>
          <th width="200px"><%=h message_hash[:name] %></th>
          <td><%= label_tag("message_type[#{message_type}]", _('Notify')) %><%= check_box_tag("message_type[#{message_type}]", "ON", !@unsubscribes.include?(message_type)) %></td>
        </tr>
    <% end -%>
      </tbody>
    </table>
    <%= submit_tag '保存', :class => "margin10" %>
  <% end -%>
  </div>
<% end -%>
