<div id="contents_container">

<div id="contents_left">

<%= render :partial => "manage_menu", :locals => { :selected_menu => @menu } %>

</div><!-- contents_left -->

<div id="contents_right">

<div class="desc"><p><%= _("An email will be sent to the address you have entered in order to confirm the existence.<br/>\nThe request will be completed by visiting the URL given in the email within 24 hours.")%></p></div>

<%= template_error_messages_for 'applied_email' %>

<div class="edit_form_space">
<% form_tag :action => 'apply_email' do -%>

<% submit_value = _("Apply") %>
<% if @applied_email.id %>
<% submit_value = _("Reapply") %>
<%= _('Another request for changing email found. The former request will be discarded and we will proceed on the new email address.')%>
<% end %>

<table id="user_info_box" class="normal" border="1">
  <tr>
    <th width="100px"><label for="page_title"><%= _('Current Email Address')%></label></th>
    <td style="padding:5px;"><%=h @user.user_profile.email%></td>
  </tr>
  <tr>
    <th><label for="page_title"><%= _('New Email Address')%></label></th>
    <td style="padding:5px;"><%= text_field 'applied_email', 'email' %></td>
  </tr>
</table>

  <%= submit_tag submit_value %>
<% end %>
</div>



</div><!-- contents_right -->

<div id="contents_bottom">
</div><!-- contents_bottom -->

</div><!-- contents_container -->
