<% checkable ||= false -%>
<% symbol2name_hash ||= nil -%>
<% pages ||= [] -%>

<%= %(<div id="#{id_name}">) %>

<h2 class="topix_title"><%= icon_tag('asterisk_orange') -%><%=h title_name %></h2>

<div class="topix_body" id="<%= id_name -%>_body">

<% pages.each do |entry| -%>
  <% entry_infos = get_entry_infos(entry) -%>
  <div class="page_line">
    <div class="page_reading">
      <%= check_box_tag("message_#{entry.id}", "true", !user_unreadings[entry.id], {:class => "read_state_checkbox"}) if checkable -%>
    </div>
    <div class="page_title">
      <% categories = entry.category.scan(/\[[^\]]*\]/) -%>
      <% entry_search_links_by_category = categories.map{ |category| link_to h(category), {:controller => 'search', :action => :entry_search, :tag_words => Tag.comma_tags(h(category))}, :class => 'tag'} -%>
      <%= get_light_icon(entry) + get_publication_type_icon(entry) + hide_long_tags(entry_search_links_by_category) + entry_link_to(entry, {}, {:title => entry_infos}) -%>
      <span style="font-size:8px; vertical-align: bottom; color: #808080;"><%= entry_infos -%></span>
    </div>
    <div class="page_from"><%= symbol2name_hash ? symbol_link_to(entry.symbol, symbol2name_hash[entry.symbol]) : user_link_to(entry.user) %></div>
    <div class="page_date"><%=h entry.date.strftime("%m/%d %H:%M") %></div>
  </div>
<% end -%>

</div><!-- topix_body -->

</div>
