<%= show_title_bar("page_copy", _("Publicated Entry"), {:controller => 'search', :action => "entry_search"}) -%>
<div id="tabs" class="invisible" style="margin: 0 5px 10px 10px;">
  <ul>
    <li><a href="#<%= @access_blogs[:id_name] %>"><span><%=h @access_blogs[:title_name] %></span></a></li>
    <li><a href="#<%= @recent_blogs[:id_name] %>"><span><%=h @recent_blogs[:title_name] %></span></a></li>
    <% @recent_bbs.each do |bbs| -%>
      <li><a href="#<%= bbs[:id_name] %>"><span><%=h bbs[:title_name] %></span></a></li>
    <% end -%>
  </ul>
  <div id="<%= @access_blogs[:id_name] %>">
    <%= render :partial => "list_block", :locals => @access_blogs %>
  </div>
  <div id="<%= @recent_blogs[:id_name] %>">
    <%= render :partial => "list_block", :locals => @recent_blogs %>
  </div>
  <% @recent_bbs.each do |bbs| -%>
    <div id="<%= bbs[:id_name] %>">
      <%= render :partial => "list_block", :locals => bbs %>
    </div>
  <% end -%>
</div>
