<%= show_title_bar("page_copy", _("Recent Entries"), url_for(:controller => "search", :action => "entry_search")) %>
<div id="tabs" class="invisible" style="margin: 0 0 10px 0;">
  <ul>
    <li style="width: 50px; border: none;">&nbsp;</li>
    <li><a href="#<%= @timelines[:id_name] %>" class="large"><span><%=h @timelines[:title_name] %></span></a></li>
    <li><a href="#<%= @recent_blogs[:id_name] %>" class="small"><span><%= h _('%s Only') % h(@recent_blogs[:title_name]) %></span></a></li>
    <% @recent_bbs.each do |bbs| -%>
      <li><a href="#<%= bbs[:id_name] %>" class="small"><span><%= h _('%s Only') % h(bbs[:title_name]) %></span></a></li>
    <% end -%>
  </ul>
  <div id="<%= @timelines[:id_name] %>">
    <%= render :partial => "list_block", :locals => @timelines %>
  </div>
  <div id="<%= @recent_blogs[:id_name] %>">
    <%= render :partial => "list_block", :locals => @recent_blogs %>
  </div>
  <% @recent_bbs.each do |bbs| -%>
    <div id="<%= bbs[:id_name] %>">
      <%= render :partial => "list_block", :locals => bbs %>
    </div>
  <% end -%>
</div>
