<div class="box_space">
  <div class="box_space_title"><%= 'ショートカット' %></div>
  <div class="box_space_body">
    <ul>
    <li><%= link_to icon_tag(:report_edit, :title => 'ブログを書く') + 'ブログを書く', :controller => '/edit', :action => :index %></li>
    <li><%= icon_tag(:group_go, :title => 'マイグループ') %>
      <select class="select_navi">
        <option selected="selected" value="<%= url_for({:controller => '/mypage', :action => 'group'}) -%>">参加グループへ移動 ... </option>
        <option disabled="disabled">---</option>
        <% @favorite_groups.each do |category| %>
        <option disabled="disabled" style="color: gray;">[<%=h category[:name] -%>]</option>
          <% category[:groups].each do |group| %>
          <option value="<%= url_for({:controller => '/group', :gid => group.gid, :action => 'show'}) -%>">&nbsp;<%=h group.name -%></option>
          <% end %>
        <% end %>
        <option disabled="disabled">---</option>
        <option value="<%= url_for({:controller => '/mypage', :action => 'group'}) %>">参加グループ</option>
      </select>
    </li>
    </ul>
  </div>
</div>
