<style type="text/css">
div#antenna_navi span.item {
  border-right: 1px solid #555555;
  padding-right: 3px;
  margin-right: 7px;
}
div.topix_body .page_line, div.topix_body .item_line {
  border-bottom: 1px dotted silver;
  padding: 3px 2px;
  margin-bottom: 4px;
}
</style>
<div id="contents_container">
  <div id="contents_left">
    <%= render(:partial => 'user/portrait_box', :locals => { :current_user_info => @current_user_info }) %>
    <%= render :partial => 'antenna_box', :locals => { :system_antennas => @system_antennas, :my_antennas => @my_antennas } %>
  </div><!-- contents_left -->

  <div id="contents_right">
    <% @symbol2name_hash ||= nil -%>

    <div id="antenna_navi" style="text-align: right; padding: 0pt 0pt 12pt 0pt;">
      <div style="text-align:left; width: 40%; float: left;">
        <a href="#" id="check_all_link"><%= _('[Set entries in the page as read]')%></a>
        <a href="#" id="uncheck_all_link"><%= _('[Set entries in the page as unread]')%></a>
      </div>
      <div style="overflow: hidden; width: 60%; float: right;">
      <% if @antenna_entry.antenna && @antenna_entry.antenna.antenna_items -%>
        <span class="item">
          <a href="#" id="show_antenna_link"><%= _('[Show antenna links]')%></a>
          <a href="#" id="hide_antenna_link" style="display:none;"><%= _('[Hide antenna links]')%></a>
        </span>
      <% end -%>
        <span class="item">
          <% if params[:read] -%>
          <%= link_to _('[Hide read entries]'), :antenna_id => @antenna_entry.key, :read => false %>
          <% else %>
          <%= link_to _('[Show read entries]'), :antenna_id => @antenna_entry.key, :read => true %>
          <% end %>
        </span>
        <%= page_link(@entries_pages) if @entries_pages %>
      </div>
    </div>

    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>

    <% if @antenna_entry.antenna && @antenna_entry.antenna.antenna_items -%>
    <div id="antenna_items" style="text-align:right; border-top: 1px dashed silver; background-color: #fff5ff; display:none;">
      <% @antenna_entry.antenna.antenna_items.each do |item| -%>
        <%= h item.value_type %>=<%= h item.value %> /
      <% end -%>
    </div>
    <% end -%>
    <%= render :partial => "page_space",
               :locals => { :id_name => 'entries',
                            :title_name => @antenna_entry.title,
                            :pages => @entries,
                            :checkable => true,
                            :user_unreadings => @user_unreadings,
                            :symbol2name_hash => @symbol2name_hash } %>

    <div style="text-align:right;">
      <%= page_link(@entries_pages) if @entries_pages %>
    </div>
  </div><!-- contents_right -->

  <div id="contents_bottom"></div><!-- contents_bottom -->
</div><!-- contents_container -->

<% content_for :javascript_initializers do -%>
    // アンテナの条件を表示・非表示をトグルする
    $j('#show_antenna_link, #hide_antenna_link')
    .click(function(){
        $j('#antenna_items, #hide_antenna_link, #show_antenna_link').toggle();
        return false;
    });

    // チェックされていない記事をすべて既読にする
    $j('#check_all_link')
    .click(function(){
        $j('#entries_body :checkbox').each(function(){
            if(!this.checked){
                entryId = this.id.split('_')[1];
                changeReadState(entryId, true, $j('input[name=authenticity_token]').val());
                this.checked = true;
            }
        });
    });

    // チェックされている記事をすべて未読にする
    $j('#uncheck_all_link')
    .click(function(){
        $j('#entries_body :checked').each(function(){
            entryId = this.id.split('_')[1];
            changeReadState(entryId, false, $j('input[name=authenticity_token]').val());
            this.checked = false;
        });
    });

    // チェックボックスをクリックすると既読未読が変更される
    $j('.read_state_checkbox')
    .click( function(){
        entryId = this.id.split('_')[1];
        changeReadState(entryId, this.checked, $j('input[name=authenticity_token]').val());
    });
<% end -%>
