<% content_for :contents_left do -%>
  <%= render :partial => 'contents_left_base' %>
<% end -%>

<% content_for :contents_right do -%>
  <table width="100%"><tr>
  <td align="left"><%= link_to _("Prev Day (%s)") % @prev_day.strftime('%Y/%m/%d'), :year => @prev_day.year, :month => @prev_day.month, :day => @prev_day.day if @prev_day -%></td>
  <td align="right"><%= link_to _("Next Day (%s)") % @next_day.strftime('%Y/%m/%d'), :year => @next_day.year, :month => @next_day.month, :day => @next_day.day if @next_day -%></td>
  </tr></table>

  <%= render :partial => "entries/topix_entries",
    :locals => {
      :title => n_("%{wday}, %{date} - %{count} Entry", "%{wday}, %{date} - %{count} Entries", @entries.size) % {:date => @selected_day.strftime(_("%B %d %Y")), :wday => _(SkipUtil::WDAYS[@selected_day.wday]), :count => @entries.size},
      :entries => @entries
    }
  %>

  <table width="100%"><tr>
  <td align="left"><%= link_to _("Prev Day (%s)") % @prev_day.strftime('%Y/%m/%d'), :year => @prev_day.year, :month => @prev_day.month, :day => @prev_day.day if @prev_day -%></td>
  <td align="right"><%= link_to _("Next Day (%s)") % @next_day.strftime('%Y/%m/%d'), :year => @next_day.year, :month => @next_day.month, :day => @next_day.day if @next_day -%></td>
  </tr></table>
<% end -%>
