<% content_for :contents_left do -%>
  <%= render :partial => 'contents_left_base' %>
<% end -%>

<% content_for :contents_right do -%>
  <% @symbol2name_hash ||= nil -%>

  <div id="antenna_navi">
    <div class="operation_left">
      <a href="#" id="check_all_link"><%= _('[Set entries in the page as read]')%></a>
      <a href="#" id="uncheck_all_link"><%= _('[Set entries in the page as unread]')%></a>
    </div>
    <div class="operation_right">
      <span class="item">
        <% if params[:read] -%>
        <%= link_to _('[Hide read entries]'), :target_type => @antenna_entry.key, :read => false %>
        <% else %>
        <%= link_to _('[Show read entries]'), :target_type => @antenna_entry.key, :read => true %>
        <% end %>
      </span>
      <%= i18n_will_paginate @entries, :container => false %>
    </div>
  </div>

  <%= hidden_field_tag "authenticity_token", form_authenticity_token %>

  <%= render :partial => "entries/topix_entries",
    :locals => {
      :title => @antenna_entry.title,
      :entries => @entries,
      :user_unreadings => @user_unreadings,
      :symbol2name_hash => @symbol2name_hash,
      :with_checkable_read => true
    }
  %>

  <div style="text-align:right;">
    <%= i18n_will_paginate @entries %>
  </div>
<% end -%>
