<% content_for :stylesheet do -%>
  <%= skip_stylesheet_link_tag "themes/cupertino/ui.theme.css" %>
  <%= skip_stylesheet_link_tag "themes/cupertino/ui.tabs.css" %>
<% end -%>

<% content_for :contents_left do -%>
  <%= render :partial => 'user/portrait_box', :locals => { :current_user_info => @current_user_info } %>
  <%= render :partial => 'action_box' %>
  <%= render :partial => 'antenna_box', :locals => { :system_antennas => @system_antennas, :my_antennas => @my_antennas } %>
  <%= render :partial => 'collaboration_app/operation_boxes' %>
<% end -%>

<% content_for :contents_right do -%>
  <%# ============================================================ -%>
  <%#  right side area -%>
  <%# ============================================================ -%>
  <div id="mypage_right">
    <% if current_user.custom.display_calendar -%>
    <div id="calendar">
      <%= render :partial => "shared/calendar", :locals => {:sel_year => @year, :sel_month => @month, :sel_day => @day, :item_count => @entry_count_hash, :action => 'entries_by_date'}  %>
    </div>
    <% end -%>
    <%= render :partial => 'rss_feed_box' %>
    <%= render :partial => 'recent_group_box', :locals => {:recent_groups => @recent_groups} %>
  </div>

  <%# ============================================================ -%>
  <%#  main area -%>
  <%# ============================================================ -%>
  <div id="mypage_left">
    <%# ============================================================ -%>
    <%#  main area top messages -%>
    <%# ============================================================ -%>
    <% if (@message_array.size > 0) or (@waiting_groups.size > 0) or (@system_messages.size > 0) -%>
    <div class="top_info system_message">
      <% @system_messages.each do |message| -%>
      <div class="item">
        <%= link_to(icon_tag(message[:icon]) + h(message[:text]), message[:option]) %>
      </div>
      <% end -%>
      <% @message_array.each do |message| -%>
      <div class="item">
        <%= link_to(icon_tag(Message::MESSAGE_TYPES[message[:message_type]][:icon_name]) + h(message[:message]), message[:link_url]) %>
      </div>
      <% end -%>
      <% @waiting_groups.each do |group| -%>
      <div class="item">
        <%= item_link_to(group, {:view_text=>( icon_tag('group') + _('New user is waiting for approval in %s') % h(group.name) )}) %>
      </div>
      <% end -%>
    </div>
    <% end -%>

    <% if (@important_your_messages.size > 0) %>
    <div class="top_info important_message">
      <% @important_your_messages.each do |entry| %>
        <div class="item"><%= entry_link_to(entry, {:view_text=>get_light_icon(entry) + h(entry.title)}) %></div>
      <% end %>
    </div>
    <% end %>

    <% if @mail_your_messages[:pages].size > 0 %>
      <%= show_title_bar(@mail_your_messages[:title_icon], @mail_your_messages[:title_name], {:controller => 'mypage', :action => "entries_by_antenna", :antenna_id => @mail_your_messages[:id_name]}) %>
      <%= render :partial => "list_block", :locals => @mail_your_messages %>
    <% end %>

    <%# ============================================================ -%>
    <%#  main area entries -%>
    <%# ============================================================ -%>
    <%= show_title_bar(@questions[:title_icon], @questions[:title_name], {:controller => 'mypage', :action => "entries", :list_type => @questions[:id_name]}) -%>
    <%= render :partial => "list_block", :locals => @questions %>

    <%= render :partial => "publicated_entries_#{current_user.custom.display_entries_format}" %>

    <%# ============================================================ -%>
    <%#  main area collaboration_apps feeds -%>
    <%# ============================================================ -%>
    <%= render(:partial => 'collaboration_app/feeds') %>

    <%# ============================================================ -%>
    <%#  main area bookmarks -%>
    <%# ============================================================ -%>
    <%= show_title_bar("tag_blue", _("New bookmarks"), {:controller => 'bookmarks'}) %>
    <% if @bookmarks.size > 0 %>
      <div class="topix_body" id="bookmark_body">
      <% @bookmarks.each do |bookmark| -%>
        <div class="page_line">
          <div class="page_title"><%= link_to_bookmark_url bookmark %></div>
          <div class="page_from"><%= link_to( _('%s users') % bookmark.bookmark_comments_count.to_s, url_for_bookmark(bookmark)) %></div>
          <div class="page_date"><%=h bookmark.updated_on.strftime(_("%B %d %Y %H:%M")) %></div>
        </div>
      <% end -%>
      </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent users -%>
    <%# ============================================================ -%>
    <% if @recent_users.size > 0 -%>
    <%= show_title_bar("user_suit", _("Recent Users")) %>
    <div class="topix_body">
      <% @recent_users.each do |user| -%>
        <div class="topix_line">
          <div class="title">
            <%= h(user.section) %> - <%= user_link_to(user) %> <%= link_to('[' + _('Create introductions') + ']', {:controller => 'user', :action => 'new_chain' }) unless current_user.follow_chains.map(&:to_user_id).include? user.id %>
          </div>
        </div>
      <% end -%>
    </div>
    <% end -%>
  </div>
  <br style="clear: right;"/>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('#tabs').tabs({ cookie:{ expires:30 } });
    $j('#tabs').show();

    var loadEntries = function(data){
        var id_name = data['target'];
        $j.ajax({
            url: '<%= url_for(:controller => 'mypage', :action => 'load_entries') -%>',
            data: data,
            success: function(html) {
                $j('#' + id_name).html(html).appendClickForToggleTag();
                $j('#' + id_name + '_body').highlight();
            },
            complete: function(request) {
                unbindEentyPageChange();
                setupEntryPageChange();
            }
        });
    };

    var unbindEentyPageChange = function(){
        $j('.first_link').unbind('click');
        $j('.back_link').unbind('click');
        $j('.next_link').unbind('click');
        $j('.last_link').unbind('click');
    };

    var setupEntryPageChange = function(){
        // 最初へ,前へ,次へ,最後へリンククリック時のajaxアクション
        $j('.first_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            loadEntries(requestData(1, id_name));
            return false;
        });

        $j('.back_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            var base_id = '#' + id_name + '_body';
            var page = $j('#page_back', base_id).val();
            loadEntries(requestData(page, id_name));
            return false;
        });

        $j('.next_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            var base_id = '#' + id_name + '_body';
            var page = $j('#page_next', base_id).val();
            loadEntries(requestData(page, id_name));
            return false;
        });

        $j('.last_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            var base_id = '#' + id_name + '_body';
            var page = $j('#page_last', base_id).val();
            loadEntries(requestData(page, id_name));
            return false;
        });
    };
    setupEntryPageChange();

    var requestData = function(page, id_name){
        var base_id = '#' + id_name + '_body';
        var per_page = $j('#per_page', base_id).val();
        var recent_day = $j('#recent_day', base_id).val();
        return { page : page, page_name : 'list_block', target : id_name, per_page : per_page, recent_day : recent_day };
    };

    setupLoadCalendar("<%= url_for(:action => 'load_calendar') %>");
<% end -%>
