<% content_for :stylesheet do -%>
  <%= skip_stylesheet_link_tag "themes/cupertino/ui.tabs.css" %>
<% end -%>

<% content_for :contents_top do -%>
  <% if @message_array.size > 0 or @system_messages.size > 0 -%>
    <div class="top_info system_message ui-corner-all">
      <% @system_messages.each do |message| -%>
        <div class="item">
          <%= link_to(icon_tag(message[:icon]) + h(message[:text]), message[:option]) %>
        </div>
      <% end -%>
      <% @message_array.each do |message| -%>
        <div class="item">
          <% if message_type = Message::MESSAGE_TYPES[message[:message_type]] -%>
            <%= link_to(icon_tag(message_type[:icon_name]) + h(message[:message]), message[:link_url]) %>
          <% end -%>
        </div>
      <% end -%>
      <% Group.owned(current_user).each do |group| -%>
        <% unless group.group_participations.waiting.empty? -%>
          <div class="item">
            <%= link_to(icon_tag('group_add') + _("New user is waiting for approval in %s.") % group.name, {:controller => 'group', :action => 'manage', :gid => group.gid, :menu => 'manage_permit'}) %>
          </div>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>
<% end -%>

<% content_for :contents_left do -%>
  <%# ============================================================ -%>
  <%# left side top messages -%>
  <%# ============================================================ -%>

  <% unless @mail_your_messages[:pages].empty? -%>
    <div id="messages_box" class="ui-corner-all">
      <h2 class="ui-corner-top">
        <%= icon_tag(@mail_your_messages[:title_icon]) + link_to(h(@mail_your_messages[:title_name]), :controller => "/mypage", :action => "entries_by_antenna", :target_type => "message") %>
      </h2>
      <ul class="no_style">
        <% for entry in @mail_your_messages[:pages] %>
          <li>
            <div class="title">
              <%= entry_link_to entry %>
            </div>
            <div class="info">
              <%= entry.last_updated.strftime(_('%B %d %Y')) %>
              -
              <%= symbol_link_to(entry.symbol, truncate(@mail_your_messages[:symbol2name_hash][entry.symbol],:length => 12)) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else -%>
    <div id="messages_box_no_items" class="ui-corner-all">
      <h2 class="ui-corner-top">
        <%= icon_tag(@mail_your_messages[:title_icon]) + link_to(h(@mail_your_messages[:title_name]), :controller => "/mypage", :action => "entries_by_antenna", :target_type => "message") %>
      </h2>
      <div>
        <%= _('No messages for you') %>
      </div>
    </div>
  <% end -%>

  <%= render :partial => 'contents_left_base' %>
<% end -%>

<% content_for :contents_right do -%>
  <%# ============================================================ -%>
  <%#  right side area -%>
  <%# ============================================================ -%>
  <div id="mypage_right">
    <% unless SkipEmbedded::InitialSettings['enable_ad_for_oss'] == "lovelyskip" -%>
      <%= render "ad_for_oss" %>
    <% end -%>

    <%= render :partial => 'rss_feed_box' %>

    <% unless @access_blogs[:pages].empty? -%>
      <div class="right_box ui-corner-all" id="access_blogs">
        <h2 class="ui-corner-top">
          <%= h(@access_blogs[:title_name]) %><br />
          <span class="desc">
            (<%= Time.now.ago(recent_day.day).strftime(_('%B %d %Y')) %> - <%= Time.now.strftime(_('%B %d %Y')) %>)
          </span>
        </h2>
        <div class="list">
          <table>
            <% @access_blogs[:pages].each_with_index do |entry, i| %>
              <tr>
                <td class="left" width="40px">
                  <div class="picture"><%= i+1 %>.<%= show_picture(entry.user, :width=>24, :height => 24) %></div>
                </td>
                <td class="right" width="108px">
                  <div class="title"><%= link_to h(entry.title), entry.get_url_hash %><span class="small_text">(<%= h entry.state.access_count %>)</span></div>
                  <div class="name">by <%= user_link_to entry.user %></div>
                </td>
              </tr>
            <% end -%>
          </table>
        </div>
      </div>
    <% end -%>
  </div>

  <%# ============================================================ -%>
  <%#  main area -%>
  <%# ============================================================ -%>
  <div id="mypage_left">
    <%# ============================================================ -%>
    <%#  main area entries -%>
    <%# ============================================================ -%>
    <div class="ui-corner-all" id="questions_wrapper">
      <h2 class="ui-corner-top"><%= icon_tag(@questions[:title_icon]) + link_to(h(@questions[:title_name]), :controller => "/search", :action => 'entry_search', :type => 'question') %></h2>
      <% if @questions[:pages].empty? -%>
        <div class="margin05em"><%= _('No matching questions.') %></div>
      <% else -%>
        <%= render :partial => "entries/topix_entries", :locals => { :entries => @questions[:pages], :symbol2name_hash => @questions[:symbol2name_hash] } %>
      <% end -%>
    </div>

    <%= render :partial => "publicated_entries_#{current_user.custom.display_entries_format}" %>

    <%# ============================================================ -%>
    <%#  main area collaboration_apps feeds -%>
    <%# ============================================================ -%>
    <%= render(:partial => 'collaboration_app/feeds') %>

    <%# ============================================================ -%>
    <%#  main area bookmarks -%>
    <%# ============================================================ -%>
    <% unless @bookmarks.empty? -%>
      <%= show_title_bar("tag_blue", _("New bookmarks"), url_for(:controller => "bookmarks", :action => "index")) %>
      <div class="topix_body" id="bookmark_body">
      <% @bookmarks.each do |bookmark| -%>
        <div class="page_line">
          <div class="page_title"><%= link_to_bookmark_url bookmark %> - <%= link_to( _('%s users') % bookmark.bookmark_comments_count.to_s, url_for_bookmark(bookmark)) %></div>
          <div class="page_date"><%=h bookmark.updated_on.strftime(_("%B %d %Y")) %></div>
        </div>
      <% end -%>
      </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent users -%>
    <%# ============================================================ -%>
    <% unless @recent_users.empty? -%>
    <%= show_title_bar("user_suit", _("Recent Users"), url_for(:controller => "users", :action => "index") ) %>
    <div class="topix_body">
      <% @recent_users.each do |user| -%>
        <div class="topix_line">
          <div class="page_title">
            <%= user_link_to(user) %>&nbsp;<span class="small">(<%= h(user.section) %>)</span>
            <% unless chain = current_user.follow_chains.find_by_to_user_id(user.id) -%>
              &nbsp;<%= link_to('[' + _('Introduce') + ']', new_user_chain_path(user)) %>
            <% end -%>
          </div>
          <div class="page_date"><%=h user.created_on.strftime(_("%B %d %Y")) %></div>
        </div>
      <% end -%>
    </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent groups -%>
    <%# ============================================================ -%>
    <% if @recent_groups.size > 0 -%>
    <%= show_title_bar("group", _("Recent Groups"), url_for(:controller => "groups", :action => "index")) %>
    <div class="topix_body">
      <% @recent_groups.each do |group| -%>
        <div class="topix_line">
          <div class="page_title">
            <%= get_group_icon(group.group_category, :margin => true) %><%= group_link_to(group) %>&nbsp;<span class="small_text">(<%= truncate(strip_tags(group.description), 30) %>)</span>
          </div>
          <div class="page_date"><%=h group.created_on.strftime(_("%B %d %Y")) %></div>
        </div>
      <% end -%>
    </div>
    <% end -%>
  </div>
  <br style="clear: right;"/>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('#tabs').tabs({
      cookie: { expires:30 }
    });
    $j('#tabs').show();

    $j('.pagination a').live('click', function() {
      var url = $j(this).attr('href');
      var target = $j.getUrlVar(url, 'target');
      $j.ajax({
          url: url,
          success: function(html) {
              $j('#' + target).html(html).appendClickForToggleTag();
              $j('#' + target + '_body').highlight();
              $j.cookie('ui-tabs-current-url', url, { expires: 30 });
          }
      });
      return false;
    });

    <% if current_user.custom.display_entries_format == 'tabs' -%>
    var url = $j.cookie('ui-tabs-current-url');
    if (url != null) {
        var target = $j.getUrlVar(url, 'target');
        $j('#' + target).hide();
        $j.ajax({
            url: url,
            success: function(html) {
                $j('#' + target).html(html).show().appendClickForToggleTag();
                $j('#' + target + '_body').highlight();
            }
        });
    }
    <% end -%>

    // setupLoadCalendar("<%= url_for(:action => 'load_calendar') %>");
<% end -%>
