<% content_for :stylesheet do -%>
  <%= skip_stylesheet_link_tag "themes/cupertino/ui.tabs.css" %>
<% end -%>

<% content_for :contents_top do -%>
  <% if (@message_array.size > 0) or (@waiting_groups.size > 0) or (@system_messages.size > 0) -%>
    <div class="top_info system_message ui-corner-all">
      <% @system_messages.each do |message| -%>
        <div class="item">
          <%= link_to(icon_tag(message[:icon]) + h(message[:text]), message[:option]) %>
        </div>
      <% end -%>
      <% @message_array.each do |message| -%>
        <div class="item">
          <%= link_to(icon_tag(Message::MESSAGE_TYPES[message[:message_type]][:icon_name]) + h(message[:message]), message[:link_url]) %>
        </div>
      <% end -%>
      <% @waiting_groups.each do |group| -%>
        <div class="item">
          <%= item_link_to(group, {:view_text=>( icon_tag('group') + _('New user is waiting for approval in %s') % h(group.name) )}) %>
        </div>
      <% end -%>
    </div>
  <% end -%>
<% end -%>

<% content_for :contents_left do -%>
  <%# ============================================================ -%>
  <%# left side top messages -%>
  <%# ============================================================ -%>

  <% unless @mail_your_messages[:pages].empty? -%>
    <div id="messages_box" class="ui-corner-all">
      <h2 class="ui-corner-top">
        <%= icon_tag(@mail_your_messages[:title_icon]) + h(@mail_your_messages[:title_name]) %>
      </h2>
      <ul class="no_style">
        <% for entry in @mail_your_messages[:pages] %>
          <li>
            <div class="title">
              <%= entry_link_to entry %>
            </div>
            <div class="info">
              <%= entry.last_updated.strftime(_('%B %d %Y')) %>
              -
              <%= symbol_link_to(entry.symbol, truncate(@mail_your_messages[:symbol2name_hash][entry.symbol],:length => 12)) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end -%>

  <%= render :partial => 'contents_left_base' %>
<% end -%>

<% content_for :contents_right do -%>
  <%# ============================================================ -%>
  <%#  right side area -%>
  <%# ============================================================ -%>
  <div id="mypage_right">
    <% unless SkipEmbedded::InitialSettings['enable_ad_for_oss'] == "lovelyskip" -%>
      <%= render "ad_for_oss" %>
    <% end -%>

    <%= render :partial => 'rss_feed_box' %>

    <% unless @access_blogs[:pages].empty? -%>
      <div class="right_box ui-corner-all" id="access_blogs">
        <h2 class="ui-corner-top"><%= h @access_blogs[:title_name] -%></h2>
        <div class="list">
          <table>
            <% @access_blogs[:pages].each_with_index do |entry, i| %>
              <tr>
                <td class="left" width="40px">
                  <div class="picture"><%= i+1 %>.<%= show_picture(entry.user, :width=>24, :height => 24) %></div>
                </td>
                <td class="right" width="108px">
                  <div class="title"><%= link_to h(entry.title), entry.get_url_hash %></div>
                  <div class="name">by <%= user_link_to entry.user %></div>
                </td>
              </tr>
            <% end -%>
          </table>
        </div>
      </div>
    <% end -%>
  </div>

  <%# ============================================================ -%>
  <%#  main area -%>
  <%# ============================================================ -%>
  <div id="mypage_left">
    <%# ============================================================ -%>
    <%#  main area entries -%>
    <%# ============================================================ -%>
    <% unless @questions[:pages].empty? -%>
      <div class="ui-corner-all" id="questions_wrapper">
        <h2 class="ui-corner-top"><%= icon_tag(@questions[:title_icon]) + link_to(h(@questions[:title_name]), :controller => "/search", :action => 'entry_search', :type => 'question') %></h2>
        <%= render :partial => "list_block", :locals => @questions %>
      </div>
    <% end -%>

    <%= render :partial => "publicated_entries_#{current_user.custom.display_entries_format}" %>

    <%# ============================================================ -%>
    <%#  main area collaboration_apps feeds -%>
    <%# ============================================================ -%>
    <%= render(:partial => 'collaboration_app/feeds') %>

    <%# ============================================================ -%>
    <%#  main area bookmarks -%>
    <%# ============================================================ -%>
    <% unless @bookmarks.empty? -%>
      <%= show_title_bar("tag_blue", _("New bookmarks")) %>
      <div class="topix_body" id="bookmark_body">
      <% @bookmarks.each do |bookmark| -%>
        <div class="page_line">
          <div class="page_title"><%= link_to_bookmark_url bookmark %> - <%= link_to( _('%s users') % bookmark.bookmark_comments_count.to_s, url_for_bookmark(bookmark)) %></div>
          <div class="page_date"><%=h bookmark.updated_on.strftime(_("%B %d %Y")) %></div>
        </div>
      <% end -%>
      </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent users -%>
    <%# ============================================================ -%>
    <% unless @recent_users.empty? -%>
    <%= show_title_bar("user_suit", _("Recent Users")) %>
    <div class="topix_body">
      <% @recent_users.each do |user| -%>
        <div class="topix_line">
          <div class="title">
            <%= user_link_to(user) %> (<%= h(user.section) %>)
            <% unless chain = current_user.follow_chains.find_by_to_user_id(user.id) -%>
              <%= "&lt;&lt;" + link_to('[' + _('Introduce') + ']', new_user_chain_path(user)) %>
            <% end -%>
          </div>
        </div>
      <% end -%>
    </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent groups -%>
    <%# ============================================================ -%>
    <% if @recent_groups.size > 0 -%>
    <%= show_title_bar("group", _("Recent Groups")) %>
    <div class="topix_body">
      <% @recent_groups.each do |group| -%>
        <div class="topix_line">
          <div class="title">
            <%= h(group.group_category.name) %> - <%= group_link_to(group) %> - <%= truncate(strip_tags(group.description), 30) %>
          </div>
        </div>
      <% end -%>
    </div>
    <% end -%>
  </div>
  <br style="clear: right;"/>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('#tabs').tabs({ cookie:{ expires:30 } });
    $j('#tabs').show();

    var loadEntries = function(data){
        var id_name = data['target'];
        $j.ajax({
            url: '<%= url_for(:controller => 'mypage', :action => 'load_entries') -%>',
            data: data,
            success: function(html) {
                $j('#' + id_name).html(html).appendClickForToggleTag();
                $j('#' + id_name + '_body').highlight();
            },
            complete: function(request) {
                unbindEentyPageChange();
                setupEntryPageChange();
            }
        });
    };

    var unbindEentyPageChange = function(){
        $j('.first_link').unbind('click');
        $j('.back_link').unbind('click');
        $j('.next_link').unbind('click');
        $j('.last_link').unbind('click');
    };

    var setupEntryPageChange = function(){
        // 最初へ,前へ,次へ,最後へリンククリック時のajaxアクション
        $j('.first_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            loadEntries(requestData(1, id_name));
            return false;
        });

        $j('.back_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            var base_id = '#' + id_name + '_body';
            var page = $j('#page_back', base_id).val();
            loadEntries(requestData(page, id_name));
            return false;
        });

        $j('.next_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            var base_id = '#' + id_name + '_body';
            var page = $j('#page_next', base_id).val();
            loadEntries(requestData(page, id_name));
            return false;
        });

        $j('.last_link')
        .click(function() {
            var id_name = this.id.split('-')[0];
            var base_id = '#' + id_name + '_body';
            var page = $j('#page_last', base_id).val();
            loadEntries(requestData(page, id_name));
            return false;
        });
    };
    setupEntryPageChange();

    var requestData = function(page, id_name){
        var base_id = '#' + id_name + '_body';
        var per_page = $j('#per_page', base_id).val();
        var recent_day = $j('#recent_day', base_id).val();
        return { page : page, page_name : 'list_block', target : id_name, per_page : per_page, recent_day : recent_day };
    };

    setupLoadCalendar("<%= url_for(:action => 'load_calendar') %>");
<% end -%>
