<% content_for :stylesheet do -%>
  <%= skip_stylesheet_link_tag "themes/cupertino/ui.tabs.css" %>
<% end -%>

<% content_for :contents_top do -%>
  <% unless system_message_links.empty? -%>
    <div class="top_info system_message ui-corner-all">
      <% system_message_links.each do |system_message_link| -%>
        <div class="item"><%= system_message_link %></div>
      <% end -%>
    </div>
  <% end -%>
<% end -%>

<% content_for :contents_left do -%>
  <%# ============================================================ -%>
  <%# left side top messages -%>
  <%# ============================================================ -%>

  <% unless @mail_your_messages[:pages].empty? -%>
    <div id="messages_box" class="ui-corner-all">
      <h2 class="ui-corner-top">
        <%= icon_tag(@mail_your_messages[:title_icon]) + link_to(h(@mail_your_messages[:title_name]), :controller => "/mypage", :action => "entries_by_antenna", :target_type => "message") %>
      </h2>
      <ul class="no_style">
        <% for entry in @mail_your_messages[:pages] %>
          <li>
            <div class="title">
              <%= entry_link_to entry %>
            </div>
            <div class="info">
              <%= entry.last_updated.strftime(_('%B %d %Y')) %>
              -
              <%= symbol_link_to(entry.symbol, truncate(@mail_your_messages[:symbol2name_hash][entry.symbol],:length => 12)) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else -%>
    <div id="messages_box_no_items" class="ui-corner-all">
      <h2 class="ui-corner-top">
        <%= icon_tag(@mail_your_messages[:title_icon]) + link_to(h(@mail_your_messages[:title_name]), :controller => "/mypage", :action => "entries_by_antenna", :target_type => "message", :read => true) %>
      </h2>
      <div>
        <%= _('No messages for you') %>
      </div>
    </div>
  <% end -%>

  <%= render :partial => 'contents_left_base' %>
<% end -%>

<% content_for :contents_right do -%>
  <%# ============================================================ -%>
  <%#  right side area -%>
  <%# ============================================================ -%>
  <div id="mypage_right">
    <% unless SkipEmbedded::InitialSettings['enable_ad_for_oss'] == "lovelyskip" -%>
      <%= render "ad_for_oss" %>
    <% end -%>

    <%= render :partial => 'rss_feed_box' %>

    <% cache @access_blogs_cache_key do %>
      <% unless @access_blogs[:pages].empty? -%>
        <div class="right_box ui-corner-all" id="access_blogs">
          <h2 class="ui-corner-top">
            <%= h(@access_blogs[:title_name]) %><br />
            <span class="desc">
              (<%= Time.now.ago(recent_day.day).strftime(_('%B %d %Y')) %> - <%= Time.now.strftime(_('%B %d %Y')) %>)
            </span>
          </h2>
          <div class="list">
            <table>
              <% @access_blogs[:pages].each_with_index do |entry, i| %>
                <tr>
                  <td class="left" width="40px">
                    <div class="picture"><%= i+1 %>.<%= show_picture(entry.user, :width => 24, :height => 24) %></div>
                  </td>
                  <td class="right" width="138px">
                    <div class="title"><%= link_to h(entry.title), entry.get_url_hash %><span class="small_text">(<%= h entry.state.access_count %>)</span></div>
                    <div class="name">by <%= user_link_to entry.user %></div>
                  </td>
                </tr>
              <% end -%>
            </table>
          </div>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <%# ============================================================ -%>
  <%#  main area -%>
  <%# ============================================================ -%>
  <div id="mypage_left">
    <%# ============================================================ -%>
    <%#  main area entries -%>
    <%# ============================================================ -%>
    <div class="ui-corner-all" id="questions_wrapper">
      <h2 class="ui-corner-top"><%= icon_tag(@questions[:title_icon]) + link_to(h(@questions[:title_name]), :controller => "/search", :action => 'entry_search', :type => 'question') %></h2>
      <% if @questions[:pages].empty? -%>
        <div><%= _('No matching questions.') %></div>
      <% else -%>
        <%= render :partial => "entries/topix_entries", :locals => { :entries => @questions[:pages], :symbol2name_hash => @questions[:symbol2name_hash] } %>
      <% end -%>
    </div>

    <div class="ui-corner-all" id="custom_display_wrapper">
      <h2 class="ui-corner-top">
        <% if current_user.custom.display_entries_format == "tabs" %>
          <%= icon_tag("tab") %><%= _('display tabs') %>
          <%= icon_tag("application_tile_vertical") + link_to(_('display flat'), {:action => 'update_customize', :user_custom => {"display_entries_format" => "flat"}, :go_to_root => "true"}, :method => :post) %>
        <% else %>
          <%= icon_tag("tab") + link_to(_('display tabs'), {:action => 'update_customize', :user_custom => {"display_entries_format" => "tabs"}, :go_to_root => "true"}, :method => :post) %>
          <%= icon_tag("application_tile_vertical") %><%= _('display flat') %>
        <% end %>
      </h2>
    </div>

    <%= render :partial => "publicated_entries_#{current_user.custom.display_entries_format}" %>

    <%# ============================================================ -%>
    <%#  main area collaboration_apps feeds -%>
    <%# ============================================================ -%>
    <%= render(:partial => 'collaboration_app/feeds') %>

    <%# ============================================================ -%>
    <%#  main area bookmarks -%>
    <%# ============================================================ -%>
    <% if bookmark_enabled? and !@bookmarks.empty? -%>
      <%= show_title_bar("tag_blue", _("New bookmarks"), url_for(:controller => "bookmarks", :action => "index")) %>
      <div class="topix_body" id="bookmark_body">
        <%= render :partial => 'bookmarks/topix_bookmarks', :locals => { :bookmarks => @bookmarks } %>
      </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent users -%>
    <%# ============================================================ -%>
    <% unless @recent_users.empty? -%>
    <%= show_title_bar("user_suit", _("Recent Users"), url_for(:controller => "users", :action => "index") ) %>
    <div class="topix_body">
      <% @recent_users.each do |user| -%>
        <div class="topix_line">
          <div class="page_title">
            <%= user_link_to(user) %>&nbsp;<span class="small_text">(<%= h(user.section) %>)
            <% unless chain = current_user.follow_chains.find_by_to_user_id(user.id) -%>
              &nbsp;<%= link_to('[' + _('Introduce') + ']', new_user_chain_path(user)) %>
            <% end -%></span>
          </div>
          <div class="page_date"><%=h user.created_on.strftime(_("%B %d %Y")) %></div>
        </div>
      <% end -%>
    </div>
    <% end -%>

    <%# ============================================================ -%>
    <%#  main area recent groups -%>
    <%# ============================================================ -%>
    <% if @recent_groups.size > 0 -%>
    <%= show_title_bar("group", _("Recent Groups"), url_for(:controller => "groups", :action => "index")) %>
    <div class="topix_body">
      <% @recent_groups.each do |group| -%>
        <div class="topix_line">
          <div class="page_title">
            <%= get_group_icon(group.group_category, :margin => true) %><%= group_link_to(group) %>&nbsp;<span class="small_text">(<%= truncate(strip_tags(group.description), 30) %>)</span>
          </div>
          <div class="page_date"><%=h group.created_on.strftime(_("%B %d %Y")) %></div>
        </div>
      <% end -%>
    </div>
    <% end -%>

  </div>
  <br style="clear: right;"/>
<% end -%>

<% content_for :javascript_initializers do -%>
    $j('#tabs').tabs({
      cookie: { expires:30 }
    });
    $j('#tabs').show();

    $j('.pagination a').live('click', function() {
      var url = $j(this).attr('href');
      var target = $j.getUrlVar(url, 'target');
      $j.ajax({
          url: url,
          success: function(html) {
              $j('#' + target).html(html).appendClickForToggleTag();
              $j('#' + target + '_body').highlight();
          }
      });
      return false;
    });

    <% if enable_enquete? -%>
    $j('#enquete_link').live('click', function() {
      $j.cookie('<%= enquete_cookie_key %>', 'true');
    })
    <% end -%>

    $j('.delete_system_message').click(function() {
      var clicked_obj = $j(this);
      $j.ajax({
        type: 'POST',
        url: clicked_obj.attr('href') + '.js',
        data: { _method : 'delete', authenticity_token : '<%= form_authenticity_token %>' },
        success: function() {
          clicked_obj.closest('div.item').hide();
        }
      });
      return false;
    });
<% end -%>
