<div id="contents_container">

<div id="contents_left">
  <%= render(:partial => 'user/portrait_box', :locals => { :user => @user }) -%>
  <div id="calendar"><%= render :partial => "shared/calendar", :locals => {:sel_year => @year, :sel_month => @month, :sel_day => @day, :item_count => @entry_count, :action => 'index'}  %></div>

<div class="box_space">
  <div class="box_space_title">一覧表示</div>
  <div class="box_space_body"><ul>
    <li><%= icon_tag 'folder_user' %><%= link_to("みんなからの質問", :action => "index", :list_type => "questions" ) %></li>
    <li><%= icon_tag 'folder_star' %><%= link_to("最近の人気記事", :action => "index", :list_type => "access_blogs" ) %></li>
  </ul></div>
  <div class="box_space_bottom"><!--【メニューを管理する】--></div>
</div><!-- box_space -->

<div id="antennas">
<div class="box_space">
  <div class="box_space_title"><%= icon_tag 'folder_feed' %><%= link_to("アンテナ", :action => "index", :list_type => "not_reading_blogs" ) -%></div>
  <%= skip_image_tag 'indicator.gif' %> <span style="color:gray">読み込み中...</span>
</div>
</div>

</div><!-- contents_left -->

<div id="contents_right">
<%= render :partial => @partial, :locals => @locals -%>
</div><!-- contents_right -->

<div id="contents_bottom"></div><!-- contents_bottom -->

</div><!-- contents_container -->

<script type="text/javascript">
$j(function(){
    // アンテナのローディング
    $j.ajax({
        url: relative_url_root + '/mypage/ado_antennas/',
        success: function(request) {
            $j('#antennas').html(request);
        },
        error: function(event) {
            $j('#antennas > .box_space').html('アンテナの読み込みに失敗しました。');
        },
        complete: function(request) {}
    });
});
</script>
