<style type="text/css">
p.welcome {
  line-height: 1.3em;
  background-color: #fdfdf5;
  border-right: 1px dashed silver;
  border-bottom: 1px dashed silver;
}
ul.welcome {
  margin: 10px 0 5px 15px;
  list-style-type: none;
}
ul.welcome li {
  margin-bottom: 3px;
}
.strong {
  font-weight: bold;
  color: blue;
}
</style>

<div style="background-color: #fff0ff; padding: 5px; border: 1px dashed pink; margin-bottom: 10px;">
  <h3><%= _("Welcome to [%s]!") % h(Admin::Setting.abbr_app_title) %></h3>
</div>

<div style="border: 1px dashed pink; padding: 5px; margin-bottom: 10px;">
  <h3 style="color: blue; background-color: #f0f0ff; padding: 3px; border-left: 10px solid skyblue; border-bottom: 1px dashed skyblue;"><%= _('User registration completed.')%></h3>
  <div style="margin-left: 15px; margin-top: 5px;">
    <p class="welcome"><%= _("Completed registering your user information.<br/>\n      You can start writing entries right away since we have created your own blog.<br/>\n      You can also change your profile image and color theme of this site.")%></p>
    <ul class="welcome">
      <li><%= icon_tag 'vcard' -%><%= _("Your profile from other users' view ...")%><%= link_to _('[Profile]'), :action => 'profile' %></li>
      <li><%= icon_tag 'wrench' -%><%= _('Modify the registered profile from here ... ')%><%= link_to _('[Edit profile]'), :action => 'manage' %></li>
      <li><%= icon_tag 'picture' -%><%= _('Click here to change profile picutre ... ')%><%= link_to _('[Change profile photo]'), :action => 'manage', :menu => 'manage_portrait' %></li>
      <li><%= icon_tag 'layers' -%><%= _('Change color theme of the site ... ')%><%= link_to _('[Customize]'), :action => 'manage', :menu => 'manage_customize' %></li>
      <li><%= icon_tag 'tick' -%><%= _("You can access from %s next time.") % link_to(root_url, root_url) -%>%></li>
    </ul>
  </div>
</div>

<div id="introduction"></div>

<script language="JavaScript" type="text/javascript">
$j(function(){
    $j('#introduction').load(relative_url_root + "/custom/introduction.html");
});
</script>
