<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('Editing %{model}') % {:model => _('bookmark')} %></h1>

<% form_for(@bookmark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit _('Update') %>
  </p>
<% end %>

<%= link_to _('Show'), admin_bookmark_path(@bookmark) %> |
<%= link_to _('Back'), admin_bookmarks_path %>
<% end -%>
