<%= render :partial => '/admin/data_menu_box' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>

<div class="box"><%= _('You can confirm bookmarks and comments detail.') %></div>
<div class="box tabular">
  <%= render :partial => '/admin/search_box', :locals => {:class_name => 'Admin::Bookmark'} %>
  <%= render :partial => '/admin/shared/sortable_table',
             :locals => {
               :columns => %w[title url],
               :objects => @bookmarks,
               :class_name => 'Admin::Bookmark',
               :link_elem_size => 2,
               :link_elem_proc => lambda { |object|
      result = ""
      result << content_tag(:td, link_to(_("Show"), object) )
      result << content_tag(:td, link_to(_("Destroy"), object, {:confirm => _('Are you sure?'), :method => :delete}) )
    }
             }
  -%>
</div>
<br />

<% end -%>
