<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<h1><%= _('Listing %{model}') % {:model => _('bookmark')} %></h1>

<%= render :partial => '/admin/search_box' %>
<table>
  <tr>
    <% %w[Title Url].each do |column| -%>
    <th><%= _("Admin::Bookmark|#{column}") %></th>
    <% end -%>
  </tr>

<% for bookmark in @bookmarks %>
  <tr>
    <td><%=h bookmark.title %></td>
    <td><%=h bookmark.url %></td>
    <td><%= link_to _('Show'), admin_bookmark_path(bookmark) %></td>
    <td><%= link_to _('Destroy'), admin_bookmark_path(bookmark), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% end -%>
