<%= render :partial => '/admin/data_menu_box' %>
<% content_for :topic_path do -%>
<%= render :partial => '/admin/shared/topic_path' %>
<% end -%>
<% content_for :contents_right do -%>


<div class="box">
<p>
  <b><%= label @bookmark.class, :title %>:</b>
  <%=h @bookmark.title %>
</p>

<p>
  <b><%= label @bookmark.class, :url %>:</b>
  <%= @bookmark.escaped_url %><br/>
</p>
</div>
<%= link_to _('Listing %{model}') % {:model => _('bookmark comment')}, admin_bookmark_bookmark_comments_path(@bookmark) %>
<% end -%>
