<%= render :partial => '/admin/contents_left' %>
<% content_for :contents_right do -%>
<p>
  <b><%= label @bookmark.class, :title %>:</b>
  <%=h @bookmark.title %>
</p>

<p>
  <b><%= label @bookmark.class, :url %>:</b>
  <%=h @bookmark.url %>
</p>


<%= link_to _('Edit'), edit_admin_bookmark_path(@bookmark) %> |
<%= link_to _('Back'), admin_bookmarks_path %> |
<%= link_to _('Listing %{model}') % {:model => _('bookmark comment')}, admin_bookmark_bookmark_comments_path(@bookmark) %>
<% end -%>
