<% if @pages %>
<div class="navi"><%= page_link(@pages) -%></div>
<% end %>
<table class="normal sortable">
  <thead>
    <tr>
      <% columns.each do |column| -%>
      <th><%= _("#{class_name}|#{column.humanize}") %></th>
      <% end -%>
      <% link_elem.size.times do %>
      <td width="30px"/>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% for object in objects %>
    <tr class="<%= cycle('line_1', 'line_0') %>">
      <% columns.each do |column| -%>
      <%
         data = object.send(column.to_sym)
         data = data[/.{1,100}/] if data.is_a?(String)
         %>
      <td><%=h data %></td>
      <% end %>
      <% link_elem.each do |link| -%>
      <td><%= link_to _(link[0]), eval(link[1]), link[2] %></td>
      <% N_('Show') %>
      <% N_('Edit') %>
      <% N_('Destroy') %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% if @pages %>
<div class="navi"><%= page_link(@pages) -%></div>
<% end %>
