<% level ||= (params[:level] ? params[:level].to_i : 1) -%>
<% checked_on ||= nil -%>
<% comment_class = "board_entry_comment level#{level}" -%>

<div class="<%= comment_class %> ui-corner-all" id="comment_<%= comment.id %>_<%= level %>">
  <div class="header">
    <span class="<%= comment_title_class @current_user, comment, checked_on %>">
      <%= user_link_to(comment.user) %>
      <span class="date"><%= "[ #{comment.created_on.to_s(:standard)} ]" %></span>
      <%= icon_with_information(@current_user, comment, checked_on) %>
    </span>
    <span class="buttons">
      <%= dummy_link_to(icon_tag('comment_edit', { :alt => _("Edit"), :title => _("Edit") }), :id => "comment_edit_link_#{comment.id}", :class => "comment_edit_link") if comment.full_accessible?(current_user) %>
      <%= link_to(icon_tag('comment_delete', { :alt => _("Delete"), :title => _("Delete") }), [current_tenant, current_target_owner, comment.board_entry, comment], :id => comment.id, :confirm => _('Are you sure to delete?'), :method => :delete) if (comment.full_accessible?(current_user) && comment.children.size == 0) %>
      <% if level <= BoardEntryComment.limit_level -%>
      <span class="link_nest_comment" id='link_nest_comment_<%= comment.id %>'><%= dummy_link_to(icon_tag("comment_add", { :alt => _("Reply to this comment"), :title => _("Reply to this comment")}), :id => "comment_nest_link_#{comment.id}_#{level}", :class => "comment_nest_link") %></span>
      <% end -%>
    </span>
  </div><!-- header -->

  <div id='comment_contents_<%= comment.id %>' >
    <%= render(:partial => 'board_entry_comments/comment_contents', :locals => { :comment => comment }) %>
  </div>

  <div class='comment_input_space invisible' id='comment_area_<%= comment.id %>'>
    <% form_for [current_tenant, current_target_owner, comment.board_entry, comment], :html => { :mehtod => :put, :id => "comment_input_form_#{comment.id}", :class => "comment_input_form"} do |f| -%>
      <%= f.label :contents, _('Edit Comment') %>
      <%= f.text_area :contents, :cols => 90, :rows => 5 %>
      <%= f.submit _('Save') %>
      <input id="comment_cancel_button_<%= comment.id %>" class="comment_cancel_button" type="button" value="<%= _('Cancel')%>"/>
    <% end -%>
  </div><!-- comment_input_space -->

  <div class="edit_nest_comment" id='edit_nest_comment_<%= comment.id %>'></div>
  <div id='view_nest_comment_<%= comment.id %>'><%= render_nest_comment comment, level+1, checked_on %></div>

</div><!-- comment_# -->
