<%= yield :stylesheet %>
<div class="dialog_header" style="text-align: center; background-color: #f0f0ff; border: 1px solid silver; margin-bottom: 5px;">
  <h2><%= h @title -%></h2>
</div>
<%= yield %>
<%= yield :javascript_includes %>
<% javascript_tag do -%>
$j(function(){
    <%= yield :javascript_initializers %>
});
<% end -%>
