<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <%= render :partial => 'shared/common_header', :locals => {:title => @title } %>
  <style type="text/css">
  div#main_navi div.flow_box {
    float: left;
    border: 1px solid silver; margin: 0 10px; padding: 10px; font-weight: bold; font-size: 13px;
  }
  div#main_navi div.next_arrow {
    float: left;
    border: none; margin: 0; padding: 10px;
  }
  </style>
</head>

<body>
<div id="header">
  <%= header_logo_link(url_for(:controller => '/platform', :action => :logout)) %>
</div>
<<<<<<< HEAD:app/views/layouts/entrance.html.erb
<%= render :partial=>"shared/flash_message" %>
=======

<div id="top">
  <div id="menu_btn"><%= _('Registering User Profile')%></div>
  <div id="user_ctl"><br/></div>
</div>
>>>>>>> for_i18n:app/views/layouts/entrance.html.erb

<div id="main" style="position: relative; background-color: #f0f0f0; padding: 10px; _width: 100%;">
  <div>利用者のプロフィール情報の登録</div>
  <div id="main_navi" style="background-color: #ffffff; padding: 10px; margin-bottom: 10px;">
    <div class="flow_box" <%= 'style="background-color: yellow"' if session[:entrance_next_action] == :confirm -%> ><%= _('See Terms of Use')%></div>
    <div class="next_arrow"><%= icon_tag 'arrow_right' -%></div>
    <% if login_mode?(:free_rp) -%>
    <div class="flow_box" <%= 'style="background-color: yellow"' if session[:entrance_next_action] == :account_registration -%> ><%= _('Get an account')%></div>
    <div class="next_arrow"><%= icon_tag 'arrow_right' -%></div>
    <% end -%>
    <div class="flow_box" <%= 'style="background-color: yellow"' if session[:entrance_next_action] == :registration -%> ><%= _('Register your profile')%></div>
    <div class="next_arrow"><%= icon_tag 'arrow_right' -%></div>
    <div class="flow_box"><%= _('Start with the site!')%></div>
    <div style="clear: both;"></div>
  </div>
  <div id="main_body" style="position: relative; background-color: #ffffff; padding: 10px;">
    <%= yield %>
  </div>
</div>

<%= skip_footer_link -%>
</body>

<%= all_javascript_include_tag 'jquery' %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= controller.request.relative_url_root %>';
<% end -%>
<%= javascript_include_tag 'application' %>
<%= skip_javascript_include_tag 'skip_util' %>
<%= javascript_include_tag :skip_embedded, :cache => "skip_embedded" %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    <%= yield :javascript_initializers %>
});
<% end -%>
</html>
