<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="shortcut icon" href="<%= controller.request.relative_url_root -%>/favicon.ico" />
  <title><%= h Admin::Setting.abbr_app_title -%> - <%= h @title -%></title>
<script language="JavaScript" type="text/javascript"><!--
var relative_url_root = '<%= controller.request.relative_url_root -%>';
//--></script>
  <%= skip_all_stylesheet_link_tag "style" -%>
  <%= stylesheet_link_tag("skins/#{session[:user_custom_theme]}/skin.css") -%>
  <%= stylesheet_link_tag controller.controller_name -%>
  <%= skip_stylesheet_link_tag 'nyroModal.full.css' %>
  <%= skip_stylesheet_link_tag 'jquery.autocomplete.css' %>

  <%= skip_all_javascript_include_tag 'prototype' %>
  <%= skip_all_javascript_include_tag 'jquery' %>
  <%= skip_javascript_include_tag 'ufo' %>
  <script language="JavaScript" type="text/javascript">$j = jQuery.noConflict();</script>
  <%= javascript_include_tag 'application' %>
  <%= skip_javascript_include_tag 'skip_util' %>

<script language="JavaScript" type="text/javascript">
<!--
function imageSizing(){
  var imgs = document.getElementsByName("picture");
  if(!imgs) return;
  for(i=0; i<imgs.length; i++){
    width = imgs[i].width;
    height = imgs[i].height;
    fitImageSize(imgs[i], width, height);
  }
}
Event.observe(window, 'load', function() {
  imageSizing();
  fnLoadPngs();
} , false);
//-->
</script>
</head>

<body>
<script type='text/javascript'></script>
<div id="header">
  <%= header_logo_link %>
  <%= skip_menu_link %>
  <%= render :partial => "shared/full_text_search" if INITIAL_SETTINGS['full_text_search_setting'] and !( params[:controller] == "search" and params[:action] == "full_text_search")  %>
</div><!-- header -->

<div id="top">
  <div id="menu_btn">
<% menus = @current_user.admin ? MENU_BTNS + ADMIN_MENU_BTNS : MENU_BTNS -%>
<% menus.each do |btn| -%>
<%= btn[:separator] ? "| " : link_to(icon_tag(btn[:img_name], {:alt=>btn[:name], :title=>btn[:name]}), btn[:url]) -%>
<% end -%>
  </div>
  <div id="user_ctl">
    <a id="my_group_link" href="#" ><span id="link_my_group">マイグループ</span></a>
    <% help_url = h(Admin::Setting.help_url) -%>
    <% unless help_url.blank? -%>
      <a href="<%= help_url %>" target="_blank"><span id="link_help">ヘルプ</span></a>
    <% end -%>
  </div>
  <div id="select_my_group" style="margin-top: 5px; display: none;"></div>
</div>

<div id="main">

<div id="side">
  <ul id="main_menu">
<% menus.each do |btn| -%>
  <% if btn[:separator] -%>
  <li class="separator"><%= btn[:name] -%></li>
  <% elsif @main_menu == btn[:name] -%>
  <li class="selected"><%= link_to icon_tag(btn[:img_name], {:alt=>btn[:name], :title=>btn[:name]}) + btn[:name], btn[:url] -%></li>
  <% else -%>
  <li class="normal"><%= link_to icon_tag(btn[:img_name], {:alt=>btn[:name], :title=>btn[:name]}) + btn[:name], btn[:url] -%></li>
  <% end -%>
<% end -%>
  </ul>
</div><!-- side -->

<div id="panel">
  <div style="_width: 98%;">
    <h1 id="title"><%=h @title %></h1>
    <% if @tab_menu_source -%>
    <div id="tab_menu"><%= generate_tab_menu(@tab_menu_source, @tab_menu_option) %></div>
    <br style="clear: left;" />
    <% end -%>
  </div>

  <div id="tab_body">
    <%= render :partial => 'layouts/flash_messages' %>
    <%= @content_for_layout %>
  </div><!-- tab_body -->
</div><!-- panel -->

<div style="clear: both;"><br/></div>

</div><!-- main -->

<div id="statusbar">
  <span><%= icon_tag 'table'              -%> 登録ユーザ数：<%= @site_count.total_user_count %>人</span>
  <span><%= icon_tag 'table_lightning'    -%> 本日のアクセス数：<%= @site_count.today_user_count %>人</span>
  <span><%= icon_tag 'database'           -%> 総エントリ件数：<%= @site_count.total_blog_count %>件</span>
  <span><%= icon_tag 'database_lightning' -%> 本日のエントリ数：<%= @site_count.today_blog_count %>件</span>
  <span><%= icon_tag 'chart_curve'        -%> <%= link_to("数字で見る#{h Admin::Setting.abbr_app_title}", :controller=>"/develop",:action=>"statistics") -%></span>
</div>

<%= skip_footer_link -%>

</body>
</html>
<script type="text/javascript">
<%# FIXME 以下のclickMyItemsメソッドを利用すれば、他アプリのclick_my_itemsを使っている箇所を置き換え可能 %>
$j(function(){
    var clickMyItems = function(actionUrl, updateId, linkUrlBase, _options) {
        // ajaxUpdate対象の要素が空じゃない（つまり2回目以降の場合はtoggleするだけ)
        if (!$j(updateId).is(':empty')) {
            $j(updateId).toggle();
            return;
        }
        // ajaxLoad中のインジケータ表示
        $j(updateId).append('<img src="' + platform_url_root + '/images/skip/indicator.gif" />');
        $j(updateId).show();

        // ajaxLoad(jsonデータ取得)
        $j.getJSON(actionUrl, function(items) {
            // request完了後一旦ajaxUpdate対象の要素をクリアしておく(以下の処理で要素が空かどうかで判断するため)
            $j(updateId).empty();
            $j.each(items, function(itemId, val) {
                // ajaxUpdate対象の要素が空(つまりループの最初のみテキストを追加)
                $j(updateId + ':empty').append(document.createTextNode(_options.result_message));
                var url = relative_url_root + linkUrlBase + itemId;
                $j(updateId)
                .append(
                    $j('<a href="' + url + '"></a>')
                    .append(document.createTextNode('[' + val + ']'))
                    .css('marginRight', '5px')
                );
            });
            // ajaxUpdate対象の要素が空(つまり表示するものがない場合のテキスト追加)
            $j(updateId + ':empty').append(document.createTextNode(_options.nothing_message));
            // 区切り線を追加
            $j(updateId).prepend($j('<div>').css({ borderTop : '1px dashed silver', marginTop : '3px' }));
        });
    };

    $j('#my_group_link')
    .click(function() {
        clickMyItems('<%= url_for(:controller => '/mypage', :action => 'ado_my_groups') -%>', '#select_my_group', '/group/',
            { nothing_message: '表示するグループがありません', result_message: 'グループ選択：' });
        return false;
    });
});
</script>
