<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <%= render :partial => 'shared/common_header', :locals => {:title => @title } %>
</head>

<body>
<%= render :partial => "shared/header" %>
<%= render :partial=>"shared/flash_message" %>

<div id="top"></div>

<div id="main">
  <div id="loading" style="margin: 15px; height: 4000px;">
    <%= _('Now loading...') %><br/><%= image_tag 'indicator_bar.gif', :alt => _('Now loading...') %>
  </div>
  <%= render :partial => "layouts/menu" %>

  <div id="panel">
    <div style="_width: 98%;">
      <h1 id="title"><%=h @title %></h1>
      <% if @tab_menu_source -%>
      <div id="tab_menu"><%= generate_tab_menu(@tab_menu_source) %></div>
      <br style="clear: left;" />
      <% end -%>
    </div>

    <div id="tab_body">
      <div id="contents_container">
        <% if @content_for_contents_left -%>
        <div id="contents_left">
          <%= yield :contents_left %>
        </div><!-- contents_left -->
        <% end -%>

        <% if @content_for_topic_path -%>
        <div id="topic_path">
          <%= yield :topic_path %>
        </div><!-- topic_path -->
        <% end %>

        <%= yield %>

        <% if @content_for_contents_right -%>
        <div id="contents_right">
          <%= yield :contents_right %>
        </div><!-- contents_right -->
        <% end -%>

        <div id="contents_bottom">
        <% if @content_for_contents_bottom -%>
          <%= yield :contents_bottom %>
        <% end -%>
        </div><!-- contents_bottom -->
      </div><!-- contents_container -->
    </div><!-- tab_body -->
  </div><!-- panel -->

  <div style="clear: both;"><br/></div>
</div><!-- main -->

<div id="statusbar">
  <span><%= icon_tag 'table'              -%> 登録ユーザ数：<%= h @site_count.total_user_count %>人</span>
  <span><%= icon_tag 'table_lightning'    -%> 本日のアクセス数：<%= h @site_count.today_user_count %>人</span>
  <span><%= icon_tag 'database'           -%> 総記事件数：<%= h @site_count.total_blog_count %>件</span>
  <span><%= icon_tag 'database_lightning' -%> 本日の記事数：<%= h @site_count.today_blog_count %>件</span>
  <span><%= icon_tag 'chart_curve'        -%> <%= link_to("統計を見る", :controller => "/rankings", :action => :statistics) -%></span>
</div>

<%= skip_footer_link -%>

</body>
<%= all_javascript_include_tag 'jquery' %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= controller.request.relative_url_root %>';
<% end -%>
<%= javascript_include_tag 'application' %>
<%= skip_javascript_include_tag 'skip_util' %>
<%= javascript_include_tag "flashMessage.js" %>
<%= skip_header_javascript_include_tag %>
<%= skip_jquery_include_tag 'jquery.tablesorter' %>
<%= skip_javascript_include_tag 'ufo' %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    $j('#loading').hide();

    // 管理画面以外
    $j(document.getElementsByName("picture")).each(function(i) {
        fitImageSize($j(this), this.width, this.height);
    });

    $j.fn.nyroModal.settings.processHandler = function(settings) {
        $j.nyroModalSettings({
            minWidth: 10, minHeight: 10
        });
    };

    $j('.zoomable').zoomable();

    // 管理画面用
    $j('table.sortable').tablesorter();

    <%= yield :javascript_initializers %>
});
<% end -%>
</html>
