<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <%= render :partial => 'shared/common_header', :locals => {:title => @title } %>
</head>

<body>
<%= render :partial => "shared/header" %>
<%= render :partial => "shared/flash_message" %>

<% if params[:controller].split('/').first == "apps" -%>
  <%= yield %>
<% else -%>
<div id="main">
  <%= yield :contents_top %>

  <div id="panel" class="ui-corner-all">
    <% if current_target_user and !current_target_user.new_record? and !current_target_user.unused? -%>
      <div class="panel_top">
        <div class="left">
          <%= show_picture(current_target_user, :width => 72, :height => 72) %>
        </div>
        <div class="right">
          <h1 id="title"><%= h user_title(current_target_user) %></h1>
          <ul class="no_style horizontal">
            <% if current_target_user.retired? -%>
              <li><b class="retired"><%= _('This user has already left.') %></b></li>
            <% else -%>
              <% if current_target_user != @current_user -%>
                <li><%= _('Last Access') %>: <%= h current_target_user.before_access %></li>
              <% end -%>
            <% end -%>
            <li><%= link_to_if current_target_user == current_user, _('Visits') + ": " +h(n_("%{count} visit", "%{count} visits", current_target_user.info[:access_count]) % {:count => current_target_user.info[:access_count]}), {:action => 'trace', :controller => "/mypage"} -%></li>
            <li><%= _('Subscribers') %>: <%=h(n_("%{count} user", "%{count} users", current_target_user.info[:subscriber_count]) % {:count =>current_target_user.info[:subscriber_count]}) -%></li>
            <li><%= _('Posts') %>: <%=h(n_("%{count} entry", "%{count} entries", current_target_user.info[:blog_count]) % {:count => current_target_user.info[:blog_count]}) -%></li>
            <li><%= _('Days since registered') %>: <%=h(n_("%{count} day", "%{count} days", current_target_user.info[:using_day]) % {:count => current_target_user.info[:using_day]}) -%></li>
          </ul>
          <br class="clear_left" />
        </div>

        <div id="tab_menu"><%= generate_tab_menu(user_tab_menu_source(current_target_user)) %></div>
        <br class="clear_left" />
      </div>
    <% elsif current_target_group and !current_target_group.new_record? %>
      <h1 id="title"><%=h current_target_group.name %></h1>
      <ul class="no_style horizontal">
        <li><%= _('Category') %>: <%= h(current_target_group.group_category.name) %></li>
        <li><%= _('Joining the group') %>: <%= current_target_group.protected? ? _('Need approval of the Administrator.') : _("No approval needed to join this group.") %></li>
        <li><%= _('Members count') %>: <%= h(n_("%{count} user", "%{count} users", count = current_target_group.group_participations.active.count) % {:count => count}) -%></li>
        <% entries = BoardEntry.owned(current_target_group) -%>
        <li><%= _('Entries count') %>: <%= n_('%{count} entry', '%{count} entries') % {:count => entries.count} %></li>
        <% unless entries.empty? -%>
          <li><%= _("The entry's Last updated date") %>: <%= entries.last.last_updated.strftime('%Y/%m/%d') %>
        <% end -%>
      </ul>
      <div class="clear_left"></div>
      <div id="tab_menu"><%= generate_tab_menu(group_tab_menu_source(current_target_group)) %></div>
      <div class="clear_left"></div>
    <% elsif @bookmark %>
      <h1 id="title"><%=h @bookmark.title %></h1>
      <ul class="no_style horizontal">
        <li><%= @bookmark.is_type_page? ? Admin::Setting.abbr_app_title : _('Internet') %></li>
        <li><%= n_("Registered user:&nbsp;%s", "Registered users:&nbsp;%s", @bookmark.bookmark_comments_count) % h(@bookmark.bookmark_comments_count) %></li>
        <li><%= _('URL') %>: <%= link_to_bookmark_url @bookmark, :title => @bookmark.escaped_url, :without_icon => true %></li>
      </ul>
      <div class="clear_left"></div>
    <% else %>
      <h1 id="title"><%=h @title %></h1>
      <% if @tab_menu_source -%>
        <div id="tab_menu"><%= generate_tab_menu(@tab_menu_source) %></div>
        <br class="clear_left" />
      <% end -%>
    <% end -%>

    <div id="tab_body" class="ui-corner-right">
      <div id="contents_container">
        <% if @content_for_contents_left -%>
        <div id="contents_left">
          <%= yield :contents_left %>
        </div><!-- contents_left -->
        <% end -%>

        <% if @content_for_topic_path -%>
        <div id="topic_path">
          <%= yield :topic_path %>
        </div><!-- topic_path -->
        <% end %>

        <%= yield %>

        <% if @content_for_contents_right -%>
        <div id="contents_right">
          <%= yield :contents_right %>
        </div><!-- contents_right -->
        <% end -%>

        <div id="contents_bottom">
        <% if @content_for_contents_bottom -%>
          <%= yield :contents_bottom %>
        <% end -%>
        </div><!-- contents_bottom -->
      </div><!-- contents_container -->
    </div><!-- tab_body -->
  </div><!-- panel -->

  <div class="clear_left"></div>
</div><!-- main -->
<% end -%>


<% if @site_count -%>
<div id="statusbar">
  <span><%= icon_tag 'table'              -%> <%= _("Registered Users: %s users") % h(@site_count.total_user_count)%></span>
  <span><%= icon_tag 'table_lightning'    -%> <%= _("Today's Access: %s access") % h(@site_count.today_user_count)%></span>
  <span><%= icon_tag 'database'           -%> <%= _("Total Entries: %s entries") % h(@site_count.total_blog_count) %></span>
  <span><%= icon_tag 'database_lightning' -%> <%= _("Today's Entries: %s entries") % h(@site_count.today_blog_count) %></span>
  <span><%= icon_tag 'chart_curve'        -%> <%= link_to(_("Site Information"), :controller => "/statistics") -%></span>
</div>
<% end -%>

<%= render :partial => "shared/footer" -%>

</body>
<%= all_javascript_include_tag 'jquery' %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= relative_url_root %>';
<% end -%>
<%= javascript_include_tag 'application' %>
<% if params[:controller].split('/').first == "apps" -%>
  <%= simple_apps_application_javascript_include_tag %>
<% end -%>
<%= skip_reflect_customized_javascript_include_tag %>
<%= javascript_include_tag :skip_embedded, :cache => "skip_embedded" %>
<%= skip_jquery_include_tag 'jquery.tablesorter' %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    $j('.zoomable').zoomable();

    // 管理画面用
    $j('table.sortable').tablesorter();

    <%= yield :javascript_initializers %>
});
<% end -%>

<%= google_analytics_tag %>
</html>
