<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="shortcut icon" href="<%= controller.request.relative_url_root %>/favicon.ico" />
  <title><%= h Admin::Setting.abbr_app_title %> - <%= h @title %></title>
  <%= skip_stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "not_logged_in" %>
  <%= yield :stylesheet %>
</head>

<body>
<div id="header">
  <%= header_logo_link %>
</div><!-- header -->

<div id="main">
  <div id="panel">
    <div id="tab_body">
      <%= render :partial => 'layouts/flash_messages' %>
      <div id="contents_container">

        <% if @content_for_contents_left -%>
        <div id="contents_left">
          <%= yield :contents_left %>
        </div><!-- contents_left -->
        <% end -%>

        <% if @content_for_topic_path -%>
        <div id="topic_path">
          <%= yield :topic_path %>
        </div><!-- topic_path -->
        <% end %>

        <%= yield %>

        <% if @content_for_contents_right -%>
        <div id="contents_right">
          <%= yield :contents_right %>
        </div><!-- contents_right -->
        <% end -%>

        <% if @content_for_contents_bottom -%>
        <div id="contents_bottom">
          <%= yield :contents_bottom %>
        </div><!-- contents_bottom -->
        <% end -%>

      </div><!-- contents_container -->
    </div><!-- tab_body -->
  </div><!-- panel -->
</div><!-- main -->

<%= skip_footer_link -%>

</body>
<%= yield :javascript %>
</html>
