<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <%= favicon_include_tag %>
  <title><%= h Admin::Setting.abbr_app_title %> - <%= h @title %></title>
  <%= all_stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "not_logged_in" %>
  <%= skip_stylesheet_link_tag 'nyroModal.full.css' %>
  <%= skip_stylesheet_link_tag 'jquery.autocomplete.css' %>
  <%= skip_stylesheet_link_tag "jquery.cluetip.css" %>
  <%= yield :stylesheet %>
</head>

<body>

<% if @content_for_header -%>
  <%= yield :header %>
<% else -%>
<div id="header">
  <%= header_logo_link %>
</div><!-- header -->
<% end -%>
<%= render :partial => 'layouts/flash_messages' %>

<div id="main">
  <div id="contents_container">
    <% if @content_for_contents_left -%>
    <div id="contents_left">
      <%= yield :contents_left %>
    </div><!-- contents_left -->
    <% end -%>

    <% if @content_for_topic_path -%>
    <div id="topic_path">
      <%= yield :topic_path %>
    </div><!-- topic_path -->
    <% end %>

    <%= yield %>

    <% if @content_for_contents_right -%>
    <div id="contents_right">
      <%= yield :contents_right %>
    </div><!-- contents_right -->
    <% end -%>

    <% if @content_for_contents_bottom -%>
    <div id="contents_bottom">
      <%= yield :contents_bottom %>
    </div><!-- contents_bottom -->
    <% end -%>
  </div><!-- contents_container -->
</div><!-- main -->

<%= skip_footer_link -%>
</body>

<%= all_javascript_include_tag 'jquery' %>
<script type="text/javascript">$j = jQuery.noConflict();</script>
<%= javascript_include_tag 'application' %>
<%= skip_javascript_include_tag 'skip_util' %>
<script type="text/javascript">
var relative_url_root = '<%= controller.request.relative_url_root -%>';
</script>
<%= yield :javascript %>
</html>
