<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title><%= h Admin::Setting.abbr_app_title -%> - サブウィンドウ</title>
<script language="JavaScript" type="text/javascript">
<!--
var relative_url_root = '<%= controller.request.relative_url_root -%>';
//-->
</script>
  <%= skip_stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'style' %>
  <%= skip_stylesheet_link_tag 'nyroModal.full.css' %>
  <%= skip_stylesheet_link_tag 'jquery.autocomplete.css' %>

  <%= skip_javascript_include_tag 'prototype' %>
  <%= skip_jquery_include_tag 'jquery' %>
  <%= skip_jquery_include_tag 'jquery.color' %>
  <%= skip_jquery_include_tag "jquery.nyroModal" %>
  <%= skip_jquery_include_tag "jquery.bgiframe" %>
  <%= skip_jquery_include_tag "jquery.autocomplete" %>
  <%= skip_jquery_include_tag "jquery.jTagging" %>
  <script language="JavaScript" type="text/javascript">$j = jQuery.noConflict();</script>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div id="main" style="margin: 10px;">
  <%= render :partial => 'layouts/flash_messages' %>
  <%= @content_for_layout %>
</div><!-- main -->

</body>
</html>
