<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title><%= h Admin::Setting.abbr_app_title -%> - サブウィンドウ</title>
  <%= all_stylesheet_link_tag "style" %>
  <%= skip_stylesheet_link_tag 'nyroModal.full.css' %>
  <%= skip_stylesheet_link_tag 'jquery.autocomplete.css' %>
  <%= skip_stylesheet_link_tag "jquery.cluetip.css" %>
  <%= yield :stylesheet %>
</head>

<body>
<%= render :partial => "shared/flash_message" %>
<div id="main" style="margin: 10px;">
  <%= yield %>
</div><!-- main -->

</body>

<%= all_javascript_include_tag 'jquery' %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= controller.request.relative_url_root %>';
<% end -%>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag "flashMessage.js" %>
<%= javascript_include_tag "dropdown_navigation.js" %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    <%= yield :javascript_initializers %>
});
<% end -%>
</html>
