<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <%= render :partial => 'shared/common_header', :locals => {:title => @title } %>
</head>

<body>
<%= render :partial => "shared/header" %>
<%= render :partial=>"shared/flash_message" %>

<div id="main">
  <div id="loading" style="margin: 15px; height: 4000px;">
    <%= _('Now loading...') %><br/><%= image_tag 'indicator_bar.gif', :alt => _('Now loading...') %>
  </div>

  <%= yield :contents_top %>

  <div id="panel" class="ui-corner-all" style="_width: 98%;">
    <h1 id="title">
      <span id="title-block" style="padding: 3px;">
        <%=h @current_page.title %>
        <span id="title-change" style="cursor:pointer; font-size: 10px; color: #0000FF; font-weight: normal;">[ページ名を編集する]</span>
      </span>
      <span id= "edit_form" style="display:none;">
        <% @page = @current_page %>
        <%  form_tag( {:action => :update}, {:method => "put"} ) do %>
          <%= text_field 'page', 'title' %>
          <%= submit_tag("更新") %>
          <span id="reset_form" style="cursor:pointer; font-size: 10px; color: #0000FF; font-weight: normal;">[取消]</span>
        <% end %>
      </span>
    </h1>
    <% if @user %>
      <ul class="no_style horizontal"><li>Last-modified: <%= @current_page.updated_at.strftime("%Y/%m/%d %H:%M:%S") %> by <%= @user.name %></li></ul>
    <% else %>
      <ul class="no_style horizontal"><li>Last-modified: <%= @current_page.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></li></ul>
    <% end -%>
    <div class="clear_left"></div>
    <div id="tab_menu"><%= generate_tab_menu(wiki_tab_menu_source(@current_page)) %></div>
    <div class="clear_left"></div>

    <div id="tab_body" class="ui-corner-right">
     <div id="contents_container" style="min-height: 300px;">
        <div id="wiki_contents_right">
          <%= yield :contents_right %>
        </div><!-- contents_right -->


        <div id="wiki_contents_left">
          <%= yield :contents_left %>
        </div><!-- contents_left -->

        <% if @content_for_topic_path -%>
        <div id="topic_path">
          <%= yield :topic_path %>
        </div><!-- topic_path -->
        <% end %>


        <div id="contents_bottom">
        <% if @content_for_contents_bottom -%>
          <%= yield :contents_bottom %>
        <% end -%>
        </div><!-- contents_bottom -->
      </div><!-- contents_container -->
    </div><!-- tab_body -->
  </div><!-- panel -->

  <div style="clear: both;"><br/></div>
</div><!-- main -->

<% if @site_count -%>
<div id="statusbar">
  <span><%= icon_tag 'table'              -%> <%= _("Registered Users: %s users") % h(@site_count.total_user_count)%></span>
  <span><%= icon_tag 'table_lightning'    -%> <%= _("Today's Access: %s access") % h(@site_count.today_user_count)%></span>
  <span><%= icon_tag 'database'           -%> <%= _("Total Entries: %s entries") % h(@site_count.total_blog_count) %></span>
  <span><%= icon_tag 'database_lightning' -%> <%= _("Today's Entries: %s entries") % h(@site_count.today_blog_count) %></span>
  <span><%= icon_tag 'chart_curve'        -%> <%= link_to(_("Site Information"), :controller => "/statistics") -%></span>
</div>
<% end -%>

<%= render :partial => "shared/footer" -%>

</body>
<%= all_javascript_include_tag 'jquery' %>
<% javascript_tag do -%>
$j = jQuery.noConflict();
var relative_url_root = '<%= relative_url_root %>';
<% end -%>
<%= javascript_include_tag 'application' %>
<%= skip_reflect_customized_javascript_include_tag %>
<%= javascript_include_tag :skip_embedded, :cache => "skip_embedded" %>
<%= skip_jquery_include_tag 'jquery.tablesorter' %>
<%= yield :javascript_includes %>

<% javascript_tag do -%>
$j(function(){
    $j('#loading').hide();

    $j('.zoomable').zoomable();

    // 管理画面用
    $j('table.sortable').tablesorter();

    $j('#title-change').click(function() {
      $j('#title-block').css('border','');
      $j('#title-block').hide();
      $j('#edit_form').show();
    });

    $j('#title-change').hover(function() {
      $j(this).css('border','ridge 1px silver')
    }, function(){
       $j(this).css('border','');
    });

    $j('#reset_form').click(function() {
      $j('#edit_form').hide();
      $j('#title-block').show();
    });

    <%= yield :javascript_initializers %>
});
<% end -%>

<%= google_analytics_tag %>
</html>
